<template>
  <div class="content-body-right">
    <div class="tab-content">
      <div class="tab-top">
        <div class="tab-list">
          <div>
            <div class="tab-header">新股申购</div>
            <div class="tab-body">
              <Form
                class="y-form y-order"
                ref="parIPOOrder"
                :model="parIPOOrder"
                :rules="parIPOOrderRule"
                :label-width="80"
              >
                <FormItem label="申购代码" prop="ticker">
                  <AutoComplete
                    size="small"
                    class="y-orange"
                    element-id="txtticker"
                    clearable
                    v-model="parIPOOrder.ticker"
                    @on-search="tickerSearchBuy"
                    @on-select="changeBuyXtpMarketType"
                    placeholder="请输入代码"
                  >
                    <Option v-for="s in tickerList.IPO" :value="s.ticker" :key="s.ticker">
                      <span>{{ s.ticker }}</span>
                      <span class="pull-right">{{ s.tickerName }}</span>
                    </Option>
                  </AutoComplete>
                </FormItem>
                <FormItem label="证券名称">{{parIPOOrder.tickerName}}</FormItem>
                <FormItem label="交易市场" prop="xtpMarketType">
                  <Select class="y-orange" v-model.number="parIPOOrder.xtpMarketType" size="small">
                    <Option :value="1" :key="1" class="y-blue">深A</Option>
                    <Option :value="2" :key="2" class="y-blue">沪A</Option>
                  </Select>
                </FormItem>
                <FormItem label="申购数量(股)" prop="quantity">
                  <InputNumber
                    class="y-orange"
                    :step="100"
                    :min="0"
                    :max="parIPOOrder.maxQuantity"
                    :precision="0"
                    v-model="parIPOOrder.quantity"
                    size="small"
                  ></InputNumber>
                </FormItem>
                <FormItem class="y-block">
                  <Button type="warning" @click="addIPO('parIPOOrder')" size="small" long>新股申购</Button>
                </FormItem>
              </Form>
            </div>
          </div>
        </div>
        <div>
          <div class="tab-wrapper">
            <div class="tab-bar">
              <div class="pull-left">
                <Button
                  type="primary"
                  size="small"
                  :disabled="disabledIPOOrder"
                  @click="OneClickSubscription"
                >一键申购</Button>
              </div>
              <div class="right">
                <a>
                  <i class="f f-refresh" @click="sel" title="刷新"></i>
                </a>
                <a>
                  <i class="f f-cog" @click="isShow = true" title="设置"></i>
                </a>
              </div>
            </div>
            <div class="tab-table">
              <Table
                class="i-table"
                data-k="position"
                @on-row-dblclick="positionRowDblclick"
                :width="width.position"
                :height="height.position"
                :columns="col"
                :data="tData"
                size="small"
                :border="true"
                ref="table"
              ></Table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-bottom">
        <div class="tab-wrapper">
          <order xtpBusinessType="XTP_BUSINESS_TYPE_IPOS"></order>
        </div>
      </div>
    </div>
    <col-setting v-model="isShow" @on-changeCol="changeCol" :col="col"></col-setting>
  </div>
</template> 
<style lang="scss" scoped>
.tab-list {
  flex-direction: row;
  flex-basis: 220px;
  > div {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    width: 220px;
    .tab-header {
      height: 22px;
      line-height: 22px;
      background-color: #2c3039;
      font-size: 12px;
      padding: 0 10px;
    }
    .tab-body {
      // flex: 1;
      display: flex;
      padding-bottom: 20px;
      background-color: #1e2127;
    }
  }
}
.tab-top > div:nth-child(2) {
  flex: 1;
}
.tab-wrapper {
  flex: 1;
}
.right {
  float: right;
  margin-right: 5px;
}
</style>
<style lang='scss'>
.ivu-modal-body .modelTable {
  width: 100%;
  border: 1px solid #e5e5e5;
}
.ivu-modal-body .modelTable th {
  line-height: 25px;
  padding: 0 8px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ddd;
  color: #333;
  font-size: 12px;
  background: #e7e7e7;
}
.ivu-modal-body .modelTable tr {
  background: #fff;
}
.ivu-modal-body .modelTable td {
  line-height: 25px;
  padding: 0 8px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ddd;
}
</style>

<script>
import Order from "@/components/order";
import ColSetting from "@/components/colSetting";
export default {
  components: {
    Order,
    ColSetting
  },
  data() {
    return {
      isShow: false,
      //设置一键申购得disabled
      addColor: true,
      width: {
        entrust: 0,
        deal: 0,
        position: 0
      },
      height: {
        entrust: 0,
        deal: 0,
        position: 0
      },
      maxNum: {
        XTP_MKT_SH_A: 0,
        XTP_MKT_SZ_A: 0
      },
      currentTab: "entrust",
      // 新股申购一键申购
      parBuyOrder: {
        orderXtpId: 0,
        orderClientId: 13,
        ticker: "",
        xtpMarketType: 1,
        price: 0,
        stopPrice: 0.0,
        quantity: 0,
        xtpPriceType: 0,
        xtpSideType: 1,
        xtpBusinessType: 1
      },
      // 新股
      parIPOOrder: {
        orderXtpId: 0,
        orderClientId: 13,
        ticker: "",
        tickerName: "",
        xtpMarketType: null,
        price: 0,
        stopPrice: 0.0,
        quantity: null,
        xtpPriceType: 1,
        xtpSideType: 1,
        xtpBusinessType: 1,
        maxQuantity: 0
      },
      parIPOOrderRule: {
        ticker: [
          {
            required: true,
            message: "",
            trigger: "change" //trigger: "blur"
          }
        ],
        xtpMarketType: [
          {
            required: true,
            type: "number",
            message: "",
            trigger: "change",
            min: 1
          }
        ],
        quantity: [
          {
            required: true,
            type: "number",
            message: "",
            trigger: "change",
            min: 1
          }
        ]
      },
      // 配股
      parOrderAllotment: {
        orderXtpId: 0,
        orderClientId: 13,
        ticker: "",
        xtpMarketType: 2,
        price: 0,
        stopPrice: 0.0,
        quantity: 0,
        xtpPriceType: 1,
        xtpSideType: 1,
        xtpBusinessType: 6
      },
      parOrderAllotmentRule: {
        ticker: [
          {
            required: true,
            message: "",
            trigger: "change" //trigger: "blur"
          }
        ],
        quantity: [
          {
            required: true,
            type: "number",
            message: "",
            trigger: "change",
            min: 1
          }
        ]
      },
      // 国债逆回购
      parOrderBuyback: {
        orderXtpId: 0,
        orderClientId: 13,
        ticker: "",
        xtpMarketType: 2,
        price: 0,
        stopPrice: 0.0,
        quantity: 0,
        xtpPriceType: 1,
        xtpSideType: 2,
        xtpBusinessType: 2
      },
      parOrderBuybackRule: {
        ticker: [
          {
            required: true,
            message: "",
            trigger: "change" //trigger: "blur"
          }
        ],
        quantity: [
          {
            required: true,
            type: "number",
            message: "",
            trigger: "change",
            min: 1
          }
        ]
      },
      buyPar: {
        code: "",
        market: "market",
        num: 0,
        numCopies: ""
      },
      sellPar: {
        code: "",
        market: "market",
        num: 0,
        price: 0,
        numCopies: ""
      },
      tickerList: {
        IPO: [],
        allotment: []
      },
      col: [
        {
          title: "序号",
          type: "index",
          width: 50,
          // fixed: "left",
          align: "right"
        },
        {
          title: "申购代码",
          key: "ticker",
          width: 90,
          align: "center",
          sortable: true
        },
        {
          title: "证券名称",
          key: "tickerName",
          className: "y-yellow",
          width: 100,
          sortable: true
        },
        {
          title: "发行价",
          key: "price",
          width: 90,
          align: "right",
          className: "y-error",
          sortable: true,
          render: (h, par) => {
            return h("div", par.row[par.column.key].toFixed(2));
          }
        },
        {
          title: "申购上限",
          key: "qtyUpperLimit",
          width: 120,
          align: "right",
          sortable: true,
          className: "y-yellow",
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == (0 || null)
                ? 0
                : par.row[par.column.key].Format("0,0")
            );
          }
        },
        {
          title: "申购单位",
          key: "unit",
          width: 120,
          align: "right",
          className: "y-yellow",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == (0 || null)
                ? 0
                : par.row[par.column.key].Format("0,0")
            );
          }
        },
        {
          title: "可申购数量",
          width: 90,
          align: "left",
          key: "action",
          render: (h, params) => {
            let self = this;

            let max = Math.min(
              params.row.qtyUpperLimit,
              self.maxNum[params.row.marketType]
            );
            return h("div", [
              h("InputNumber", {
                props: {
                  value: max,
                  size: "small",
                  max: max,
                  step: 100,
                  min: 0,
                  precision: 0
                },
                on: {
                  "on-change": function(e) {
                    self.tData[params.index].quantity2 = e;
                  }
                }
              })
            ]);
          }
        }
      ],
      tData: [],
      tempData: [],
      parCancelOrder: {
        orderXtpId: ""
      },
      noRepeatSubmit: true
    };
  },
  computed: {
    disabledIPOOrder: function() {
      let flag =
        this.tData.filter(it => it.quantity2 > 0 || it.quantity2 == undefined)
          .length == 0;
      return flag;
    }
  },
  watch: {
    // "$store.state.tran.isLogin": function(val) {
    //     val ? this.init() : this.clear();
    // },
    "parIPOOrder.ticker"(val) {
      if (val.length != 6) {
        this.parIPOOrder.tickerName = "";
      }
    }
  },
  sockets: {
    queryIPOQuotaInfoRsp(data) {
      this.maxNum[data.marketType] = data.quantity;
    },
    queryIPOInfoListRsp(data, err) {
      //新股申购中所调用的接口处理的结构已经是新购申购了?
      if (!data) {
        return;
      }
      let self = this;
      data.quantity = data.unit;
      data.marketId = app.dataType.XTP_MARKET_TYPE[data.marketType].i;
      self.tempData.unshift(data);
      if (data && data.lastResp) {
        self.tData = self.tempData;
        self.tempData = [];
      }
    },
    insertOrderTokenRsp(data) {
      let self = this;
      if (self.InsertOrderList.length > 0) {
        let it = self.InsertOrderList.pop();
        let parTicker = Object.assign({}, it);
        if (parTicker.quantity2) {
          parTicker.quantity = parTicker.quantity2;
        }
        let par = {
          insertOrderToken: data.insertOrderToken,
          tradeInsertOrder: parTicker
        };
        self.$socket.emit("insertOrder", par);
        self.$refs["parIPOOrder"].resetFields();
        // setTimeout(() => {
        //   document.getElementById("txtticker").focus();
        // });
      }
    }
  },
  sockets2: {},
  created() {
    let self = this;
    self.$nextTick(() => {
      self.autoTableSize();
      // self.$store.state.tran.isLogin ? self.init() : self.clear();
      self.sel();
    });
  },
  mounted: function() {
    var self = this;
    self.$nextTick(function() {
      document.querySelectorAll(".y-form").forEach(it => {
        let elList = it.querySelectorAll(".ivu-input,.ivu-input-number-input");
        elList[0].focus();
        for (let i = 0; i < elList.length; i++) {
          elList[i].addEventListener("keyup", e => {
            if (e.keyCode == 13) {
              if (i == elList.length - 1) {
                it.querySelector(".ivu-btn").click();
              } else {
                elList[i + 1].focus();
                elList[i + 1].select();
              }
            }
          });
        }
      });
      document.getElementById("txtticker").addEventListener("keyup", e => {
        if (e.keyCode == 13) {
          e.currentTarget.value.length == 6 &&
            self.changeBuyXtpMarketType(e.currentTarget.value);
          e.currentTarget.click();
        }
      });
      window.addEventListener(
        "resize",
        function() {
          self.autoTableSize();
        },
        false
      );
    });
  },
  methods: {
    // init() {
    //     let self = this;
    //     self.selEntrust();
    // },
    // clear() {
    //     this.tData = [];
    // },
    changeCol(val) {
      this.col = val;
    },
    changeBuyXtpMarketType(val) {
      let self = this;
      let dmTicker = self.tData.find(it => it.ticker == val);
      if (dmTicker) {
        self.parIPOOrder.tickerName = dmTicker.tickerName;
        self.parIPOOrder.xtpMarketType = dmTicker.marketId;

        let max = Math.min(
          dmTicker.qtyUpperLimit,
          self.maxNum[dmTicker.marketType]
        );
        self.parIPOOrder.quantity = self.parIPOOrder.maxQuantity = max;
      }
    },
    handleSearch1(value) {
      this.data1 = !value ? [] : [value, value + value, value + value + value];
    },
    OneClickSubscription() {
      let self = this;
      let data = this.tData.filter(
        it => it.quantity2 > 0 || it.quantity2 == undefined
      );
      if (!data.length) {
        self.$Message.warning("请至少填写一只股票的申购数量");
        return;
      }
      self.InsertOrderList = data;
      let str = `
                        <table class="modelTable">
                            <thead>
                                <tr>
                                <th>名称</th>
                                <th>代码</th>
                                <th>价格</th>
                                <th>申购数量</th>
                                </tr>
                            </thead>
                            <tbody>
                    `;
      for (let i = 0, len = data.length; i < len; i++) {
        let html = `
                            <tr>
                            <td>${data[i].tickerName}</td>
                            <td>${data[i].ticker}</td>
                            <td>${data[i].price}</td>
                            <td>${
                              data[i].quantity2 == undefined
                                ? data[i].unit
                                : data[i].quantity2
                            }</td>
                            </tr>
                            `;
        str += html;
      }
      str += `</tbody></table>`;

      this.$Modal.confirm({
        title: "申购确认",
        content: str,
        onOk: () => {
          self.InsertOrderList.forEach(it => {
            Object.assign(it, {
              orderXtpId: 0,
              orderClientId: 13,
              ticker: it.ticker,
              xtpMarketType: it.marketId,
              price: it.price,
              stopPrice: 0.0,
              quantity: it.unit,
              xtpPriceType: 1,
              xtpSideType: 1,
              xtpBusinessType: 1
            });
            self.$socket.emit("getInsertOrderToken", {});
          });
        }
      });
    },
    addIPO(name) {
      let self = this;
      let txtsell = document.getElementById("txtticker");
      if (!self.parIPOOrder.tickerName) {
        self.parIPOOrder.ticker = null;
        self.$Message.warning("请填写支持的股票");
        txtsell.focus();
        return;
      }
      self.$refs[name].validate(valid => {
        if (valid) {
          if (app.isModal) {
            self.$Modal.confirm({
              title: "新股申购",
              width: 280,
              content: `<div  class="y-confirm">
                                    <div class="row">
                                    <div class="col text-right">申购代码</div>
                                    <div class="col y-red">${
                                      self.parIPOOrder.ticker
                                    }</div>
                                    </div>
                                    <div class="row">
                                    <div class="col text-right">证券名称</div>
                                    <div class="col y-red">${
                                      self.parIPOOrder.tickerName
                                    }</div>
                                    </div> 
                                    <div class="row">
                                    <div class="col text-right">申购数量</div>
                                    <div class="col y-red">${
                                      self.parIPOOrder.quantity
                                    }</div>
                                    </div>
                                </div>`,
              onOk: () => {
                if (self.noRepeatSubmit) {
                  self.InsertOrderList = [self.parIPOOrder];
                  self.$socket.emit("getInsertOrderToken", {});
                  self.noRepeatSubmit = false;
                  setTimeout(() => {
                    self.noRepeatSubmit = true;
                  }, 2000);
                }
              }
            });
          } else {
            if (self.noRepeatSubmit) {
              self.InsertOrderList = [self.parIPOOrder];
              self.$socket.emit("getInsertOrderToken", {});
              self.noRepeatSubmit = false;
              setTimeout(() => {
                self.noRepeatSubmit = true;
              }, 2000);
            }
          }
        } else {
          self.$Message.error("请填写完整的新股申购信息！");
        }
      });
    },
    //获得新股申购得到页面列表
    sel() {
      app.log("queryIPOInfoList:::");
      this.tData = [];
      this.$socket.emit("queryIPOQuotaInfo", { requestId: 1 });
      this.$socket.emit("queryIPOInfoList", { requestId: 1 });
    },
    tickerSearchBuy(val) {
      let list = this.tData.filter(
        it => it.ticker.indexOf(val) != -1 || it.tickerName.indexOf(val) != -1
      );
      this.tickerList.IPO = list.slice(0, list.length > 8 ? 8 : list.length);
    },
    // 配股
    // addAllotment(name) {
    //   this.$refs[name].validate(valid => {
    //     if (valid) {
    //       app.log("this.parOrderAllotment:::", this.parOrderAllotment);
    //       this.$socket.emit("insertOrder", this.parOrderAllotment);
    //     } else {
    //       this.$Message.error("请填写完整的配股信息！");
    //     }
    //   });
    // },
    tickerSearchBuyAllotment(val) {
      this.tickerList.allotment = app.tickerSearch(
        val,
        "XTP_TICKER_TYPE_STOCK"
      );
    },
    changeBuyXtpMarketTypeAllotment(val) {
      let ticker = app.ticker.XTP_TICKER_TYPE_STOCK.find(it => it.code == val);
      this.parOrderAllotment.xtpMarketType = ticker ? ticker.exchangeId : 0;
    },
    // 回购
    // addBuyback(name) {
    //   this.$refs[name].validate(valid => {
    //     if (valid) {
    //       app.log("this.parOrderAllotment:::", this.parOrderBuyback);
    //       this.$socket.emit("insertOrder", this.parOrderBuyback);
    //     } else {
    //       this.$Message.error("请填写完整的逆回购信息！");
    //     }
    //   });
    // },
    tickerSearchBuyBuyback(val) {
      this.tickerList.buyback = app.tickerSearch(val, "XTP_TICKER_TYPE_STOCK");
    },
    changeBuyXtpMarketTypeBuyback(val) {
      let ticker = app.ticker.XTP_TICKER_TYPE_STOCK.find(it => it.code == val);
      this.parOrderBuyback.xtpMarketType = ticker ? ticker.exchangeId : 0;
    },

    positionRowDblclick(cRow, oldRow) {
      app.log(cRow);
      let self = this;
      this.parIPOOrder.ticker = cRow.ticker;
      this.parIPOOrder.price = parseFloat(cRow.price);

      let max = Math.min(cRow.qtyUpperLimit, self.maxNum[cRow.marketType]);
      this.parIPOOrder.quantity = max;
      this.parIPOOrder.maxQuantity = max;
      this.parIPOOrder.tickerName = cRow.tickerName;
      this.parIPOOrder.xtpMarketType = cRow.marketId;
    }
  }
};
</script>