<template>
    <div>
        <div v-if="config.isShowDev" class="textShowOrHide file">
            <a href="javascript:;" title="导入csv" class="file" v-show="!CSVPath" >
                <i class="f f-CSV1 f-blue" title="导出csv"></i>
                <input type="file" id="upload" accept=".csv" @change="upload">
            </a>
        </div>
        <Modal v-model="CSVmodal" width="300" class-name="vertical-center-modal">
            <p slot="header">
                <span>导入数据有误,请修改或查看样例</span>
            </p>
            <div class="clearfix csvModal">
                <div class="pull-left">
                    <a :href="`${config.homeLocation}doc/order_csv_sample.csv`" download ><i class="f f-csv f-blue big" title="导出csv"></i>下载样例</a>
                </div>
                <div class="pull-right">
                    <a @click="openDescription" download> <i class="f f-pdf f-blue big" title="导出csv"></i>使用说明</a>
                </div>
            </div>
            <div slot="footer" class="clearfix">
                <button class="pull-right buttonStyle" @click="CSVClose">取消</button>
                <a href="javascript:;" title="导入csv" class="file renewUpload">重新上传<input type="file" id="upload" accept=".csv" @change="upload"></a>
            </div>
    </Modal>
    </div>
</template>
<style lang="scss" scoped >
div > a.renewUpload {
  margin: 0 20px 0 0;
  border-radius: 5px;
  background: #f90;
  padding: 3px 5px;
  color: #fff;
}
div > .buttonStyle {
  outline: none;
  color: #fff;
  background: #2d8cf0;
  border-radius: 5px;
  padding: 3px 5px;
  border: none;
}
.csvModal {
  padding: 0 20px;
  text-align: center;
}
.csvModal > div > a {
  display: inline-block;
}
.csvModal > div > a:hover {
  color: none;
}
.csvModal i.big {
  font-size: 80px;
  display: block;
}
div.textShowOrHide {
  display: inline-block;
}
.tab-top > div .tab-header a.addStyleDis:hover {
  color: #d0d0d4;
  text-decoration: none;
}
</style>

<script>
var csvParse = require("csv-parse/lib/sync");
export default {
  props:{
      socketOrHttp:{
          type:Number,
          default:1,
      }
  },
  data() {
   return{
       CSVmodal:false
   }
  },
  created() {
    
  },
  mounted: function () {
    let self = this;
    self.$nextTick(function () {
      
    });
  },
  destroyed() {
    // this.CSVPath && this.chokidar.unwatch && this.chokidar.unwatch(this.CSVPath);
  },
  methods: {
    init() { },
    clear() {
    //   this.stopUpload();
    },
    // 页面中新添加批量下单时的操作
    upload(el) {
      let self = this;
      if (self.CSVmodal) {
        self.CSVmodal = false;
        self.stopUpload();
      }
      if (self.uploadDdata.length) self.uploadDdata = [];
      let file = el.currentTarget.files[0];
      self.CSVPath = file.path;
      app.Cache.sset(app.Cache.key.CSVPath.toKeyName(), self.CSVPath);
      el.currentTarget.value = "";
      if (self.CSVPath) {
        self.readCSV();

        self.watcher = self.chokidar.watch(self.CSVPath, {
          ignored: /(^|[\/\\])\../,
          persistent: true
        });
        self.watcher.on("change", path => {
          self.readCSV();
        });
        // self.CSVPathTimer = setInterval(() => {
        //   self.readFile();
        // }, 3000);
      }
    },
  }
};
</script>