<template>
  <div class="content-body">
    <div class="content-body-main">
      <div class="content-body-left">
        <ul class="y-tag y-vertical">
          <router-link tag="li" to="/trade/ETF/redemption">
            <a> 申赎 </a>
          </router-link>
          <router-link tag="li" to="/trade/ETF/etf">
            <a> ETF清单 </a>
          </router-link>
          <router-link tag="li" to="/trade/ETF/basket">
            <a> ETF股票篮 </a>
          </router-link>
        </ul>
      </div>
      <keep-alive >
        <router-view></router-view>
      </keep-alive>
    </div>
  </div>

</template>

<script>
export default {
};
</script>