<template>
    <div class="algorithm">
        <Tabs v-model='currentTab' type="card" :animated='false' class='cardTable'>
            <TabPane name='monitor' label="监控">
              <Table class="i-table" data-k="monitor" @on-selection-change='v=>monitorId=v' @on-current-change='getChartId' highlight-row :width='width.monitor' :height="height.monitor" :columns="monitorCol" :data="monitorList" size="small" :border='true' ref="monitor" type='index'></Table>
            </TabPane>
            <TabPane name='entrust' label="委托">
              <Table class="i-table" data-k="entrust" @on-selection-change='v=>delegateId=v' highlight-row :width='width.entrust' :height="height.entrust" :columns="entrustCol" :data="entrustList" size="small" :border='true' ref="entrust"></Table>
            </TabPane>
            <TabPane name='deal' label="成交">
              <Table class="i-table" data-k="deal" @on-selection-change='v=>dealId=v' highlight-row :width='width.deal' :height="height.deal" :columns="dealCol" :data="dealList" size="small" :border='true' ref="deal"></Table>
            </TabPane>
            <div slot="extra">
              <Button type="primary" size="small" v-show="currentTab=='monitor'"  :disabled='!monitorId.length' @click="canceMonitorIdOrder">停止拆单</Button>
              <a @click='refresh'>
                <i class="f f-refresh" title="刷新"></i>
              </a>
              <a v-if="currentTab=='entrust'">
                <i class="f f-cog" @click="isShow = true" title="设置"></i>
              </a>
              <a v-else-if="currentTab=='deal'">
                <i class="f f-cog" @click="isModel= true" title="设置"></i>
              </a>
              <a v-else-if="currentTab=='monitor'">
                <i class="f f-cog" @click="isMonitor= true" title="设置"></i>
              </a>
            </div>
          </Tabs>
          <col-setting v-model='isShow' @on-changeCol='changeCol' :col='col.entrustCol'></col-setting>
          <col-setting v-model='isModel' @on-changeCol='changeColl' :col='col.dealCol'></col-setting>
          <col-setting v-model='isMonitor' @on-changeCol='changemonitorCol' :col='col.monitorCol'></col-setting>
    </div>
</template>
<style lang='scss'>
    .algorithm{
        width:100%;
        height:100%;
    }
</style>

<script>
import ColSetting from "@/components/colSetting";
export default {
    components: {
        ColSetting
    },
    name: 'algorithm',
    props: {
        col:Object,
    },
    data() {
        return {
            entrustCol : this.col.entrustCol,
            dealCol : this.col.dealCol,
            monitorCol : this.col.monitorCol,
            currentTab: "monitor",
            width: {
                monitor:0,
                entrust: 0,
                deal: 0,
            },
            height: {
                monitor:0,
                entrust: 0,
                deal: 0,
            },
            //监控
            monitorId: [],
            //委托
            delegateId: [],
            //成交
            dealId:[],
            dealList: this.col.dealList,
            entrustList: this.col.entrustList,
            monitorList:this.col.monitorList,
            //控制设置中的模态框显示隐藏
            isShow: false,
            isModel: false,
            isMonitor: false,
        }
    },
    created() {
        this.entrustCol = this.col.entrustCol;
        this.dealCol = this.col.dealCol;
        this.monitorCol = this.col.monitorCol;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    },
    mounted() {
        let self = this;
        self.autoTableSize();
        self.$nextTick(function() {
            window.addEventListener(
                "resize",
                function() {
                    self.autoTableSize();
                },
                false
            );
        });
    },
    methods: {
        //调用页面中图表的id
        getChartId(val){
            let self = this;
            self.task_id = val.id;
            self.currentMinutes='';
            let option = self.chart.getOption();
            option.series[0].data = [];
            option.series[1].data = [];
            option.series[2].data = [];
            option.series[3].data = [];
            option.series[4].data = [];
            option.series[5].data = [];
            self.chart.setOption(option);
            self.chartUpdate();
        },
        /**
         * 撤销监控和今日委托和今日成交
         */
        canceMonitorIdOrder() {
            let self = this;
            self.monitorId.forEach(it => {
                self.$get("task/stop/"+  it.id)
                .then(res => {
                    self.monitorId=[];
                    self.$Message.success("停止拆单成功");
                })
            })
            self.getAlgorithmCarouselList();
            self.$refs.monitor.selectAll(false);
        },
        //页面刷新时的操作
        refresh() {
            this.$emit("on-changeCol", this.currentTab);
        },
        /** 
        * 模态框中表头的操作
        */
        changeCol(val) {
            this.entrustCol = val;
        },
        changeColl(val) {
            this.dealCol = val;
        },
        changemonitorCol(val) {
            this.monitorCol = val;
        },
        
    }
}
</script>
