.y-form.ivu-form {
    padding: 18px 22px 0;
    .ivu-form-item-label {
      padding: 10px 6px 10px 0;
      color: #9da1a9;
    }
    // &:first-child {
    //   background-color: #221f20;
    // }
    .ivu-form-item{
        margin-bottom: 3px;
    }
    .ivu-form .ivu-form-item-label{
        padding: 10px 6px 10px 0;
        color: #9da1a9;
      }
      .ivu-input-small{
        height: 22px; 
      }
  }  
.ivu-input-type{ 
//  --------------- vv--------------
    &.y-dark>input,&.y-dark>textarea{ 
        background-color: #565c65;
        color: #9da1a9;
        border: 0;
        caret-color: #fff; 
        &:focus,&:hover{
            border-color: #2d58ce;
        }
    }
// --------------vv-------------
    &.y-orange>input,&.y-orange>textarea{ 
        background-color: #242930;
        color: #9da1a9;
        border-color: #ca712a;
        caret-color: #fff; 
        &:focus,&:hover{
            border-color: #ca712a;
        }
    }
    
    &.y-blue>input{ 
        background-color: #242930;
        color: #9da1a9;
        border-color: #2d58ce;
        caret-color: #fff; 
        &:focus,&:hover{
            border-color: #2d58ce;
        }
    }
}
.ivu-select {
    // -------------vv--------------
    &.y-dark {
        .ivu-input-small{ 
            background-color: #242930;
            color: #9da1a9;
            border-color: #9da1a9;  
            // border: solid 1px #9da1a9;
            caret-color: #fff; 
            &:focus,&:hover{
                border-color: #9da1a9;
            }
        }
        .ivu-select-dropdown{
            background-color: #242930; 
            border: solid 1px #9da1a9;
            color: #828282;
            .ivu-select-item{
                color: #828282;
                transition:none;
            }
             .ivu-select-item:hover{
                background-color: #9da1a9;
                color: #d0d0d4;
             }
        } 
    }
    // -------------vv--------------
    &.y-orange {
        .ivu-input-small{ 
            background-color: #242930;
            color: #9da1a9;
            border-color: #ca712a;  
            caret-color: #fff; 
            &:focus,&:hover{
                border-color: #ca712a;
            }
        }
        .ivu-select-dropdown{
            background-color: #242930; 
            border: solid 1px #ca712a;
            color: #828282;
            .ivu-select-item{
                color: #828282;
                transition:none;
            }
             .ivu-select-item:hover{
                background-color: #ca712a;
                color: #d0d0d4;
             }
             .ivu-select-item-selected, 
            .ivu-select-item-selected:hover{  
                background-color: #ca712a;
                color: #d0d0d4;
            }
        }
        
    }
    &.y-blue {
        .ivu-input-small{  
            background-color: #242930;
            color: #9da1a9;
            border-color: #2d58ce;
            caret-color: #fff; 
            &:focus,&:hover{ 
                border-color: #2d58ce; 
            }
        }
        .ivu-select-dropdown{
            background-color: #242930; 
            border: solid 1px #2d58ce;
            color: #828282;
            .ivu-select-item{
                color: #828282;
                transition:none;
            }
             .ivu-select-item:hover{
                background-color: #2d58ce;
                color: #d0d0d4;
             }
             .ivu-select-item-selected, 
            .ivu-select-item-selected:hover{  
                background-color: #2d58ce;
                color: #d0d0d4;
            }
        }
    }
   
}
.ivu-select 
{
    &.y-orange{
        .ivu-select-selection{
            border: solid 1px #ca712a;
        }
    }
    &.y-blue{
        .ivu-select-selection{
            border: solid 1px #2d58ce;
        }
    }
}

.ivu-input-number{ 
    &.y-orange
    {
        border-color: #ca712a;
        caret-color: #fff; 
        &:focus,&:hover{
            border-color: #ca712a;
        }
        width: 100%;
        >div{ 
            >input{ 
                background-color: #242930;
                color: #9da1a9;
                
            } 
        }
        .ivu-input-number-handler-wrap {
            background: transparent;
            border-color: #ca712a;
            .ivu-input-number-handler-down{
                border-color: #ca712a;
            }
        }
    }
    
    &.y-blue
    {
        border-color: #2d58ce;
        caret-color: #fff; 
        &:focus,&:hover{
            border-color: #2d58ce;
        }
        width: 100%;
        >div{ 
            >input{ 
                background-color: #242930;
                color: #9da1a9;
            } 
        }
        .ivu-input-number-handler-wrap {
            background: transparent;
            border-color: #2d58ce;
            .ivu-input-number-handler-down{
                border-color: #2d58ce;
            }
        }
    }
}
.y-block{ 
    >.ivu-form-item-content{ 
        width: 100%;
        margin: 0 !important; 
        >.ivu-radio-group{
            width: 100%;
            display: flex;  
            >label{
                flex: 1; 
                margin-right: 1px;
                padding: 0; 
                text-align: center;
                background: #3d424b;
                color: #d0d0d4;
                border: none !important;
                font-weight: normal;
                user-select:none;
                &.ivu-radio-wrapper-checked{
                    color: #d0d0d4;
                    border: none ;
                    box-shadow:none; 
                }
                &:hover{
                    color: #d0d0d4;
                }
            }
        }
        .y-orange .ivu-radio-group-item.ivu-radio-wrapper-checked{ 
            background-color: #ca712a;
        }
        .y-blue .ivu-radio-group-item.ivu-radio-wrapper-checked{ 
            background-color: #2d58ce;
        }
    }
}

 .ivu-radio-group{
     >label.ivu-radio-wrapper{
        border: none !important;
        margin-right: 1px;
        padding: 0; 
        text-align: center;
        // background: #3d424b;
        // background: #3d424b;
        font-weight: normal;
        color: #d0d0d4; 
        user-select:none;
        &.ivu-radio-wrapper-checked{
            color: #d0d0d4;
            border: none ;
            box-shadow:none; 
        }
        &:hover{
            color: #d0d0d4;
        }
     }  
     &.y-black{
        background-color: #22252b;
        .ivu-radio-group-item.ivu-radio-wrapper-checked{ 
            background-color:  #565c65;
        }
     }
 }

 .ivu-radio-group-button .ivu-radio-wrapper:after, .ivu-radio-group-button .ivu-radio-wrapper:before{
     background:transparent;
 }
 .ivu-form .ivu-form-item .ivu-form-item-content {
    color: #9da1a9 ;
  }