<template>
  <div class="content-body-main">
    <div class="tab-wrapper">
      <div class="tab-bar">
        <!-- <div class="pull-left">
                    资产净值
                    <span>100</span>
                    参考市值
                    <span>100</span>
                    资金
                    <span>100</span>
        </div>-->
        <div class="pull-right">
          <a>
            <i class="f f-refresh" @click="sel" title="刷新"></i>
          </a>
          <a>
            <i class="f f-cog" @click="isShow = true" title="设置"></i>
          </a>
        </div>
      </div>
      <!-- 委托查询 -->
      <div class="tab-table">
        <Table
          class="i-table"
          data-k="quotes"
          :width="width.quotes"
          :height="height.quotes"
          highlight-row
          @on-current-change="changeRow"
          :columns="col"
          :data="tData"
          size="small"
          :border="true"
          ref="table"
        ></Table>

        <!-- <Table class="i-table" :width='width' :height="height" :columns="columns" :data="tData" size="small" :border='true' ref="table"></Table> -->
      </div>
    </div>
    <div class="content-body-left">
      <quotes :subscribeMarketData="subscribeMarketData" class="optional"></quotes>
    </div>
    <col-setting v-model="isShow" @on-changeCol="changeCol" :col="col"></col-setting>
  </div>
</template>  
<style lang="scss" scoped>
.content-body-main > .content-body-left {
  width: 260px;
  min-width: 260px;
  height: auto;
  background-color: #22252b;
  padding: 5px 10px;
}
</style>

<script>
import ColSetting from "@/components/colSetting";
import Quotes from "@/components/quotes";
export default {
  components: {
    ColSetting,
    Quotes
  },
  data() {
    return {
      width: {
        quotes: 0
      },
      height: {
        quotes: 0
      },
      subscribeMarketData: {
        ticker: null,
        ask: [],
        askQty: [],
        bid: [],
        bidQty: [],
        tradesCount: 0,
        diffTradesCount: {
          Num: null,
          Cls: "",
          Symbol: ""
        },
        diffAskQtyNum: [],
        diffAskQtyCls: [],
        diffAskQtySymbol: [],
        diffBidQtyNum: [],
        diffBidQtyCls: [],
        diffBidQtySymbol: [],
        preClosePrice: 0,
        dataTime: null
      },
      subscribeMarketDataObj: {},
      isShow: false,
      sellPar: {
        code: "",
        type: "xjwt",
        price: 0,
        num: 0,
        numCopies: ""
      },
      modalAdd: false,
      currentRow: {
        ask: [],
        askQty: [],
        bid: [],
        bidQty: [],
        diffTradesCount: {
          Num: null,
          Cls: "",
          Symbol: ""
        },
        diffAskQtyNum: [],
        diffAskQtyCls: [],
        diffAskQtySymbol: [],
        diffBidQtyNum: [],
        diffBidQtyCls: [],
        preClosePrice: 0,
        diffBidQtySymbol: [],
        dataTime: null
      },
      col: [
        {
          title: "序号",
          type: "index",
          width: 50,
          fixed: "left",
          align: "right"
        },
        {
          title: "代码",
          key: "ticker",
          fixed: "left",
          align: "center",
          // className: "y-yellow",
          width: 70
        },
        {
          title: "名称",
          key: "tickerName",
          fixed: "left",
          className: "y-yellow",
          width: 110
        },
        {
          title: "交易所",
          key: "exchangeId",
          width: 80,
          align: "center",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(par.row[par.column.key], "XTP_EXCHANGE_TYPE")
            );
          }
        },

        {
          title: "最新价",
          key: "lastPrice",
          width: 90,
          align: "right",
          sortable: true
          // render: (h, par) => {
          //   if(par.row['ask']  && par.row['ask'].length>0) {
          //     let count = 0;
          //     par.row['ask'].map((it,index) => {
          //       if(index<=4){
          //         let str = it + "";
          //         count +=(str.substr(str.lastIndexOf('.'))+1).length;
          //         console.log(count);
          //       }
          //     })
          //   }
          // return h(
          //   "div",
          //   par.row[par.column.key] == "--"
          //     ? "--"
          //     : self.ordinaryOrder.length ? par.row[par.column.key].toFixed(2) : par.row[par.column.key].toFixed(3)
          // );
          // }
        },
        {
          title: "昨收价",
          key: "preClosePrice",
          width: 90,
          align: "right",
          sortable: true
          // render: (h, par) => {
          //   return h(
          //     "div",
          //     par.row[par.column.key] == "--"
          //       ? "--"
          //       : self.ordinaryOrder.length ? par.row[par.column.key].toFixed(2) : par.row[par.column.key].toFixed(3)
          //   );
          // }
        },
        {
          title: "开盘价",
          key: "openPrice",
          width: 90,
          align: "right",
          sortable: true
          // render: (h, par) => {
          //   return h(
          //     "div",
          //     par.row[par.column.key] == "--"
          //       ? "--"
          //       : self.ordinaryOrder.length ? par.row[par.column.key].toFixed(2) : par.row[par.column.key].toFixed(3)
          //   );
          // }
        },
        {
          title: "最高价",
          key: "highPrice",
          width: 90,
          align: "right",
          sortable: true
          // render: (h, par) => {
          //   return h(
          //     "div",
          //     par.row[par.column.key] == "--"
          //       ? "--"
          //       : self.ordinaryOrder.length ? par.row[par.column.key].toFixed(2) : par.row[par.column.key].toFixed(3)
          //   );
          // }
        },
        {
          title: "最低价",
          key: "lowPrice",
          width: 90,
          align: "right",
          sortable: true
          // render: (h, par) => {
          //   return h(
          //     "div",
          //     par.row[par.column.key] == "--"
          //       ? "--"
          //       : self.ordinaryOrder.length ? par.row[par.column.key].toFixed(2) : par.row[par.column.key].toFixed(3)
          //   );
          // }
        },
        {
          title: "收盘价",
          key: "closePrice",
          align: "right",
          width: 90,
          sortable: true
          // render: (h, par) => {
          //   return h(
          //     "div",
          //     par.row[par.column.key] == "--"
          //       ? "--"
          //       : self.ordinaryOrder.length ? par.row[par.column.key].toFixed(2) : par.row[par.column.key].toFixed(3)
          //   );
          // }
        }
      ],
      tData: [],
      tempTData: [],
      parSubscription: {
        tickers: [],
        count: 0,
        exchageId: 1
      },
      positionList: [],
      ordinaryOrder: []
    };
  },
  computed: {
    positionList2: function() {
      let self = this;

      let obj = {
        sh: {
          tickers: Array.from(
            self.$store.state.tran.positionList.filter(
              it => it.xtpMarketType == "XTP_MKT_SH_A"
            ),
            it => it.ticker
          ),
          exchageId: 1
        },
        sz: {
          tickers: Array.from(
            self.$store.state.tran.positionList.filter(
              it => it.xtpMarketType == "XTP_MKT_SZ_A"
            ),
            it => it.ticker
          ),
          exchageId: 2
        }
      };
      obj.sh.count = obj.sh.tickers.length;
      obj.sz.count = obj.sz.tickers.length;
      return obj;
    }
  },
  watch: {
    "$store.state.tran.optionalQuote": function(val, oldVal) {
      app.log("optionalQuote:::::::变化了");
      let self = this;
      self.setQuote(val, oldVal);
    },
    subscribeMarketData(val, oldVal) {
      let self = this;
      // data.preClosePrice = self.preClosePrice;
      app.log("self.preClosePrice::", self.preClosePrice);
      // debugger;
      val.tradesCount = Math.round(val.tradesCount / 100);
      if (oldVal.tradesCount) {
        let tradesCountNum = Math.round(val.tradesCount - oldVal.tradesCount);

        val.diffTradesCount = {
          Num: tradesCountNum == 0 ? null : Math.abs(tradesCountNum),
          Cls:
            tradesCountNum == 0 ? "" : tradesCountNum > 0 ? "y-red" : "y-green",
          Symbol: tradesCountNum == 0 ? "" : tradesCountNum > 0 ? "+" : "-"
        };
      } else {
        val.diffTradesCount = {
          Num: null,
          Cls: "",
          Symbol: ""
        };
      }
      val.diffAskQtyNum = [];
      val.diffAskQtyCls = [];
      val.diffAskQtySymbol = [];

      val.diffBidQtyNum = [];
      val.diffBidQtyCls = [];
      val.diffBidQtySymbol = [];
      for (let i = 0; i < val.askQty.length; i++) {
        // debugger
        val.askQty[i] = Math.round(val.askQty[i] / 100);
        val.bidQty[i] = Math.round(val.bidQty[i] / 100);
        // val.tradesCount = Math.round(val.tradesCount / 100);
        if (oldVal.askQty.length) {
          let askI = oldVal.ask.findIndex(it => {
            return it == val.ask[i];
          });
          let num = askI == -1 ? 0 : val.askQty[i] - oldVal.askQty[askI];

          let bidI = oldVal.bid.findIndex(it => {
            return it == val.bid[i];
          });
          let bidNum = bidI == -1 ? 0 : val.bidQty[i] - oldVal.bidQty[bidI];

          val.diffAskQtyNum.push(num == 0 ? null : Math.abs(num));
          val.diffAskQtyCls.push(num == 0 ? "" : num > 0 ? "y-red" : "y-green");
          val.diffAskQtySymbol.push(num == 0 ? "" : num > 0 ? "+" : "-");

          val.diffBidQtyNum.push(bidNum == 0 ? null : Math.abs(bidNum));
          val.diffBidQtyCls.push(
            bidNum == 0 ? "" : bidNum > 0 ? "y-red" : "y-green"
          );
          val.diffBidQtySymbol.push(bidNum == 0 ? "" : bidNum > 0 ? "+" : "-");
        }
      }
      self.subscribeMarketData = val;
    }
  },
  created() {
    let self = this;
    setTimeout(() => {
      self.setQuote(self.$store.state.tran.optionalQuote, []);
    }, 0);
  },
  destroyed() {
    this.unSubscribe();
  },
  sockets: {
    // subscribeAllMarketDataRsp: function(data) {
    //   let self = this;
    //   self.tempTData.push(data);
    //   if (data.lastResp) {
    //     self.tData = self.tempTData;
    //     self.tempTData = [];
    //   }
    //   app.log("subscribeAllMarketDataRsp::", data);
    // }
    queryIPOInfoListRsp(data, err) {
      app.log("queryIPOInfoListRsp:::::", data, err);
    },
    CacheTickersResult(data) {
      app.log("CacheTickersResult:::::", data);
    }
  },
  sockets2: {
    depthMarketDataRsp(data) {
      let self = this;
      setTimeout(() => {
        self.marketDataDeal(data);
      }, 0);
    }
  },
  mounted: function() {
    var self = this;
    //  debugger
    self.$nextTick(function() {
      self.autoTableSize();
      window.addEventListener(
        "resize",
        function() {
          self.autoTableSize();
        },
        false
      );
    });
  },
  methods: {
    changeCol(val) {
      app.log("val::", val);
      this.col = val;
    },
    sel() {
      let self = this;
      self.unSubscribe();
      self.subscribe();
    },
    subscribe() {
      let self = this;
      let delS = {
        sh: {
          tickers: Array.from(
            self.tData.filter(
              it =>
                it.xtpMarketType == "XTP_MKT_SH_A" ||
                it.exchageId == 1 ||
                it.exchangeId == 1 ||
                it.exchangeId == "XTP_EXCHANGE_SH"
            ),
            it => it.ticker
          ),
          exchageId: 1
        },
        sz: {
          tickers: Array.from(
            self.tData.filter(
              it =>
                it.xtpMarketType == "XTP_MKT_SZ_A" ||
                it.exchageId == 2 ||
                it.exchangeId == 2 ||
                it.exchangeId == "XTP_EXCHANGE_SZ"
            ),
            it => it.ticker
          ),
          exchageId: 2
        }
      };
      delS.sh.count = delS.sh.tickers.length;
      delS.sz.count = delS.sz.tickers.length;
      app.log("行情订阅::：：：：", delS.sh, delS.sz);
      self.$socket2.emit("subscribeMarketData", delS.sh);
      self.$socket2.emit("subscribeMarketData", delS.sz);
    },
    unSubscribe() {
      let self = this;
      let delS = {
        sh: {
          tickers: Array.from(
            self.tData.filter(
              it =>
                it.xtpMarketType == "XTP_MKT_SH_A" ||
                it.exchageId == 1 ||
                it.exchangeId == 1 ||
                it.exchangeId == "XTP_EXCHANGE_SH"
            ),
            it => it.ticker
          ),
          exchageId: 1
        },
        sz: {
          tickers: Array.from(
            self.tData.filter(
              it =>
                it.xtpMarketType == "XTP_MKT_SZ_A" ||
                it.exchageId == 2 ||
                it.exchangeId == 2 ||
                it.exchangeId == "XTP_EXCHANGE_SZ"
            ),
            it => it.ticker
          ),
          exchageId: 2
        }
      };
      delS.sh.count = delS.sh.tickers.length;
      delS.sz.count = delS.sz.tickers.length;
      app.log("页面离开取消行情订阅:::::::::::", delS.sh, delS.sz);
      self.$socket2.emit("unSubscribeMarketData", delS.sh);
      self.$socket2.emit("unSubscribeMarketData", delS.sz);
    },
    setQuote: function(val, oldVal) {
      let self = this;
      let addData = val.filter(
        it =>
          !self.tData.find(
            it2 => it2.ticker == it.ticker && it2.exchangeId == it.exchangeId
          )
      );
      let delData = self.tData.filter(
        it =>
          !val.find(
            it2 => it2.ticker == it.ticker && it2.exchangeId == it.exchangeId
          )
      );
      // debugger;
      let d = "--";
      let arr = [];
      addData.forEach(it => {
        let ticker = app.ticker
          .all()
          .find(
            it2 => it2.code == it.ticker && it2.exchangeId == it.exchangeId
          );
        if (ticker) {
          let tmp = {
            ticker: it.ticker,
            tickerName: ticker.name,
            exchangeId: ticker.exchangeId,
            lastPrice: d,
            preClosePrice: d,
            openPrice: d,
            highPrice: d,
            lowPrice: d,
            closePrice: d
          };
          if (!self.subscribeMarketData.ticker) {
            self.subscribeMarketData.ticker = it.ticker;
            tmp._highlight = true;
          }
          oldVal.length > 0 ? self.tData.push(tmp) : arr.push(tmp);
        }
      });
      // [].concat()
      oldVal.length == 0 && (self.tData = arr);
      val.length == 0
        ? (self.tData = [])
        : delData.forEach(it => {
            let i = self.tData.findIndex(
              it2 => it2.ticker == it.ticker && it2.exchangeId == it.exchangeId
            );
            let obj = self.tData.find(
              it2 => it2.ticker == it.ticker && it2.exchangeId == it.exchangeId
            );
            if (i != -1) {
              self.tData.splice(i, 1);
              if (obj.ticker == self.subscribeMarketData.ticker) {
                if (self.tData[i]) {
                  self.tData[i]._highlight = true;
                  self.subscribeMarketData.ticker = self.tData[i].ticker;
                } else if (self.tData[i - 1]) {
                  self.tData[i - 1]._highlight = true;
                  self.subscribeMarketData.ticker = self.tData[i - 1].ticker;
                }
              }
            }
          });
      let addS = {
        sh: {
          tickers: Array.from(
            addData.filter(
              it =>
                it.xtpMarketType == "XTP_MKT_SH_A" ||
                it.exchageId == 1 ||
                it.exchangeId == 1 ||
                it.exchangeId == "XTP_EXCHANGE_SH"
            ),
            it => it.ticker
          ),
          exchageId: 1
        },
        sz: {
          tickers: Array.from(
            addData.filter(
              it =>
                it.xtpMarketType == "XTP_MKT_SZ_A" ||
                it.exchageId == 2 ||
                it.exchangeId == 2 ||
                it.exchangeId == "XTP_EXCHANGE_SZ"
            ),
            it => it.ticker
          ),
          exchageId: 2
        }
      };
      addS.sh.count = addS.sh.tickers.length;
      addS.sz.count = addS.sz.tickers.length;
      app.log("行情订阅", addS.sh, addS.sz);
      self.$socket2.emit("subscribeMarketData", addS.sh);
      self.$socket2.emit("subscribeMarketData", addS.sz);
      let delS = {
        sh: {
          tickers: Array.from(
            delData.filter(
              it =>
                it.xtpMarketType == "XTP_MKT_SH_A" ||
                it.exchageId == 1 ||
                it.exchangeId == 1 ||
                it.exchangeId == "XTP_EXCHANGE_SH"
            ),
            it => it.ticker
          ),
          exchageId: 1
        },
        sz: {
          tickers: Array.from(
            delData.filter(
              it =>
                it.xtpMarketType == "XTP_MKT_SZ_A" ||
                it.exchageId == 2 ||
                it.exchangeId == 2 ||
                it.exchangeId == "XTP_EXCHANGE_SZ"
            ),
            it => it.ticker
          ),
          exchageId: 2
        }
      };
      delS.sh.count = delS.sh.tickers.length;
      delS.sz.count = delS.sz.tickers.length;
      app.log("取消行情订阅", delS.sh, delS.sz);
      self.$socket2.emit("unSubscribeMarketData", delS.sh);
      self.$socket2.emit("unSubscribeMarketData", delS.sz);
    },
    changeRow(cRow, oldRow) {
      let self = this;
      let oldRowTemp = self.tData.find(
        it => it.ticker == oldRow.ticker && it.exchangeId == oldRow.exchangeId
      );

      delete oldRowTemp._highlight;
      let cRowTemp = self.tData.find(
        it => it.ticker == cRow.ticker && it.exchangeId == cRow.exchangeId
      );
      cRowTemp._highlight = true;

      this.subscribeMarketData =
        cRow.lastPrice != "--"
          ? {
              ticker: cRow.ticker,
              ask: cRow.ask,
              askQty: cRow.askQty,
              bid: cRow.bid,
              bidQty: cRow.bidQty,
              tradesCount: cRow.tradesCount,
              lastPrice: cRow.lastPrice,
              exchangeId: cRow.exchangeId,
              preClosePrice: cRow.preClosePrice,
              dataTime: cRow.dataTime.toDate("hh:mm:ss")
            }
          : {
              ticker: cRow.ticker,
              ask: [],
              askQty: [],
              bid: [],
              bidQty: [],
              tradesCount: 0,
              lastPrice: 0,
              exchangeId: cRow.exchangeId
            };
    },
    marketDataDeal(data) {
      // app.log("订阅返回数据::", data);
      let self = this;
      // let i = self.tData.findIndex(it => it.ticker == data.ticker);
      if (typeof data.exchangeId == "number") {
        app.log("data.exchangeId:::", data);
      }
      // data.lastPrice = (data.lastPrice +0.1).toFixed(2) ;
      data.exchangeId = app.dataType.XTP_EXCHANGE_TYPE[data.exchangeId].i;
      let it = self.tData.find(
        it2 => it2.ticker == data.ticker && it2.exchangeId == data.exchangeId
      );
      if (!data || !it) {
        return;
      }

      let cls =
        data.lastPrice != data.openPrice && data.lastPrice > data.openPrice
          ? "y-red"
          : "y-green";
      let ticker = app.ticker.all().find(it2 => it2.code == data.ticker);
      //  debugger
      let clsOpenPrice =
        data.openPrice != ticker.preClosePrice &&
        data.openPrice > ticker.preClosePrice
          ? "y-red"
          : "y-green";
      let bg = "";
      //   debugger;
      if (it.lastPrice != "--" && it.lastPrice != data.lastPrice) {
        bg = cls + "-bg";
      }

      if (self.subscribeMarketData.ticker == data.ticker) {
        self.subscribeMarketData = {
          ticker: data.ticker,
          ask: data.ask,
          askQty: data.askQty,
          bid: data.bid,
          bidQty: data.bidQty,
          tradesCount: data.tradesCount,
          lastPrice: data.lastPrice,
          preClosePrice: data.preClosePrice,
          dataTime: data.dataTime.toDate("hh:mm:ss")
        };
      }

      it = Object.assign(it, data);

      it.cellClassName = {
        lastPrice: cls + " " + bg,
        highPrice: cls,
        lowPrice: cls,
        openPrice: clsOpenPrice
      };
      self.subscribeMarketDataObj[it.ticker + "_" + it.exchangeId] = it;
      self.$nextTick(function() {
        setTimeout(function() {
          if (bg) {
            // it.cellClassName.lastPrice
            it.cellClassName.lastPrice = cls;
          }
        }, 1000);
      });
    }
  }
};
</script>