<template>
    <div class="content-body-main">

        <div class="tab-wrapper">
            <div class="tab-bar">

                <!-- <div class="pull-left">
                    资产净值
                    <span>100</span>
                    参考市值
                    <span>100</span>
                    资金
                    <span>100</span>
                </div> -->
                <div class="pull-right">
                    <a>
                        <i class="f f-refresh" @click="sel" title="刷新"></i>
                    </a>
                    <a>
                        <i class="f f-cog" @click="isShow = true" title="设置"></i>
                    </a>
                </div>
            </div>
            <!-- 委托查询 -->
            <div class="tab-table">
                <Table class="i-table" data-k="quotes" :width='width.quotes' :height="height.quotes" highlight-row @on-current-change='changeRow' :columns="col" :data="tData" size="small" :border='true' ref="table"></Table>

                <!-- <Table class="i-table" :width='width' :height="height" :columns="columns" :data="tData" size="small" :border='true' ref="table"></Table> -->
            </div>
        </div>
        <div class="content-body-left">
            <table class="y-table y-table-condensed">
                <tbody>
                    <tr>
                        <th>卖十</th>
                        <td v-text="subscribeMarketData.ask[9]" :class="{'y-red':subscribeMarketData.ask[9]!=0&&subscribeMarketData.ask[9]>preClosePrice,'y-green':subscribeMarketData.ask[9]!=0&&subscribeMarketData.ask[9]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.askQty[9]"></td>
                        <td :class="[subscribeMarketData.diffAskQtyCls[9]]">{{subscribeMarketData.diffAskQtySymbol[9]}}{{subscribeMarketData.diffAskQtyNum[9]}}</td>
                    </tr>
                    <tr>
                        <th>卖九</th>
                        <td v-text="subscribeMarketData.ask[8]" :class="{'y-red':subscribeMarketData.ask[8]!=0&&subscribeMarketData.ask[8]>preClosePrice,'y-green':subscribeMarketData.ask[8]!=0&&subscribeMarketData.ask[8]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.askQty[8]"></td>
                        <td :class="[subscribeMarketData.diffAskQtyCls[8]]">{{subscribeMarketData.diffAskQtySymbol[8]}}{{subscribeMarketData.diffAskQtyNum[8]}}</td>
                    </tr>
                    <tr>
                        <th>卖八</th>
                        <td v-text="subscribeMarketData.ask[7]" :class="{'y-red':subscribeMarketData.ask[7]!=0&&subscribeMarketData.ask[7]>preClosePrice,'y-green':subscribeMarketData.ask[7]!=0&&subscribeMarketData.ask[7]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.askQty[7]"></td>
                        <td :class="[subscribeMarketData.diffAskQtyCls[7]]">{{subscribeMarketData.diffAskQtySymbol[7]}}{{subscribeMarketData.diffAskQtyNum[7]}}</td>
                    </tr>
                    <tr>
                        <th>卖七</th>
                        <td v-text="subscribeMarketData.ask[6]" :class="{'y-red':subscribeMarketData.ask[6]!=0&&subscribeMarketData.ask[6]>preClosePrice,'y-green':subscribeMarketData.ask[6]!=0&&subscribeMarketData.ask[6]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.askQty[6]"></td>
                        <td :class="[subscribeMarketData.diffAskQtyCls[6]]">{{subscribeMarketData.diffAskQtySymbol[6]}}{{subscribeMarketData.diffAskQtyNum[6]}}</td>
                    </tr>
                    <tr>
                        <th>卖六</th>
                        <td v-text="subscribeMarketData.ask[5]" :class="{'y-red':subscribeMarketData.ask[5]!=0&&subscribeMarketData.ask[5]>preClosePrice,'y-green':subscribeMarketData.ask[5]!=0&&subscribeMarketData.ask[5]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.askQty[5]"></td>
                        <td :class="[subscribeMarketData.diffAskQtyCls[5]]">{{subscribeMarketData.diffAskQtySymbol[5]}}{{subscribeMarketData.diffAskQtyNum[5]}}</td>
                    </tr>
                    <tr>
                        <th>卖五</th>
                        <td v-text="subscribeMarketData.ask[4]" :class="{'y-red':subscribeMarketData.ask[4]!=0&&subscribeMarketData.ask[4]>preClosePrice,'y-green':subscribeMarketData.ask[4]!=0&&subscribeMarketData.ask[4]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.askQty[4]"></td>
                        <td :class="[subscribeMarketData.diffAskQtyCls[4]]">{{subscribeMarketData.diffAskQtySymbol[4]}}{{subscribeMarketData.diffAskQtyNum[4]}}</td>
                    </tr>
                    <tr>
                        <th>卖四</th>
                        <td v-text="subscribeMarketData.ask[3]" :class="{'y-red':subscribeMarketData.ask[3]>preClosePrice,'y-green':subscribeMarketData.ask[3]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.askQty[3]"></td>
                        <td :class="[subscribeMarketData.diffAskQtyCls[3]]">{{subscribeMarketData.diffAskQtySymbol[3]}}{{subscribeMarketData.diffAskQtyNum[3]}}</td>
                    </tr>
                    <tr>
                        <th>卖三</th>
                        <td v-text="subscribeMarketData.ask[2]" :class="{'y-red':subscribeMarketData.ask[2]>preClosePrice,'y-green':subscribeMarketData.ask[2]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.askQty[2]"></td>
                        <td :class="[subscribeMarketData.diffAskQtyCls[2]]">{{subscribeMarketData.diffAskQtySymbol[2]}}{{subscribeMarketData.diffAskQtyNum[2]}}</td>
                    </tr>
                    <tr>
                        <th>卖二</th>
                        <td v-text="subscribeMarketData.ask[1]" :class="{'y-red':subscribeMarketData.ask[1]>preClosePrice,'y-green':subscribeMarketData.ask[1]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.askQty[1]"></td>
                        <td :class="[subscribeMarketData.diffAskQtyCls[1]]">{{subscribeMarketData.diffAskQtySymbol[1]}}{{subscribeMarketData.diffAskQtyNum[1]}}</td>
                    </tr>
                    <tr class="highlight">
                        <th>卖一</th>
                        <td v-text="subscribeMarketData.ask[0]" :class="{'y-red':subscribeMarketData.ask[0]>preClosePrice,'y-green':subscribeMarketData.ask[0]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.askQty[0]"></td>
                        <td :class="[subscribeMarketData.diffAskQtyCls[0]]">{{subscribeMarketData.diffAskQtySymbol[0]}}{{subscribeMarketData.diffAskQtyNum[0]}}</td>
                    </tr>
                    <tr class="highlight">
                        <th class="y-red">最新</th>
                        <td v-text="subscribeMarketData.lastPrice" :class="{'y-red':subscribeMarketData.lastPrice>preClosePrice,'y-green':subscribeMarketData.lastPrice<preClosePrice}"></td>
                        <td ></td>
                        <td :class="[subscribeMarketData.diffTradesCount.Cls]">{{subscribeMarketData.diffTradesCount.Symbol}}{{subscribeMarketData.diffTradesCount.Num}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="y-table y-table-condensed">
                <tbody>
                    <tr class="highlight">
                        <th>买一</th>
                        <td v-text="subscribeMarketData.bid[0]" :class="{'y-red':subscribeMarketData.bid[0]>preClosePrice,'y-green':subscribeMarketData.bid[0]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.bidQty[0]"></td>
                        <td :class="[subscribeMarketData.diffBidQtyCls[0]]">{{subscribeMarketData.diffBidQtySymbol[0]}}{{subscribeMarketData.diffBidQtyNum[0]}}</td>
                    </tr>
                    <tr>
                        <th>买二</th>
                        <td v-text="subscribeMarketData.bid[1]" :class="{'y-red':subscribeMarketData.bid[1]>preClosePrice,'y-green':subscribeMarketData.bid[1]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.bidQty[1]"></td>
                        <td :class="[subscribeMarketData.diffBidQtyCls[1]]">{{subscribeMarketData.diffBidQtySymbol[1]}}{{subscribeMarketData.diffBidQtyNum[1]}}</td>
                    </tr>
                    <tr>
                        <th>买三</th>
                        <td v-text="subscribeMarketData.bid[2]" :class="{'y-red':subscribeMarketData.bid[2]>preClosePrice,'y-green':subscribeMarketData.bid[2]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.bidQty[2]"></td>
                        <td :class="[subscribeMarketData.diffBidQtyCls[2]]">{{subscribeMarketData.diffBidQtySymbol[2]}}{{subscribeMarketData.diffBidQtyNum[2]}}</td>
                    </tr>
                    <tr>
                        <th>买四</th>
                        <td v-text="subscribeMarketData.bid[3]" :class="{'y-red':subscribeMarketData.bid[3]>preClosePrice,'y-green':subscribeMarketData.bid[3]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.bidQty[3]"></td>
                        <td :class="[subscribeMarketData.diffBidQtyCls[3]]">{{subscribeMarketData.diffBidQtySymbol[3]}}{{subscribeMarketData.diffBidQtyNum[3]}}</td>
                    </tr>
                    <tr>
                        <th>买五</th>
                        <td v-text="subscribeMarketData.bid[4]" :class="{'y-red':subscribeMarketData.bid[4]!=0&&subscribeMarketData.bid[4]>preClosePrice,'y-green':subscribeMarketData.bid[4]!=0&&subscribeMarketData.bid[4]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.bidQty[4]"></td>
                        <td :class="[subscribeMarketData.diffBidQtyCls[4]]">{{subscribeMarketData.diffBidQtySymbol[4]}}{{subscribeMarketData.diffBidQtyNum[4]}}</td>
                    </tr>
                    <tr>
                        <th>买六</th>
                        <td v-text="subscribeMarketData.bid[5]" :class="{'y-red':subscribeMarketData.bid[5]!=0&&subscribeMarketData.bid[5]>preClosePrice,'y-green':subscribeMarketData.bid[5]!=0&&subscribeMarketData.bid[5]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.bidQty[5]"></td>
                        <td :class="[subscribeMarketData.diffBidQtyCls[5]]">{{subscribeMarketData.diffBidQtySymbol[5]}}{{subscribeMarketData.diffBidQtyNum[5]}}</td>
                    </tr>
                    <tr>
                        <th>买七</th>
                        <td v-text="subscribeMarketData.bid[6]" :class="{'y-red':subscribeMarketData.bid[6]!=0&&subscribeMarketData.bid[6]>preClosePrice,'y-green':subscribeMarketData.bid[6]!=0&&subscribeMarketData.bid[6]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.bidQty[6]"></td>
                        <td :class="[subscribeMarketData.diffBidQtyCls[6]]">{{subscribeMarketData.diffBidQtySymbol[6]}}{{subscribeMarketData.diffBidQtyNum[6]}}</td>
                    </tr>
                    <tr>
                        <th>买八</th>
                        <td v-text="subscribeMarketData.bid[7]" :class="{'y-red':subscribeMarketData.bid[7]!=0&&subscribeMarketData.bid[7]>preClosePrice,'y-green':subscribeMarketData.bid[7]!=0&&subscribeMarketData.bid[7]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.bidQty[7]"></td>
                        <td :class="[subscribeMarketData.diffBidQtyCls[7]]">{{subscribeMarketData.diffBidQtySymbol[7]}}{{subscribeMarketData.diffBidQtyNum[7]}}</td>
                    </tr>
                    <tr>
                        <th>买九</th>
                        <td v-text="subscribeMarketData.bid[8]" :class="{'y-red':subscribeMarketData.bid[8]!=0&&subscribeMarketData.bid[8]>preClosePrice,'y-green':subscribeMarketData.bid[8]!=0&&subscribeMarketData.bid[8]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.bidQty[8]"></td>
                        <td :class="[subscribeMarketData.diffBidQtyCls[8]]">{{subscribeMarketData.diffBidQtySymbol[8]}}{{subscribeMarketData.diffBidQtyNum[8]}}</td>
                    </tr>
                    <tr>
                        <th>买十</th>
                        <td v-text="subscribeMarketData.bid[9]" :class="{'y-red':subscribeMarketData.bid[9]!=0&&subscribeMarketData.bid[9]>preClosePrice,'y-green':subscribeMarketData.bid[9]!=0&&subscribeMarketData.bid[9]<preClosePrice}"></td>
                        <td v-text="subscribeMarketData.bidQty[9]"></td>
                        <td :class="[subscribeMarketData.diffBidQtyCls[9]]">{{subscribeMarketData.diffBidQtySymbol[9]}}{{subscribeMarketData.diffBidQtyNum[9]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <col-setting v-model='isShow' @on-changeCol='changeCol' :col='col'></col-setting>
    </div>
</template>  
<style lang="scss" scoped>
.content-body-main > .content-body-left {
  width: 260px;
  min-width: 260px;
  height: auto;
  background-color: #22252b;
  padding: 5px 10px;
  .y-table {
    display: table;
    tr {
      th {
        width: 50px;
      }
      > td:nth-of-type(1) {
        width: 50px;
      }
      > td:nth-of-type(2) {
        width: 50px;
      }
    }
  }
}
</style>

<script>
import ColSetting from "@/components/colSetting";
export default {
  components: {
    ColSetting
  },
  data() {
    return {
      width: {
        quotes: 0
      },
      height: {
        quotes: 0
      },
      subscribeMarketData: {
        ticker: "",
        ask: [],
        askQty: [],
        bid: [],
        bidQty: [],
        tradesCount: 0,
        diffTradesCount: {
          Num: null,
          Cls: "",
          Symbol: ""
        },
        diffAskQtyNum: [],
        diffAskQtyCls: [],
        diffAskQtySymbol: [],
        diffBidQtyNum: [],
        diffBidQtyCls: [],
        diffBidQtySymbol: []
      },
      subscribeMarketDataObj: {},
      isShow: false,
      sellPar: {
        code: "",
        type: "xjwt",
        price: 0,
        num: 0,
        numCopies: ""
      },
      modalAdd: false,
      preClosePrice: 0,
      currentRow: {
        ask: [],
        askQty: [],
        bid: [],
        bidQty: [],
        diffTradesCount: {
          Num: null,
          Cls: "",
          Symbol: ""
        },
        diffAskQtyNum: [],
        diffAskQtyCls: [],
        diffAskQtySymbol: [],
        diffBidQtyNum: [],
        diffBidQtyCls: [],
        diffBidQtySymbol: []
      },
      col: [
        {
          title: "序号",
          type: "index",
          width: 50,
          fixed: "left",
          align: "right"
        },
        {
          title: "代码",
          key: "ticker",
          fixed: "left",
          align: "center",
          // className: "y-yellow",
          width: 70
        },
        {
          title: "名称",
          key: "tickerName",
          fixed: "left",
          // className: "y-yellow",
          width: 80
        },
        {
          title: "交易所",
          key: "exchangeId",
          width: 80,
          align: "center",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(par.row[par.column.key], "XTP_EXCHANGE_TYPE")
            );
          }
        },

        {
          title: "最新价",
          key: "lastPrice",
          width: 90,
          align: "right",
          sortable: true
        },
        {
          title: "昨收价",
          key: "preClosePrice",
          width: 90,
          align: "right",
          sortable: true
        },
        {
          title: "开盘价",
          key: "openPrice",
          width: 90,
          align: "right",
          sortable: true
        },
        {
          title: "最高价",
          key: "highPrice",
          width: 90,
          align: "right",
          sortable: true
        },
        {
          title: "最低价",
          key: "lowPrice",
          width: 90,
          align: "right",
          sortable: true
        },
        {
          title: "收盘价",
          key: "closePrice",
          align: "right",
          width: 90,
          sortable: true
        }
      ],
      tData: [],
      tempTData: [],
      parSubscription: {
        tickers: [],
        count: 0,
        exchageId: 1
      },
      positionList: []
    };
  },
  computed: {
    positionList2: function() {
      let self = this;

      let obj = {
        sh: {
          tickers: Array.from(
            self.$store.state.tran.positionList.filter(
              it => it.xtpMarketType == "XTP_MKT_SH_A"
            ),
            it => it.ticker
          ),
          exchageId: 1
        },
        sz: {
          tickers: Array.from(
            self.$store.state.tran.positionList.filter(
              it => it.xtpMarketType == "XTP_MKT_SZ_A"
            ),
            it => it.ticker
          ),
          exchageId: 2
        }
      };
      obj.sh.count = obj.sh.tickers.length;
      obj.sz.count = obj.sz.tickers.length;
      return obj;
    }
  },
  watch: {
     
    "$store.state.tran.positionList": function(val, oldVal) {
      app.log("positionList:::::::变化了");
      let self = this;

      self.setQuote(val, oldVal); 
    },
    subscribeMarketData(val, oldVal) {
      let self = this;
      // data.preClosePrice = self.preClosePrice;
      app.log("self.preClosePrice::", self.preClosePrice);
      // debugger;
      val.tradesCount = Math.round(val.tradesCount / 100);
      if (oldVal.tradesCount) {
        let tradesCountNum = Math.round(val.tradesCount - oldVal.tradesCount);

        val.diffTradesCount = {
          Num: tradesCountNum == 0 ? null : Math.abs(tradesCountNum),
          Cls:
            tradesCountNum == 0 ? "" : tradesCountNum > 0 ? "y-red" : "y-green",
          Symbol: tradesCountNum == 0 ? "" : tradesCountNum > 0 ? "+" : "-"
        };
      } else {
        val.diffTradesCount = {
          Num: null,
          Cls: "",
          Symbol: ""
        };
      }
      val.diffAskQtyNum = [];
      val.diffAskQtyCls = [];
      val.diffAskQtySymbol = [];

      val.diffBidQtyNum = [];
      val.diffBidQtyCls = [];
      val.diffBidQtySymbol = [];
      for (let i = 0; i < val.askQty.length; i++) {
        // debugger
        val.askQty[i] = Math.round(val.askQty[i] / 100);
        val.bidQty[i] = Math.round(val.bidQty[i] / 100);
        // val.tradesCount = Math.round(val.tradesCount / 100);
        if (oldVal.askQty.length) {
          let askI = oldVal.ask.findIndex(it => {
            return it == val.ask[i];
          });
          let num = askI == -1 ? 0 : val.askQty[i] - oldVal.askQty[askI];

          let bidI = oldVal.bid.findIndex(it => {
            return it == val.bid[i];
          });
          let bidNum = bidI == -1 ? 0 : val.bidQty[i] - oldVal.bidQty[bidI];

          val.diffAskQtyNum.push(num == 0 ? null : Math.abs(num));
          val.diffAskQtyCls.push(num == 0 ? "" : num > 0 ? "y-red" : "y-green");
          val.diffAskQtySymbol.push(num == 0 ? "" : num > 0 ? "+" : "-");

          val.diffBidQtyNum.push(bidNum == 0 ? null : Math.abs(bidNum));
          val.diffBidQtyCls.push(
            bidNum == 0 ? "" : bidNum > 0 ? "y-red" : "y-green"
          );
          val.diffBidQtySymbol.push(bidNum == 0 ? "" : bidNum > 0 ? "+" : "-");
        }
      }
      self.subscribeMarketData = val;
    }, 
  },
  created() {
    let self = this;
    // self.$socket.emit("CacheTickers", {});
    setTimeout(() => { 

      self.setQuote(self.$store.state.tran.positionList, []);
 
    }, 0);

    // let list = app.Cache.getArray(app.Cache.key.positionTiketList.toKeyName());
    // [].filter()
    // this.parSubscription.tickers = arr;
    // this.parSubscription.count = arr.length;
  },
  activated(){
app.log('调用了：：：activated'); 
  },
  deactivated(){
app.log('调用了：：：deactivated');
  },
  destroyed() { 
    
    this.unSubscribe();
  },
  sockets: {
    // subscribeAllMarketDataRsp: function(data) {
    //   let self = this;
    //   self.tempTData.push(data);
    //   if (data.lastResp) {
    //     self.tData = self.tempTData;
    //     self.tempTData = [];
    //   }
    //   app.log("subscribeAllMarketDataRsp::", data);
    // }
    queryIPOInfoListRsp(data, err) {
      app.log("queryIPOInfoListRsp:::::", data, err);
    },
    CacheTickersResult(data) {
      app.log("CacheTickersResult:::::", data);
    }
  },
  sockets2: {
    depthMarketDataRsp(data) {
      app.log('持仓:depthMarketDataRsp::',data);
      this.marketDataDeal(data);
    }
  },
  mounted: function() {
    var self = this;
    //  debugger

    self.sel();
    self.$nextTick(function() {
      self.autoTableSize();
      window.addEventListener(
        "resize",
        function() {
          self.autoTableSize();
        },
        false
      );
    });
  },
  methods: {
    changeCol(val) {
      app.log("val::", val);
      this.col = val;
    },
    sel() {
      let self = this;
      // self.unSubscribe();
      // self.$socket2.emit("subscribeOrderBook", {
      //   tickers: self.positionList.sz,
      //   count: self.positionList.sz.length,
      //   exchageId: 2
      // });

      // this.$socket2.emit("currentRow", this.parSubscription);
      // app.log("查询");
      //  app.Cache.setObject(
      //     app.Cache.key.positionTiketList.toKeyName(),
      //     self.positionTiketList
      //   );
      //   self.$socket.emit("subscribeAllMarketData", { });
    },
    unSubscribe() {
     let self = this;
    let delS = {
      sh: {
        tickers: Array.from(
          self.tData.filter(
            it =>
              it.xtpMarketType == "XTP_MKT_SH_A" ||
              it.exchageId == 1 ||
              it.exchangeId == 1 ||
              it.exchangeId == "XTP_EXCHANGE_SH"
          ),
          it => it.ticker
        ),
        exchageId: 1
      },
      sz: {
        tickers: Array.from(
          self.tData.filter(
            it =>
              it.xtpMarketType == "XTP_MKT_SZ_A" ||
              it.exchageId == 2 ||
              it.exchangeId == 2 ||
              it.exchangeId == "XTP_EXCHANGE_SZ"
          ),
          it => it.ticker
        ),
        exchageId: 2
      }
    };
    delS.sh.count = delS.sh.tickers.length;
    delS.sz.count = delS.sz.tickers.length;
    app.log("页面离开取消行情订阅:::::::::::", delS.sh, delS.sz);
    self.$socket2.emit("unSubscribeMarketData", delS.sh);
    self.$socket2.emit("unSubscribeMarketData", delS.sz);
    },
    setQuote: function(val, oldVal) {
      let self = this;

      let addData = val.filter(
        it =>
          !self.tData.find(
            it2 => it2.ticker == it.ticker && it2.exchangeId == it.exchangeId
          )
      );
      let delData = self.tData.filter(
        it =>
          !val.find(
            it2 => it2.ticker == it.ticker && it2.exchangeId == it.exchangeId
          )
      );
      // debugger;
      let d = "--";
      let arr = [];
      addData.forEach(it => {
        let ticker = app.ticker
          .all()
          .find(
            it2 => it2.code == it.ticker && it2.exchangeId == it.exchangeId
          );
        let tmp = {
          ticker: it.ticker,
          tickerName: ticker.name,
          exchangeId: ticker.exchangeId,
          lastPrice: d,
          preClosePrice: d,
          openPrice: d,
          highPrice: d,
          lowPrice: d,
          closePrice: d
        };
        if (!self.subscribeMarketData.ticker) {
          self.subscribeMarketData.ticker = it.ticker;
          tmp._highlight = true;
        }
        oldVal.length > 0 ? self.tData.push(tmp) : arr.push(tmp);
      });
      // [].concat()
      oldVal.length == 0 && (self.tData = arr);
      val.length == 0
        ? (self.tData = [])
        : delData.forEach(it => {
            let i = self.tData.findIndex(
              it2 => it2.ticker == it.ticker && it2.exchangeId == it.exchangeId
            );
            let obj = self.tData.find(
              it2 => it2.ticker == it.ticker && it2.exchangeId == it.exchangeId
            );
            if (i != -1) {
              self.tData.splice(i, 1);
              if (obj.ticker == self.subscribeMarketData.ticker) {
                if (self.tData[i]) {
                  self.tData[i]._highlight = true;
                  self.subscribeMarketData.ticker = self.tData[i].ticker;
                } else if (self.tData[i - 1]) {
                  self.tData[i - 1]._highlight = true;
                  self.subscribeMarketData.ticker = self.tData[i - 1].ticker;
                }

                // if (self.tData.length > i) {
                //   self.tData[i]._highlight = true;
                //   self.subscribeMarketData.ticker = self.tData[i].ticker;
                // } else if (i > self.tData.length-2 && self.tData.length > 0) {
                //   self.tData[i - 1]._highlight = true;
                //   self.subscribeMarketData.ticker = self.tData[i - 1].ticker;
                // }
              }
            }
          });
      let addS = {
        sh: {
          tickers: Array.from(
            addData.filter(
              it =>
                it.xtpMarketType == "XTP_MKT_SH_A" ||
                it.exchageId == 1 ||
                it.exchangeId == 1 ||
                it.exchangeId == "XTP_EXCHANGE_SH"
            ),
            it => it.ticker
          ),
          exchageId: 1
        },
        sz: {
          tickers: Array.from(
            addData.filter(
              it =>
                it.xtpMarketType == "XTP_MKT_SZ_A" ||
                it.exchageId == 2 ||
                it.exchangeId == 2 ||
                it.exchangeId == "XTP_EXCHANGE_SZ"
            ),
            it => it.ticker
          ),
          exchageId: 2
        }
      };
      addS.sh.count = addS.sh.tickers.length;
      addS.sz.count = addS.sz.tickers.length;
      app.log("行情订阅", addS.sh, addS.sz);
      self.$socket2.emit("subscribeMarketData", addS.sh);
      self.$socket2.emit("subscribeMarketData", addS.sz);
      let delS = {
        sh: {
          tickers: Array.from(
            delData.filter(
              it =>
                it.xtpMarketType == "XTP_MKT_SH_A" ||
                it.exchageId == 1 ||
                it.exchangeId == 1 ||
                it.exchangeId == "XTP_EXCHANGE_SH"
            ),
            it => it.ticker
          ),
          exchageId: 1
        },
        sz: {
          tickers: Array.from(
            delData.filter(
              it =>
                it.xtpMarketType == "XTP_MKT_SZ_A" ||
                it.exchageId == 2 ||
                it.exchangeId == 2 ||
                it.exchangeId == "XTP_EXCHANGE_SZ"
            ),
            it => it.ticker
          ),
          exchageId: 2
        }
      };
      delS.sh.count = delS.sh.tickers.length;
      delS.sz.count = delS.sz.tickers.length;
      app.log("取消行情订阅", delS.sh, delS.sz);
      self.$socket2.emit("unSubscribeMarketData", delS.sh);
      self.$socket2.emit("unSubscribeMarketData", delS.sz);
      // debugger;
      return;
      // let arr = [];
      [...position, ...quote].forEach(it => {
        if (!arr.find(it2 => it2.ticker == it.ticker)) {
          // debugger;

          let ticker = app.ticker
            .all()
            .find(
              it2 => it2.code == it.ticker && it2.exchangeId == it.exchangeId
            );

          self.preClosePrice = ticker.preClosePrice;
          app.log("cccc:::::", app.ticker.all().length);

          let tmp = {
            ticker: it.ticker,
            tickerName: ticker.name,
            exchangeId: ticker.exchangeId,
            lastPrice: d,
            preClosePrice: d,
            openPrice: d,
            highPrice: d,
            lowPrice: d,
            closePrice: d
          };
          //  tmp=Object.assign(tmp,self.subscribeMarketDataObj[it.ticker+'_'+it.exchangeId]||{})
          if (!self.subscribeMarketData.ticker) {
            self.subscribeMarketData.ticker = it.ticker;
            tmp._highlight = true;
          }
          oldVal.length > 0 ? self.tData.push(tmp) : arr.push(tmp);
        }
      });
      oldVal.length == 0 && (self.tData = arr);
      // if(self.tData.find(it=>it._highlight))
      let obj = {
        sh: {
          tickers: Array.from(
            position.filter(
              it =>
                it.xtpMarketType == "XTP_MKT_SH_A" ||
                it.exchageId == 1 ||
                it.exchangeId == 1 ||
                it.exchangeId == "XTP_EXCHANGE_SH"
            ),
            it => it.ticker
          ).concat(
            Array.from(
              quote.filter(
                it =>
                  it.xtpMarketType == "XTP_MKT_SH_A" ||
                  it.exchageId == 1 ||
                  it.exchangeId == 1 ||
                  it.exchangeId == "XTP_EXCHANGE_SH"
              ),
              it => it.ticker
            )
          ),
          exchageId: 1
        },
        sz: {
          tickers: Array.from(
            position.filter(
              it =>
                it.xtpMarketType == "XTP_MKT_SZ_A" ||
                it.exchageId == 2 ||
                it.exchangeId == 2 ||
                it.exchangeId == "XTP_EXCHANGE_SZ"
            ),
            it => it.ticker
          ).concat(
            Array.from(
              quote.filter(
                it =>
                  it.xtpMarketType == "XTP_MKT_SZ_A" ||
                  it.exchageId == 2 ||
                  it.exchangeId == 2 ||
                  it.exchangeId == "XTP_EXCHANGE_SZ"
              ),
              it => it.ticker
            )
          ),
          exchageId: 2
        }
      };
      obj.sh.count = obj.sh.tickers.length;
      obj.sz.count = obj.sz.tickers.length;

      return obj;
    },
    changeRow(cRow, oldRow) {
      app.log("cRow:::", cRow);
      let ticker = app.ticker.all().find(it => it.code == cRow.ticker);

      this.preClosePrice = ticker ? ticker.preClosePrice : 0;
      this.subscribeMarketData =
        cRow.lastPrice != "--"
          ? {
              ticker: cRow.ticker,
              ask: cRow.ask,
              askQty: cRow.askQty,
              bid: cRow.bid,
              bidQty: cRow.bidQty,
              tradesCount: cRow.tradesCount,
              lastPrice: cRow.lastPrice
            }
          : {
              ask: [],
              askQty: [],
              bid: [],
              bidQty: [],
              tradesCount: 0,
              lastPrice: 0
            };

      // this.parCancelOrder.orderXtpId = cRow.orderXtpId;
    },
    marketDataDeal(data) {
      // app.log("订阅返回数据::", data);
      let self = this;
      // debugger
      // let i = self.tData.findIndex(it => it.ticker == data.ticker);
      data.exchangeId = app.dataType.XTP_EXCHANGE_TYPE[data.exchangeId].i;
      let it = self.tData.find(
        it2 => it2.ticker == data.ticker && it2.exchangeId == data.exchangeId
      );
      if (!data || !it) {
        return;
      }

      let cls =
        data.lastPrice != data.openPrice && data.lastPrice > data.openPrice
          ? "y-red"
          : "y-green";
      let ticker = app.ticker.all().find(it => it.code == data.ticker);
      //  debugger
      let clsOpenPrice =
        data.openPrice != ticker.preClosePrice &&
        data.openPrice > ticker.preClosePrice
          ? "y-red"
          : "y-green";
      let bg = "";
      //   debugger;
      if (it.lastPrice != "--" && it.lastPrice != data.lastPrice) {
        bg = cls + "-bg";
      }

      // _highlight
      //       if (data.lastPrice > data.openPrice) {
      //         cls = "y-red";
      //       } else if (data.lastPrice < data.openPrice) {
      //         cls = "y-green";
      //       }
      // (data.lastPrice > data.openPrice&&)
      // preClosePrice

      it = Object.assign(it, data);
      if (self.subscribeMarketData.ticker == data.ticker) {
        self.subscribeMarketData = {
          ticker: data.ticker,
          ask: data.ask,
          askQty: data.askQty,
          bid: data.bid,
          bidQty: data.bidQty,
          tradesCount: data.tradesCount,
          lastPrice: data.lastPrice
        };
      }

      it.cellClassName = {
        lastPrice: cls + " " + bg,
        highPrice: cls,
        lowPrice: cls,
        openPrice: clsOpenPrice
      };
      self.subscribeMarketDataObj[it.ticker + "_" + it.exchangeId] = it;
      self.$nextTick(function() {
        setTimeout(function() {
          if (bg) {
            // it.cellClassName.lastPrice
            it.cellClassName.lastPrice = cls;
          }
        }, 1000);
      });
    }
  }
};
</script>