.ivu-tabs.ivu-tabs-card {
    height: 100%;
    >.ivu-tabs-bar {
        margin-bottom: 0;
        border-bottom: none;
        color: #e0e0e0;
        background-color: #2c3039;
        .ivu-tabs-tab {
            color: #d0d0d4;
            background-color: #38414d;
            height: 22px;
            line-height: 22px;
            border-radius: 0;
            border: none;
            margin-right: 1px;
            font-size: 12px;
            padding: 0px 16px 3px;
            &.ivu-tabs-tab-active {
                background-color: #565c65;
            }
        }
        .ivu-tabs-nav-container {
            height: 23px;
        }
        .ivu-tabs-nav-right {
            .ivu-input {
                border: none;
            }
            .ivu-btn-small {
                height: 18px;
            }
            font-size: 12px; // height: 23px;
            // line-height: 23px;
            // >.pull-right {
            margin-right: 10px;
            a {
                vertical-align: middle;
                padding: 0 3px;
                &:hover {
                    color: #2d58ce;
                }
                >i {
                    // padding:0 2px;
                    font-size: 14px;
                }
            } //   }
            // a{
            //     height: 23px;
            //     line-height: 23px;
            // }
            // i.fa[title]{
            //     padding: 0 3px;
            //     margin: 0;
            //   }
            .ivu-btn:not(.ivu-btn-primary) {
                background: #3d424b;
                color: #c2c4d2;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    >.ivu-tabs-content {
        height: calc(100% - 23px);
        background-color: #1e2127;
        >.ivu-tabs-tabpane {
            position: relative;
            height: 100%;
        }
    }
    .ivu-select {
        font-size: 12px;
    }
    &.light {
        .ivu-radio-group > label.ivu-radio-wrapper{
            color: #2c3039;
        }
        >.ivu-tabs-bar {
            color: #2c3039;
            background-color: #e7e7e7;
            .ivu-tabs-tab {
                color: #2c3039;
                background-color:transparent; // height: 42px;
                height: inherit;
                line-height: 21px; 
                vertical-align: middle;
                // margin-right: 1px;
                // font-size: 14px;
                // padding: 0px 16px 3px;
                &.ivu-tabs-tab-active {
                    color: #608afd;
                    background-color: transparent;
                }
                i {
                    display: block;
                    margin: 8px auto 0 auto;
                    font-size: 24px;
                    height: auto;
                    width: auto;
                    width: 100%;
                }
            }
            .ivu-tabs-nav-container {
                height: 60px;
            }
        }
        >.ivu-tabs-content {
            background-color: #fff;
            .ivu-tabs-tabpane{
                padding: 10px;
            }
        }
        &.center {
            .ivu-tabs-nav-scroll .ivu-tabs-nav {
                float: inherit;
            } // text-align: center
        }
    }
}