<template>

  <div class="content-body">
    <div class="content-body-main">
      <div class="content-body-left">
        <ul class="y-tag y-vertical">
          <router-link tag="li" to="/trade/general/order">
            <a> 下单 </a>
          </router-link>
          <!-- <router-link tag="li" to="/trade/general/positions">
            <a> 持仓 </a>
          </router-link>
          <router-link tag="li" to="/trade/general/entrust">
            <a> 委托查询 </a>
          </router-link>
          <router-link tag="li" to="/trade/general/entrustNew">
            <a> 委托查询新 </a>
          </router-link>
          <router-link tag="li" to="/trade/general/deal/list">
            <a> 成交查询 </a>
          </router-link> -->
          <router-link tag="li" to="/trade/general/newSharePurchase">
            <a> 国债逆回购 </a>
          </router-link>
          <router-link tag="li" to="/trade/general/newStockBuy">
            <a> 新股申购 </a>
          </router-link>
          <router-link tag="li" to="/trade/general/allotment">
            <a> 配股 </a>
          </router-link>
          <router-link tag="li" to="/trade/general/fundsTransfer">
            <a> 资金划拨 </a>
          </router-link>
        </ul>
      </div>
      <!-- <keep-alive > -->
      <router-view></router-view>
      <!-- </keep-alive> -->
    </div>
  </div>

</template>
<script>
export default {
  data() {
    return {};
  },
  mounted: function() {
    var self = this;
    // self.$nextTick(() => {
    //   self
    //     .$intro()
    //     .setOptions({
    //       prevLabel: "&larr; 上一步",
    //       nextLabel: "下一步 &rarr;",
    //       skipLabel: "跳过",
    //       doneLabel: "完成"
    //     })
    //     .start()
    //     .oncomplete(() => {
    //       self.$router.push({ name: "trade_basket" });
    //     });
    //   self.$intro().showHints();
    // });
  }
};
</script>