<template>
  <div class="content-body-main">

    <div class="tab-wrapper">
      <a href="javascript:;" title="导入csv" class="file"><i class="f f-csv" title="导出csv"></i>
        <input type="file" id="upload" accept='.csv' @change='upload'>
      </a>

      <a href="javascript:;" title="导入csv2" class="file"><i class="f f-csv" title="导出csv"></i>
        <input type="file" id="upload" accept='.csv' @change='upload2'>
      </a>
      <a href="http://10.25.24.72:801/dl/smart/XTP.Smart.exe?t=1530778199111">下载</a>
      <a href="#" @click="open">下载2</a>
      <Modal v-model="modalLogin" title="0.9.5 更新提示" class="y-login2 " :closable="false" class-name="vertical-center-modal" width="400" :mask-closable="false">
        <div class="row">
          <!-- {{content}} -->
          <!-- <pre v-html="content"></pre> -->
          <ol>
            <li v-for="(s,i) in content" :key="i">{{s}}</li>
          </ol>
        </div>
        <div>
          <Progress :percent="10" hide-info></Progress>
        </div>
        <div slot="footer">
          <Button type="primary" size="large" long>立即重启
          </Button>
        </div>
      </Modal>
    </div>
    <div class="content-body-left">

    </div>
  </div>
</template>  
<style lang="scss" scoped>
.content-body-main > .content-body-left {
    width: 200px;
    min-width: 200px;
    height: auto;
    background-color: #22252b;
    padding: 5px 10px;
}
.y-table {
    display: table;
}
</style>
<style lang="scss">
.file {
    position: relative;
    display: inline-block;
    /*background: #D0EEFF;
    border: 1px solid #99D3F5;*/
    /*border-radius: 4px;
    padding: 4px 12px;*/
    overflow: hidden;
    /*color: #fff;*/
    text-decoration: none;
    /*text-indent: 0;
    line-height: 20px;*/
    /*background-color: #337ab7;
    border: 1px solid #2e6da4;*/
}

.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.y-login2 {
    pre,
    ol {
        overflow: auto;
        width: 100%;
        text-align: left;
        font-size: 14px;
        margin: 0;
        line-height: 21px;
        padding-left: 25px;
        min-height: 150px;
        max-height: 200px;
        // height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;

        &:hover {
            &::-webkit-scrollbar-thumb {
                background: #38414d;
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
            }
        }
        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
        ::-webkit-scrollbar-thumb:window-inactive {
            background-color: #38414d;
        }
    }

    ol {
        list-style-type: decimal;
        width: 100%;
        max-height: 250px;
        margin: 0 0 0 15px;
    }
}
</style>


<script>
import VueSimpleSuggest from "vue-simple-suggest";

// import Order from "@/components/order";
export default {
    components: {
        VueSimpleSuggest
        // Order
    },
    data() {
        return {
            animal: 1,
            modalLogin: false,
            package: app.package,
            config: app.config,
            csvPath: null,
            chosen: "",
            width: 0,
            height: 0,
            content: [],
            shell: null,
            isShow: false,
            sellPar: {
                code: "",
                type: "xjwt",
                price: 0,
                num: 0,
                numCopies: ""
            },
            modalAdd: false,
            currentRow: {
                ticker: "",
                ask: [],
                askQty: [],
                bid: [],
                bidQty: []
            },
            col: [
                {
                    title: "序号",
                    type: "index",
                    width: 50,
                    fixed: "left",
                    align: "right"
                },
                // {
                //   title: "名称",
                //   key: "tickerName",
                //   fixed: "left",
                //   width: 100
                // },
                {
                    title: "代码",
                    key: "ticker",
                    fixed: "left",
                    width: 90
                },
                {
                    title: "交易所",
                    key: "exchangeId",
                    width: 200,
                    sortable: true,
                    render: (h, par) => {
                        return h(
                            "div",
                            app.dataTypeToName(
                                par.row[par.column.key],
                                "XTP_EXCHANGE_TYPE"
                            )
                        );
                    }
                },

                {
                    title: "最新价",
                    key: "lastPrice",
                    width: 90,
                    align: "right",
                    sortable: true
                },
                {
                    title: "昨收价",
                    key: "preClosePrice",
                    width: 90,
                    align: "right",
                    sortable: true
                },
                {
                    title: "开盘价",
                    key: "openPrice",
                    width: 90,
                    align: "right",
                    sortable: true
                },
                {
                    title: "最高价",
                    key: "highPrice",
                    width: 90,
                    align: "right",
                    sortable: true
                },
                {
                    title: "最低价",
                    key: "lowPrice",
                    width: 90,
                    align: "right",
                    sortable: true
                },
                {
                    title: "收盘价",
                    key: "closePrice",
                    align: "right",
                    width: 90,
                    sortable: true
                }
            ],
            tData: [],
            tempTData: [],
            parSubscription: {
                tickers: [],
                count: 0,
                exchageId: 1
            },
            list: {
                //页面中委托的表头
                entrustCol: [
                    {
                        type: "selection",
                        width: 40,
                        align: "center",
                        fixed: "left"
                    },
                    {
                        title: "序号",
                        type: "index",
                        width: 50,
                        fixed: "left",
                        align: "right",
                        className: "y-yellow"
                    },
                    {
                        title: "订单号",
                        key: "order_id",
                        fixed: "left",
                        align: "center",
                        width: 100
                    },
                    // {
                    //   title: "证券",
                    //   key: "ticker",
                    //   width: 100,
                    //   align: "center",
                    //   sortable: true,
                    //   className: "info",
                    //   className: "y-yellow"
                    // },
                    {
                        title: "价格",
                        key: "price",
                        width: 80,
                        align: "right",
                        sortable: true,
                        className: "y-yellow"
                    },
                    {
                        title: "交易量",
                        key: "t_volume",
                        width: 90,
                        align: "right",
                        sortable: true,
                        className: "y-yellow"
                    },
                    {
                        title: "买/卖",
                        key: "dir",
                        width: 70,
                        align: "center",
                        sortable: true,
                        render: (h, par) => {
                            return h(
                                "div",
                                par.row[par.column.key] == "Sell" ? "卖" : "买"
                            );
                        }
                    },
                    {
                        title: "接收时间",
                        key: "rcv_time",
                        width: 200,
                        sortable: true,
                        align: "center"
                    },
                    // {
                    //   title: "发送委托前与行情时间差",
                    //   key: "TTT-b(ns)",
                    //   width: 200,
                    //   align: "center",
                    //   sortable: true
                    // },
                    // {
                    //   title: "发送委托后与行情时间差",
                    //   key: "TTT-a(ns)",
                    //   width: 200,
                    //   align: "center",
                    //   sortable: true
                    // },
                    {
                        title: "开平",
                        key: "offset",
                        width: 80,
                        align: "center",
                        sortable: true,
                        className: "info"
                    }
                ],
                monitorList: [],
                //页面中成交的表头
                dealCol: [
                    {
                        type: "selection",
                        width: 40,
                        align: "center",
                        fixed: "left"
                    },
                    {
                        title: "序号",
                        type: "index",
                        width: 60,
                        fixed: "left",
                        align: "right",
                        className: "y-yellow"
                    },
                    {
                        title: "任务号",
                        key: "task_id",
                        fixed: "left",
                        width: 100,
                        align: "center"
                    },
                    {
                        title: "证券",
                        key: "ticker",
                        width: 100,
                        align: "center",
                        sortable: true
                    },
                    {
                        title: "订单号",
                        key: "order_id",
                        width: 90,
                        align: "center",
                        sortable: true,
                        className: "info"
                    },
                    {
                        title: "订单号序号",
                        key: "idx",
                        width: 100,
                        sortable: true,
                        align: "center"
                    },

                    {
                        title: "接收时间",
                        key: "rcv_time",
                        width: 200,
                        sortable: true,
                        align: "center"
                    },
                    // {
                    //   title: "成交时间与发送委托后时间差",
                    //   key: "OTR(ns)",
                    //   width: 200,
                    //   align: "center",
                    //   sortable: true
                    // },
                    {
                        title: "交易量",
                        key: "t_volume",
                        width: 100,
                        align: "right",
                        sortable: true,
                        className: "y-yellow"
                    },
                    {
                        title: "成交价格",
                        key: "t_price",
                        width: 90,
                        align: "right",
                        sortable: true,
                        className: "y-yellow"
                    },
                    {
                        title: "成交时间",
                        key: "t_time",
                        width: 100,
                        sortable: true,
                        align: "center"
                    }
                    // {
                    //   title: "股票代码",
                    //   key: "ticker",
                    //   width: 120,
                    //   align: "center",
                    //   sortable: true
                    // }
                ],
                dealList: [],
                //页面中监听的表头
                monitorCol: [
                    {
                        type: "selection",
                        width: 40,
                        align: "center",
                        fixed: "left"
                    },
                    {
                        title: "证券名称",
                        key: "stkname",
                        fixed: "left",
                        width: 120,
                        align: "center"
                    },
                    {
                        title: "证券代码",
                        key: "stkcode",
                        width: 120,
                        fixed: "left",
                        align: "center",
                        sortable: true
                    },
                    {
                        title: "执行比率",
                        key: "exec_ratio",
                        width: 120,
                        align: "center",
                        sortable: true
                    },
                    {
                        title: "任务ID",
                        key: "id",
                        width: 120,
                        align: "center",
                        sortable: true
                    },
                    {
                        title: "委撤比",
                        key: "order_cancel_ratio",
                        width: 120,
                        align: "center",
                        sortable: true
                    },
                    {
                        title: "被动成交比例",
                        key: "passive_deal_ratio",
                        width: 120,
                        align: "center",
                        sortable: true
                    },
                    {
                        title: "策略成交价",
                        key: "algo_price",
                        width: 120,
                        align: "right",
                        sortable: true
                    },
                    {
                        title: "市场参考价",
                        key: "market_price",
                        width: 120,
                        align: "right",
                        sortable: true
                    },
                    {
                        title: "买卖方向",
                        key: "bsflag",
                        width: 120,
                        align: "center",
                        sortable: true,
                        render: (h, par) => {
                            return h(
                                "div",
                                par.row[par.column.key] == "sell" ? "卖" : "买"
                            );
                        }
                    },
                    {
                        title: "算法执行价差",
                        key: "price_bp",
                        width: 120,
                        align: "right",
                        sortable: true
                    },
                    {
                        title: "状态",
                        key: "status",
                        width: 120,
                        align: "center",
                        sortable: true,
                        render: (h, par) => {
                            return h(
                                "div",
                                par.row[par.column.key] == 1
                                    ? "正常"
                                    : par.row[par.column.key] == 2
                                        ? "完成"
                                        : par.row[par.column.key] == 3
                                            ? "正停止策略"
                                            : par.row[par.column.key] == 4
                                                ? "策略已停止"
                                                : par.row[par.column.key] == 9
                                                    ? "发现错误"
                                                    : "无效数据"
                            );
                        }
                    },
                    {
                        title: "策略提示",
                        key: "remark",
                        width: 300,
                        align: "center",
                        sortable: true
                    },
                    {
                        title: "更新时间",
                        key: "updated_time",
                        width: 200,
                        align: "center",
                        sortable: true,
                        render: (h, par) => {
                            return h(
                                "div",
                                par.row[par.column.key] != undefined
                                    ? new Date(par.row[par.column.key]).Format(
                                          "yyyy-MM-dd hh:mm:ss"
                                      )
                                    : ""
                            );
                        }
                    }
                ],
                monitorList: []
            }
        };
    },
    created() {
        let list = app.Cache.getArray(
            app.Cache.key.positionTiketList.toKeyName()
        );
        // [].filter()
        // this.parSubscription.tickers = arr;
        // this.parSubscription.count = arr.length;
        // let self = this;
        // let str = "处理已知bug";
        // for (let i = 0; i < 2; i++) {
        //   str += "\r\n处理已知bug";
        //   if (i == 2) {
        //     str +=
        //       "处理已知bug处理已知bug处理已知bug处理已知bug处理已知bug处理已知bug处理已知bug处理已知bug处理已知bug处理已知bug处理已知bug处理已知bug处理已知bug";
        //   }
        // }

        // self.content = str.split("\r\n");
    },
    destroyed() {
        app.log("销毁调用");
    },
    mounted: function() {
        var self = this;
        self.$nextTick(function() {
            self.shell = self.$electron && self.$electron.shell;

            //     self.getAlgorithmCarouselList();
            // let par = { page: 1, size: 10, total: true };
            // app.ajax(
            //   "user/orders",
            //   par,
            //   d => {
            //     debugger;
            //   },
            //   ex => {}
            // );
            // var arr = [];
            // for (let i = 0; i < 50; i++) {
            //   arr.push({
            //     ticker: "ticker" + i
            //   });
            // }
            // self.tData = arr;
        });
    },
    methods: {
        upload(el) {
            var self = this;
            var formData = new FormData();
            var name = $("input").val();

            var file = el.currentTarget.files[0];
            // 清空选择文件
            el.currentTarget.value = "";
            var reader = new FileReader(); //新建一个FileReader
            reader.readAsText(file, "UTF-8"); //读取文件
            reader.onload = function(evt) {
                //读取完文件之后会回来这里
                var csv = require("csv");
                console.log("file::", evt.target.result);
                csv.parse(evt.target.result, { columns: true }, function(
                    err,
                    data
                ) {
                    console.log("data::", data);
                });
                var csvParse = require("csv-parse/lib/sync");
                let obj1 = csvParse(evt.target.result, { columns: true });
                console.log("obj1::", obj1);

                let stringify = require("csv-stringify/lib/sync");
                let str = stringify(obj1);
                console.log("str::", str);
            };
        },
        upload2(el) {
            var self = this;
            var formData = new FormData();
            var name = $("input").val();

            var file = el.currentTarget.files[0];
            self.csvPath = file.path;

            // setInterval(function() {
            //   self.readFile();
            // }, 3000);
            // 清空选择文件
            // el.currentTarget.value = "";
            // var reader = new FileReader(); //新建一个FileReader
            // reader.readAsText(file, "UTF-8"); //读取文件
            // reader.onload = function(evt) {
            //   //读取完文件之后会回来这里
            //   var csv = require("csv");
            //   console.log("file::", evt.target.result);
            //   csv.parse(evt.target.result, { columns: true }, function(err, data) {
            //     console.log("data::", data);
            //   });
            //   var csvParse = require("csv-parse/lib/sync");
            //   let obj1 = csvParse(evt.target.result, { columns: true });
            //   console.log("obj1::", obj1);

            //   let stringify = require("csv-stringify/lib/sync");
            //   let str = stringify(obj1);
            //   console.log("str::", str);
            // };
        },
        readFile() {
            // let self = this;
            // const fs = require("fs");
            // // var data = fs.readFileSync(self.csvPath, {
            // //   // encoding: 'utf8'
            // // }); //
            // fs.readFile(self.csvPath, { encoding: "utf8" }, (err, data) => {
            //     debugger;
            //     console.log(data.toString());
            // });
            // debugger
        },
        open() {
            let self = this;
            self.shell.openExternal(
                "http://10.25.24.72:801/dl/smart/XTP.Smart.exe?t=1531115889242"
            );
        },
        simpleSuggestionList(a, b) {
            return ["Vue.js", "React.js", "Angular.js"].filter(it =>
                it.indexOf(a)
            );
        },
        changeCol(val) {
            app.log("val::", val);
            this.col = val;
        },
        add() {
            this.$Modal.confirm({
                render: h => {
                    return h("Input", {
                        props: {
                            value: this.addVal,
                            autofocus: true,
                            placeholder: "Please enter your name..."
                        },
                        on: {
                            input: val => {
                                this.addVal = val;
                            }
                        }
                    });
                }
            });
        },

        sel() {
            app.log("this.parSubscription:::", this.parSubscription);

            this.$socket2.emit("currentRow", this.parSubscription);
            // app.log("查询");
            //  app.Cache.setObject(
            //     app.Cache.key.positionTiketList.toKeyName(),
            //     self.positionTiketList
            //   );
            //   self.$socket.emit("subscribeAllMarketData", { });
        },
        // sel2() {
        //   this.$socket.emit("queryIPOInfoList", { requestId: 1 });
        // },
        changeRow(cRow, oldRow) {
            app.log("cRow:::", cRow);
            this.currentRow.ticker = cRow.ticker;
            this.currentRow.ask = cRow.ask;
            this.currentRow.bid = cRow.bid;

            // this.parCancelOrder.orderXtpId = cRow.orderXtpId;
        },
        /**
         * 页面中的监控,成交搜索
         */
        getAlgorithmCarouselList() {
            var self = this;
            self.$get("task").then(res => {
                if (res == "" && res.length === 0) return;
                let len = res.length - 1;
                if (self.task_id == null) self.task_id = res[len].id;
                self.list.monitorList = [];
                self.list.monitorList = res;
                // self.monitorList.forEach(it => {
                //   (it.status == 4) && (it._disabled = true);
                //   let cls = (it.bsflag == 'buy' ? 'y-yellow' : 'y-blue');
                //   let statusC = (it.status == 1 ? 'y-info' : it.status == 2 ? 'y-success' : it.status == 3 ? 'y-warning' : it.status == 4 ? 'y-warning' : 'y-error');
                //   it.cellClassName = {
                //     stkcode: 'y-yellow',
                //     bsflag: cls,
                //     id: 'y-yellow',
                //     status: statusC
                //   };
                // })
            });
        }
    }
};
</script>