<template>
    <div class="wrap">
    <input v-model="textValue" @click='isShow = !isShow'><Icon type="arrow-down-b"></Icon></input>
    <transition name="fade">
        <ul class="clearfix wrap_ul" v-show='isShow'>
            <li class="option" :class='classObject' v-for='(item, index) in transfer' :value='item.id' :key='item.id' @click='selectText(index)'>
                <span class="pull-left">{{item.stkcode}}</span>
                <span class="pull-right">{{item.stkname}}</span>
            </li>
        </ul>
    </transition>    
</div>
</template>
<script>
export default {
    props: {
        transfer:Array
    },
    data:function(){
        return {
            textValue:this.transfer[this.transfer.length-1].stkcode,
            isShow:false,
        }
    },
    methods:{
        selectText:function(index){
            this.textValue = this.transfer[index].stkcode;
            this.isShow = false;
            let id = this.transfer[index].id;
            this.$emit('itemclick',id);
        },
        ceshi:function(){
            this.isShow = false;
        }
    },
    mounted:function(){
        let self = this;
        document.onclick=function(){
            // if(self.isShow) self.isShow = false;
            // app.log(this.transfer.find(it => it.stkcode));
            app.log(self.transfer.map(it => it.stkcode));
            app.log(self.textValue);
        }
    },
    computed:{
        classObject: function() {
            return {
                on: this.textValue == this.transfer.find(it => it.stkcode)
            }
        }
        // return {
        //     on: this.textValue == this.transfer.find(it => it.stkcode)
        // }
    }
}
</script>
<style lang='scss' scoped>
.wrap{
    position:relative;
    width:100%;
    height:100%;
    input{
        width: 100%;
        position: relative;
        outline: none;
        border-radius: 3px;
        border: none;
        height: 29px;
        padding-left: 3px;
    }
    i{
        position: absolute;
        right: 10px;
        top: 6px;
    }
    .wrap_ul{
        position: absolute;
        background: #fff;
        width: 100%;
        border-radius: 5px;
        color: #000;
        z-index: 10;
        top:33px;
        .option:hover{
            background:#000;
            color:#fff;
        }
    }
    .on{
        background:#000;
        color:#fff;
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
}
</style>


