.ivu-table-cell {
  padding-left: 5px;
  padding-right: 5px;
}

@keyframes y-red-bg {
  0% {
    background-color: rgba(95, 35, 40, 0.3)
  }
  25% {
    background-color: rgba(95, 35, 40, 1)
  }
  50% {
    background-color: rgba(95, 35, 40, 0.3)
  }
  75% {
    background-color: rgba(95, 35, 40, 1)
  }
  100% {
    background-color: rgba(95, 35, 40, 0)
  }
}

@keyframes y-green-bg {
  0% {
    background-color: rgba(31, 61, 56, 0.3)
  }
  25% {
    background-color: rgba(31, 61, 56, 1)
  }
  50% {
    background-color: rgba(31, 61, 56, 0.3)
  }
  75% {
    background-color: rgba(31, 61, 56, 1)
  }
  100% {
    background-color: rgba(31, 61, 56, 0)
  }
}

// @-webkit-keyframes myfirst  
// {
// 0%   {background: red; }
// 25%  {background: yellow; }
// 50%  {background: blue; }
// 75%  {background: green; }
// 100% {background: red; }
// }
.ivu-table {
  color: #d0d0d4;
  font-size: 14px;
  background-color: #1e2127;
  .y-red-bg {
    // background-color: #5f2328;
    background-color: rgba(95, 35, 40, 1);
    animation: y-red-bg 3s linear 0s 1 normal forwards; // -webkit-animation: myfirst 2s linear 2s infinite alternate;
  }
  .y-green-bg {
    // background-color: rgba(31,61,56,1)  ;
    // background-color: #1f3d38;
    animation: y-green-bg 3s linear 0s 1 normal forwards; // -webkit-animation: myfirst 2s linear 2s infinite alternate;
  }
  th .ivu-table-cell {
    cursor: default;
  }
  .ivu-table-cell {
    >.ivu-checkbox-wrapper {
      margin-bottom: 0;
      margin-right: 0;
      &:not(.ivu-checkbox-wrapper-checked) .ivu-checkbox-inner {
        background-color: #d0d0d4;
      }
    }
  }
  .ivu-table-small th {
    height: 24px;
  }
  &:before,
  &:after {
    background-color: #13171a;
  }
  &.ivu-table-border th {
    border-right: 1px solid #13171a;
    border-bottom: 1px solid #13171a;
  }
  &.ivu-table-border td {
    border-right: 1px solid #262b35;
    border-bottom: 1px solid #262b35;
  }
  th,
  td {
    background-color: #1e2127;
    font-weight: normal;
  }
  .ivu-table-fixed-right::before,
  .ivu-table-fixed::before {
    background-color: #262b35;
  }
  .ivu-table-row-hover,
  .ivu-table-row-highlight,
  .ivu-table-row-hover.ivu-table-row-highlight {
    td {
      background-color: #2a3c74;
    }
  }
  &:hover {
    .ivu-table-body,
    .ivu-table-tip {
      overflow: scroll;
      &::-webkit-scrollbar-thumb {
        background: #454a51;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      }
      &::-webkit-scrollbar-track {
        background-color: #1e2127;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
    } // .ivu-table-tip {
    //   overflow-y: hidden;
    // }
  }
  .ivu-table-body,
  .ivu-table-tip {
    overflow: auto;
    .ivu-table-tip {
      overflow-y: hidden;
    }
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: transparent;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.0);
    }
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    } // 鼠标悬浮显示滚动条
    // &:hover{ 
    //   &::-webkit-scrollbar-thumb { 
    //     background:#454a51;
    //     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    //   }
    //   &::-webkit-scrollbar-track { 
    //     background-color: #1e2127; 
    //     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
    //   } 
    // }
    // 一直显示滚动条
    // &::-webkit-scrollbar-thumb {
    //   // border-radius: 4px;
    //   background:#454a51;
    //   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    // }
    // &::-webkit-scrollbar-track { 
    //   background-color: #1e2127; 
    //   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
    // } 
    // &::-webkit-scrollbar-thumb {
    //   // border-radius: 4px;
    //   background:#fff;
    //   -webkit-box-shadow: inset 0 0 6px rgba(255, 0, 0, 1); 
    // }
    // &::-webkit-scrollbar-track { 
    //   background-color: #fff; 
    //   -webkit-box-shadow: inset 0 0 6px rgba(255, 0, 0, 1); 
    // } 
  }
}