<template>
  <div class="content-body-right">
    <div class="tab-wrapper">
      <div class="tab-bar">
        <!-- <div class="pull-left">
          资产净值
          <span>100</span>
          参考市值
          <span>100</span>
          资金
          <span>100</span>
        </div> -->
        <div class="pull-right">
          <a>
            <i class="f f-refresh" @click="load" title="刷新"></i>
          </a>

          <a>
            <i class="f f-cog" @click="isShow = true" title="设置"></i>
          </a>
        </div>
      </div>
      <!-- 委托查询 -->
      <div class="tab-table">
        <Table class="i-table" :width='width' :height="height" :columns="columns" :data="tData" size="small" :border='true' ref="table"></Table>

        <!-- <Table class="i-table" :width='width' :height="height" :columns="columns" :data="tData" size="small" :border='true' ref="table"></Table> -->
      </div>
    </div>
    <col-setting v-model='isShow' @on-changeCol='changeCol' :col='columns'></col-setting>
  </div>
</template>
<style lang="scss" scoped>
ul {
  display: flex;
  > li {
    list-style: none;
    // width: 140px;
    // min-width:140px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 22px;
  }
  > li:last-child {
    flex: 1;
    padding-right: 20px;
  }
}
.ivu-tabs.ivu-tabs-card {
  height: 100%;
  width: 100%;
}
.tab-bar {
  // padding: 0 10px;
  .pull-left > span {
    margin-right: 20px;
  }
}

// .i-table {
//   position: relative;
// }
// .ivu-tabs.ivu-tabs-card > .ivu-tabs-content {
//   height: calc(100% - 23px) !important;
// }
</style> 

<script>
import ColSetting from "@/components/colSetting";
export default {
  components: {
    ColSetting
  },
  data() {
    return {
      data1: { v1: 100, v2: 200, v3: 300 },
      width: 0,
      height: 0,
      isShow: false,
      sellPar: {
        code: "",
        type: "xjwt",
        price: 0,
        num: 0,
        numCopies: ""
      },
      columns: [
        {
          title: "序号",
          type: "index",
          width: 40,
          fixed: "left",
          align: "right"
        },
        {
          title: "名称",
          key: "tickerName",
          fixed: "left",
          width: 100,
          align: "left",
          className: "y-yellow"
        },
        {
          title: "代码",
          key: "ticker",
          fixed: "left",
          width: 75,
          align: "center"
        },
        {
          title: "交易所",
          key: "xtpMarketType",
          width: 90,
          align: "center",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(par.row[par.column.key], "XTP_MARKET_TYPE")
            );
          }
        },
        {
          title: "总持仓",
          key: "totalQty",
          width: 100,
          align: "right",
          className: "y-yellow",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == (0 || null)
                ? 0
                : par.row[par.column.key].Format("0,0")
            );
          }
        },
        {
          title: "可卖持仓",
          key: "sellableQty",
          width: 120,
          align: "right",
          className: "y-error",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == (0 || null)
                ? 0
                : par.row[par.column.key].Format("0,0")
            );
          }
        },
        {
          title: "持仓成本",
          key: "avgPrice",
          className: "y-yellow",
          width: 100,
          align: "right",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              (par.row["xtpMarketType"] === "XTP_MKT_SH_A" &&
                par.row["ticker"].slice(0, 2) === "51") ||
                (par.row["xtpMarketType"] === "XTP_MKT_SZ_A" &&
                  par.row["ticker"].slice(0, 2) === "15") ||
                this.xtpBusinessType == "XTP_BUSINESS_TYPE_REPO" ||
                this.xtpBusinessType == "XTP_BUSINESS_TYPE_ETF"
                ? par.row[par.column.key].toFixed(3)
                : par.row[par.column.key].toFixed(2)
            );
          }
        },
        {
          title: "浮动盈亏",
          key: "unrealizedPnl",
          width: 100,
          align: "center",
          sortable: true,
          // render: (h, par) => {
          //   return h(
          //     "div",
          //   );
          // }
        },
        {
          title: "昨日持仓",
          key: "yesterdayPosition",
          width: 100,
          align: "right",
          sortable: true,
          className: "y-yellow",
        },
        {
          title: "可申购/赎回数量",
          key: "purchaseRedeemableQty",
          width: 150,
          align: "right",
          className: "y-error",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == (0 || null)
                ? 0
                : par.row[par.column.key].Format("0,0")
            );
          }
        }
      ],
      tData: []
    };
  },
  watch: {
    "$store.state.tran.positionList": function(val) {
      this.tData = val;
    }
  },
  mounted: function() {
    var self = this;
    self.$nextTick(function() {
      self.load();
      // setTimeout(function() {
      //   for (let i = 0; i < 50; i++) {
      //     self.tData.push({
      //       name: "Name" + (i + 1),
      //       fav: 0,
      //       show: 7302,
      //       weak: 5627,
      //       signin: 1563,
      //       click: 4254,
      //       active: 1438,
      //       day7: 274,
      //       day30: 285,
      //       tomorrow: 1727,
      //       day: 558,
      //       week: 4440,
      //       month: 5610
      //     });
      //   }
      // }, 100);

      // app.log("成功" + res);
      self.autoTableSize();
      window.addEventListener(
        "resize",
        function() {
          self.autoTableSize();
        },
        false
      );
    });
  },
  created() { 
    let self = this;
    self.$nextTick(() => {
      setTimeout(() => {
        self.tData = self.$store.state.tran.positionList;
      }, 0); 
    });
  },
  methods: {
    changeCol(val) {
      this.columns = val;
    },
    load() {
      let self = this;
      app.log("查询");
      self.$socket.emit("queryPosition", { ticker: "", requestId: 7 });
    },
    autoTableSize() {
      var self = this;
      self.width = $(".i-table")
        .parent()
        .width();
      self.height = $(".i-table")
        .parent()
        .height();
      app.log("w|h", self.width, self.height);
    }
  },
  computed: {
    // tData: function() {
    //   return this.$store.state.tran.positionList;
    // },
  }
};
</script>