<template>

  <div class="content-body">
    <div class="content-body-main">
      <div class="content-body-left">
        <ul class="y-tag y-vertical"> 
          <router-link tag="li" to="/trade/other/positions">
            <a> 持仓查询 </a>
          </router-link>
            <router-link tag="li" to="/trade/other/entrust">
            <a> 委托查询 </a>
          </router-link>
          <router-link tag="li" to="/trade/other/deal">
            <a> 成交查询 </a>
          </router-link>
        </ul>
      </div> 
      <router-view></router-view> 
    </div>
  </div>

</template>
<script>
export default {
  data() {
    return {};
  },
  mounted: function() { 
  }
};
</script>