<template>
  <div class="componentsOrder">
    <Tabs v-model="currentTab" type="card" :animated="false">
      <TabPane name="monitor" label="今日监控" v-if="algorithmType === 'algorithm'">
        <Table
          class="i-table"
          data-k="monitor"
          @on-selection-change="v=>monitorId=v"
          @on-current-change="getChartId"
          highlight-row
          :width="width.monitor"
          :height="height.monitor"
          :columns="monitorCol"
          :data="monitorList"
          size="small"
          :border="true"
          ref="monitor"
          type="index"
        ></Table>
      </TabPane>
      <TabPane name="entrust" label="今日委托">
        <div
          style="position: relative;height:calc(100% - 24px);"
          v-if="algorithmType === 'algorithm'"
        >
          <Table
            class="i-table"
            data-k="entrust"
            @on-selection-change="v=>parCancelOrderXtpId=v"
            @on-row-dblclick="entrustRowDblclick"
            :width="width.entrust"
            :height="height.entrust"
            :columns="entrustCol"
            :data="entrust.list"
            size="small"
            :border="true"
            ref="entrust"
          ></Table>
        </div>
        <div style="position: relative;height:calc(100% - 24px);" v-else>
          <Table
            class="i-table"
            @on-row-dblclick="entrustRowDblclick"
            data-k="entrust"
            @on-selection-change="v=>parCancelOrderXtpId=v"
            :width="width.entrust"
            :height="height.entrust"
            :columns="entrust.col"
            :data="entrust.list"
            size="small"
            :border="true"
            ref="entrust"
          ></Table>
        </div>
        <div style="margin: 0px;">
          <div style="float: right;">
            <Page
              :total="entrust.total"
              :page-size="entrust.page.size"
              show-sizer
              show-elevator
              :page-size-opts="[10,20,50,100]"
              size="small"
              :current="entrust.page.page"
              @on-change="entrustChangePage"
              @on-page-size-change="entrustPageSizeChange"
            ></Page>
          </div>
        </div>
      </TabPane>
      <TabPane name="deal" label="今日成交">
        <div
          style="position: relative;height:calc(100% - 24px);"
          v-if="algorithmType === 'algorithm'"
        >
          <Table
            class="i-table"
            data-k="deal"
            :width="width.deal"
            :height="height.deal"
            :columns="dealCol"
            :data="deal.list"
            size="small"
            :border="true"
            ref="table"
          ></Table>
        </div>
        <div style="position: relative;height:calc(100% - 24px);" v-else>
          <Table
            class="i-table"
            data-k="deal"
            :width="width.deal"
            :height="height.deal"
            :columns="deal.col"
            :data="deal.list"
            size="small"
            :border="true"
            ref="table"
          ></Table>
        </div>
        <div style="margin: 0px;">
          <div style="float: right;">
            <Page
              :total="deal.total"
              :page-size="deal.page.size"
              show-sizer
              show-elevator
              :page-size-opts="[10,20,50,100]"
              size="small"
              :current="deal.page.page"
              @on-change="dealChangePage"
              @on-page-size-change="dealPageSizeChange"
            ></Page>
          </div>
        </div>
      </TabPane>
      <!-- <TabPane name="retractable" label="可撤委托" v-if="algorithmType !== 'algorithm'&&entrust.page.type!='XTP_BUSINESS_TYPE_IPOS'"> -->
      <TabPane name="retractable" label="可撤委托" v-if="retractableShow">
        <div style="position: relative;height:calc(100% - 24px);">
          <Table
            class="i-table"
            data-k="retractable"
            @on-row-dblclick="entrustRowDblclick"
            @on-selection-change="v=>parCancelOrderXtpId=v"
            :width="width.retractable"
            :height="height.retractable"
            :columns="entrustList.col"
            :data="entrustList.list"
            size="small"
            :border="true"
            ref="retractable"
          ></Table>
        </div>
        <div style="margin: 0px;">
          <div style="float: right;">
            <Page
              :total="entrustList.total"
              :page-size="entrustList.page.size"
              show-sizer
              show-elevator
              :page-size-opts="[10,20,50,100]"
              size="small"
              :current="entrustList.page.page"
              @on-change="entrustListChangePage"
              @on-page-size-change="entrustListPageSizeChange"
            ></Page>
          </div>
        </div>
      </TabPane>
      <div slot="extra">
        <div class="pull-left anchorPoint">
          <!-- <Select size="small" v-model="entrust.page.cancelenable" v-show="currentTab=='entrust' && entrust.page.type!='XTP_BUSINESS_TYPE_IPOS'" style="width:90px" placeholder="全部委托">
                        <Option value='false'>全部委托</Option>
                        <Option value='true'>可撤委托</Option>
          </Select>-->
          <Button
            type="primary"
            size="small"
            v-show="(currentTab=='entrust' || currentTab=='retractable')&&entrust.page.type!='XTP_BUSINESS_TYPE_IPOS'"
            :disabled="!parCancelOrderXtpId.length"
            @click="cancelOrder"
          >撤单</Button>
        </div>
        <Button
          type="primary"
          slot="operatingMonitor"
          size="small"
          v-show="currentTab=='monitor'"
          :disabled="!monitorId.length"
          @click="canceMonitorIdOrder"
        >停止拆单</Button>
        <a
          :href="exportCSVUrl"
          v-show="((currentTab !== 'monitor' && currentTab !== 'retractable'))"
        >
          <i class="f f-csv" title="导出csv"></i>
        </a>
        <a @click="refresh" v-show="currentTab !== 'monitor'">
          <i class="f f-refresh" title="刷新"></i>
        </a>
        <a v-if="currentTab == 'entrust'">
          <i class="f f-cog" @click="isShow = true" title="设置"></i>
        </a>
        <a v-else-if="currentTab == 'deal'">
          <i class="f f-cog" @click="isModel= true" title="设置"></i>
        </a>
        <a v-else-if="currentTab=='monitor'">
          <i class="f f-cog" @click="isMonitor= true" title="设置"></i>
        </a>
      </div>
    </Tabs>
    <col-setting v-model="isShow" @on-changeCol="changeCol" :col="entrust.col"></col-setting>
    <col-setting v-model="isModel" @on-changeCol="changeColl" :col="deal.col"></col-setting>
    <col-setting v-model="isMonitor" @on-changeCol="changemonitorCol" :col="monitorCol"></col-setting>
  </div>
</template>
<style lang='scss'>
.componentsOrder {
  width: 100%;
  height: 100%;
  position: relative;
}
.anchorPoint {
  position: absolute;
  left: 48px;
  z-index: 100;
  top: 28px;
}
div.tagRemoveStyle {
  border: none !important;
  background: rgb(30, 33, 39) !important;
  border: none !important;
  background: #1e2127 !important;
  padding: 0 !important;
  height: auto !important;
  line-height: 24px;
  span:last-child {
    color: #fff !important;
  }
}
.ivu-table-row-highlight .tagRemoveStyle {
  background: #2a3c74 !important;
}
.ivu-table-row-hover .tagRemoveStyle {
  background: #2a3c74 !important;
}
</style>


<script>
import ColSetting from "@/components/colSetting";
export default {
  components: {
    ColSetting
  },
  name: "order",
  props: {
    xtpBusinessType: {
      type: String,
      default: "all"
    },
    algorithmType: {
      type: String,
      default: ""
    },
    withdrawalListen: {
      type: Boolean,
      default: false
    }
  },
  data: function() {
    let self = this;

    return {
      tickerList: {
        buy: [],
        sell: []
      },
      retractableShow: false,
      //控制设置中的模态框显示隐藏
      isShow: false,
      isModel: false,
      isMonitor: false,
      width: {
        entrust: 0,
        deal: 0,
        monitor: 0,
        retractable: 0
      },
      height: {
        entrust: 0,
        deal: 0,
        monitor: 0,
        retractable: 0
      },
      currentLoading: "",
      currentTab: self.algorithmType == "algorithm" ? "monitor" : "entrust",
      parCancelOrderXtpId: [],
      parCancelOrder: {
        orderXtpId: ""
      },
      parEntrust: {
        state: -1
      },
      parQueryTrader: {
        requestId: 1,
        xtpQueryTraderReq: {
          ticker: "",
          beginTime: 0,
          endTime: 0
        }
      },
      entrust: {
        page: {
          size: 20,
          page: 1,
          total: true,
          type: "all",
          ticker: "",
          cancelenable: "false",
          date: new Date().Format("yyyy-MM-dd")
        },
        list: [],
        total: 0,
        col: [
          {
            type: "selection",
            width: 40,
            align: "center",
            fixed: "left"
          },
          {
            title: "序号",
            // type: "index",
            width: 50,
            fixed: "left",
            align: "center",
            render: (h, par) => {
              let self = this;
              return h(
                "div",
                (self.entrust.page.page - 1) * self.entrust.page.size +
                  par.index +
                  1
              );
            }
          },
          {
            title: "买/卖",
            key: "xtpSideType",
            width: 70,
            align: "center",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                app.dataTypeToName(par.row[par.column.key], "XTP_SIDE_TYPE")
              );
            }
          },
          // {
          //   title: "母单编号",
          //   key: "orderClientId",
          //   sortable: true,
          //   width: 100,
          //   align: "center",
          //   className: "y-yellow",
          //   render: (h, par) => {
          //     return h("div", parseInt(par.row[par.column.key]));
          //   }
          // },
          {
            title: "证券代码",
            key: "ticker",
            width: 90,
            align: "center",
            sortable: true
          },
          {
            title: "证券名称",
            key: "tickerName",
            width: 90,
            sortable: true,
            align: "left",
            className: "y-yellow"
          },
          {
            title: "报单状态",
            key: "orderStatus",
            width: 90,
            sortable: true,
            align: "left",
            render: (h, par) => {
              return h(
                "div",
                app.dataTypeToName(
                  par.row[par.column.key],
                  "XTP_ORDER_STATUS_TYPE"
                )
              );
            }
          },
          {
            title: "价格条件",
            key: "xtpPriceType",
            width: 90,
            sortable: true,
            align: "center",
            render: (h, par) => {
              return h(
                "div",
                app.dataTypeToName(par.row[par.column.key], "XTP_PRICE_TYPE")
              );
            }
          },
          {
            title: "委托价格",
            key: "price",
            width: 90,
            align: "right",
            sortable: true,
            className: "y-yellow",
            render: (h, par) => {
              return h(
                "div",
                (par.row["xtpMarketType"] === "XTP_MKT_SH_A" &&
                  par.row["ticker"].slice(0, 2) === "51") ||
                  (par.row["xtpMarketType"] === "XTP_MKT_SZ_A" &&
                    par.row["ticker"].slice(0, 2) === "15") ||
                  this.xtpBusinessType == "XTP_BUSINESS_TYPE_REPO" ||
                  this.xtpBusinessType == "XTP_BUSINESS_TYPE_ETF"
                  ? par.row[par.column.key].toFixed(3)
                  : par.row[par.column.key].toFixed(2)
              );
            }
          },
          {
            title: "委托数量",
            key: "quantity",
            width: 90,
            align: "right",
            sortable: true,
            className: "y-error",
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          },
          {
            title: "成交数量",
            key: "qtyTraded",
            width: 100,
            align: "right",
            className: "y-yellow",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          },
          {
            title: "剩余数量",
            key: "qtyLeft",
            width: 100,
            align: "right",
            sortable: true,
            className: "y-error",
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          },
          {
            title: "成交金额",
            key: "tradeAmount",
            width: 100,
            align: "right",
            sortable: true,
            className: "info",
            className: "y-yellow",
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0.00")
              );
            }
          },
          {
            title: "委托时间",
            key: "insertTime",
            width: 160,
            align: "center",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] != undefined
                  ? par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss")
                  : ""
              );
            }
          },
          {
            title: "撤销时间",
            key: "cancelTime",
            width: 160,
            align: "center",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] != undefined
                  ? par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss")
                  : ""
              );
            }
          },
          {
            title: "XTPID",
            key: "orderXtpId",
            sortable: true,
            width: 170,
            align: "center"
          }
        ]
      },
      entrustList: {
        page: {
          size: 20,
          page: 1,
          total: true,
          type: "all",
          ticker: "",
          cancelenable: "true",
          date: new Date().Format("yyyy-MM-dd")
        },
        list: [],
        total: 0,
        col: [
          {
            type: "selection",
            width: 40,
            align: "center",
            fixed: "left"
          },
          {
            title: "序号",
            // type: "index",
            width: 50,
            fixed: "left",
            align: "center",
            render: (h, par) => {
              let self = this;
              return h(
                "div",
                (self.entrust.page.page - 1) * self.entrust.page.size +
                  par.index +
                  1
              );
            }
          },
          {
            title: "买/卖",
            key: "xtpSideType",
            width: 70,
            align: "center",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                app.dataTypeToName(par.row[par.column.key], "XTP_SIDE_TYPE")
              );
            }
          },
          {
            title: "证券代码",
            key: "ticker",
            width: 90,
            align: "center",
            sortable: true
          },
          {
            title: "证券名称",
            key: "tickerName",
            width: 90,
            sortable: true,
            align: "left",
            className: "y-yellow"
          },
          {
            title: "报单状态",
            key: "orderStatus",
            width: 90,
            sortable: true,
            align: "left",
            render: (h, par) => {
              return h(
                "div",
                app.dataTypeToName(
                  par.row[par.column.key],
                  "XTP_ORDER_STATUS_TYPE"
                )
              );
            }
          },
          {
            title: "价格条件",
            key: "xtpPriceType",
            width: 90,
            sortable: true,
            align: "center",
            render: (h, par) => {
              return h(
                "div",
                app.dataTypeToName(par.row[par.column.key], "XTP_PRICE_TYPE")
              );
            }
          },
          {
            title: "委托价格",
            key: "price",
            width: 90,
            align: "right",
            sortable: true,
            className: "y-yellow",
            render: (h, par) => {
              return h(
                "div",
                (par.row["xtpMarketType"] === "XTP_MKT_SH_A" &&
                  par.row["ticker"].slice(0, 2) === "51") ||
                  (par.row["xtpMarketType"] === "XTP_MKT_SZ_A" &&
                    par.row["ticker"].slice(0, 2) === "15") ||
                  this.xtpBusinessType == "XTP_BUSINESS_TYPE_REPO" ||
                  this.xtpBusinessType == "XTP_BUSINESS_TYPE_ETF"
                  ? par.row[par.column.key].toFixed(3)
                  : par.row[par.column.key].toFixed(2)
              );
            }
          },
          {
            title: "委托数量",
            key: "quantity",
            width: 90,
            align: "right",
            sortable: true,
            className: "y-error",
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          },
          {
            title: "成交数量",
            key: "qtyTraded",
            width: 100,
            align: "right",
            className: "y-yellow",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          },
          {
            title: "剩余数量",
            key: "qtyLeft",
            width: 100,
            align: "right",
            sortable: true,
            className: "y-error",
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          },
          {
            title: "成交金额",
            key: "tradeAmount",
            width: 100,
            align: "right",
            sortable: true,
            className: "info",
            className: "y-yellow",
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0.00")
              );
            }
          },
          {
            title: "委托时间",
            key: "insertTime",
            width: 160,
            align: "center",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] != undefined
                  ? par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss")
                  : ""
              );
            }
          },
          {
            title: "撤销时间",
            key: "cancelTime",
            width: 160,
            align: "center",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] != undefined
                  ? par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss")
                  : ""
              );
            }
          },
          {
            title: "XTPID",
            key: "orderXtpId",
            sortable: true,
            width: 170,
            align: "center"
          }
        ]
      },
      deal: {
        page: {
          size: 20,
          page: 1,
          total: true,
          type: "all",
          ticker: "",
          date: new Date().Format("yyyy-MM-dd")
        },
        initList: [],
        list: [],
        col: [
          {
            title: "序号",
            width: 50,
            fixed: "left",
            align: "right",
            render: (h, par) => {
              let self = this;
              return h(
                "div",
                (self.deal.page.page - 1) * self.deal.page.size + par.index + 1
              );
            }
          },
          {
            title: "买/卖",
            key: "xtpSideType",
            width: 70,
            align: "center",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                app.dataTypeToName(par.row[par.column.key], "XTP_SIDE_TYPE")
              );
            }
          },
          // {
          //   title: "母单编号",
          //   key: "orderClientId",
          //   sortable: true,
          //   width: 100,
          //   align: "center",
          //   className: "y-yellow",
          //   render: (h, par) => {
          //     return h("div", parseInt(par.row[par.column.key]));
          //   }
          // },
          {
            title: "证券代码",
            key: "ticker",
            width: 90,
            sortable: true,
            className: "info",
            align: "center"
          },
          {
            title: "证券名称",
            key: "tickerName",
            width: 90,
            sortable: true,
            align: "left",
            className: "y-yellow"
          },
          {
            title: "成交价格",
            key: "price",
            width: 100,
            align: "right",
            sortable: true,
            className: "y-yellow",
            render: (h, par) => {
              return h(
                "div",
                (par.row["xtpMarketType"] === "XTP_MKT_SH_A" &&
                  par.row["ticker"].slice(0, 2) === "51") ||
                  (par.row["xtpMarketType"] === "XTP_MKT_SZ_A" &&
                    par.row["ticker"].slice(0, 2) === "15") ||
                  this.xtpBusinessType == "XTP_BUSINESS_TYPE_REPO" ||
                  this.xtpBusinessType == "XTP_BUSINESS_TYPE_ETF"
                  ? par.row[par.column.key].toFixed(3)
                  : par.row[par.column.key].toFixed(2)
              );
            }
          },
          {
            title: "成交数量",
            key: "quantity",
            width: 100,
            align: "right",
            sortable: true,
            className: "y-error",
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          },
          {
            title: "成交金额",
            key: "tradeAmount",
            width: 100,
            align: "right",
            sortable: true,
            className: "y-yellow",
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0.00")
              );
            }
          },
          {
            title: "成交时间",
            key: "tradeTime",
            width: 160,
            sortable: true,
            align: "center",
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss")
              );
            }
          },
          {
            title: "XTPID",
            key: "orderXtpId",
            sortable: true,
            width: 170,
            align: "center"
          }
          //   {
          //     title: "成交类型",
          //     key: "tradeType",
          //     width: 100,
          //     align: "center",
          //     sortable: true,
          //     render: (h, par) => {
          //       return h(
          //         "div",
          //         app.dataTypeToName(par.row[par.column.key], "TXTPTradeTypeType")
          //       );
          //     }
          //   },
          //   {
          //     title: "业务类型",
          //     key: "xtpBusinessType",
          //     width: 100,
          //     align: "center",
          //     sortable: true,
          //     render: (h, par) => {
          //       return h(
          //         "div",
          //         app.dataTypeToName(par.row[par.column.key], "XTP_BUSINESS_TYPE")
          //       );
          //     }
          //   },
          //   {
          //     title: "交易员代码",
          //     key: "branchPbu",
          //     width: 110,
          //     sortable: true,
          //     align: "center"
          //   }
        ]
      },
      entrustCol: [
        {
          type: "selection",
          width: 40,
          align: "center",
          fixed: "left"
        },
        {
          title: "序号",
          // type: "index",
          width: 50,
          fixed: "left",
          align: "center",
          render: (h, par) => {
            let self = this;
            return h(
              "div",
              (self.entrust.page.page - 1) * self.entrust.page.size +
                par.index +
                1
            );
          }
        },
        {
          title: "买/卖",
          key: "xtpSideType",
          width: 70,
          align: "center",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(par.row[par.column.key], "XTP_SIDE_TYPE")
            );
          }
        },
        {
          title: "母单编号",
          key: "orderClientId",
          sortable: true,
          width: 120,
          align: "center",
          className: "y-yellow",
          render: (h, par) => {
            return h("div", parseInt(par.row[par.column.key]));
          }
        },
        {
          title: "证券代码",
          key: "ticker",
          width: 90,
          align: "center",
          sortable: true
        },
        {
          title: "证券名称",
          key: "tickerName",
          width: 90,
          sortable: true,
          align: "left",
          className: "y-yellow"
        },
        {
          title: "报单状态",
          key: "orderStatus",
          width: 90,
          sortable: true,
          align: "left",
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(
                par.row[par.column.key],
                "XTP_ORDER_STATUS_TYPE"
              )
            );
          }
        },
        {
          title: "价格条件",
          key: "xtpPriceType",
          width: 90,
          sortable: true,
          align: "center",
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(par.row[par.column.key], "XTP_PRICE_TYPE")
            );
          }
        },
        {
          title: "委托价格",
          key: "price",
          width: 90,
          align: "right",
          sortable: true,
          className: "y-yellow",
          render: (h, par) => {
            return h(
              "div",
              (par.row["xtpMarketType"] === "XTP_MKT_SH_A" &&
                par.row["ticker"].slice(0, 2) === "51") ||
                (par.row["xtpMarketType"] === "XTP_MKT_SZ_A" &&
                  par.row["ticker"].slice(0, 2) === "15") ||
                this.xtpBusinessType == "XTP_BUSINESS_TYPE_REPO" ||
                this.xtpBusinessType == "XTP_BUSINESS_TYPE_ETF"
                ? par.row[par.column.key].toFixed(3)
                : par.row[par.column.key].toFixed(2)
            );
          }
        },
        {
          title: "委托数量",
          key: "quantity",
          width: 90,
          align: "right",
          sortable: true,
          className: "y-error",
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == (0 || null)
                ? 0
                : par.row[par.column.key].Format("0,0")
            );
          }
        },
        {
          title: "成交数量",
          key: "qtyTraded",
          width: 100,
          align: "right",
          className: "y-yellow",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == (0 || null)
                ? 0
                : par.row[par.column.key].Format("0,0")
            );
          }
        },
        {
          title: "剩余数量",
          key: "qtyLeft",
          width: 100,
          align: "right",
          sortable: true,
          className: "y-error",
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == (0 || null)
                ? 0
                : par.row[par.column.key].Format("0,0")
            );
          }
        },
        {
          title: "成交金额",
          key: "tradeAmount",
          width: 100,
          align: "right",
          sortable: true,
          className: "info",
          className: "y-yellow",
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == (0 || null)
                ? 0
                : par.row[par.column.key].Format("0,0.00")
            );
          }
        },
        {
          title: "委托时间",
          key: "insertTime",
          width: 160,
          align: "center",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] != undefined
                ? par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss")
                : ""
            );
          }
        },
        {
          title: "撤销时间",
          key: "cancelTime",
          width: 160,
          align: "center",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] != undefined
                ? par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss")
                : ""
            );
          }
        },
        {
          title: "XTPID",
          key: "orderXtpId",
          sortable: true,
          width: 170,
          align: "center"
        }
      ],
      //页面中监听的表头
      dealCol: [
        {
          title: "序号",
          width: 50,
          fixed: "left",
          align: "right",
          render: (h, par) => {
            let self = this;
            return h(
              "div",
              (self.deal.page.page - 1) * self.deal.page.size + par.index + 1
            );
          }
        },
        {
          title: "买/卖",
          key: "xtpSideType",
          width: 70,
          align: "center",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(par.row[par.column.key], "XTP_SIDE_TYPE")
            );
          }
        },
        {
          title: "母单编号",
          key: "orderClientId",
          sortable: true,
          width: 120,
          align: "center",
          className: "y-yellow",
          render: (h, par) => {
            return h("div", parseInt(par.row[par.column.key]));
          }
        },
        {
          title: "证券代码",
          key: "ticker",
          width: 90,
          sortable: true,
          className: "info",
          align: "center"
        },
        {
          title: "证券名称",
          key: "tickerName",
          width: 90,
          sortable: true,
          align: "left",
          className: "y-yellow"
        },
        {
          title: "成交价格",
          key: "price",
          width: 100,
          align: "right",
          sortable: true,
          className: "y-yellow",
          render: (h, par) => {
            return h(
              "div",
              (par.row["xtpMarketType"] === "XTP_MKT_SH_A" &&
                par.row["ticker"].slice(0, 2) === "51") ||
                (par.row["xtpMarketType"] === "XTP_MKT_SZ_A" &&
                  par.row["ticker"].slice(0, 2) === "15") ||
                this.xtpBusinessType == "XTP_BUSINESS_TYPE_REPO" ||
                this.xtpBusinessType == "XTP_BUSINESS_TYPE_ETF"
                ? par.row[par.column.key].toFixed(3)
                : par.row[par.column.key].toFixed(2)
            );
          }
        },
        {
          title: "成交数量",
          key: "quantity",
          width: 100,
          align: "right",
          sortable: true,
          className: "y-error",
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == (0 || null)
                ? 0
                : par.row[par.column.key].Format("0,0")
            );
          }
        },
        {
          title: "成交金额",
          key: "tradeAmount",
          width: 100,
          align: "right",
          sortable: true,
          className: "y-yellow",
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == (0 || null)
                ? 0
                : par.row[par.column.key].Format("0,0.00")
            );
          }
        },
        {
          title: "成交时间",
          key: "tradeTime",
          width: 160,
          sortable: true,
          align: "center",
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss")
            );
          }
        },
        {
          title: "XTPID",
          key: "orderXtpId",
          sortable: true,
          width: 170,
          align: "center"
        }
        //   {
        //     title: "成交类型",
        //     key: "tradeType",
        //     width: 100,
        //     align: "center",
        //     sortable: true,
        //     render: (h, par) => {
        //       return h(
        //         "div",
        //         app.dataTypeToName(par.row[par.column.key], "TXTPTradeTypeType")
        //       );
        //     }
        //   },
        //   {
        //     title: "业务类型",
        //     key: "xtpBusinessType",
        //     width: 100,
        //     align: "center",
        //     sortable: true,
        //     render: (h, par) => {
        //       return h(
        //         "div",
        //         app.dataTypeToName(par.row[par.column.key], "XTP_BUSINESS_TYPE")
        //       );
        //     }
        //   },
        //   {
        //     title: "交易员代码",
        //     key: "branchPbu",
        //     width: 110,
        //     sortable: true,
        //     align: "center"
        //   }
      ],
      monitorCol: [
        {
          type: "selection",
          width: 40,
          align: "center",
          fixed: "left"
        },
        {
          title: "母单编号",
          key: "task_id",
          sortable: true,
          width: 120,
          align: "center",
          render: (h, par) => {
            return h("div", parseInt(par.row[par.column.key]));
          }
        },
        {
          title: "证券代码",
          key: "ticker",
          width: 100,
          align: "center",
          sortable: true,
          className: "y-yellow"
        },
        {
          title: "买卖方向",
          key: "side",
          width: 100,
          align: "center",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(par.row[par.column.key], "SIDE_TYPE")
            );
          }
        },
        {
          title: "交易方式",
          key: "task_type",
          width: 100,
          align: "center"
        },
        {
          title: "状态",
          key: "status",
          width: 120,
          align: "center",
          render: (h, params) => {
            let self = this;
            const row = self.ALGORITHM_STATUS[params.row.status];
            const color =
              row === 0
                ? "#ff9900"
                : row === 2
                ? "#ff9900"
                : row === 1
                ? "#2b85e4"
                : row === 4
                ? "#19be6b"
                : "#ed3f14";
            const text = app.dataTypeToName(
              params.row[params.column.key],
              "ALGORITHM_STATUS"
            );
            return h(
              "Tag",
              {
                class: ["tagRemoveStyle"],
                props: {
                  type: "dot",
                  color: color
                }
              },
              text
            );
          }
        },
        {
          title: "进度",
          key: "progress",
          width: 100,
          align: "center",
          render: (h, params) => {
            return h("div", [
              h("Progress", {
                props: {
                  percent:
                    params.row[params.column.key] == (0 || null)
                      ? null
                      : Math.floor(
                          (params.row[params.column.key] > 1
                            ? 1
                            : params.row[params.column.key]) * 100
                        )
                }
              })
            ]);
          }
        },
        {
          title: "母单股数",
          key: "quantity",
          width: 100,
          align: "right",
          className: "y-error",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == (0 || null)
                ? 0
                : parseInt(par.row[par.column.key]).Format("0,0")
            );
          }
        },
        // {
        //     title: "限定价格",
        //     key: "limit_price",
        //     width: 100,
        //     align: "right",
        //     sortable: true
        // },
        // {
        //     title: "下单参考价",
        //     key: "refer_price",
        //     width: 100,
        //     align: "right",
        //     sortable: true
        // },
        // {
        //     title: "随机算法参数",
        //     key: "random_params",
        //     width: 120,
        //     align: "right",
        //     sortable: true
        // },
        // {
        //     title: "冰山算法参数",
        //     key: "iceberg_params",
        //     width: 120,
        //     align: "right",
        //     sortable: true
        // },
        {
          title: "成交量",
          key: "traded_quantity",
          width: 100,
          align: "right",
          sortable: true,
          className: "y-yellow",
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == (0 || null)
                ? 0
                : parseInt(par.row[par.column.key]).Format("0,0")
            );
          }
        },
        {
          title: "成交金额",
          key: "traded_amount",
          width: 120,
          className: "y-error",
          align: "right",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == (0 || null)
                ? 0
                : parseFloat(par.row[par.column.key]).Format("0,0.00")
            );
          }
        },
        {
          title: "成交/委托",
          key: "trade_num",
          width: 100,
          align: "center",
          render: (h, par) => {
            return h(
              "div",
              parseInt(par.row[par.column.key]) +
                "/" +
                parseInt(par.row["order_num"])
            );
          }
        },
        {
          title: "开始时间",
          key: "start_time",
          width: 100,
          align: "center",
          sortable: true,
          render: (h, par) => {
            return h("div", par.row[par.column.key]);
          }
        },
        {
          title: "结束时间",
          key: "end_time",
          width: 100,
          align: "center",
          sortable: true,
          render: (h, par) => {
            return h("div", par.row[par.column.key]);
          }
        },
        {
          title: "预估总额",
          width: 120,
          key: "avg_traded_price",
          align: "right",
          sortable: true,
          render: (h, par) => {
            let self = this;
            let money = par.row.quantity;
            let m = money;
            return h(
              "div",
              par.row[par.column.key] == (0 || null)
                ? null
                : (par.row[par.column.key] * m).Format("0,0.00")
            );
          }
        },
        {
          title: "策略成交价",
          key: "avg_traded_price",
          width: 120,
          align: "right",
          className: "y-yellow",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == null
                ? null
                : parseFloat(par.row[par.column.key]).toFixed(3)
            );
          }
        },
        {
          title: "市场成交价",
          key: "avg_market_price",
          width: 120,
          align: "right",
          className: "y-error",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == null
                ? null
                : parseFloat(par.row[par.column.key]).toFixed(3)
            );
          }
        },
        {
          title: "策略执行差价",
          key: "bps",
          width: 120,
          align: "right",
          className: "y-yellow",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == (null || "-inf")
                ? null
                : parseInt(par.row[par.column.key]) + "bps"
            );
          }
        },
        {
          title: "策略提示",
          key: "remark",
          width: 300,
          align: "center",
          sortable: true,
          render: (h, par) => {
            let self = this;
            return h(
              "div",
              par.row[par.column.key] == null
                ? null
                : self.remark[par.row[par.column.key]] === undefined
                ? par.row[par.column.key]
                : self.remark[par.row[par.column.key]]
            );
          }
        },
        {
          title: "更新时间",
          key: "report_time",
          width: 200,
          align: "center",
          sortable: true
          // render: (h, par) => {
          //     return h(
          //         "div",
          //         par.row[par.column.key] != undefined
          //             ? new Date(par.row[par.column.key]).Format(
          //             "yyyy-MM-dd hh:mm:ss"
          //             )
          //             : ""
          //     );
          // }
        },
        {
          title: "操作",
          fixed: "right",
          key: "task_id",
          width: 100,
          align: "center",
          render: (h, params) => {
            if (
              params.row.status == "IN_PROGRESS" ||
              params.row.status == "READY"
            ) {
              return h("div", [
                h("i", {
                  class: ["f", "f-stop", "f-blue"],
                  style: {
                    fontSize: "22px",
                    color: "#559DF9"
                  },
                  on: {
                    click: e => {
                      let self = this;
                      e.stopPropagation();
                      this.timeOutMonitor(params, e);
                    }
                  }
                })
              ]);
            } else if (params.row.status == "PAUSED") {
              return h("div", [
                h("i", {
                  class: ["f", "f-start", "f-blue"],
                  style: {
                    fontSize: "22px",
                    color: "#559DF9"
                  },
                  on: {
                    click: e => {
                      e.stopPropagation();
                      this.restoreMonitor(params, e);
                    }
                  }
                })
              ]);
            } else if (
              params.row.status !== "PAUSED" ||
              params.row.status !== "IN_PROGRESS"
            ) {
              return h("div", [
                h("i", {
                  class: ["f", "f-stop", "f-blue"],
                  style: {
                    fontSize: "22px",
                    color: "#ccc"
                  }
                })
              ]);
            }
          }
        }
      ],
      monitorId: [],
      algorithmCount: 1,
      remark: {
        "The quantity is too large to be fully traded":
          "母单量过大，可能不能完全成交",
        "cannot find tradable asset": "查询不到可用资金",
        "cannot find sellable quantity": "查询不到持仓",
        "parameters error": "参数错误",
        "no market quote": "近期历史数据缺失，无法进行算法分析",
        "no enough market volume": "预测全天交易额不足1000万，无法进行算法分析",
        "total algo order exceeds available asset":
          "算法资金占用量超过可用资金",
        "total algo order exceeds available quantity":
          "算法持仓占用量超过可用持仓",
        "algorithm error": "算法错误",
        "algorithm parameters error": "算法参数错误"
      },
      ALGORITHM_STATUS: {
        READY: 0,
        IN_PROGRESS: 1,
        PAUSED: 2,
        STOPPED: 3,
        FINISHED: 4,
        CAPITAL_INSUFFICIENT_ERROR: 5,
        SECURITY_INSUFFICIENT_ERROR: 6,
        UNKNOWN: 7
      },
      getTaskReportDataTimer: null,
      monitorList: [],
      session_id: null,
      username: null,
      isRecordOrder: false
    };
  },
  watch: {
    xtpBusinessType(val) {
      this.deal.page.type = this.entrust.page.type = val;
    },
    withdrawalListen(val) {
      if (val) {
        setTimeout(() => {
          this.selEntrustList();
        }, 500);
      }
    },
    "$store.state.tran.isLogin": function(val) {
      val ? this.init() : this.clear();
    },
    "$store.state.tran.isRecordOrder": function(val) {
      this.isRecordOrder = val;
    },
    // "entrust.page.cancelenable": function (val) {
    //   this.entrust.page.page = 1;
    //   this.selEntrust();
    // },
    currentTab(val) {
      let self = this;
      if (val == "monitor") {
        self.getTaskReportDataTimer = setInterval(function() {
          self.getTaskReportData();
        }, 10000);
      } else if (val == "retractable") {
        self.selEntrustList();
      } else {
        window.clearInterval(self.getTaskReportDataTimer);
      }
    },
    "$store.state.tran.getReportFlag": function(val) {
      let self = this;
      if (val === true) {
        self.getTaskReportData();
      }
    }
  },
  computed: {
    exportCSVUrl() {
      let self = this;
      let m =
        app.method[
          { entrust: "user/exportorders", deal: "user/exporttrades" }[
            self.currentTab
          ]
        ];
      if (!m) return "";
      let url = `${app.ajaxOption.prefix}://${app.ajaxOption.serviceIP}:${
        app.ajaxOption.port
      }/${m.url}`;
      let parStr = "?";
      let page = Object.assign({}, self.entrust.page);
      page.total = false;
      for (let k in page) {
        parStr += `${k}=${page[k]}&`;
      }
      return url + parStr;
    }
  },
  created() {
    let self = this;
    self.deal.page.type = self.entrust.page.type = self.xtpBusinessType;
    if (self.entrust.page.type == "XTP_BUSINESS_TYPE_IPOS") {
      let i = self.entrust.col.findIndex(it => it.type == "selection");
      i != -1 && self.entrust.col.splice(i, 1);
    }
    self.$store.state.tran.isLogin ? this.init() : this.clear();
    self.isRecordOrder = self.$store.state.tran.isRecordOrder;
  },
  destroyed() {
    window.clearInterval(this.getTaskReportDataTimer);
  },
  mounted() {
    let self = this;
    self.$nextTick(function() {
      self.autoTableSize();
    });
    window.addEventListener(
      "resize",
      function() {
        self.autoTableSize();
      },
      false
    );
  },
  sockets: {
    orderInfo: function(data2, err) {
      let self = this;
      app.log("orderInfo:::", data2);
      data2.slice(-self.entrust.page.size).forEach(data => {
        if (!data && err.errorId != 0) {
          self.$Message.error(err.errorMsg);
        }
        if (
          data.orderXtpId != undefined &&
          self.entrust.page.type == data.xtpBusinessType
        ) {
          (data.orderStatus == "XTP_ORDER_STATUS_ALLTRADED" ||
            data.orderStatus == "XTP_ORDER_STATUS_CANCELED" ||
            data.orderStatus == "XTP_ORDER_STATUS_REJECTED" ||
            data.orderStatus == "XTP_ORDER_STATUS_PARTTRADEDNOTQUEUEING" ||
            data.orderStatus == "XTP_ORDER_STATUS_UNKNOWN" ||
            data.orderSubmitStatusType ==
              "XTP_ORDER_SUBMIT_STATUS_INSERT_REJECTED" ||
            data.orderSubmitStatusType ==
              "XTP_ORDER_SUBMIT_STATUS_CANCEL_SUBMITTED" ||
            data.orderSubmitStatusType ==
              "XTP_ORDER_SUBMIT_STATUS_CANCEL_REJECTED" ||
            data.orderSubmitStatusType ==
              "XTP_ORDER_SUBMIT_STATUS_CANCEL_ACCEPTED") &&
            (data._disabled = true);
          let i = self.entrust.list.findIndex(
            it => it.orderXtpId == data.orderXtpId
          );
          if (!data._disabled) {
            let j = self.entrustList.list.findIndex(
              it => it.orderXtpId == data.orderXtpId
            );
            self.pushEntrustAndDelData({
              i: j,
              data: data,
              original: self.entrustList
            });
            // self.entrustList.list.unshift(data);
          }
          if (data.orderStatus == "XTP_ORDER_STATUS_CANCELED") {
            let i = self.entrustList.list.findIndex(
              it => it.orderXtpId == data.orderXtpId
            );
            if (self.entrustList.list.length > 0 && i != -1)
              self.entrustList.list.slice(i, 1);
          }
          let obj = {
            i: i,
            data: data,
            original: self.entrust
          };
          self.pushEntrustAndDelData(obj);
        }
        data.orderClientId < 100000000 &&
          self.$socket.emit("queryAsset", {
            orderXtpId: 0,
            requestId: 3
          });
      });
      // self.$socket.emit("queryAsset", {
      //   orderXtpId: 0,
      //   requestId: 3
      // });
      if (self.isRecordOrder && data2.length > 0) {
        self.fs.existsSync(app.orderPath) || self.fs.mkdirSync(app.orderPath);
        let title =
          "orderXtpId,orderClientId,orderCancelClientId,orderCancelXtpId,ticker,tickerName,xtpMarketType,price,quantity,xtpPriceType,xtpSideType,xtpBusinessType,qtyTraded,qtyLeft,insertTime,updateTime,cancelTime,tradeAmount,orderLocalId,orderStatus,orderSubmitStatusType,requestId,id";
        let titleArr = title.split(",");

        let str = self.fs.existsSync(app.orderPath + "/orderInfo.csv")
          ? ""
          : title + "\r\n";
        data2.forEach(it => {
          let arr = [];
          if (it.orderClientId < 100000000) {
            titleArr.forEach(it2 => {
              arr.push(it[it2]);
            });
            str += arr.join(",") + "\r\n";
          }
        });
        let bs = new Uint8Array(Buffer.from(str)); // new Buffer(str);

        self.fs.appendFile(
          app.orderPath + `/orderInfo.csv`,
          bs,
          {
            encoding: "utf8"
            // encoding: 'ascii'
          },
          err => {
            if (err) throw err;
            console.log("文件已保存");
          }
        );
      }
    },
    tradeReport(data2, err) {
      let self = this;
      app.log("tradeReport:::", data2);
      data2.slice(-self.deal.page.size).forEach(data => {
        if (!data && err.errorId != 0) {
          self.$Message.error(err.errorMsg);
        }
        if (
          data.orderXtpId != undefined &&
          self.deal.page.type == data.xtpBusinessType
        ) {
          let i = self.deal.list.findIndex(
            it => it.orderXtpId == data.orderXtpId
          );
          let obj = {
            i: i,
            data: data,
            original: self.deal
          };
          self.pushEntrustAndDelData(obj);
        }
        // if (data.orderClientId < 100000000)
        //   self.$socket.emit("queryAsset", {
        //     orderXtpId: 0,
        //     requestId: 4
        //   });
      });
      self.$socket.emit("queryAsset", {
        orderXtpId: 0,
        requestId: 4
      });

      if (self.isRecordOrder) {
        self.fs.existsSync(app.orderPath) || self.fs.mkdirSync(app.orderPath);

        let title =
          "orderXtpId,orderClientId,ticker,tickerName,xtpMarketType,localOrderId,execId,price,quantity,tradeTime,tradeAmount,reportIndex,orderExchId,tradeType,xtpSideType,xtpBusinessType,branchPbu,requestId,lastResp,id";
        let titleArr = title.split(",");
        let str = self.fs.existsSync(app.orderPath + "/tradeReport.csv")
          ? ""
          : title + "\r\n";
        data2.forEach(it => {
          if (it.orderClientId < 100000000) {
            let arr = [];
            titleArr.forEach(it2 => {
              arr.push(it[it2]);
            });
            str += arr.join(",") + "\r\n";
          }
        });
        let bs = new Uint8Array(Buffer.from(str)); // new Buffer(str);

        self.fs.appendFile(
          app.orderPath + `/tradeReport.csv`,
          bs,
          {
            encoding: "utf8"
            // encoding: 'ascii'
          },
          err => {
            if (err) throw err;
            console.log("tradeReport文件已保存");
          }
        );
      }
    },
    // cancelOrderSucceedRsp(data) {
    //   this.$Message.success(data.orderXtpId + "撤单成功 ");
    // },
    cancelOrderFailRsp(data, err) {
      this.$Message.error(data.orderXtpId + "撤单失败  " + err.errorMsg);
    }
  },
  methods: {
    /**
     * 模态框中的监控,委托,成交的表头操作
     */
    changeCol(val) {
      if (this.algorithmType === "algorithm") this.entrustCol = val;
      else this.entrust.col = val;
    },
    changeColl(val) {
      if (this.algorithmType === "algorithm") this.dealCol = val;
      else this.deal.col = val;
    },
    changemonitorCol(val) {
      this.monitorCol = val;
    },
    init() {
      let self = this;
      self.entrust.page.date.Format("yyyy-MM-dd");
      self.entrust.page.page = 1;
      self.selEntrust();
      self.username = JSON.parse(sessionStorage.getItem("user_")).username;
      setTimeout(() => {
        if (JSON.parse(sessionStorage.getItem("algorithm"))) {
          self.session_id = JSON.parse(
            sessionStorage.getItem("algorithm")
          ).session_id;
          if (self.algorithmType === "algorithm") {
            self.getTaskReportData();
          }
        }
      }, 1000);
      if (self.algorithmType === "algorithm") {
        self.getTaskReportDataTimer = setInterval(function() {
          self.getTaskReportData();
        }, 30000);
      }
      self.deal.page.page = 1;
      self.selDeal();
      self.selEntrustList();
    },
    clear() {
      window.clearInterval(this.getTaskReportDataTimer);
      this.deal.page.page = 1;
      this.entrust.list = [];
      this.deal.list = [];
      this.monitorList = [];
      this.entrustList.list = [];
    },
    selEntrust() {
      let self = this;
      self.entrust.page.date = new Date().Format("yyyy-MM-dd");
      app.ajax(
        "user/orders",
        self.entrust.page,
        d => {
          d.items.forEach(it => {
            (it.orderStatus == "XTP_ORDER_STATUS_ALLTRADED" ||
              it.orderStatus == "XTP_ORDER_STATUS_CANCELED" ||
              it.orderStatus == "XTP_ORDER_STATUS_REJECTED" ||
              it.orderStatus == "XTP_ORDER_STATUS_PARTTRADEDNOTQUEUEING" ||
              it.orderStatus == "XTP_ORDER_STATUS_UNKNOWN" ||
              it.orderSubmitStatusType ==
                "XTP_ORDER_SUBMIT_STATUS_INSERT_REJECTED" ||
              it.orderSubmitStatusType ==
                "XTP_ORDER_SUBMIT_STATUS_CANCEL_SUBMITTED" ||
              it.orderSubmitStatusType ==
                "XTP_ORDER_SUBMIT_STATUS_CANCEL_REJECTED" ||
              it.orderSubmitStatusType ==
                "XTP_ORDER_SUBMIT_STATUS_CANCEL_ACCEPTED") &&
              (it._disabled = true);
          });
          self.entrust.list = d.items;
          self.entrust.total = d.total;
        },
        ex => {}
      );
    },
    selEntrustList() {
      let self = this;
      app.ajax(
        "user/orders",
        self.entrustList.page,
        d => {
          self.entrustList.list = d.items;
          self.entrustList.total = d.total;
        },
        ex => {}
      );
    },
    selDeal() {
      let self = this;
      self.deal.page.date = new Date().Format("yyyy-MM-dd");
      app.ajax(
        "user/trades",
        self.deal.page,
        d => {
          self.deal.list = d.items;
          self.deal.total = d.total;
        },
        ex => {}
      );
    },
    cancelOrder() {
      let self = this;
      self.parCancelOrderXtpId.forEach(it => {
        self.$socket.emit("cancelOrder", {
          orderXtpId: it.orderXtpId
        });
      });
      setTimeout(() => {
        self.selEntrustList();
      }, 1000);
      self.$refs.entrust.selectAll(false);
    },
    refresh() {
      let self = this;
      switch (self.currentTab) {
        case "entrust":
          self.selEntrust();
          break;
        case "deal":
          self.selDeal();
          break;
        case "retractable":
          self.selEntrustList();
          break;
        default:
          break;
      }
    },
    exportCSV() {
      let self = this;
      switch (self.currentTab) {
        case "entrust":
          app.export("user/exportorders", {
            par: self.deal.page,
            fileName: new Date().Format("yyyy-MM-dd") + ".csv"
          });
          break;
        case "deal":
          break;
        default:
          break;
      }
    },
    entrustChangePage(index) {
      let self = this;
      self.entrust.page.page = index;
      self.selEntrust();
    },
    entrustPageSizeChange(size) {
      let self = this;
      self.entrust.page.page = 1;
      self.entrust.page.size = size;
      self.selEntrust();
    },
    entrustListChangePage(index) {
      let self = this;
      self.entrustList.page.page = index;
      self.selEntrustList();
    },
    entrustListPageSizeChange(size) {
      let self = this;
      self.entrustList.page.page = 1;
      self.entrustList.page.size = size;
      self.selEntrustList();
    },
    dealChangePage(index) {
      let self = this;
      self.deal.page.page = index;
      self.selDeal();
    },
    dealPageSizeChange(size) {
      let self = this;
      self.deal.page.page = 1;
      self.deal.page.size = size;
      self.selDeal();
    },
    getChartId(val) {
      this.$emit("on-changeEcharts", val);
    },
    canceMonitorIdOrder() {
      let self = this;
      self.monitorId.forEach(it => {
        app.request(
          "stop",
          {
            task_id: parseInt(it.task_id),
            session_id: self.session_id
          },
          d => {
            if (d.code == 0) {
              self.getTaskReportData();
              self.$Message.success("停止监控成功");
            } else {
              self.$Message.error("停止监控失败");
            }
          },
          ex => {}
        );
      });
      setTimeout(() => {
        self.$refs.monitor.selectAll(false);
        self.monitorId = [];
      }, 0);
    },
    timeOutMonitor(data, e) {
      let self = this;
      let json = {
        update_time: new Date().Format("yyyy-MM-dd hh:mm:ss"),
        task_id: parseInt(data.row.task_id),
        session_id: self.session_id
      };
      app.request(
        "pause",
        json,
        d => {
          if (d.code === 0) {
            self.$Message.success("暂停任务成功");
            self.getTaskReportData();
          } else self.$Message.error("暂停任务失败");
        },
        ex => {}
      );
    },
    restoreMonitor(data, e) {
      let self = this;
      let json = {
        update_time: new Date().Format("yyyy-MM-dd hh:mm:ss"),
        task_id: parseInt(data.row.task_id),
        session_id: self.session_id
      };
      app.request(
        "resume",
        json,
        d => {
          if (d.code === 0) {
            self.$Message.success("恢复任务成功");
            self.getTaskReportData();
          } else self.$Message.error("恢复任务失败");
        },
        ex => {}
      );
    },
    pushEntrustAndDelData(obj = {}) {
      if (obj.i != -1) {
        obj.original.list.splice(obj.i, 1, obj.data);
      }
      // else if (obj.original.list.length == 0) {
      //   obj.original.list.unshift(obj.data);
      //   obj.original.total = obj.original.total + 1;
      // }
      else if (
        obj.original.page.page == 1
        //  &&
        // obj.original.list[0] &&
        // obj.data.orderXtpId > obj.original.list[0].orderXtpId
      ) {
        obj.i = obj.original.list.length;
        obj.original.list.length >= obj.original.page.size &&
          obj.original.list.splice(obj.i - 1, 1);
        obj.original.list.unshift(obj.data);
        obj.original.total = obj.original.total + 1;
      }
    },
    getTaskReportData() {
      let self = this;
      if (self.session_id) {
        app.request(
          "report",
          {
            session_id: self.session_id,
            username: JSON.parse(sessionStorage.getItem("user_")).username
          },
          d => {
            if (d.message !== "wrong session id" && d.message) {
              let data = JSON.parse(d.message);
              if (self.$store.state.tran.getReportFlag) {
                self.$store.commit("GETREPORTFLAG", false);
              }
              data.forEach(it => {
                (it.status == "FINISHED" || it.status == "STOPPED") &&
                  (it._disabled = true);
                self.monitorId.forEach(it1 => {
                  if (it1.task_id === it.task_id) {
                    it._checked = true;
                  }
                });
              });
              self.monitorList = data;
            }
          },
          ex => {}
        );
      }
    },
    autoTableSize() {
      let self = this;
      $(".i-table").each((i, e) => {
        let el = $(e);
        self.width[e.dataset.k] = el.parent().width();
        let ch = e.dataset.correctH || 0;
        self.height[e.dataset.k] = el.parent().height() - ch;
        let height = self.height["monitor"];
        if (height) {
          self.height["deal"] = height - 25;
          self.height["entrust"] = height - 25;
        } else {
          let entrustHeight = self.height["entrust"];
          self.height["deal"] = entrustHeight;
          self.height["retractable"] = entrustHeight;
        }
      });
    },
    entrustRowDblclick(row) {
      let self = this;
      if (app.isDbWithdrawal) {
        if (!row._disabled) {
          self.$socket.emit("cancelOrder", {
            orderXtpId: row.orderXtpId
          });
          setTimeout(() => {
            self.selEntrustList();
          }, 1000);
        } else self.$Message.warning("您选择的股票不能撤单");
      } else {
        self.$Message.warning("请在设置中设置双击");
      }
    }
  }
};
</script> 