.ivu-auto-complet{
    .ivu-select-dropdown-list .ivu-select-item{
        // padding: 7px 10px;
    }
    .ivu-select-dropdown-list .ivu-select-dropdown{ 
        // overflow:auto;
    } 
    .ivu-select{
        font-size: 12px;
      }

      .ivu-input-icon-normal+.ivu-input {
        padding-right: 20px;
    }
}