<template>
  <div class="content-body-main">
    <div class="content-body-right">
      <div class="tab-content">
        <div class="tab-top">
          <div>
            <div class="tab-header">申购</div>
            <div class="tab-body">
              <Form
                class="y-form y-order"
                :model="parbuyOrder"
                ref="parbuyOrder"
                :rules="parbuyOrderRule"
                :label-width="64"
              >
                <FormItem label="ETF代码" prop="ticker" class="orangeBuyOrder">
                  <AutoComplete
                    size="small"
                    class="y-orange"
                    clearable
                    v-model="parbuyOrder.ticker"
                    @on-search="buyTickerSearch"
                    @on-select="buyChange"
                    placeholder="请输入代码"
                    element-id="txtbuyId"
                  >
                    <Option v-for="s in tickerList.buy" :value="s.code" :key="s.code">
                      <span>{{ s.code }}</span>
                      <span class="pull-right">{{ s.name }}</span>
                    </Option>
                  </AutoComplete>
                </FormItem>
                <FormItem label="证券名称">{{parbuyOrder.tickerName}}</FormItem>
                <FormItem label="交易市场" prop="xtpMarketType">
                  <Select class="y-orange" v-model.number="parbuyOrder.xtpMarketType" size="small">
                    <Option :value="1" :key="1" class="y-blue">深A</Option>
                    <Option :value="2" :key="2" class="y-blue">沪A</Option>
                  </Select>
                </FormItem>
                <FormItem label="申购单位" prop="quantity" @keyup.enter.native="buy('parbuyOrder')">
                  <InputNumber
                    class="y-orange"
                    v-model="parbuyOrder.quantity"
                    :step="100"
                    :min="0"
                    :precision="0"
                    element-id="txtbuyQunity"
                    size="small"
                  ></InputNumber>
                </FormItem>
                <FormItem class="y-block">
                  <Button type="warning" @click="buy('parbuyOrder')" size="small" long>申购</Button>
                </FormItem>
              </Form>
            </div>
          </div>
          <div>
            <div class="tab-header">赎回</div>
            <div class="tab-body">
              <Form
                class="y-form y-order"
                :model="parsellOrder"
                ref="parsellOrder"
                :rules="parsellOrderRule"
                :label-width="64"
              >
                <FormItem label="ETF代码" prop="ticker" class="blueSellOrder">
                  <AutoComplete
                    size="small"
                    class="y-blue"
                    clearable
                    v-model="parsellOrder.ticker"
                    @on-search="sellTickerSearch"
                    @on-select="sellChange"
                    placeholder="请输入代码"
                    element-id="txtsellId"
                  >
                    <Option v-for="s in tickerList.sell" :value="s.code" :key="s.code">
                      <span>{{ s.code }}</span>
                      <span class="pull-right">{{ s.name }}</span>
                    </Option>
                  </AutoComplete>
                </FormItem>
                <FormItem label="证券名称">{{parsellOrder.tickerName}}</FormItem>
                <FormItem label="交易市场" prop="xtpMarketType">
                  <Select class="y-blue" v-model.number="parsellOrder.xtpMarketType" size="small">
                    <Option :value="1" :key="1" class="y-blue">深A</Option>
                    <Option :value="2" :key="2" class="y-blue">沪A</Option>
                  </Select>
                </FormItem>
                <FormItem label="赎回单位" prop="quantity" @keyup.enter.native="sell('parsellOrder')">
                  <InputNumber
                    class="y-blue"
                    v-model="parsellOrder.quantity"
                    :step="100"
                    :min="0"
                    :precision="0"
                    size="small"
                    element-id="txtsellQunity"
                  ></InputNumber>
                </FormItem>
                <FormItem class="y-block">
                  <Button
                    type="primary"
                    :loading="loading.sell"
                    @click="sell('parsellOrder')"
                    size="small"
                    long
                  >赎回</Button>
                </FormItem>
              </Form>
            </div>
          </div>
        </div>
        <div class="tab-bottom">
          <div class="tab-wrapper">
            <order xtpBusinessType="XTP_BUSINESS_TYPE_ETF"></order>
          </div>
        </div>
      </div>
    </div>
  </div>
</template> 
<style lang="scss" scoped>
.tab-top {
  height: 300px;
  > div:nth-child(1) {
    width: 240px;
    flex-basis: 240px;
    background-color: #1e2127;
    tbody {
      width: 100%;
      display: table;
    }
  }
  > div:nth-child(2) {
    width: 240px;
    flex-basis: 240px;
    background-color: #1e2127;
    tbody {
      width: 100%;
      display: table;
    }
  }
}
</style>

<script>
import Order from "@/components/order";
export default {
  components: {
    Order
  },
  data() {
    return {
      width: {
        entrust: 0,
        deal: 0
      },
      height: {
        entrust: 0,
        deal: 0
      },
      loading: {
        buy: false,
        sell: false
      },
      tickerList: {
        buy: [],
        sell: []
      },
      buyPar: {
        code: "",
        market: "market",
        num: 0,
        numCopies: ""
      },
      parEntrust: {
        state: -1
      },
      parCancelOrderXtpId: [],
      parCancelOrder: {
        orderXtpId: ""
      },
      parbuyOrder: {
        orderXtpId: 0, // XTP系统订单ID，在XTP系统中唯一
        orderClientId: 13, //报单引用
        ticker: "", //合约代码
        xtpMarketType: null,
        price: 0,
        stopPrice: 0.0,
        quantity: null,
        xtpPriceType: 1,
        xtpSideType: 7,
        xtpBusinessType: 3,
        tickerName: ""
      },
      parbuyOrderRule: {
        ticker: [
          {
            required: true,
            message: "",
            trigger: "change" //trigger: "blur"
          }
        ],
        quantity: [
          {
            required: true,
            type: "number",
            message: "",
            trigger: "change",
            min: 1
          }
        ],
        xtpMarketType: [
          {
            required: true,
            type: "number",
            message: "",
            trigger: "change",
            min: 1
          }
        ]
      },
      noRepeatSubmit: true,
      parsellOrder: {
        orderXtpId: 0, // XTP系统订单ID，在XTP系统中唯一
        orderClientId: 13, //报单引用
        ticker: "", //合约代码
        xtpMarketType: null,
        price: 0,
        stopPrice: 0.0,
        quantity: null,
        xtpPriceType: 1,
        xtpSideType: 8,
        xtpBusinessType: 3,
        tickerName: ""
      },
      parsellOrderRule: {
        ticker: [
          {
            required: true,
            message: "",
            trigger: "change" //trigger: "blur"
          }
        ],
        quantity: [
          {
            required: true,
            type: "number",
            message: "",
            trigger: "change",
            min: 1
          }
        ],
        xtpMarketType: [
          {
            required: true,
            type: "number",
            message: "",
            trigger: "change",
            min: 1
          }
        ]
      }
    };
  },
  sockets: {
    insertOrderTokenRsp(data) {
      let self = this;
      let par = self[`par${self.currentTabOrder}Order`];

      self.$socket.emit("insertOrder", {
        insertOrderToken: data.insertOrderToken,
        tradeInsertOrder: par
      });
      let parorder = `par${self.currentTabOrder}Order`;
      self.$refs[`par${self.currentTabOrder}Order`].resetFields();
      par.tickerName = "";
      document.getElementById(`txt${self.currentTabOrder}Id`).focus();
    },
    // insertOrderResult(data) {
    //   this.$Message.success(data.msg);
    // }
  },
  watch: {
    "parbuyOrder.ticker"(val) {
      if (val && val.length == 6) {
        this.buyChange(val);
      }
    },
    "parsellOrder.ticker"(val) {
      if (val && val.length == 6) {
        this.sellChange(val);
      }
    }
  },
  created() {
    let self = this;
    self.$nextTick(() => {
      setTimeout(() => {}, 0);
      self.autoTableSize();
    });
  },
  mounted: function() {
    var self = this;
    self.$nextTick(function() {
      self.autoTableSize();
      document.getElementById("txtbuyId").focus();
      window.addEventListener(
        "resize",
        function() {
          self.autoTableSize();
        },
        false
      );
    });
  },
  methods: {
    buyTickerSearch(val) {
      this.tickerList.buy = app.tickerSearch(val, "XTP_TICKER_TYPE_FUND");
    },
    sellTickerSearch(val) {
      this.tickerList.sell = app.tickerSearch(val, "XTP_TICKER_TYPE_FUND");
    },
    buyChange(val) {
      let self = this;
      let ticker = app.ticker.XTP_TICKER_TYPE_FUND.find(it => it.code == val);
      if (ticker) {
        self.parbuyOrder.xtpMarketType = ticker.marketId;
        self.parbuyOrder.tickerName = ticker.name;
        document.getElementById("txtbuyQunity").focus();
      } else {
        self.parbuyOrder.xtpMarketType = null;
        self.parbuyOrder.tickerName = "";
      }
    },
    sellChange(val) {
      let self = this;
      let ticker = app.ticker.XTP_TICKER_TYPE_FUND.find(it => it.code == val);
      if (ticker) {
        self.parsellOrder.xtpMarketType = ticker.marketId;
        self.parsellOrder.tickerName = ticker.name;
        document.getElementById("txtsellQunity").focus();
      } else {
        self.parsellOrder.xtpMarketType = null;
        self.parsellOrder.tickerName = "";
      }
    },
    buy(name) {
      let self = this;
      if (!self.parbuyOrder.quantity) return;
      this.$refs[name].validate(valid => {
        if (valid) {
          if (self.noRepeatSubmit) {
            self.currentTabOrder = "buy";
            self.$socket.emit("getInsertOrderToken", {});
            self.noRepeatSubmit = false;
            setTimeout(() => {
              self.noRepeatSubmit = true;
            }, 2000);
          }
        } else {
          self.$Message.error("请填写完整信息！");
        }
      });
    },
    sell(name) {
      let self = this;
      if (!self.parsellOrder.quantity) return;
      this.$refs[name].validate(valid => {
        if (valid) {
          if (self.noRepeatSubmit) {
            self.currentTabOrder = "sell";
            self.$socket.emit("getInsertOrderToken", {});
            self.noRepeatSubmit = false;
            setTimeout(() => {
              self.noRepeatSubmit = true;
            }, 2000);
          }
        } else {
          self.$Message.error("请填写完整信息！");
        }
      });
    }
    // cancelOrder() {
    //   let self = this;
    //   self.parCancelOrderXtpId.forEach(it => {
    //     self.$socket.emit("cancelOrder", {
    //       orderXtpId: it.orderXtpId
    //     });
    //   });
    //   self.$refs.entrust.selectAll(false);
    // },
  }
};
</script>