.ivu-page.mini {
  >li {
    background-color: #1e2127;
    color: #9da1a9;
    &.ivu-page-item-active {
      background-color: #1e2127;
      color: #d0d0d4;
      font-weight: bold;
      border-color: #9da1a9;
    }
  }
  .ivu-page-options-elevator {
    font-size: 12px;
    margin: 0 3px; 
    >input {
      background-color: #1e2127;
      color: #d0d0d4;
      height: 17px; 
      border-color: #9da1a9;
    }
  }
  
}