<template>
  <div class="content-body-right">
    <div class="tab-content">
      <div class="tab-top">
        <div>
          <div class="tab-header">申购</div>
          <div class="tab-body">
            <Form class="y-form y-order" :method="parPurchaseOrder" :label-width="60">
              <FormItem label="交易市场">
                <Select class="y-orange" size="small" v-model="parPurchaseOrder.xtpMarketType" disabled>
                  <Option :value='0'>未知</Option>
                  <Option :value='1'>深圳</Option>
                  <Option :value='2'>上海</Option>
                  <Option :value='3'>未知</Option>
                </Select>
              </FormItem>
              <FormItem label="基金代码">
                <AutoComplete size="small" class="y-orange" clearable v-model="parPurchaseOrder.ticker" @on-search="tickerSearchPurchase" @on-select='changeXtpMarketTypePurchase' placeholder="请输入代码">
                  <Option v-for="s in tickerList.purchase" :value="s.code" :key="s.code">
                    <span>{{ s.code }}</span>
                    <span class="pull-right">{{ s.name }}</span>
                  </Option>
                </AutoComplete>
              </FormItem>
              <FormItem label="金额">
                <InputNumber class="y-orange" v-model="parPurchaseOrder.quantity" size="small"></InputNumber>
              </FormItem>
              <FormItem class="y-block">
                <Button type="warning" :loading='loading.purchase' @click="purchaseOrder" size="small" long>
                  <span v-if="!loading.purchase">申购</span>
                  <span v-else>申购中...</span>
                </Button>
              </FormItem>
            </Form>
          </div>
        </div>
        <div>
          <div class="tab-header">赎回</div>
          <div class="tab-body">
            <Form class="y-form y-order" :method="parRedemptionOrder" :label-width="60">
              <FormItem label="交易市场">
                <Select class="y-blue" size="small" v-model="parRedemptionOrder.xtpMarketType" disabled>
                  <Option :value='0'>未知</Option>
                  <Option :value='1'>深圳</Option>
                  <Option :value='2'>上海</Option>
                  <Option :value='3'>未知</Option>
                </Select>
              </FormItem>
              <FormItem label="基金代码">
                <AutoComplete size="small" class="y-blue" clearable v-model="parRedemptionOrder.ticker" @on-search="tickerSearchRedemption" @on-select='changeXtpMarketTypeRedemption' placeholder="请输入代码">
                  <Option v-for="s in tickerList.redemption" :value="s.code" :key="s.code">
                    <span>{{ s.code }}</span>
                    <span class="pull-right">{{ s.name }}</span>
                  </Option>
                </AutoComplete>
              </FormItem>
              <FormItem label="金额">
                <InputNumber class="y-blue" v-model="parRedemptionOrder.quantity" size="small"></InputNumber>
              </FormItem>
              <FormItem class="y-block">
                <Button type="primary" :loading='loading.redemption' @click="redemptionOrder" size="small" long>
                  <span v-if="!loading.redemption">赎回</span>
                  <span v-else>赎回中...</span>
                </Button>
              </FormItem>
            </Form>
          </div>
        </div>
        <div>
          <div class="tab-header">拆分</div>
          <div class="tab-body">
            <Form class="y-form y-order" :method="parSplitOrder" :label-width="60">
              <FormItem label="交易市场">
                <Select class="y-orange" size="small" v-model="parSplitOrder.xtpMarketType" disabled>
                  <Option :value='0'>未知</Option>
                  <Option :value='1'>深圳</Option>
                  <Option :value='2'>上海</Option>
                  <Option :value='3'>未知</Option>
                </Select>
              </FormItem>
              <FormItem label="基金代码">
                <AutoComplete size="small" class="y-orange" clearable v-model="parSplitOrder.ticker" @on-search="tickerSearchSplit" @on-select='changeXtpMarketTypeSplit' placeholder="请输入代码">
                  <Option v-for="s in tickerList.split" :value="s.code" :key="s.code">
                    <span>{{ s.code }}</span>
                    <span class="pull-right">{{ s.name }}</span>
                  </Option>
                </AutoComplete>
              </FormItem>
              <FormItem label="金额">
                <InputNumber class="y-orange" v-model="parSplitOrder.quantity" size="small"></InputNumber>
              </FormItem>
              <FormItem class="y-block">
                <Button type="warning" :loading='loading.split' @click="splitOrder" size="small" long>
                  <span v-if="!loading.split">拆分</span>
                  <span v-else>拆分中...</span>
                </Button>
              </FormItem>
            </Form>
          </div>
        </div>
        <div>
          <div class="tab-header">合并</div>
          <div class="tab-body">
            <Form class="y-form y-order" :method="parMergeOrder" :label-width="60">
              <FormItem label="交易市场">
                <Select class="y-blue" size="small" v-model="parMergeOrder.xtpMarketType" disabled>
                  <Option :value='0'>未知</Option>
                  <Option :value='1'>深圳</Option>
                  <Option :value='2'>上海</Option>
                  <Option :value='3'>未知</Option>
                </Select>
              </FormItem>
              <FormItem label="基金代码">
                <AutoComplete size="small" class="y-blue" clearable v-model="parMergeOrder.ticker" @on-search="tickerSearchMerge" @on-select='changeXtpMarketTypeMerge' placeholder="请输入代码">
                  <Option v-for="s in tickerList.merge" :value="s.code" :key="s.code">
                    <span>{{ s.code }}</span>
                    <span class="pull-right">{{ s.name }}</span>
                  </Option>
                </AutoComplete>
              </FormItem>
              <FormItem label="金额">
                <InputNumber class="y-blue" v-model="parMergeOrder.quantity" size="small"></InputNumber>
              </FormItem>
              <FormItem class="y-block">
                <Button type="primary" :loading='loading.merge' @click="mergeOrder" size="small" long>
                  <span v-if="!loading.merge">合并</span>
                  <span v-else>合并中...</span>
                </Button>
              </FormItem>
            </Form>
          </div>
        </div>
        <!-- <div>
          <div class="tab-header">赎回</div>
          <div class="tab-body">
            <Form class="y-form" :method="sellPar" :label-width="64">
              <FormItem label="交易市场">
                <Select class="y-blue" size="small" v-model="sellPar.market" disabled>
                  <Option value="market">深圳</Option>
                  <Option value="market">上海</Option>
                </Select>
              </FormItem>
              <FormItem label="基金代码">
                <Input size="small" class="y-blue" v-model="sellPar.code" />
              </FormItem>
              <FormItem label="申购方向">
                <Select class="y-blue" size="small" v-model="sellPar.type" disabled>
                  <Option value="xjwt">赎回</Option>
                </Select>
              </FormItem>
              <FormItem label="数量">
                <InputNumber class="y-blue" v-model="sellPar.num" size="small"></InputNumber>
              </FormItem>
              <FormItem class="y-block">
                <Button type="primary" @click="buy2" size="small" long>确定</Button>
              </FormItem>
            </Form>
          </div>
        </div>
        <div>
          <div class="tab-header">合并</div>
          <div class="tab-body">
            <Form class="y-form" :method="buyPar" :label-width="64">
              <FormItem label="交易市场">
                <Select class="y-orange" size="small" v-model="buyPar.market" disabled>
                  <Option value="market">深圳</Option>
                  <Option value="market">上海</Option>
                </Select>
              </FormItem>
              <FormItem label="基金代码">
                <Input size="small" class="y-orange" v-model="buyPar.code"></Input>
              </FormItem>
              <FormItem label="拆分合并">
                <Select class="y-orange" size="small" v-model="buyPar.type" disabled>
                  <Option value="xjwt">合并</Option>
                </Select>
              </FormItem>
              <FormItem label="数量">
                <InputNumber class="y-orange" v-model="buyPar.num" size="small"></InputNumber>
              </FormItem>
              <FormItem class="y-block">
                <Button type="warning" @click="buy" size="small" long>确定</Button>
              </FormItem>
            </Form>
          </div>
        </div>
        <div>
          <div class="tab-header">拆分</div>
          <div class="tab-body">
            <Form class="y-form" :method="sellPar" :label-width="64">
              <FormItem label="交易市场">
                <Select class="y-blue" size="small" v-model="sellPar.market" disabled>
                  <Option value="market">深圳</Option>
                  <Option value="market">上海</Option>
                </Select>
              </FormItem>
              <FormItem label="基金代码">
                <Input size="small" class="y-blue" v-model="sellPar.code"></Input>
              </FormItem>
              <FormItem label="拆分合并">
                <Select class="y-blue" size="small" v-model="sellPar.type" disabled>
                  <Option value="xjwt">拆分</Option>
                </Select>
              </FormItem>
              <FormItem label="数量">
                <InputNumber class="y-blue" v-model="sellPar.num" size="small"></InputNumber>
              </FormItem>
              <FormItem class="y-block">
                <Button type="primary" @click="buy2" size="small" long>确定</Button>
              </FormItem>
            </Form>
          </div>
        </div> -->
        <div></div>
      </div>
      <div class="tab-bottom">
        <div class="tab-wrapper">
          <div class="tab-bar">
            <!-- <Form class="y-dark pull-right" inline>
              <FormItem label="母基金查询:">
                <Input class="y-dark" size="small"></Input>
              </FormItem>
              <FormItem>
                <Button type="primary" size="small" style="width:60px">查询</Button>
              </FormItem>
            </Form> -->
            <div class="pull-right">
              <Select size="small" style="width:100px">
                <Option value="rmb" key="1">全部</Option>
                <Option :value='1'>深A</Option>
                <Option :value='2'>沪A</Option>
              </Select>
              <AutoComplete size="small" v-model="parSel.xtpQueryStructuredFundInfoReq.ticker" :transfer='true' clearable style="width: 150px" @on-search="tickerSearchSel" placeholder="股票代码">
                <Option v-for="s in tickerList.sel" :value="s.code" :key="s.code">
                  <span>{{ s.code }}</span>
                  <span class="pull-right">{{ s.name }}</span>
                </Option>
              </AutoComplete>
              <Button type="primary" @click="sel" size="small">查询</Button>

            </div>
          </div>
          <div class="tab-table">
            <Table class="i-table" :height="height" :width="width" :columns="col" :data="tData" size="small" :border='true' ref="table"></Table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template> 
<style lang="scss" scoped >
.tab-top {
  > div:nth-child(1) {
    flex-basis: 240px;
  }
  > div:nth-child(2) {
    flex-basis: 240px;
    background-color: #1e2127;
  }
  > div:nth-child(3) {
    flex-basis: 240px;
  }
  > div:nth-child(4) {
    flex-basis: 240px;
    background-color: #1e2127;
  }
  > div:nth-child(5) {
    flex: 1;
    display: flex;
  }
}
.tab-content {
  height: 100%;
}
.content-body-right {
  flex: 1;
}
.tab-top {
  height: 240px;
}
</style>
<script>
export default {
  data() {
    return {
      loading: {
        purchase: false,
        redemption: false,
        split: false,
        merge: false
      },
      width: 0,
      height: 0,
      currentOrder: "",
      tickerList: {
        buy: [],
        sell: [],
        sel: [],
        purchase: [],
        redemption: [],
        split: [],
        merge: []
      },
      parPurchaseOrder: {
        orderXtpId: 0,
        orderClientId: 13,
        ticker: "",
        xtpMarketType: 2,
        price: 0,
        stopPrice: 0,
        quantity: 0,
        xtpPriceType: 1,
        xtpSideType: 7,
        xtpBusinessType: 7
      },
      parRedemptionOrder: {
        orderXtpId: 0,
        orderClientId: 13,
        ticker: "",
        xtpMarketType: 2,
        price: 0,
        stopPrice: 0,
        quantity: 0,
        xtpPriceType: 1,
        xtpSideType: 8,
        xtpBusinessType: 7
      },
      parSplitOrder: {
        orderXtpId: 0,
        orderClientId: 13,
        ticker: "",
        xtpMarketType: 2,
        price: 0,
        stopPrice: 0,
        quantity: 0,
        xtpPriceType: 1,
        xtpSideType: 9,
        xtpBusinessType: 8
      },
      parMergeOrder: {
        orderXtpId: 0,
        orderClientId: 13,
        ticker: "",
        xtpMarketType: 2,
        price: 0,
        stopPrice: 0,
        quantity: 0,
        xtpPriceType: 1,
        xtpSideType: 10,
        xtpBusinessType: 8
      },
      parSel: {
        requestId: 1,
        xtpQueryStructuredFundInfoReq: {
          exchangeType: 1,
          ticker: ""
        }
      },
      col: [
        {
          title: "序号",
          type: "index",
          width: 70,
          fixed: "left",
          align: "right"
        },
        {
          title: "交易市场",
          key: "name",
          fixed: "left",
          width: 120,
          align: "center"
        },
        {
          title: "基金代码",
          key: "show",
          width: 140,
          sortable: true,
          filters: [
            {
              label: "Greater than 4000",
              value: 1
            },
            {
              label: "Less than 4000",
              value: 2
            }
          ],
          filterMultiple: false,
          filterMethod(value, row) {
            if (value === 1) {
              return row.show > 4000;
            } else if (value === 2) {
              return row.show < 4000;
            }
          }
        },
        {
          title: "基金名称",
          key: "weak",
          width: 120,
          sortable: true,
          align: "center"
        },
        {
          title: "母基金代码",
          key: "signin",
          width: 140,
          sortable: true,
          align: "center"
        },
        {
          title: "拆分合并状态",
          key: "click",
          width: 140,
          sortable: true,
          align: "center"
        },
        {
          title: "拆分/合并比例",
          key: "active",
          width: 150,
          sortable: true,
          align: "center"
        },
        {
          title: "最小拆分数量",
          key: "day7",
          width: 140,
          sortable: true,
          align: "center"
        },
        {
          title: "最小合并数量",
          key: "day30",
          width: 140,
          sortable: true,
          align: "center"
        },
        {
          title: "基金净值",
          key: "tomorrow",
          width: 120,
          sortable: true,
          align: "center"
        },
        {
          title: "Error Code",
          key: "day",
          width: 140,
          align: "center"
        }
      ],
      tData: [],
      tempTData: []
    };
  },
  sockets: {
    // orderInfo: function(data, err) {
    //   let self = this;
    //   app.log("orderInfo::", data, err);

    //   self.loading[self.currentOrder] = false;
    //   // debugger
    //   if (!data || data.orderXtpId == undefined) {
    //     self.$Message.error(`委托失败` + err.errorMsg);
    //     return;
    //   }

    //   let i = self.tData.findIndex(it => it.orderXtpId == data.orderXtpId);
    //   let it = self.tData.find(it => it.orderXtpId == data.orderXtpId);
    //   // debugger
    //   if (it && it.orderStatus != data.orderStatus) {
    //     data.cellClassName = {
    //       orderStatus: "info2 up"
    //     };
    //   }
    //   i == -1 ? self.tData.unshift(data) : self.tData.splice(i, 1, data);
    //   self.$nextTick(function() {
    //     setTimeout(function() {
    //       for (var i = 0; i < self.tData.length; i++) {
    //         var it = self.tData[i];
    //         if (it.cellClassName && it.cellClassName.orderStatus) {
    //           it.cellClassName.orderStatus = "";
    //         }
    //       }
    //     }, 2000);
    //   });
    // },
    queryStructuredFundRsp: function(data) {
      let self = this;

      app.log("queryStructuredFundRsp::", data);
      self.tempTData.push(data);
      if (data && data.lastResp) {
        self.tData = self.tempTData;
        self.tempTData = [];
      }
    }
  },
  created() {
    var self = this;
    // setTimeout(function() {
    //   for (let i = 0; i < 3; i++) {
    //     self.data7.push({
    //       name: "Name" + (i + 1),
    //       fav: 0,
    //       show: 7302,
    //       weak: 5627,
    //       signin: 1563,
    //       click: 4254,
    //       active: 1438,
    //       day7: 274,
    //       day30: 285,
    //       tomorrow: 1727,
    //       day: 558
    //     });
    //   }
    // }, 100);
  },
  mounted: function() {
    var self = this;

    // app.log("socketId::", this.$socket.id);
    self.$nextTick(function() {
      self.sel();
      self.autoTableSize();
      window.addEventListener(
        "resize",
        function() {
          self.autoTableSize();
        },
        false
      );
    });
  },
  methods: {
    sel() {
      let self = this;
      app.log("查询");

      app.log("self.par::", self.parSel);
      self.$socket.emit("queryStructuredFund", self.parSel);
    },

    tickerSearchSel(val) {
      this.tickerList.sel = app.tickerSearch(val);
    },
    purchaseOrder() {
      let self = this;
      app.log(
        "self.parBuyOrder::",
        JSON.stringify(self.parPurchaseOrder, null, 4)
      );
      self.loading.purchase = true;
      self.currentOrder = "purchase";
      self.$socket.emit("insertOrder", self.parPurchaseOrder);
      setTimeout(() => {
        if (self.loading.purchase) {
          self.loading.purchase = false;
          self.$Message.error(`请求服务器超时！`);
        }
      }, 5000);
    },
    tickerSearchPurchase(val) {
      this.tickerList.buy = app.tickerSearch(val,'XTP_TICKER_TYPE_FUND');
    },
    changeXtpMarketTypePurchase(val) {
      let ticker = app.ticker.XTP_TICKER_TYPE_FUND.find(it => it.code == val);
      this.parPurchaseOrder.xtpMarketType = ticker ? ticker.exchangeId : 0;
    },

    redemptionOrder() {
      let self = this;
      self.loading.redemption = true;
      self.currentOrder = "redemption";
      self.$socket.emit("insertOrder", self.parRedemptionOrder);
      setTimeout(() => {
        if (self.loading.redemption) {
          self.loading.redemption = false;
          self.$Message.error(`请求服务器超时！`);
        }
      }, 5000);
    },
    tickerSearchRedemption(val) {
      this.tickerList.redemption = app.tickerSearch(val,'XTP_TICKER_TYPE_FUND');
    },
    changeXtpMarketTypeRedemption(val) {
      let ticker = app.ticker.XTP_TICKER_TYPE_FUND.find(it => it.code == val);
      this.parRedemptionOrder.xtpMarketType = ticker ? ticker.exchangeId : 0;
    },

    splitOrder() {
      let self = this;
      self.loading.split = true;
      self.currentOrder = "split";
      self.$socket.emit("insertOrder", self.parSplitOrder);
      setTimeout(() => {
        if (self.loading.split) {
          self.loading.split = false;
          self.$Message.error(`请求服务器超时！`);
        }
      }, 5000);
    },
    tickerSearchSplit(val) {
      this.tickerList.split = app.tickerSearch(val,'XTP_TICKER_TYPE_FUND');
    },
    changeXtpMarketTypeSplit(val) {
      let ticker = app.ticker.XTP_TICKER_TYPE_FUND.find(it => it.code == val);
      this.parSplitOrder.xtpMarketType = ticker ? ticker.exchangeId : 0;
    },

    mergeOrder() {
      let self = this;
      self.loading.merge = true;
      self.currentOrder = "merge";
      self.$socket.emit("insertOrder", self.parSplitOrder);
      setTimeout(() => {
        if (self.loading.merge) {
          self.loading.merge = false;
          self.$Message.error(`请求服务器超时！`);
        }
      }, 5000);
    },
    tickerSearchMerge(val) {
      this.tickerList.merge = app.tickerSearch(val,'XTP_TICKER_TYPE_FUND');
    },
    changeXtpMarketTypeMerge(val) {
      let ticker = app.ticker.XTP_TICKER_TYPE_FUND.find(it => it.code == val);
      this.parMergeOrder.xtpMarketType = ticker ? ticker.exchangeId : 0;
    },

    autoTableSize() {
      var self = this;
      self.width = $(".i-table")
        .parent()
        .width();
      self.height =
        $(".i-table")
          .parent()
          .height() - 17;
      app.log("w|h", self.width, self.height);
    }
  }
};
</script>