<template>
  <div class="content-body">
    <div class="content-body-main">
      <div class="content-body-left">
        <ul class="y-tag y-vertical">
          <router-link tag="li" to="/strategy/algorithm/strategies">
            <a> 拆单算法 </a>
          </router-link>
          <router-link tag="li" to="/strategy/algorithm/order">
            <a> 简易策略 </a>
          </router-link>
        </ul>
      </div>
        <router-view></router-view>
    </div>
  </div>

</template>

<script>
export default {
};
</script>