<template> 
    <div class="content-body-right">
        <div class="tab-wrapper">
            <div class="tab-bar">
                <!-- <div class="pull-left">
          资产净值
          <span>100</span>
          参考市值
          <span>100</span>
          资金
          <span>100</span>
        </div> -->
                <div class="pull-right">
                    <!-- <AutoComplete size="small" v-show="currentTab=='history'" :transfer='true' clearable v-model="historyPar.xtpQueryTraderReq.ticker" style="width: 150px" @on-search="tickerSearch" placeholder="股票代码">
                            <Option v-for="s in tickerList" :value="s.code" :key="s.code">
                                <span>{{ s.code }}</span>
                                <span class="pull-right">{{ s.name }}</span>
                            </Option>
                        </AutoComplete> -->
                    <Input type="text" v-model="par.req.ticker" size="small" element-id="txtTicker" style="width: 150px;" placeholder="证券代码" />
                    <Select v-model="par.req.marketType" size="small" style="width:100px">
                        <Option :value='0'>未知</Option>
                        <Option :value='1'>深圳</Option>
                        <Option :value='2'>上海</Option>
                    </Select>
                    <Button type="primary" @click="load" size="small">查询</Button>
                    <a>
                        <i class="f f-refresh" @click="load" title="刷新"></i>
                    </a>

                    <a>
                        <i class="f f-cog" @click="isShow = true" title="设置"></i>
                    </a>

                </div>
            </div>
            <!-- 委托查询 -->
            <div class="tab-table">
                <Table class="i-table" :width='width' :height="height" :columns="col" :data="tData" size="small" :border='true' ref="table"></Table>

                <!-- <Table class="i-table" :width='width' :height="height" :columns="columns" :data="tData" size="small" :border='true' ref="table"></Table> -->
            </div>
        </div>
        <col-setting v-model='isShow' @on-changeCol='changeCol' :col='col'></col-setting>
    </div>
</template>
<style lang="scss" scoped>
ul {
  display: flex;
  > li {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 22px;
  }
  > li:last-child {
    flex: 1;
    padding-right: 20px;
  }
}
.ivu-tabs.ivu-tabs-card {
  height: 100%;
  width: 100%;
}
.tab-bar {
  .pull-left > span {
    margin-right: 20px;
  }
}
</style> 

<script>
import ColSetting from "@/components/colSetting";
export default {
  components: {
    ColSetting
  },
  data() {
    return {
      width: 0,
      height: 0,
      isShow: false,
      par: {
        requestId: 1,
        req: {
          marketType: 0,
          ticker: ""
        }
      },
      col: [
        {
          title: "序号",
          type: "index",
          width: 70,
          fixed: "left",
          align: "right"
        },
        {
          title: "交易市场",
          key: "xtpMarketType",
          width: 100,
          className: "y-yellow",
          sortable: true,
          render: (h, par) => {
            return h('div',app.dataTypeToName(
              par.row[par.column.key],
              "XTP_MARKET_TYPE"
            ));
          }
        },

        {
          title: "代码",
          key: "ticker",
          align: "center",
          width: 90
        },
        {
          title: "成分股代码",
          key: "componentTicker",
          align: "center",
          width: 100,
          className: "y-yellow",
        },
        {
          title: "成分股名称",
          key: "componentName",
          width: 110,
          sortable: true,
          className: "y-error",
        },
        {
          title: "数量",
          key: "quantity",
          width: 90,
          align: "right",
          sortable: true,
          render: (h, par) => {
              return h(
                "div",
                 (par.row[par.column.key] == (0 || null)) ? 0 :  par.row[par.column.key].Format('0,0')
              );
            }
        },
        {
          title: "成分股市场",
          key: "componentMarketType",
          width: 110,
          sortable: true,
          className: "y-yellow",
          render: (h, par) => {
            return h('div',app.dataTypeToName(
              par.row[par.column.key],
              "XTP_MARKET_TYPE"
            ));
          }
        },
        {
          title: "现金替代标识",
          key: "replaceType",
          width: 140,
          align: "right",
          sortable: true,
          render: (h, par) => {
            return h('div',app.dataTypeToName(
              par.row[par.column.key],
              "ETF_REPLACE_TYPE"
            ));
          }
        },
        {
          title: "溢价比例",
          key: "premiumRatio",
          width: 110,
          align: "right",
          sortable: true
        },
        {
          title: "现金替代金额",
          key: "amount",
          className: "y-yellow",
          width: 120,
          align: "right",
          sortable: true,
          render: (h, par) => {
              return h(
                "div",
                 (par.row[par.column.key] == (0 || null)) ? 0 :  par.row[par.column.key].Format('0,0')
              );
            }
        }
      ],
      tData: [],
      tempTData: []
    };
  },
  watch:{
    "$store.state.tran.isLogin": function(val) {
      val ? this.init() : this.clear();
    },
    "par.req.ticker"(val) {
      if (val && val.length == 6) {
        let ticker = app.ticker.XTP_TICKER_TYPE_FUND.find(it => it.code == val);
        if (ticker) this.par.req.marketType = ticker.marketId;
      }
    }
  },
  sockets: {
    queryETFBasketRsp: function(data) {
      app.log("queryETFBasketRsp::", data);
      let self = this; 
        self.tempTData.push(data);
        if (data.lastResp) {
          self.tData = self.tempTData;
          self.tempTData = [];
        }
    }
  },
  mounted: function() {
    var self = this;
    self.$nextTick(function() {
      // self.load();
      self.autoTableSize();
      document.getElementById("txtTicker").focus();
      self.$store.state.tran.isLogin ? self.init() : self.clear();
      window.addEventListener(
        "resize",
        function() {
          self.autoTableSize();
        },
        false
      );
    });
  },
  methods: {
    init() {
      let self = this;
      self.$socket.emit("queryETFTickerBasket", this.par);
    },
    clear() {
      this.tData = [];
    },
    changeCol(val) {
      app.log("val::", val);
      this.col = val;
    },
    load() {
      app.log("查询");
      let self = this;
      this.$socket.emit("queryETFTickerBasket", this.par);
    },
    autoTableSize() {
      var self = this;
      self.width = $(".i-table")
        .parent()
        .width();
      self.height =
        $(".i-table")
          .parent()
          .height();
      app.log("w|h", self.width, self.height);
    }
  }
};
</script>