<template>
  <div class="content-body-right">
    <div class="tab-wrapper">
      <div class="tab-bar">
        <Tabs v-model='currentTab' type="card" :animated='false'>
          <TabPane name='deal' label="今日成交">
            <div style="position: relative;height:calc(100% - 24px);">
              <Table class="i-table" data-k="deal" highlight-row :width='width.deal' :height="height.deal" :columns="deal.col" :data="deal.list" size="small" :border='true' ref="table"></Table>
            </div>
            <div style="margin: 0px;">
              <div style="float: right;">
                <Page :total="deal.total" :page-size='deal.page.size' show-sizer show-elevator :page-size-opts='[10,20,50,100]' size="small" :current="deal.page.page" @on-change="dealChangePage" @on-page-size-change='dealPageSizeChange'></Page>
              </div>
            </div>
          </TabPane>
          <!-- <TabPane name='history' label="历史成交">
                        <Table class="i-table" data-k="history" highlight-row :width='width.history' :height="height.history" :columns="historyCol" :data="historyList" size="small" :border='true' ref="table"></Table>
                    </TabPane> -->
          <div slot="extra">
            <AutoComplete size="small" v-show="currentTab!='history'" element-id='deal' :transfer='true' clearable v-model="dealPar.xtpQueryTraderReq.ticker" style="width: 150px" @on-search="tickerSearch" placeholder="股票代码">
              <Option v-for="s in tickerList" :value="s.code" :key="s.code">
                <span>{{ s.code }}</span>
                <span class="pull-right">{{ s.name }}</span>
              </Option>
            </AutoComplete>
            <AutoComplete size="small" v-show="currentTab=='history'" :transfer='true' clearable v-model="historyPar.xtpQueryTraderReq.ticker" style="width: 150px" @on-search="tickerSearchHitory" placeholder="股票代码">
              <Option v-for="s in tickerList" :value="s.code" :key="s.code">
                <span>{{ s.code }}</span>
                <span class="pull-right">{{ s.name }}</span>
              </Option>
            </AutoComplete>
            <!-- <Input type="text" size="small" style="width: 150px;display:none;"  placeholder="XTP ID" v-model="stock"/> -->
            <DatePicker type="daterange" v-model='day' format='yyyy-MM-dd' v-show="currentTab=='history'" :transfer='true' size="small" :options="options2" placement="bottom-end" placeholder="请选择查询日期" style="width: 190px"></DatePicker>
            <Button type="primary" @click="refresh" size="small">查询</Button>
            <a :href="exportCSVUrl">
              <i class="f f-csv" title="导出csv"></i>
            </a>
            <a @click="refresh">
              <i class="f f-refresh" title="刷新"></i>
            </a>
            <a>
              <i class="f f-cog" @click="isShow = true" title="设置"></i>
            </a>
          </div>
        </Tabs>
      </div>
    </div>
    <col-setting v-model='isShow' @on-changeCol='val=>{deal.col = val}' :col='deal.col'></col-setting>
  </div>
</template>
<style lang="scss" scoped>
.tab-wrapper .tab-bar {
  height: 100%;
}
</style>
<script>
import draggable from "vuedraggable";
import ColSetting from "@/components/colSetting";
export default {
  components: {
    draggable,
    ColSetting
  },
  data() {
    return {
      width: {
        deal: 0,
        history: 0
      },
      height: {
        deal: 0,
        history: 0
      },
      //页面中input输入框输入后,才能点击查询
      stock: "",
      modal: false,
      isShow: false,
      stockCodeFlag: true,
      currentTab: "deal", //deal
      day: [
        new Date(new Date().setDate(new Date().getDate() - 7)).Format(
          "yyyy-MM-dd"
        ),
        new Date().Format("yyyy-MM-dd")
      ], // ["2018-03-01", "2018-03-07"],

      tickerList: [],
      dealCol: [
        {
          type: "selection",
          width: 40,
          align: "center",
          fixed: "left"
        },
        {
          title: "序号",
          type: "index",
          width: 60,
          fixed: "left",
          align: "right"
        },
        {
          title: "任务号",
          key: "task_id",
          fixed: "left",
          width: 100,
          align: "center"
        },
        {
          title: "证券",
          key: "ticker",
          width: 120,
          align: "center",
          sortable: true,
          className: "y-yellow"
        },
        {
          title: "订单号",
          key: "order_id",
          width: 90,
          align: "center",
          sortable: true,
          className: "info"
        },
        {
          title: "订单号序号",
          key: "idx",
          width: 100,
          sortable: true,
          align: "center"
        },

        {
          title: "接收时间",
          key: "rcv_time",
          width: 200,
          sortable: true,
          align: "center"
        },
        // {
        //   title: "成交时间与发送委托后时间差",
        //   key: "OTR(ns)",
        //   width: 220,
        //   align: "center",
        //   sortable: true
        // },
        {
          title: "交易量",
          key: "t_volume",
          width: 100,
          align: "right",
          sortable: true
        },
        {
          title: "成交价格",
          key: "t_price",
          width: 100,
          align: "right",
          sortable: true,
          className: "y-yellow"
        },
        {
          title: "成交时间",
          key: "t_time",
          width: 100,
          sortable: true,
          align: "center"
          // render: (h, par) => {
          //   return h(
          //     "div",
          //     par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss")
          //   );
          // }
        }
      ],
      deal: {
        page: {
          size: 50,
          page: 1,
          total: true,
          type: "all",
          ticker: "",
          date: new Date().Format("yyyy-MM-dd")
        },
        list: [],
        col: [
          {
            title: "序号",
            width: 40,
            fixed: "left",
            align: "right",
            render: (h, par) => {
              let self = this;
              return h(
                "div",
                (self.deal.page.page - 1) * self.deal.page.size + par.index + 1
              );
            }
          },
          {
            title: "XTP ID",
            key: "orderXtpId",
            fixed: "left",
            align: "center",
            width: 170
          },
          {
            title: "代码",
            key: "ticker",
            width: 70,
            sortable: true,
            className: "info",
            align: "center",
            className: "y-yellow"
          },
          {
            title: "交易所",
            key: "xtpMarketType",
            width: 80,
            align: "center",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                app.dataTypeToName(par.row[par.column.key], "XTP_MARKET_TYPE")
              );
            }
          },

          {
            title: "成交编号",
            key: "execId",
            width: 150,
            sortable: true,
            align: "center"
          },
          {
            title: "买/卖",
            key: "xtpSideType",
            width: 70,
            align: "center",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                app.dataTypeToName(par.row[par.column.key], "XTP_SIDE_TYPE")
              );
            }
          },
          {
            title: "价格",
            key: "price",
            width: 60,
            align: "right",
            sortable: true,
            className: "y-yellow",
            render: (h, par) => {
              return h(
                "div",
                this.xtpBusinessType == "XTP_BUSINESS_TYPE_REPO"
                  ? par.row[par.column.key].toFixed(3)
                  : par.row[par.column.key].toFixed(2)
              );
            }
          },
          {
            title: "数量",
            key: "quantity",
            width: 80,
            align: "right",
            sortable: true,
            className: "y-error",
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          },
          {
            title: "成交序号",
            key: "reportIndex",
            width: 100,
            align: "center",
            sortable: true
          },
          {
            title: "成交时间",
            key: "tradeTime",
            width: 160,
            sortable: true,
            align: "center",
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss")
              );
            }
          },
          {
            title: "成交金额",
            key: "tradeAmount",
            width: 100,
            align: "right",
            sortable: true,
            className: "y-yellow",
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0.00")
              );
            }
          },
          // {
          //   title: "报单编号",
          //   key: "orderExchId",
          //   width: 160,
          //   align: "center",
          //   sortable: true
          // },
          {
            title: "成交类型",
            key: "tradeType",
            width: 100,
            align: "center",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                app.dataTypeToName(par.row[par.column.key], "TXTPTradeTypeType")
              );
            }
          },
          {
            title: "业务类型",
            key: "xtpBusinessType",
            width: 100,
            align: "center",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                app.dataTypeToName(par.row[par.column.key], "XTP_BUSINESS_TYPE")
              );
            }
          },
          {
            title: "交易员代码",
            key: "branchPbu",
            width: 110,
            sortable: true,
            align: "center"
          }
        ]
      },
      dealPar: {
        requestId: 1,
        xtpQueryTraderReq: {
          ticker: "",
          beginTime: 0,
          endTime: 0
        }
      },
      historyPar: {
        requestId: 1,
        xtpQueryTraderReq: {
          ticker: "",
          beginTime: 0,
          endTime: 0
        }
      },
      historyList: [],
      historyListTemp: [],
      historyCol: [
        {
          title: "序号",
          type: "index",
          width: 70,
          fixed: "left",
          align: "right"
        },
        {
          title: "XTP ID",
          key: "orderXtpId",
          fixed: "left",
          width: 180,
          align: "center"
        },
        {
          title: "报单引用",
          key: "orderClientId",
          width: 110,
          align: "center",
          sortable: true
        },
        {
          title: "代码",
          key: "ticker",
          width: 90,
          align: "center",
          sortable: true,
          className: "info"
        },
        {
          title: "交易所",
          key: "xtpMarketType",
          width: 200,
          align: "center",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(par.row[par.column.key], "XTP_MARKET_TYPE")
            );
          }
        },

        {
          title: "订单号",
          key: "localOrderId",
          width: 200,
          align: "center",
          sortable: true
        },
        {
          title: "价格",
          key: "price",
          width: 100,
          align: "center",
          sortable: true,
          className: "y-yellow",
          render: (h, par) => {
            return h("div", par.row[par.column.key].toFixed(3));
          }
        },
        {
          title: "数量",
          key: "quantity",
          width: 100,
          align: "center",
          sortable: true
        },
        {
          title: "成交编号",
          key: "reportIndex",
          width: 120,
          align: "center",
          sortable: true
        },
        {
          title: "成交时间",
          key: "tradeTime",
          width: 200,
          align: "center",
          sortable: true,
          render: (h, par) => {
            return par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss");
          }
        },
        {
          title: "成交金额",
          key: "tradeAmount",
          width: 120,
          align: "center",
          sortable: true,
          className: "y-yellow",
          render: (h, par) => {
            return h(
              "div",
              par.row[par.column.key] == (0 || null)
                ? 0
                : par.row[par.column.key].Format("0,0.00")
            );
          }
        },
        {
          title: "报单编号",
          key: "orderExchId",
          width: 160,
          align: "center",
          sortable: true
        },
        {
          title: "成交类型",
          key: "tradeType",
          width: 120,
          align: "center",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(par.row[par.column.key], "TXTPTradeTypeType")
            );
          }
        },
        {
          title: "买卖方向",
          key: "xtpSideType",
          width: 120,
          align: "center",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(par.row[par.column.key], "XTP_SIDE_TYPE")
            );
          }
        },
        {
          title: "业务类型",
          key: "xtpBusinessType",
          width: 300,
          align: "center",
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(par.row[par.column.key], "XTP_BUSINESS_TYPE")
            );
          }
        },
        {
          title: "交易员代码",
          key: "branchPbu",
          width: 120,
          align: "center",
          sortable: true
        }
      ],
      options2: {
        shortcuts: [
          {
            text: "一周",
            value() {
              const end = new Date();
              const start = new Date();
              start.setDate(start.getDate() - 7);
              return [start, end];
            }
          },
          {
            text: "一月",
            value() {
              const end = new Date();
              const start = new Date();
              start.setMonth(start.getMonth() - 1);
              return [start, end];
            }
          },
          {
            text: "三个月",
            value() {
              const end = new Date();
              const start = new Date();
              start.setMonth(start.getMonth() - 3);
              return [start, end];
            }
          },
          {
            text: "半年",
            value() {
              const end = new Date();
              const start = new Date();
              start.setMonth(start.getMonth() - 6);
              return [start, end];
            }
          },
          {
            text: "一年",
            value() {
              const end = new Date();
              const start = new Date();
              start.setMonth(start.getMonth() - 12);
              return [start, end];
            }
          }
        ]
      },
      dealList: []
    };
  },
  computed: {
    exportCSVUrl() {
      let self = this;
      let m = app.method["user/exporttrades"];
      let url = `${app.ajaxOption.prefix}://${app.ajaxOption.serviceIP}:${
        app.ajaxOption.port
      }/${m.url}`;
      let parStr = "?";
      let page = Object.assign({}, self.deal.page);
      page.total = false;
      for (let k in page) {
        parStr += `${k}=${page[k]}&`;
      }
      return url + parStr;
    }
  },
  watch: {
    "$store.state.tran.isLogin": function(val) {
      val ? this.init() : this.clear();
    },
    day: function(val, oVal) {
      this.historyPar.xtpQueryTraderReq.beginTime = parseInt(
        this.day[0].Format("yyyyMMdd000000000")
      );
      this.historyPar.xtpQueryTraderReq.endTime = parseInt(
        this.day[1].Format("yyyyMMdd235959999")
      );
    }
  },
  sockets: {
    queryTradeRsp(data) {
      let self = this;
      app.log("queryOrderRsp::", data);
      switch (self.currentTab) {
        // case "deal":
        //   self.dealListTemp.unshift(data);
        //   if (data && data.lastResp) {
        //     self.dealList = self.dealListTemp;
        //     self.dealListTemp = [];
        //   }
        //   break;
        case "history":
          self.historyListTemp.unshift(data);
          if (data && data.lastResp) {
            self.historyList = self.historyListTemp;
            self.historyListTemp = [];
          }
          break;
        default:
          break;
      }
    }
  },
  created() {
    let self = this;
    self.$store.state.tran.isLogin ? self.init() : self.clear();
  },
  mounted: function() {
    var self = this;
    self.$nextTick(function() {
      self.autoTableSize();
      document.getElementById('deal').focus();
      window.addEventListener(
        "resize",
        function() {
          self.autoTableSize();
        },
        false
      );
    });
  },
  methods: {
    init() {
      let self = this;
      self.deal.page.page = 1;
      self.selDeal();
    },
    clear() {
      this.deal.page.page = 1;
      this.deal.list = [];
    },
    selDeal() {
      let self = this;
      let t = new Date().getTime();
      app.ajax(
        "user/trades",
        self.deal.page,
        d => {
          console.log("t::", new Date().getTime() - t);
          setTimeout(() => {
            self.deal.list = d.items;
            self.deal.total = d.total;
          }, 0);
        },
        ex => {}
      );
    },
    cancelOrder() {
      let self = this;
      self.parCancelOrderXtpId.forEach(it => {
        self.$socket.emit("cancelOrder", {
          orderXtpId: it.orderXtpId
        });
      });
      self.$refs.entrust.selectAll(false);
    },
    refresh() {
      let self = this;
      switch (self.currentTab) {
        case "deal":
          self.selDeal();
          break;
        case "history":
          self.historyListTemp = [];
          self.historyList = [];
          app.log("发出了请求 queryTrades", self.historyPar);
          self.$socket.emit("queryTrades", self.historyPar);
          break;
        default:
          break;
      }
    },

    tickerSearch(val) {
      this.tickerList = app.tickerSearch(val, "XTP_TICKER_TYPE_STOCK");
    },
    tickerSearchHitory(val) {
      //新添加的历史成交记录,暂时写为空
      this.tickerList = "";
    },
    dealChangePage(index) {
      let self = this;
      self.deal.page.page = index;
      self.selDeal();
    },
    dealPageSizeChange(size) {
      let self = this;
      self.deal.page.page = 1;
      self.deal.page.size = size;
      self.selDeal();
    }
  }
};
</script>