<template>
  <div>
    <table class="y-table y-table-condensed">
      <tbody>
        <tr v-for="s in 10" :key="s" :class="{'highlight':s==10}" @click="setPriceData($event)">
          <th>卖{{numChinese[11-s]}}</th>
          <td
            v-if="!tofixid"
            :class="{'y-red':subscribeMarketData.ask[10-s]!=0&&subscribeMarketData.ask[10-s]>subscribeMarketData.preClosePrice,'y-green':subscribeMarketData.ask[10-s]!=0&&subscribeMarketData.ask[10-s]<subscribeMarketData.preClosePrice}"
          >{{subscribeMarketData.ask[10-s] == null ? null : subscribeMarketData.ask[10-s].toFixed(3)}}</td>
          <td
            v-else
            :class="{'y-red':subscribeMarketData.ask[10-s]!=0&&subscribeMarketData.ask[10-s]>subscribeMarketData.preClosePrice,'y-green':subscribeMarketData.ask[10-s]!=0&&subscribeMarketData.ask[10-s]<subscribeMarketData.preClosePrice}"
          >{{subscribeMarketData.ask[10-s] == null ? null : subscribeMarketData.ask[10-s].toFixed(2)}}</td>
          <td>{{subscribeMarketData.askQty[10-s] == null ? null : subscribeMarketData.askQty[10-s].Format('0,0')}}</td>
          <td
            :class="[subscribeMarketData.diffAskQtyCls[10-s]]"
          >{{subscribeMarketData.diffAskQtySymbol[10-s]}}{{subscribeMarketData.diffAskQtyNum[10-s]}}</td>
        </tr>
        <tr class="highlight">
          <th class="y-red">最新</th>
          <td
            v-if="!tofixid"
            :class="{'y-red':subscribeMarketData.lastPrice>subscribeMarketData.preClosePrice,'y-green':subscribeMarketData.lastPrice<subscribeMarketData.preClosePrice}"
          >{{subscribeMarketData.lastPrice == null ? null : subscribeMarketData.lastPrice.toFixed(3)}}</td>
          <td
            v-else
            :class="{'y-red':subscribeMarketData.lastPrice>subscribeMarketData.preClosePrice,'y-green':subscribeMarketData.lastPrice<subscribeMarketData.preClosePrice}"
          >{{subscribeMarketData.lastPrice == null ? null : subscribeMarketData.lastPrice.toFixed(2)}}</td>
          <td></td>
          <td
            :class="[subscribeMarketData.diffTradesCount.Cls]"
          >{{subscribeMarketData.diffTradesCount.Symbol}}{{subscribeMarketData.diffTradesCount.Num}}</td>
        </tr>
      </tbody>
    </table>
    <table class="y-table y-table-condensed">
      <tbody>
        <tr v-for="s in 10" :key="s" :class="{'highlight':s==1}" @click="setPriceData($event)">
          <th>买{{numChinese[s]}}</th>
          <td
            v-if="!tofixid"
            :class="{'y-red':subscribeMarketData.bid[s-1] !=0 && subscribeMarketData.bid[s-1]>subscribeMarketData.preClosePrice,'y-green':subscribeMarketData.bid[s-1] !=0 && subscribeMarketData.bid[s-1]<subscribeMarketData.preClosePrice}"
          >{{subscribeMarketData.bid[s-1] == null ? null : subscribeMarketData.bid[s-1].toFixed(3)}}</td>
          <td
            v-else
            :class="{'y-red':subscribeMarketData.bid[s-1] !=0 && subscribeMarketData.bid[s-1]>subscribeMarketData.preClosePrice,'y-green':subscribeMarketData.bid[s-1] !=0 && subscribeMarketData.bid[s-1]<subscribeMarketData.preClosePrice}"
          >{{subscribeMarketData.bid[s-1] == null ? null : subscribeMarketData.bid[s-1].toFixed(2)}}</td>
          <td>{{subscribeMarketData.bidQty[s-1] == null ? null : subscribeMarketData.bidQty[s-1].Format('0,0')}}</td>
          <td
            :class="[subscribeMarketData.diffBidQtyCls[s-1]]"
          >{{subscribeMarketData.diffBidQtySymbol[s-1]}}{{subscribeMarketData.diffBidQtyNum[s-1]}}</td>
        </tr>
        <tr>
          <th class="y-yellow">时间</th>
          <td colspan="3" class="text-left">{{subscribeMarketData.dataTime}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import { NumChineseMixin } from "@/mixins/mixin";
export default {
  mixins: [NumChineseMixin],
  props: {
    subscribeMarketData: {
      type: Object,
      default: {
        ask: [],
        askQty: [],
        bid: [],
        bidQty: [],
        diffTradesCount: {
          Num: null,
          Cls: "",
          Symbol: ""
        },
        tradesCount: 0,
        diffAskQtyNum: [],
        diffAskQtyCls: [],
        diffAskQtySymbol: [],
        diffBidQtyNum: [],
        diffBidQtyCls: [],
        diffBidQtySymbol: [],
        preClosePrice: 0,
        dataTime: null
      }
    },
    currentTabOrder: String
  },
  data: function() {
    return {
      current: "buy",
      tofixid: null,
      objbuyData: {
        tdTwo: null,
        tdThree: null
      },
      objsellData: {
        tdTwo: null,
        tdThree: null
      }
    };
  },
  methods: {
    setPriceData(e) {
      let self = this;
      let tr = e.currentTarget;
      let innerData = tr.querySelectorAll("td")[0];
      if (innerData.innerHTML === "") return;
      else {
        self[`obj${self.current}Data`].tdTwo = parseFloat(innerData.innerHTML);
        this.$emit("on-changeCol", self[`obj${self.current}Data`]);
      }
    }
  },
  watch: {
    currentTabOrder(val) {
      this.current = val;
    },
    subscribeMarketData(val) {
      let self = this;
      if (val.ticker) {
        let arr = app.tickerSearch(val["ticker"], "XTP_TICKER_TYPE_STOCK");
        if (arr.length == 0) {
            self.tofixid = false;
        }else self.tofixid = true;
      }
      if (val.ask[0] == undefined) return;
      if (this.current === "buy") {
        self[`obj${self.current}Data`].tdTwo =
          self[`obj${self.current}Data`].tdTwo || val.ask[0];
      } else {
        self[`obj${self.current}Data`].tdTwo =
          self[`obj${self.current}Data`].tdTwo || val.bid[0];
      }
    }
  }
};
</script>

