<template>
  <div class="content-body-right">
    <div class="tab-wrapper">
      <div class="tab-bar">
        <RadioGroup v-model="currentTab" class="y-black" type="button" size="small">
          <Radio value='today' label="今日委托" ></Radio>
          <Radio value='history' label="历史委托"></Radio>
        </RadioGroup>
        <!-- <div class="formsearch pull-right" style="min-width:400px">
          <Form :model="formItem" class="y-dark" inline>
            <FormItem label="股票代码">
              <Input v-model="formItem.stockcode" class="y-dark" size="small" @focus="stockCodeFlag=true" placeholder=""></Input>
            </FormItem>
            <FormItem label="XTP ID">
              <Input v-model="formItem.xtpid" class="y-dark" size="small" placeholder="" autofocus></Input>
            </FormItem>
            <FormItem>
              <Button type="primary" size="small">查询</Button>
            </FormItem>
          </Form>
        </div> -->
        <!-- <div class="pull-right y-search">
          <Form ref="formInline" inline>
            <FormItem >
              <Input type="text" class="y-dark" size="small" placeholder="股票代码">
              </Input>
            </FormItem>
            <FormItem label="XTP ID">
              <Input type="password" class="y-dark" size="small" placeholder="Password">
              </Input>
            </FormItem>
            <FormItem>
              <Button type="primary">Signin</Button>
            </FormItem>
          </Form>
          <i class="f f-refresh" title="刷新"></i>
          <i class="f f-cog" @click="modal = true" title="设置"></i>
        </div> -->
        <div class="pull-right ">
          <!-- :transfer='true' -->
          <AutoComplete size="small" clearable v-model="parSel.xtpQueryTraderReq.ticker" style="width: 150px" @on-search="tickerSearch" placeholder="股票代码">
            <Option v-for="s in tickerList" :value="s.code" :key="s.code">
              <span>{{ s.code }}</span>
              <span class="pull-right">{{ s.name }}</span>
            </Option>
          </AutoComplete>
          <Input type="text"  size="small" style="width: 150px" placeholder="XTP ID">

          </Input>
          <DatePicker type="daterange" size="small" :options="options2" placement="bottom-end" placeholder="请选择查询日期" style="width: 190px"></DatePicker>
          <Button type="primary" size="small">查询</Button>
          <a>
            <i class="f f-refresh" title="刷新"></i>
          </a>
          <a>
            <i class="f f-cog" @click="modal = true" title="设置"></i>
          </a>

        </div>
      </div>
      <!-- 委托查询 -->
      <div class="tab-table">
        <Table class="i-table" :width='width' :height="height" :columns="columns" :data="tData" size="small" :border='true' ref="table"></Table>
      </div>
      <Modal title="设置" v-model="modal" class-name="vertical-center-modal" :mask-closable="true" class="drag-mod" :closable='true'>
        <div>
          <Row class="color-5a5e67 fontsize-12 color-e7e7e7 lh-30">
            <i-col span="4" class="tx-center">拖动</i-col>
            <i-col span="16">标签名称</i-col>
            <i-col span="4" style="text-align:center">显示</i-col>
          </Row>

          <div style="position:relative" class="mod">
            <Row v-for="(item,index) in columns" :key="index">
              <!-- <i-col span="4"> 
                                <Icon type="navicon-round" size='22'></Icon>
                              </i-col> -->
              <i-col span="18" offset="4" v-if="index!=0&&index!=1" :class="tagChecked[index] ?' lh-26 fontsize-12 color-black':'lh-26 fontsize-12'">{{item.title}}</i-col>
              <i-col span="2" v-if="index!=0&&index!=1" :class="tagChecked[index] ? 'tx-center haschoosed':'tx-center nochoosed'">
                <Checkbox v-model="tagChecked[index]" class="y-black-checkbox lh-26"></Checkbox>
              </i-col>
            </Row>

            <draggable v-model="columns" :move="getdata" @update="datadragEnd" style="position:absolute;top:-52px;left:22px">
              <transition-group>
                <div v-for="(element,index) in columns" :key="index" class="lh-26">
                  <span v-if="false">{{element.title}}</span>
                  <Icon v-if="index!=0 && index!=1" type="navicon-round" size='15' :class="tagChecked[index] ? 'color-black':'color-5a5e67'"></Icon>
                </div>
              </transition-group>
            </draggable>
          </div>
        </div>

        <div slot="footer">
          <Button class="pull-left" size="small">重置</Button>
          <Button type="primary" size="small">确定</Button>
          <Button @click="modal=false" size="small">取消</Button>
        </div>
        <!-- 
                   取消：最后一次操作后的数组渲染当前数据
                   确定，当前操作修改渲染数组
                   重置，以原始数据渲染数据
                  -->
      </Modal>
    </div>
  </div>
</template>
<style lang="scss" scoped>
label {
  margin-bottom: 0;
}
.ivu-icon {
  line-height: 26px;
}
.mod {
  height: 160px;
  overflow: auto;
}
.ivu-modal {
  width: 370px;
  height: 250px;
}
.pull-right {
  margin-right: 10px;
}
.tab-bar {
  width: 100%;
  height: 22px;
  position: relative;
}
.ivu-form .ivu-form-item-label {
  padding-top: 0px;
  color: #d0d0d4;
  height: 22px;
  line-height: 22px;
}
.ivu-modal-footer {
  padding: 0 10px;
}
</style>
<script>
import draggable from "vuedraggable";

export default {
  components: {
    draggable
  },
  data() {
    return {
      modal: false,
      stockCodeFlag: true,
      currentTab: "today", //deal
      tickerList: [],
      formItem: {
        stockcode: "",
        starttime: "",
        lasttime: "",
        xtpid: ""
      },
      stockcodekv: [
        { code: "00001", name: "平安银行" },
        { code: "00002", name: "中国银行" },
        { code: "00003", name: "建设" },
        { code: "00004", name: "上海银" },
        { code: "00005", name: "北京银行" }
      ],
      tagChecked: [
        true,
        true,
        true,
        true,
        true,
        true,
        true,
        true,
        true,
        true,
        true,
        true,
        true,
        true,
        true,
        true,
        true,
        true,
        true,
        true,
        true
      ],
      width: 0,
      height: 0,
      parSel: {
        requestId: 1,
        xtpQueryTraderReq: {
          ticker: "",
          beginTime: 0,
          endTime: 0
        }
      },
      sellPar: {
        code: "",
        type: "xjwt",
        price: 0,
        num: 0,
        numCopies: ""
      },
      options2: {
        shortcuts: [
          {
            text: "一周",
            value() {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              return [start, end];
            }
          },
          {
            text: "一月",
            value() {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              return [start, end];
            }
          },
          {
            text: "三个月",
            value() {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              return [start, end];
            }
          }
        ]
      },
      columns: [
        {
          title: "序号",
          type: "index",
          width: 70,
          fixed: "left",
          align: "center"
        },
        {
          title: "XTP ID",
          key: "name",
          fixed: "left",
          width: 120,
          align: "center"
        },
        {
          title: "股票代码",
          key: "show",
          width: 140,
          align: "center",
          sortable: true,
          filters: [
            {
              label: "Greater than 4000",
              value: 1
            },
            {
              label: "Less than 4000",
              value: 2
            }
          ],
          filterMultiple: false,
          filterMethod(value, row) {
            if (value === 1) {
              return row.show > 4000;
            } else if (value === 2) {
              return row.show < 4000;
            }
          }
        },
        {
          title: "交易所",
          key: "weak",
          width: 200,
          sortable: true,
          align: "center"
        },
        {
          title: "价格条件",
          key: "signin",
          width: 120,
          sortable: true,
          align: "center"
        },
        {
          title: "价格",
          key: "click",
          width: 100,
          sortable: true,
          align: "center"
        },
        {
          title: "数量",
          key: "active",
          width: 100,
          sortable: true,
          align: "center"
        },
        {
          title: "买卖方向",
          key: "day7",
          width: 120,
          sortable: true,
          align: "center"
        },
        {
          title: "业务类型",
          key: "day30",
          width: 120,
          sortable: true,
          align: "center"
        },
        {
          title: "成交数量",
          key: "tomorrow",
          width: 120,
          sortable: true,
          align: "center"
        },
        {
          title: "剩余数量",
          key: "day",
          width: 120,
          sortable: true,
          align: "center"
        },
        {
          title: "成交金额",
          key: "week",
          width: 120,
          sortable: true,
          align: "center"
        },
        {
          title: "报单状态",
          key: "month",
          width: 120,
          sortable: true,
          align: "center"
        },
        {
          title: "提交状态",
          key: "v1",
          width: 120,
          sortable: true,
          align: "center"
        },
        {
          title: "提交时间",
          key: "v2",
          width: 120,
          sortable: true,
          align: "center"
        },
        {
          title: "最后修改时间",
          key: "v3",
          width: 150,
          sortable: true,
          align: "center"
        },
        {
          title: "撤销时间",
          key: "v4",
          width: 120,
          sortable: true,
          align: "center"
        },
        {
          title: "Order Client Id",
          key: "v5",
          width: 160,
          sortable: true,
          align: "center"
        },
        {
          title: "本地报单编号",
          key: "v6",
          width: 140,
          sortable: true,
          align: "center"
        },
        {
          title: "CANCEL XTP ID",
          key: "v7",
          width: 180,
          sortable: true,
          align: "center"
        },
        {
          title: "Error Code",
          key: "v8",
          width: 120,
          align: "center"
        }
      ],
      tData: []
    };
  },
  mounted: function() {
    var self = this;
    self.$nextTick(function() {
      setTimeout(function() {
        for (let i = 0; i < 50; i++) {
          self.tData.push({
            name: "Name" + (i + 1),
            fav: 0,
            show: 7302,
            weak: 5627,
            signin: 1563,
            click: 4254,
            active: 1438,
            day7: 274,
            day30: 285,
            tomorrow: 1727,
            day: 558,
            week: 4440,
            month: 5610,
            v1: 1,
            v2: 1,
            v3: 1
          });
        }
      }, 100);

      // app.log("成功" + res);
      self.autoTableSize();
      window.addEventListener(
        "resize",
        function() {
          self.autoTableSize();
        },
        false
      );
    });
  },
  methods: {
    // getCode (val) {
    //         let self = this
    //         self.formItem.stockcode = val.code
    //         self.stockCodeFlag = false
    // },
    tickerSearch(val) {
      this.tickerList = app.tickerSearch(val);
    },
    autoTableSize() {
      var self = this;
      self.width = $(".i-table")
        .parent()
        .width();
      self.height =
        $(".i-table")
          .parent()
          .height() - 17;

      // ---vv----
      $(".ivu-modal").width(370);
    },

    getdata(evt) {
      // app.log(evt.draggedContext.item.id)
    },
    datadragEnd(evt) {
      app.log("拖动前的索引 :" + evt.oldIndex);
      app.log("拖动后的索引 :" + evt.newIndex);
      app.log(this.columns);
    }
  }
  // watch: {
  //         code (val) {
  //             if (val.length >= 6) {
  //               this.formItem.stockcode = val.slice(0,6)
  //             }
  //           }
  // },
  // computed: {
  //   code () {
  //       return this.formItem.stockcode
  //   },
  //   stocksearch () {
  //       return this.stockcodekv.filter(v => v.code.indexOf(this.formItem.stockcode) != -1);
  //   },
  //   infosearch () {
  //       return this.tdata.filter(v => v.show.indexOf(this.formItem.stockcode) != -1)
  //           //    return this.data1.filter(v => v.xtpid.indexOf(this.formItem.xtpid) != -1);
  //    }
  // }
};
</script>