<template>
  <div class="content-body-right">
    <div class="tab-wrapper">
      <div class="tab-bar">
        <Tabs v-model='currentTab' type="card" :animated='false'>
          <TabPane name='today' label="今日委托">
            <div style="position: relative;height:calc(100%);">
              <big-table data-k="today" :columns="entrust.col" @on-selection-change='v=>parCancelOrderXtpId=v' ref="entrustTable"></big-table>
            </div>
          </TabPane>
          <!-- <TabPane name='history' label="历史委托">
            <Table class="i-table" data-k="history" @on-current-change='changeRow' highlight-row :width='width.history' :height="height.history" :columns="historyCol" :data="historyList" size="small" :border='true' ref="table"></Table>
          </TabPane> -->
          <div slot="extra">
            <AutoComplete size="small" v-show="currentTab!='history'" :transfer='true' clearable v-model="entrust.page.ticker" style="width: 150px" @on-search="tickerSearch" placeholder="股票代码">
              <Option v-for="s in tickerList" class="y-blue" :value="s.code" :key="s.code">
                <span>{{ s.code }}</span>
                <span class="pull-right">{{ s.name }}</span>
              </Option>
            </AutoComplete>
            <Select size="small" v-model="entrust.page.cancelenable" v-show="currentTab!='history'" style="width:90px" placeholder="全部委托">
              <Option value='false'>全部委托</Option>
              <Option value='true'>可撤委托</Option>
            </Select>
            <AutoComplete size="small" v-show="currentTab=='history'" :transfer='true' clearable v-model="entrust.page.ticker" style="width: 150px" @on-search="tickerSearchHistory" placeholder="股票代码">
              <Option v-for="s in tickerList" :value="s.code" :key="s.code">
                <span>{{ s.code }}</span>
                <span class="pull-right">{{ s.name }}</span>
              </Option>
            </AutoComplete>
            <!-- <Input type="text" size="small" style="width: 150px" placeholder="XTP ID" v-model="xtpId" /> -->
            <DatePicker type="daterange" v-model='day' format='yyyy-MM-dd' v-show="currentTab=='history'" :transfer='true' size="small" :options="options2" placement="bottom-end" placeholder="请选择查询日期" style="width: 190px"></DatePicker>
            <Button type="primary" @click="init" size="small">查询</Button>
            <Button size="small" type="primary" :disabled='!parCancelOrderXtpId.length' @click="cancelOrder">撤单</Button>
            <a :href="exportCSVUrl">
              <i class="f f-csv" title="导出csv"></i>
            </a>
            <a @click="sel">
              <i class="f f-refresh" title="刷新"></i>
            </a>
            <a>
              <i class="f f-cog" @click="isShow = true" title="设置"></i>
            </a>
          </div>
        </Tabs>
      </div>
    </div>
    <col-setting v-model='isShow' @on-changeCol='val=>{entrust.col = val}' :col='entrust.col'></col-setting>
  </div>
</template>
<style lang="scss" scoped>
.tab-wrapper .tab-bar {
  height: 100%;
}
</style>
<script>
import draggable from "vuedraggable";
import ColSetting from "@/components/colSetting";
import BigTable from "@/components/bigTable";
export default {
  components: {
    draggable,
    ColSetting,
    BigTable
  },
  watch: {
    "$store.state.tran.isLogin": function(val) {
      val ? this.init() : this.clear();
    },

    "entrust.page.cancelenable": function(val) {
      this.entrust.page.page = 1;
      this.selEntrust();
    },
    day: function(val, oVal) {
      this.historyPar.xtpQueryOrderReq.beginTime = parseInt(
        this.day[0].Format("yyyyMMdd000000000")
      );
      this.historyPar.xtpQueryOrderReq.endTime = parseInt(
        this.day[1].Format("yyyyMMdd235959999")
      );
    }
  },
  computed: {
    exportCSVUrl() {
      let self = this;
      let m = app.method["user/exportorders"];
      let url = `${app.ajaxOption.prefix}://${app.ajaxOption.serviceIP}:${
        app.ajaxOption.port
      }/${m.url}`;
      let parStr = "?";
      let page = Object.assign({}, self.entrust.page);
      page.total = false;
      for (let k in page) {
        parStr += `${k}=${page[k]}&`;
      }
      return url + parStr;
    }
  },
  sockets: {
    // 撤单回调
    cancelOrderResult(data) {
      app.log("cancelOrderResult:", data);
      if (data.code == 0) {
        this.$socket.emit("queryOrderByXTPID", {
          orderXtpId: data.id,
          requestId: 3
        });
      }
      !data.code
        ? this.$Message.success(data.msg)
        : this.$Message.error(data.msg);
    }
  },
  created() {
    let self = this;

    self.$nextTick(() => {
      setTimeout(() => {
        self.$store.state.tran.isLogin ? self.init() : self.clear();
      }, 0);
      self.autoTableSize();
    });
  },
  mounted: function() {
    var self = this;
    self.$nextTick(function() {
      self.autoTableSize();
      window.addEventListener(
        "resize",
        function() {
          self.autoTableSize();
        },
        false
      );
    });
  },
  methods: {
    init() {
      let self = this;
      self.entrust.page.page = 1;
      self.entrust.page.size = 5;
      self.selEntrust().then(function (d) {
          self.$refs.entrustTable.init({
              total:5000||d.total,
              initData:d.items,
              loadData:function (params, callback) {
                  self.entrust.page.size = params.pageSize;
                  self.entrust.page.page = params.pageNum;
                  self.selEntrust().then(function (data) {
                      callback(data.items);
                  });
              },
              subData:function (rows) {
                  //订阅表格行数据
                  console.log("subData:",rows);
              },
              unsubData:function (rows) {
                  //取消订阅表格行数据
                  console.log("unsubData:",rows);
              }
          });
      });
    },
    clear() {
      this.entrust.page.page = 1;
      this.entrust.list = [];
    },
    selEntrust() {
      let self = this;
        return new Promise( function( resolve, reject){
            let params = JSON.parse(JSON.stringify(self.entrust.page));
            app.ajax(
                "user/orders",
                params,
                d => {
                    d.items.forEach(it => {
                        (it.orderStatus == "XTP_ORDER_STATUS_ALLTRADED" ||
                            it.orderStatus == "XTP_ORDER_STATUS_CANCELED" ||
                            it.orderStatus == "XTP_ORDER_STATUS_REJECTED" ||
                            it.orderStatus == "XTP_ORDER_STATUS_PARTTRADEDNOTQUEUEING" ||
                            it.orderStatus == "XTP_ORDER_STATUS_UNKNOWN" ||
                            it.orderSubmitStatusType ==
                            "XTP_ORDER_SUBMIT_STATUS_INSERT_REJECTED" ||
                            it.orderSubmitStatusType ==
                            "XTP_ORDER_SUBMIT_STATUS_CANCEL_SUBMITTED" ||
                            it.orderSubmitStatusType ==
                            "XTP_ORDER_SUBMIT_STATUS_CANCEL_REJECTED" ||
                            it.orderSubmitStatusType ==
                            "XTP_ORDER_SUBMIT_STATUS_CANCEL_ACCEPTED") &&
                        (it._disabled = true);
                    });
                    resolve(d);
                },
                ex => {
                    reject(ex);
                }
            );
        });
    },
    sel() {
      let self = this;
      switch (self.currentTab) {
        case "today":
          //   self.clear();
          // self.selEntrust();
          break;
        case "history":
          self.historyListTemp = [];
          self.historyList = [];
          app.log("发出了请求 queryOrders", self.historyPar);

          self.$socket.emit("queryOrders", self.historyPar);
          break;
        default:
          break;
      }
    },
    cancelOrder() {
      let self = this;
      self.parCancelOrderXtpId.forEach(it => {
        self.$socket.emit("cancelOrder", {
          orderXtpId: it.orderXtpId
        });
      });
      self.$refs.entrustTable.selectAll(false);
    },
    changeRow(cRow, oldRow) {
      this.parCancelOrder.orderXtpId = cRow.orderXtpId;
    },
    /**
     * 页面中查询时,输入自动加载完成
     */
    tickerSearch(val) {
      this.tickerList = app.tickerSearch(val, "XTP_TICKER_TYPE_STOCK");
    },
    tickerSearchHistory(val) {
      this.tickerList = app.tickerSearch(val, "XTP_TICKER_TYPE_STOCK");
    },
    EntrustList() {
      let self = this;
      let start = (self.entrust.page.index - 1) * self.entrust.page.size;
      let end =
        start + self.entrust.page.size > self.entrust.initList.length
          ? self.entrust.initList.length
          : start + self.entrust.page.size;
      return self.entrust.initList.slice(start, end);
    }
  },
    data() {
        return {
            entrust: {
                page: {
                    size: 50,
                    page: 1,
                    total: true,
                    type: "all",
                    ticker: "",
                    cancelenable: "false",
                    date: new Date().Format("yyyy-MM-dd")
                },
                initList: [],
                list: [],
                col: [
                    {
                        type: "selection",
                        width: 40,
                        align: "center",
                        fixed: "left"
                    },
                    {
                        title: "序号",
                        width: 40,
                        fixed: "left",
                        align: "right",
                        className: "y-yellow",
                        type: "index"
                    },
                    {
                        title: "XTP ID",
                        key: "orderXtpId",
                        fixed: "left",
                        align: "center",
                        width: 170
                    },
                    {
                        title: "代码",
                        key: "ticker",
                        width: 75,
                        align: "center",
                        sortable: true,
                        className: "y-yellow"
                    },
                    {
                        title: "交易所",
                        key: "xtpMarketType",
                        width: 90,
                        align: "center",
                        sortable: true,
                        render: (h, par) => {
                            return h(
                                "div",
                                app.dataTypeToName(par.row[par.column.key], "XTP_MARKET_TYPE")
                            );
                        }
                    },
                    {
                        title: "价格条件",
                        key: "xtpPriceType",
                        width: 90,
                        align: "center",
                        sortable: true,
                        render: (h, par) => {
                            return h(
                                "div",
                                app.dataTypeToName(par.row[par.column.key], "XTP_PRICE_TYPE")
                            );
                        }
                    },
                    {
                        title: "价格",
                        key: "price",
                        width: 60,
                        align: "right",
                        sortable: true,
                        className: "y-yellow",
                        render: (h, par) => {
                            return h("div", par.row[par.column.key].toFixed(3));
                        }
                    },
                    {
                        title: "数量",
                        key: "quantity",
                        width: 80,
                        align: "right",
                        sortable: true,
                        className: "y-error",
                        render: (h, par) => {
                            return h(
                                "div",
                                par.row[par.column.key] == (0 || null)
                                    ? 0
                                    : par.row[par.column.key].Format("0,0")
                            );
                        }
                    },
                    {
                        title: "买/卖",
                        key: "xtpSideType",
                        width: 70,
                        align: "center",
                        sortable: true,
                        render: (h, par) => {
                            return h(
                                "div",
                                app.dataTypeToName(par.row[par.column.key], "XTP_SIDE_TYPE")
                            );
                        }
                    },
                    {
                        title: "业务类型",
                        key: "xtpBusinessType",
                        width: 110,
                        align: "center",
                        sortable: true,
                        render: (h, par) => {
                            return h(
                                "div",
                                app.dataTypeToName(par.row[par.column.key], "XTP_BUSINESS_TYPE")
                            );
                        }
                    },
                    {
                        title: "成交数量",
                        key: "qtyTraded",
                        width: 110,
                        align: "right",
                        sortable: true,
                        className: "y-yellow",
                        render: (h, par) => {
                            return h(
                                "div",
                                par.row[par.column.key] == (0 || null)
                                    ? 0
                                    : par.row[par.column.key].Format("0,0")
                            );
                        }
                    },
                    {
                        title: "剩余数量",
                        key: "qtyLeft",
                        width: 110,
                        align: "right",
                        sortable: true,
                        className: "y-error",
                        render: (h, par) => {
                            return h(
                                "div",
                                par.row[par.column.key] == (0 || null)
                                    ? 0
                                    : par.row[par.column.key].Format("0,0")
                            );
                        }
                    },
                    {
                        title: "成交金额",
                        key: "tradeAmount",
                        width: 110,
                        align: "right",
                        className: "y-yellow",
                        sortable: true,
                        render: (h, par) => {
                            return h(
                                "div",
                                par.row[par.column.key] == (0 || null)
                                    ? 0
                                    : par.row[par.column.key].Format("0,0.00")
                            );
                        }
                    },
                    {
                        title: "报单状态",
                        key: "orderStatus",
                        width: 100,
                        align: "left",
                        sortable: true,
                        render: (h, par) => {
                            return h(
                                "div",
                                app.dataTypeToName(
                                    par.row[par.column.key],
                                    "XTP_ORDER_STATUS_TYPE"
                                )
                            );
                        }
                    },
                    {
                        title: "提交状态",
                        key: "orderSubmitStatusType",
                        width: 120,
                        align: "center",
                        sortable: true,
                        render: (h, par) => {
                            return h(
                                "div",
                                app.dataTypeToName(
                                    par.row[par.column.key],
                                    "XTP_ORDER_SUBMIT_STATUS_TYPE"
                                )
                            );
                        }
                    },
                    {
                        title: "委托时间",
                        key: "insertTime",
                        width: 160,
                        align: "center",
                        sortable: true,
                        render: (h, par) => {
                            return h(
                                "div",
                                par.row[par.column.key] &&
                                par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss")
                            );
                        }
                    },
                    {
                        title: "最后修改时间",
                        key: "updateTime",
                        width: 160,
                        align: "center",
                        sortable: true,
                        render: (h, par) => {
                            return h(
                                "div",
                                par.row[par.column.key] &&
                                par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss")
                            );
                        }
                    },
                    {
                        title: "撤销时间",
                        key: "cancelTime",
                        width: 160,
                        align: "center",
                        sortable: true,
                        render: (h, par) => {
                            return h(
                                "div",
                                par.row[par.column.key] &&
                                par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss")
                            );
                        }
                    }
                ]
            },
            entrustList: [],

            width: {
                today: 0,
                history: 0
            },
            height: {
                today: 0,
                history: 0
            },
            xtpId: "",
            parCancelOrderXtpId: [],
            isShow: false,
            stockCodeFlag: true,
            currentTab: "today", //deal
            day: [
                new Date(new Date().setDate(new Date().getDate() - 7)).Format(
                    "yyyy-MM-dd"
                ),
                new Date().Format("yyyy-MM-dd")
            ], // ["2018-03-01", "2018-03-07"],
            parCancelOrder: {
                orderXtpId: ""
            },
            tickerList: [],

            todayPar: {
                state: -1,
                requestId: 1,
                xtpQueryOrderReq: {
                    ticker: "",
                    beginTime: 0,
                    endTime: 0
                }
            },
            historyPar: {
                requestId: 1,
                xtpQueryOrderReq: {
                    ticker: "",
                    beginTime: 0,
                    endTime: 0
                }
            },
            historyList: [],
            historyListTemp: [],
            historyCol: [
                {
                    title: "序号",
                    type: "index",
                    width: 60,
                    fixed: "left",
                    align: "right"
                },
                {
                    title: "XTP ID",
                    key: "orderXtpId",
                    fixed: "left",
                    width: 180
                },
                {
                    title: "代码",
                    key: "ticker",
                    width: 100,
                    sortable: true,
                    className: "info"
                },
                {
                    title: "交易所",
                    key: "xtpMarketType",
                    width: 200,
                    sortable: true,
                    render: (h, par) => {
                        return h(
                            "div",
                            app.dataTypeToName(par.row[par.column.key], "XTP_MARKET_TYPE")
                        );
                    }
                },
                {
                    title: "价格条件",
                    key: "xtpPriceType",
                    width: 120,
                    sortable: true,
                    render: (h, par) => {
                        return h(
                            "div",
                            app.dataTypeToName(par.row[par.column.key], "XTP_PRICE_TYPE")
                        );
                    }
                },
                {
                    title: "价格",
                    key: "price",
                    width: 100,
                    align: "right",
                    sortable: true
                },
                {
                    title: "数量",
                    key: "quantity",
                    width: 100,
                    align: "right",
                    sortable: true
                },
                {
                    title: "买卖方向",
                    key: "xtpSideType",
                    width: 120,
                    align: "center",
                    sortable: true,
                    render: (h, par) => {
                        return h(
                            "div",
                            app.dataTypeToName(par.row[par.column.key], "XTP_SIDE_TYPE")
                        );
                    }
                },
                {
                    title: "业务类型",
                    key: "xtpBusinessType",
                    width: 300,
                    sortable: true,
                    render: (h, par) => {
                        return h(
                            "div",
                            app.dataTypeToName(par.row[par.column.key], "XTP_BUSINESS_TYPE")
                        );
                    }
                },
                {
                    title: "成交数量",
                    key: "qtyTraded",
                    width: 120,
                    align: "right",
                    sortable: true
                },
                {
                    title: "剩余数量",
                    key: "qtyLeft",
                    width: 120,
                    align: "right",
                    sortable: true
                },
                {
                    title: "成交金额",
                    key: "tradeAmount",
                    width: 120,
                    align: "right",
                    sortable: true,
                    className: "info",
                    render: (h, par) => {
                        return h(
                            "div",
                            par.row[par.column.key] == (0 || null)
                                ? 0
                                : par.row[par.column.key].Format("0,0.00")
                        );
                    }
                },
                {
                    title: "报单状态",
                    key: "orderStatus",
                    width: 120,
                    sortable: true,
                    render: (h, par) => {
                        return h(
                            "div",
                            app.dataTypeToName(
                                par.row[par.column.key],
                                "XTP_ORDER_STATUS_TYPE"
                            )
                        );
                    }
                },
                {
                    title: "提交状态",
                    key: "orderSubmitStatusType",
                    width: 200,
                    sortable: true,
                    render: (h, par) => {
                        return h(
                            "div",
                            app.dataTypeToName(
                                par.row[par.column.key],
                                "XTP_ORDER_SUBMIT_STATUS_TYPE"
                            )
                        );
                    }
                },
                {
                    title: "委托时间",
                    key: "insertTime",
                    width: 210,
                    sortable: true,
                    render: (h, par) => {
                        return par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss");
                    }
                },
                {
                    title: "最后修改时间",
                    key: "updateTime",
                    width: 210,
                    sortable: true,
                    render: (h, par) => {
                        return par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss");
                    }
                },
                {
                    title: "撤销时间",
                    key: "cancelTime",
                    width: 210,
                    sortable: true,
                    render: (h, par) => {
                        return par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss");
                    }
                }
            ],
            options2: {
                shortcuts: [
                    {
                        text: "一周",
                        value() {
                            const end = new Date();
                            const start = new Date();
                            start.setDate(start.getDate() - 7);
                            return [start, end];
                        }
                    },
                    {
                        text: "一月",
                        value() {
                            const end = new Date();
                            const start = new Date();
                            start.setMonth(start.getMonth() - 1);
                            return [start, end];
                        }
                    },
                    {
                        text: "三个月",
                        value() {
                            const end = new Date();
                            const start = new Date();
                            start.setMonth(start.getMonth() - 3);
                            return [start, end];
                        }
                    },
                    {
                        text: "半年",
                        value() {
                            const end = new Date();
                            const start = new Date();
                            start.setMonth(start.getMonth() - 6);
                            return [start, end];
                        }
                    },
                    {
                        text: "一年",
                        value() {
                            const end = new Date();
                            const start = new Date();
                            start.setMonth(start.getMonth() - 12);
                            return [start, end];
                        }
                    }
                ]
            }
        };
    }
};
</script>