<template>
  <div class="content-body-right">
    <div class="tab-content">
      <div class="tab-top">
        <div>
          <div class="tab-header">配股</div>
          <div class="tab-body">
            <Form
              class="y-form y-order"
              ref="parOrderAllotment"
              :model="parOrderAllotment"
              :rules="parOrderAllotmentRule"
              :label-width="80"
            >
              <FormItem label="证券代码" prop="ticker">
                <AutoComplete
                  size="small"
                  class="y-blue"
                  element-id="allotment"
                  clearable
                  v-model="parOrderAllotment.ticker"
                  @on-search="tickerSearchBuyAllotment"
                  @on-select="changeBuyXtpMarketTypeAllotment"
                  placeholder="请输入代码"
                >
                  <Option v-for="s in tickerList.allotment" :value="s.code" :key="s.code">
                    <span>{{ s.code }}</span>
                    <span class="pull-right">{{ s.name }}</span>
                  </Option>
                </AutoComplete>
              </FormItem>
              <FormItem label="证券名称">{{parOrderAllotment.tickerName}}</FormItem>
              <FormItem label="交易市场" prop="xtpMarketType">
                <Select
                  class="y-blue"
                  v-model.number="parOrderAllotment.xtpMarketType"
                  size="small"
                >
                  <Option :value="1" :key="1" class="y-blue">深A</Option>
                  <Option :value="2" :key="2" class="y-blue">沪A</Option>
                </Select>
              </FormItem>
              <FormItem label="委托数量(股)" prop="quantity">
                <InputNumber
                  class="y-blue"
                  v-model="parOrderAllotment.quantity"
                  :step="100"
                  :min="0"
                  :precision="0"
                  :max="maxcount"
                  size="small"
                  element-id="txtQunity"
                  :formatter="value => `${value}`.replace(/(\d)(?=(?:\d{3})+$)/g,'$1,')"
                  :parser="value => value.replace(/$s?|(,*)/g, '')"
                  @keyup.enter.native="addAllotment('parOrderAllotment')"
                ></InputNumber>
              </FormItem>
              <FormItem class="y-block">
                <Button
                  type="primary"
                  @click="addAllotment('parOrderAllotment')"
                  size="small"
                  long
                >配股</Button>
              </FormItem>
            </Form>
          </div>
        </div>
        <div>
          <div class="tab-wrapper" style="height:100%;width:100%">
            <div class="tab-bar">持仓
              <div class="pull-right">
                <a>
                  <i class="f f-refresh" @click="selPosition" title="刷新"></i>
                </a>
              </div>
            </div>
            <div class="tab-table" style="position:relative">
              <Table
                class="i-table"
                data-k="position"
                @on-row-dblclick="positionRowDblclick"
                :width="width.position"
                :height="height.position"
                :columns="position.col"
                :data="position.list"
                size="small"
                :border="true"
                ref="table"
              ></Table>
            </div>
            <div style="margin: 0px;background: #1e2127;">
              <div style="float: right;">
                <Page
                  :total="position.initList.length"
                  :page-size="position.page.size"
                  :page-size-opts="[10,20,50,100]"
                  show-sizer
                  show-elevator
                  size="small"
                  :current="position.page.index"
                  @on-change="positionChangePage"
                  @on-page-size-change="positionPageSizeChange"
                ></Page>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-bottom">
        <div class="tab-wrapper">
          <order xtpBusinessType="XTP_BUSINESS_TYPE_ALLOTMENT"></order>
        </div>
      </div>
    </div>
  </div>
</template>  
<style lang="scss" scoped>
.tab-top {
  height: 400px;
  > div:nth-child(1) {
    width: 300px;
    flex-basis: 300px;
    background-color: #1e2127;
    tbody {
      width: 100%;
      display: table;
    }
  }
  > div:last-child {
    flex: 1;
  }
}
</style>

<script>
import Order from "@/components/order";
export default {
  components: {
    Order
  },
  data() {
    return {
      width: {
        entrust: 0,
        deal: 0,
        position: 0
      },
      height: {
        entrust: 0,
        deal: 0,
        position: 0
      },
      parCancelOrder: {
        orderXtpId: ""
      },
      // 新股申购一键申购
      parBuyOrder: {
        orderXtpId: 0,
        orderClientId: 13,
        ticker: "",
        xtpMarketType: 2,
        price: 0,
        stopPrice: 0.0,
        quantity: 0,
        xtpPriceType: 1,
        xtpSideType: 1,
        xtpBusinessType: 1
      },

      // 配股
      parOrderAllotment: {
        orderXtpId: 0,
        orderClientId: 13,
        ticker: "",
        xtpMarketType: null,
        price: 0,
        stopPrice: 0.0,
        quantity: null,
        xtpPriceType: 1,
        xtpSideType: 1,
        xtpBusinessType: 6,
        tickerName: ""
      },
      parOrderAllotmentRule: {
        ticker: [
          {
            required: true,
            message: "",
            trigger: "change" //trigger: "blur"
          }
        ],
        quantity: [
          {
            required: true,
            type: "number",
            message: "",
            trigger: "change",
            min: 1
          }
        ],
        xtpMarketType: [
          {
            required: true,
            type: "number",
            message: "",
            trigger: "change",
            min: 1
          }
        ]
      },
      buyPar: {
        code: "",
        market: "market",
        num: 0,
        numCopies: ""
      },
      sellPar: {
        code: "",
        market: "market",
        num: 0,
        price: 0,
        numCopies: ""
      },
      tickerList: {
        IPO: [],
        allotment: []
      },
      position: {
        page: {
          size: 20,
          index: 1
        },
        initList: [],
        list: [],
        col: [
          {
            title: "序号",
            width: 40,
            fixed: "left",
            align: "right",
            render: (h, par) => {
              let self = this;
              return h(
                "div",
                (self.position.page.index - 1) * self.position.page.size +
                  par.index +
                  1
              );
            }
          },
          {
            title: "证券名称",
            key: "tickerName",
            fixed: "left",
            width: 120,
            align: "left",
            className: "y-yellow"
          },
          {
            title: "证券代码",
            key: "ticker",
            fixed: "left",
            align: "center",
            width: 70
          },
          {
            title: "交易所",
            key: "xtpMarketType",
            width: 80,
            sortable: true,
            align: "center",
            render: (h, par) => {
              return h(
                "div",
                app.dataTypeToName(par.row[par.column.key], "XTP_MARKET_TYPE")
              );
            }
          },
          {
            title: "总持仓",
            key: "totalQty",
            width: 100,
            align: "right",
            className: "y-yellow",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          },
          {
            title: "可卖持仓",
            key: "sellableQty",
            width: 100,
            align: "right",
            className: "y-error",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          },
          {
            title: "持仓成本",
            key: "avgPrice",
            width: 100,
            className: "y-yellow",
            align: "right",
            sortable: true
          },
          {
            title: "浮动盈亏",
            key: "unrealizedPnl",
            width: 100,
            align: "right",
            sortable: true
          },
          {
            title: "昨日持仓",
            className: "y-yellow",
            key: "yesterdayPosition",
            width: 100,
            align: "right",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          },
          {
            title: "可申购/赎回数量",
            key: "purchaseRedeemableQty",
            width: 150,
            className: "y-error",
            align: "right",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          }
        ]
      },
      maxcount: null,
      noRepeatSubmit: true
    };
  },
  watch: {
    "$store.state.tran.positionList": function(val) {
      this.position.initList = val;
      this.position.list = this.PositionList();
    },
    "parOrderAllotment.ticker"(val) {
      if (val == "") {
        this.parOrderAllotment.quantity = null;
        this.maxcount = 1000000;
        this.parOrderAllotment.ticker = "";
        this.parOrderAllotment.tickerName = "";
      }
      if (val.length === 6) {
        let tickers = this.position.initList.find(it => it.ticker == val);
        this.parOrderAllotment.xtpMarketType = tickers.marketId;
        this.parOrderAllotment.tickerName = tickers.tickerName;
        this.parOrderAllotment.quantity = parseInt(tickers.sellableQty);
        this.maxcount = parseInt(tickers.sellableQty);
      }
    }
  },
  created() {
    let self = this;
    self.$nextTick(() => {
      setTimeout(() => {
        self.entrustList = self.$store.state.tran.entrustList.filter(
          it => it.xtpBusinessType == "XTP_BUSINESS_TYPE_ALLOTMENT"
        );
        self.positionList = self.$store.state.tran.positionList;
        self.dealList = self.$store.state.tran.dealList.filter(
          it => it.xtpBusinessType == "XTP_BUSINESS_TYPE_ALLOTMENT"
        );
        self.position.initList = self.$store.state.tran.positionList;
        self.position.list = self.PositionList();
      }, 0);
    });
  },
  mounted: function() {
    var self = this;
    self.$nextTick(function() {
      self.autoTableSize();
      document.getElementById('allotment').focus();
      window.addEventListener(
        "resize",
        function() {
          this.autoTableSize();
        },
        false
      );
    });
  },
  sockets: {
    queryIPOInfoListRsp(data, err) {
      app.log("queryIPOInfoListRsp:::::", data, err);
      let self = this;
      if (data) {
        self.tData.push(data);
      }
      app.log("subscribeAllMarketDataRsp::", data);
    },
    insertOrderTokenRsp(data) {
      let self = this;
      self.$socket.emit("insertOrder", {
        insertOrderToken: data.insertOrderToken,
        tradeInsertOrder: self.parOrderAllotment
      });
      self.$refs["parOrderAllotment"].resetFields();
      self.parOrderAllotment.tickerName = "";
      document.getElementById("allotment").focus();
      app.log("par:::", self.parOrderAllotment);
    }
  },
  methods: {
    tickerSearchBuy(val) {
      this.tickerList.IPO = app.tickerSearch(val, "ordinarySell");
    },
    // 配股
    addAllotment(name) {
      let self = this;
      this.$refs[name].validate(valid => {
        if (valid) {
          if (self.noRepeatSubmit) {
            self.$socket.emit("getInsertOrderToken", self.parOrderAllotment);
            self.noRepeatSubmit = false;
            setTimeout(() => {
              self.noRepeatSubmit = true;
            }, 2000);
          }
        } else {
          self.$Message.error("请填写完整的配股信息！");
        }
      });
    },
    tickerSearchBuyAllotment(val) {
      this.tickerList.allotment = app.tickerSearch(val, "ordinarySell");
    },
    changeBuyXtpMarketTypeAllotment(val) {
      let self = this;
      let ticker = app.ticker.XTP_TICKER_TYPE_STOCK.find(it => it.code == val);
      if (ticker) {
        self.parOrderAllotment.xtpMarketType = ticker.marketId;
        self.parOrderAllotment.tickerName = ticker.name;
      } else {
        self.parOrderAllotment.xtpMarketType = 0;
        self.parOrderAllotment.tickerName = "";
      }
    },
    tickerSearchBuyBuyback(val) {
      this.tickerList.buyback = app.tickerSearch(val, "XTP_TICKER_TYPE_STOCK");
    },
    changeBuyXtpMarketType(val) {
      let ticker = app.ticker.XTP_TICKER_TYPE_STOCK.find(it => it.code == val);
      this.parOrderBuyback.xtpMarketType = ticker ? ticker.exchangeId : 0;
    },
    changeBuyXtpMarketTypeBuyback(val) {
      let ticker = app.ticker.XTP_TICKER_TYPE_STOCK.find(it => it.code == val);
      this.parOrderBuyback.xtpMarketType = ticker ? ticker.exchangeId : 0;
    },

    changeRow(cRow, oldRow) {
      this.parBuyOrder.ticker = cRow.ticker;
      this.parBuyOrder.price = cRow.price;
      this.parBuyOrder.quantity = cRow.unit;
      this.parBuyOrder.xtpMarketType =
        app.dataType.XTP_MARKET_TYPE[cRow.marketType].i;

      // this.parCancelOrder.orderXtpId = cRow.orderXtpId;
    },
    //页面中持仓dbclick时添加数据到卖入中
    positionRowDblclick(row) {
      let self = this;
      self.parOrderAllotment.xtpMarketType = row.marketId;
      self.parOrderAllotment.quantity =
        row.sellableQty > this.maxcount ? this.maxcount : row.sellableQty;
      self.parOrderAllotment.ticker = row.ticker;
      self.parOrderAllotment.tickerName = row.tickerName;
    },
    PositionList() {
      let self = this;
      // debugger;
      let start = (self.position.page.index - 1) * self.position.page.size;
      let end =
        start + self.position.page.size > self.position.initList.length
          ? self.position.initList.length
          : start + self.position.page.size;
      return self.position.initList.slice(start, end);
    },
    positionChangePage(index) {
      this.position.page.index = index;
      this.position.list = this.PositionList();
    },
    positionPageSizeChange(size) {
      this.position.page.index = 1;
      this.position.page.size = size;
      this.position.list = this.PositionList();
    },
    selPosition() {
      this.$socket.emit("queryPosition", { ticker: "", requestId: 3 });
    }
  }
};
</script>