<template>
    <div class="content-body-right">
        <div class="tab-wrapper">
            <div class="tab-bar">
                <div class="pull-left">
                    资产净值
                    <span>100</span>
                    参考市值
                    <span>100</span>
                    资金
                    <span>100</span>
                </div>
                <div class="pull-right">
                    <AutoComplete size="small" :transfer='true' clearable v-model="par.xtpQueryStructuredFundInfoReq.ticker" style="width: 150px" @on-search="tickerSearch" placeholder="股票代码">
                        <Option v-for="s in tickerList" :value="s.code" :key="s.code">
                            <span>{{ s.code }}</span>
                            <span class="pull-right">{{ s.name }}</span>
                        </Option>
                    </AutoComplete>
                    <Button type="primary" @click="sel" size="small">查询</Button>
                    <a>
                        <i class="f f-refresh" @click="sel" title="刷新"></i>
                    </a>

                    <a>
                        <i class="f f-cog"  @click="isShow = true" title="设置"></i>
                    </a>
                </div>
            </div>
            <!-- 委托查询 -->
            <div class="tab-table">
                <Table class="i-table" :width='width' :height="height" :columns="col" :data="tData" size="small" :border='true' ref="table"></Table>

                <!-- <Table class="i-table" :width='width' :height="height" :columns="columns" :data="tData" size="small" :border='true' ref="table"></Table> -->
            </div>
        </div>
        <col-setting v-model='isShow' @on-changeCol='changeCol' :col='todayCol'></col-setting>
    </div>
</template>
<style lang="scss" scoped>
ul {
  display: flex;
  > li {
    list-style: none;
    // width: 140px;
    // min-width:140px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 22px;
  }
  > li:last-child {
    flex: 1;
    padding-right: 20px;
  }
}
.ivu-tabs.ivu-tabs-card {
  height: 100%;
  width: 100%;
}
.tab-bar {
  // padding: 0 10px;
  .pull-left > span {
    margin-right: 20px;
  }
}
.ivu-input {
  border: none;
}
</style> 
<style lang="scss">
.tab-bar {
  .ivu-input {
    border: none;
  }
  .ivu-btn-small{
                height: 18px;
            }
}

</style>

<script>
import ColSetting from "@/components/colSetting";
export default {
  components: {
    ColSetting
  },
  data() {
    return {
      width: 0,
      height: 0,
      isShow: false,
      todayCol: [
        {
          title: "序号",
          type: "index",
          width: 60,
          fixed: "left",
          align: "right"
        },
        {
          title: "XTP ID",
          key: "orderXtpId",
          fixed: "left",
          width: 180
        },
        {
          title: "代码",
          key: "ticker",
          width: 100,
          sortable: true,
          className: "info"
        },
        {
          title: "交易所",
          key: "xtpMarketType",
          width: 200,
          sortable: true,
          render: (h, par) => {
            return h('div',app.dataTypeToName(
              par.row[par.column.key],
              "XTP_MARKET_TYPE"
            ));
          }
        },
        {
          title: "价格条件",
          key: "xtpPriceType",
          width: 120,
          sortable: true,
          render: (h, par) => {
            return h('div',app.dataTypeToName(
              par.row[par.column.key],
              "XTP_PRICE_TYPE"
            ));
          }
        },
        {
          title: "价格",
          key: "price",
          width: 100,
          align: "right",
          sortable: true
        },
        {
          title: "数量",
          key: "quantity",
          width: 100,
          align: "right",
          sortable: true
        },
        {
          title: "买卖方向",
          key: "xtpSideType",
          width: 120,
          align: "center",
          sortable: true,
          render: (h, par) => {
            return h('div',app.dataTypeToName(par.row[par.column.key], "XTP_SIDE_TYPE"));
          }
        },
        {
          title: "业务类型",
          key: "xtpBusinessType",
          width: 300,
          sortable: true,
          render: (h, par) => {
            return h('div',app.dataTypeToName(
              par.row[par.column.key],
              "XTP_BUSINESS_TYPE"
            ));
          }
        },
        {
          title: "成交数量",
          key: "qtyTraded",
          width: 120,
          align: "right",
          sortable: true
        },
        {
          title: "剩余数量",
          key: "qtyLeft",
          width: 120,
          align: "right",
          sortable: true
        },
        {
          title: "成交金额",
          key: "tradeAmount",
          width: 120,
          align: "right",
          sortable: true,
          className: "info",
          render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0.00")
              );
            }
        },
        {
          title: "报单状态",
          key: "orderStatus",
          width: 120,
          sortable: true,
          render: (h, par) => {
            return h('div',app.dataTypeToName(
              par.row[par.column.key],
              "XTP_ORDER_STATUS_TYPE"
            ));
          }
        },
        {
          title: "提交状态",
          key: "orderSubmitStatusType",
          width: 200,
          sortable: true,
          render: (h, par) => {
            return h('div',app.dataTypeToName(
              par.row[par.column.key],
              "XTP_ORDER_SUBMIT_STATUS_TYPE"
            ));
          }
        },
        {
          title: "委托时间",
          key: "insertTime",
          width: 210,
          sortable: true,
          render: (h, par) => {
            return par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss");
          }
        },
        {
          title: "最后修改时间",
          key: "updateTime",
          width: 210,
          sortable: true,
          render: (h, par) => {
            return par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss");
          }
        },
        {
          title: "撤销时间",
          key: "cancelTime",
          width: 210,
          sortable: true,
          render: (h, par) => {
            return par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss");
          }
        }
      ],
      par: {
        requestId: 1,
        xtpQueryStructuredFundInfoReq: {
          exchangeType: 1,
          ticker: ""
        }
      },
      tickerList: [],
      col: [
        {
          title: "序号",
          type: "index",
          width: 70,
          fixed: "left",
          align: "right"
        },
        {
          title: "名称",
          key: "tickerName",
          fixed: "left",
          width: 100
        },
        {
          title: "代码",
          key: "ticker",
          fixed: "left",
          width: 90
        },
        {
          title: "交易所",
          key: "xtpMarketType",
          width: 200,
          sortable: true,
          render: (h, par) => {
            return h('div',app.dataTypeToName(
              par.row[par.column.key],
              "XTP_MARKET_TYPE"
            ));
          }
        },
        {
          title: "总持仓",
          key: "totalQty",
          width: 100,
          align: "right",
          sortable: true
        },
        {
          title: "可卖持仓",
          key: "sellableQty",
          width: 120,
          align: "right",
          sortable: true
        },
        {
          title: "持仓成本",
          key: "avgPrice",
          width: 150,
          align: "right",
          sortable: true
        },
        {
          title: "浮动盈亏",
          key: "unrealizedPnl",
          width: 150,
          align: "right",
          sortable: true
        },
        {
          title: "昨日持仓",
          key: "yesterdayPosition",
          width: 150,
          sortable: true
        },
        {
          title: "可申购或/赎回数量",
          key: "tomorrow",
          width: 200,
          sortable: true
        }
      ],
      tData: [],
      tempTData: []
    };
  },
  sockets: {
    queryStructuredFundRsp: function(data) {
      let self = this;
      
      app.log("queryStructuredFundRsp::", data);
      self.tempTData.push(data);
      if (data&&data.lastResp) {
        self.tData = self.tempTData;
        self.tempTData = [];
      }
    }
  },
  mounted: function() {
    var self = this;
    self.$nextTick(function() {
      self.sel();
       
      self.autoTableSize();
      window.addEventListener(
        "resize",
        function() {
          self.autoTableSize();
        },
        false
      );
    });
  },
  methods: {
    changeCol(val) {
      app.log("val::", val);

      this.todayCol = val;
    },
    sel() {
      let self = this;
      app.log("查询");
          
      app.log("self.par::", self.par);
      self.$socket.emit("queryStructuredFund", self.par);
    },
    tickerSearch(val) {
      this.tickerList = app.tickerSearch(val);
    },
    autoTableSize() {
      var self = this;
      self.width = $(".i-table")
        .parent()
        .width();
      self.height =
        $(".i-table")
          .parent()
          .height() - 17;
      app.log("w|h", self.width, self.height);
    }
  }
};
</script>