<template>
  <div class="content-wrapper">

    <div class="content-header">

      <ul class="y-tag">
        <router-link
          tag="li"
          to="/trade/general"
        >
          <a> 普通交易 </a>
        </router-link>
        <router-link
          tag="li"
          to="/trade/ETF"
        >
          <a> ETF申赎 </a>
        </router-link>
        <!--<router-link tag="li" to="/trade/fund">
                        <a> 分级基金 </a>
                    </router-link> -->
        <router-link
          v-if="config.isShowDev"
          tag="li"
          to="/trade/basket"
        >
          <a v-intro="'篮子交易'"> 篮子交易 </a>
        </router-link>
        <!-- <router-link v-show='IsShowAlgorithm' tag="li" to="/trade/algorithm">
                    <a> 算法交易 </a>
                </router-link> -->
        <router-link
          tag="li"
          to="/trade/other"
        >
          <a> 查询 </a>
        </router-link>

      </ul>

    </div>
    <!-- <keep-alive> -->
    <router-view></router-view>
    <!-- </keep-alive> -->
  </div>

</template>
<style lang="scss">
.active2 {
  display: block;
  height: 100%;
}
</style>

<script>
export default {
  data() {
    return {
      IsShowAlgorithm: null
    }
  },
  mounted() {
    let self = this;
  },
  created() {
    this.IsShowAlgorithm = JSON.parse(sessionStorage.getItem("algorithm")) ? true : this.$store.state.tran.IsShowAlgorithm;
  },
  watch: {
    "$store.state.tran.IsShowAlgorithm": function (val) {
      this.IsShowAlgorithm = val;
    }
  }
};
</script>