<template>
  <div class="content-body-right">
    <div class="tab-content">
      <div class="tab-top">
        <div class="tab-left clearp">
          <div class="tab-header">下单
            <div class="pull-right y-plus-visible" :title="CSVPath">
              <div class="textShowOrHide file" v-show="!!CSVPath">
                <a href="javascript:;" class="file addStyleDis">
                  成功
                  <span class="y-yellow">{{CSVSuccess}}</span>
                </a>
                <a href="javascript:;" class="file addStyleDis">
                  失败
                  <span class="y-red">{{CSVError}}</span>
                </a>
              </div>
              <div v-show="isShowDev" class="textShowOrHide file">
                <a href="javascript:;" title="导入csv" class="file" v-show="!CSVPath">
                  <i class="f f-CSV1 f-blue" title="导出csv"></i>
                  <input type="file" id="upload" accept=".csv" @change="upload">
                </a>
              </div>
              <div v-show="isShowDev" class="textShowOrHide file">
                <a href="javascript:;" class="file" v-show="!!CSVPath">
                  <i class="f f-stop f-blue" title="停止" @click="stopUpload"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-body">
            <Tabs type="card" v-model="currentTabOrder" :animated="false">
              <TabPane label="买入" name="Buy">
                <Form
                  class="y-form y-order algorithm"
                  :label-width="80"
                  :model="formBuyItem"
                  ref="formBuyItem"
                  :rules="formBuyItemRule"
                >
                  <FormItem label="证券代码" prop="ticker">
                    <AutoComplete
                      size="small"
                      class="y-orange autoCode"
                      element-id="txtBuy"
                      v-model="formBuyItem.ticker"
                      @on-search="tickerSearchBuy"
                      placeholder="请输入代码"
                    >
                      <Option v-for="s in tickerList.buy" :value="s.code" :key="s.code">
                        <span>{{ s.code }}</span>
                        <span class="pull-right">{{ s.name }}</span>
                      </Option>
                    </AutoComplete>
                  </FormItem>
                  <FormItem label="证券名称" class="addP">{{formBuyItem.ticker_name}}</FormItem>
                  <FormItem label="母单股数(股)" prop="quantity">
                    <InputNumber
                      size="small"
                      class="y-orange"
                      placeholder="请输入数量"
                      :max="1000000000000"
                      v-model="formBuyItem.quantity"
                      element-id="txtBuyQunity"
                      :step="100"
                      :min="targetVolume"
                      :formatter="value => `${value}`.replace(/(\d)(?=(?:\d{3})+$)/g,'$1,')"
                      :parser="value => value.replace(/$s?|(,*)/g, '')"
                    />
                  </FormItem>
                  <FormItem
                    label="母单股数(股)"
                    class="addP numberForChinese"
                  >{{formBuyItem.numberForChinese}}</FormItem>
                  <FormItem label="拆单算法">
                    <RadioGroup v-model="formBuyItem.task_type">
                      <Radio label="TWAP">TWAP</Radio>
                      <Radio label="IS">IS</Radio>
                      <Radio label="VWAP">VWAP</Radio>
                      <!-- <Radio label="AIVWAP">AI VWAP</Radio> -->
                      <Radio label="POV">POV</Radio>
                    </RadioGroup>
                  </FormItem>
                  <FormItem label="参与率(%)" v-show="formBuyItem.task_type == 'POV' ">
                    <InputNumber
                      :max="50"
                      :step="5"
                      :min="1"
                      v-model="formBuyItem.participation_rate"
                      size="small"
                      class="y-orange"
                      :formatter="value => `${value}%`"
                      :parser="value => value.replace('%', '')"
                    ></InputNumber>
                  </FormItem>
                  <FormItem label="选择时间" class="dateStyle">
                    <!-- <TimePicker type="timerange" @on-open-change="setFontColor($event)" v-model="buyDateTime" @on-change="buyDateTime=$event" placeholder="选择时间" :steps="[1, 5]" :disabled-minutes="[]" :disabled-hours="[1,2,3,4,5,6,7,8,12]" hide-disabled-options placement="top" format="HH:mm"></TimePicker> -->
                    <TimePicker
                      type="timerange"
                      @on-open-change="setFontColor($event)"
                      v-model="buyDateTime"
                      @on-change="buyDateTime=$event"
                      placeholder="选择时间"
                      :steps="[1, 5]"
                      :disabled-minutes="[]"
                      :disabled-hours="[1,2,3,4,5,6,7,8,12,16,17,18,19,20,21,22,23,0]"
                      hide-disabled-options
                      placement="top"
                      format="HH:mm"
                    ></TimePicker>
                    <!-- <TimePicker
                    type="timerange"
                    @on-open-change="setFontColor($event)"
                    v-model="buyDateTime"
                    @on-change="buyDateTime=$event"
                    placeholder="选择时间"
                    :steps="[1, 5]"
                    :disabled-minutes="[]"
                    placement="top"
                    format="HH:mm"
                    ></TimePicker>-->
                  </FormItem>
                  <FormItem class="y-block uppOrDown">
                    <div class="pull-left">
                      涨停
                      <span
                        class="y-red"
                      >{{formBuyItem.upperLimitPrice?formBuyItem.upperLimitPrice:'--'}}</span>
                    </div>
                    <div class="pull-right">
                      跌停
                      <span
                        class="y-green"
                      >{{formBuyItem.lowerLimitPrice?formBuyItem.lowerLimitPrice:'--'}}</span>
                    </div>
                  </FormItem>
                  <FormItem class="y-block ok">
                    <Button type="warning" @click="algorithmBuy('formBuyItem')" size="small">
                      <span>买入</span>
                    </Button>
                    <Button type="error" @click="clearData" size="small">
                      <span v-if="true">清空</span>
                    </Button>
                  </FormItem>
                </Form>
              </TabPane>
              <TabPane label="卖出" name="Sell">
                <Form
                  class="y-form y-order algorithm y-form-blue"
                  :label-width="80"
                  :model="formSellItem"
                  ref="formSellItem"
                  :rules="formSellItemRule"
                >
                  <FormItem label="证券代码" prop="ticker">
                    <AutoComplete
                      size="small"
                      class="y-blue"
                      element-id="txtSell"
                      v-model="formSellItem.ticker"
                      @on-search="tickerSearchSell"
                      placeholder="请输入代码"
                    >
                      <Option v-for="s in tickerList.sell" :value="s.code" :key="s.code">
                        <span>{{ s.code }}</span>
                        <span class="pull-right">{{ s.name }}</span>
                      </Option>
                    </AutoComplete>
                  </FormItem>
                  <FormItem label="证券名称" class="addP">{{formSellItem.ticker_name}}</FormItem>
                  <FormItem label="母单股数(股)" prop="quantity">
                    <InputNumber
                      size="small"
                      class="y-blue"
                      placeholder="请输入数量"
                      v-model="formSellItem.quantity"
                      element-id="txtSellQunity"
                      :min="0"
                      :max="totalQty"
                      :step="100"
                      :formatter="value => `${value}`.replace(/(\d)(?=(?:\d{3})+$)/g,'$1,')"
                      :parser="value => value.replace(/$s?|(,*)/g, '')"
                    />
                  </FormItem>
                  <FormItem
                    label="母单股数(股)"
                    class="addP numberForChinese"
                  >{{formSellItem.numberForChinese}}</FormItem>
                  <FormItem label="拆单算法">
                    <RadioGroup v-model="formSellItem.task_type">
                      <Radio label="TWAP">TWAP</Radio>
                      <Radio label="IS">IS</Radio>
                      <Radio label="VWAP">VWAP</Radio>
                      <!-- <Radio label="AIVWAP">AI VWAP</Radio> -->
                      <Radio label="POV">POV</Radio>
                    </RadioGroup>
                  </FormItem>
                  <FormItem label="参与率(%)" v-show="formSellItem.task_type == 'POV' ">
                    <InputNumber
                      :max="50"
                      :step="5"
                      :min="1"
                      v-model="formSellItem.participation_rate"
                      size="small"
                      class="y-blue"
                      :formatter="value => `${value}%`"
                      :parser="value => value.replace('%', '')"
                    ></InputNumber>
                  </FormItem>
                  <FormItem label="选择时间" class="dateStyle y-blue">
                    <!-- <TimePicker type="timerange" placeholder="选择时间" v-model="sellDateTime" @on-change="sellDateTime=$event" :steps="[1, 5]" :disabled-hours="[1,2,3,4,5,6,7,8,12,15,16,17,18,19,20,21,22,23,0]" hide-disabled-options placement="top" format="HH:mm"></TimePicker> -->
                    <TimePicker
                      type="timerange"
                      placeholder="选择时间"
                      v-model="sellDateTime"
                      @on-change="sellDateTime=$event"
                      :steps="[1, 5]"
                      :disabled-hours="[1,2,3,4,5,6,7,8,12,16,17,18,19,20,21,22,23,0]"
                      hide-disabled-options
                      placement="top"
                      format="HH:mm"
                    ></TimePicker>
                    <!-- <TimePicker
                    type="timerange"
                    v-model="sellDateTime"
                    @on-change="sellDateTime=$event"
                    placeholder="选择时间"
                    :steps="[1, 5]"
                    :disabled-minutes="[]"
                    placement="top"
                    format="HH:mm"
                    ></TimePicker>-->
                  </FormItem>
                  <FormItem class="y-block uppOrDown">
                    <div class="pull-left">
                      涨停
                      <span
                        class="y-red"
                      >{{formSellItem.upperLimitPrice?formSellItem.upperLimitPrice:'--'}}</span>
                    </div>
                    <div class="pull-right">
                      跌停
                      <span
                        class="y-green"
                      >{{formSellItem.lowerLimitPrice?formSellItem.lowerLimitPrice:'--'}}</span>
                    </div>
                  </FormItem>
                  <FormItem class="y-block ok">
                    <Button type="primary" size="small" @click="algorithmSellData('formSellItem')">
                      <span>卖出</span>
                    </Button>
                    <Button type="error" @click="clearData" size="small">
                      <span v-if="true">清空</span>
                    </Button>
                  </FormItem>
                </Form>
              </TabPane>
            </Tabs>
          </div>
        </div>
        <div>
          <Tabs type="card" :animated="false">
            <TabPane label="10档行情">
              <quotes :subscribeMarketData="subscribeMarketData" class="quotes"></quotes>
            </TabPane>
          </Tabs>
        </div>
        <div class="tab-right">
          <div id="mainChart" class="y-chart"></div>
        </div>
      </div>
      <div class="tab-bottom">
        <div class="tab-wrapper">
          <order
            xtpBusinessType="XTP_BUSINESS_TYPE_CASH"
            algorithmType="algorithm"
            @on-changeEcharts="getChartId"
          ></order>
        </div>
      </div>
    </div>
    <Modal v-model="CSVmodal" width="300" class-name="vertical-center-modal">
      <p slot="header">
        <span>导入数据有误,请修改或查看样例</span>
      </p>
      <div class="clearfix csvModal">
        <div class="pull-left">
          <!-- <p class="removeMargin"> -->
          <a :href="`${config.homeLocation}doc/order.csv`" download>
            <i class="f f-csv f-blue big" title="导出csv"></i>
            下载样例
          </a>
          <!-- </p> -->
        </div>
        <div class="pull-right">
          <!-- <p class="removeMargin"> -->
          <a @click="openDescription" download>
            <i class="f f-pdf f-blue big" title="导出csv"></i>
            使用说明
          </a>
          <!-- </p> -->
        </div>
      </div>
      <div slot="footer" class="clearfix">
        <button class="pull-right buttonStyle" @click="CSVClose">取消</button>
        <a href="javascript:;" title="导入csv" class="file renewUpload">
          重新上传
          <input type="file" id="upload" accept=".csv" @change="upload">
        </a>
      </div>
    </Modal>
  </div>
</template>
<style lang="scss" scoped>
div > a.renewUpload {
  margin: 0 20px 0 0;
  border-radius: 5px;
  background: #f90;
  padding: 3px 5px;
  color: #fff;
}
div > .buttonStyle {
  outline: none;
  color: #fff;
  background: #2d8cf0;
  border-radius: 5px;
  padding: 3px 5px;
  border: none;
}
.csvModal {
  padding: 0 20px;
  text-align: center;
}
.csvModal > div > a {
  display: inline-block;
}
.csvModal > div > a:hover {
  color: none;
}
.csvModal i.big {
  font-size: 80px;
  display: block;
}
div.textShowOrHide {
  display: inline-block;
}
.tab-top > div .tab-header a.addStyleDis:hover {
  color: #d0d0d4;
  text-decoration: none;
}
.tab-content {
  .tab-header .col {
    font-size: 17px;
    padding: 8px 25px;
  }
  .tab-top {
    height: 430px;
    .tab-right {
      & > div {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
    .tab-left {
      .row .col {
        padding: 5px 15px;
      }
    }
  }
  .tab-right {
    flex: 1;
    position: relative;
  }
  .tab-left {
    width: 250px;
    padding: 10px;
    background-color: #1e2127;
    .tab-bottom & .col {
      padding: 20px 0;
    }
    &:first-of-type {
      width: 300px;
    }
  }
  .tab-bottom .tab-left {
    padding: 20px;
    .row {
      margin: 0;
    }
    .col {
      padding: 5px 0;
    }
  }
  .y-order.y-form.ivu-form {
    padding: 0;
    .ivu-radio-group {
      width: 100%;

      > label.ivu-radio-wrapper {
        background-color: transparent;
        margin-bottom: 0;
        width: 48%;
        text-align: left;
      }
    }
  }
  .stopAll {
    margin-top: 5px;
    button:last-child {
      margin-top: 0;
    }
  }
  label.ivu-form-item-label {
    margin-bottom: 20px;
  }
  .ok div button {
    padding: 0 56.5px;
  }
  .carousel {
    width: 100%;
    background: #070707;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  .carousel li {
    padding: 2px 0;
    .left {
      padding: 4px 5px 0 7px;
      vertical-align: middle;
      cursor: pointer;
    }
    .right {
      // vertical-align: middle;
      padding: 4px 7px 0 5px;
      cursor: pointer;
    }
    .carouseName {
      padding-right: 5px;
    }
  }
}
.textSelect {
  width: 100%;
  height: 24px;
  outline: #c7a055;
  border-color: #c7a055;
  border-radius: 5px;
  background-color: #242930;
  color: #fff;
}
</style>
<style lang='scss'>
.ivu-tabs-tabpane .algorithm > div.ivu-form-item {
  margin-bottom: 0;
  .ivu-form-item-label {
    padding: 10px 10px 0 0;
    margin-bottom: 0;
  }
}
.y-form-blue .ivu-date-picker-rel input {
  border-color: #2d58ce;
}
.algorithm .ivu-form-item-content .ivu-input-number-disabled {
  background-color: #ccc;
}
.ivu-tabs-tabpane .algorithm > .ivu-form-item.addP > label {
  margin-bottom: 10px;
}
.numberForChinese {
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ok {
  position: absolute;
  bottom: 2px;
}
.uppOrDown {
  padding: 4px 10px 0 46px;
}
.tab-content .tab-top div.clearp {
  padding: 0;
}
.clearp .ivu-tabs-content {
  padding: 10px;
}
.ivu-form-item-content .autoCode > div div.ivu-input-type input {
  height: 24px;
}
.textSelect .ivu-select-dropdown {
  max-height: 134px;
}
.dateStyle {
  margin-top: 20px;
}
.dateStyle input {
  width: 200px;
}
</style>

<script>
import Quotes from "@/components/quotes";
import Order from "@/components/order";
import { FileReaderMixin } from "@/mixins/mixin";
var csvParse = require("csv-parse/lib/sync");
export default {
  mixins: [FileReaderMixin],
  components: {
    Quotes,
    Order
  },
  data() {
    return {
      tofixid: false,
      isShowDev: false,
      watcher: null,
      CSVmodal: false,
      CSVSuccess: 0,
      CSVError: 0,
      startByte: 0,
      uploadDdata: [],
      CSVPath: null,
      dontRepeat: true,
      tickerList: {
        buy: [],
        sell: []
      },
      parEntrust: {
        state: -1
      },
      currentTabOrder: "Buy",
      //表单买入数据
      formBuyItem: {
        session_id: "",
        id: null, //ID
        custid: null, // 客户号
        ticker: "", // 股票代码
        ticker_name: "",
        limit_price: null, // 限定价格
        quantity: null, //母单股数
        side: "BUY", //买卖方向
        refer_price: null, //下单参考价格
        task_type: "TWAP", //使用算法
        participation_rate: 5, //市场参与率
        rand_times: null, //随机次数
        // visible_volume: null, //冰山下单可见下单量
        start_time: new Date().Format("hh:mm"), //算法开始时间
        // start_time: "", //算法开始时间
        end_time: "", //算法结束时间
        status: null, //状态
        remark: "", //备注
        updated_time: "", // 更新日期,
        market: "SZ",
        upperLimitPrice: "--",
        lowerLimitPrice: "--",
        numberForChinese: null
      },
      buyDateTime: [],
      sellDateTime: [],
      //表单验证
      formBuyItemRule: {
        ticker: [
          {
            required: true,
            message: "请必须填写股票代码",
            trigger: "change" //trigger: "blur"
          }
        ],
        quantity: [
          {
            required: true,
            type: "number",
            message: "母单股数为必填",
            trigger: "change",
            min: 1
          }
        ]
      },
      //表单卖出数据
      formSellItem: {
        session_id: "",
        id: null, //ID
        custid: null, // 客户号
        ticker: "", // 股票代码
        ticker_name: "", //股票简称
        limit_price: null, // 限定价格
        refer_price: null, //下单参考价格
        quantity: null, //母单股数
        side: "SELL", //买卖方向
        task_type: "TWAP", //使用算法
        participation_rate: 5, //参与率
        rand_times: null, //随机次数
        // visible_volume: 1, //冰山下单可见下单量
        start_time: new Date().Format("hh:mm"), //算法开始时间
        // start_time: "", //算法开始时间
        end_time: "", //算法结束时间
        status: null, //状态
        remark: "", //备注
        updated_time: "", // 更新日期
        market: "SZ",
        upperLimitPrice: "--",
        lowerLimitPrice: "--",
        numberForChinese: null
      },
      formSellItemRule: {
        ticker: [
          {
            required: true,
            message: "请必须填写股票代码",
            trigger: "change" //trigger: "blur"
          }
        ],
        quantity: [
          {
            required: true,
            type: "number",
            message: "母单股数为必填",
            trigger: "change"
          }
        ]
      },
      //页面中需要的task_id,来请求数据
      task_id: null,
      //页面中图表需要用到的数据
      list: {
        name: [],
        //市场价格
        line1: [],
        //市场均价
        line2: [],
        //算法成交均价
        line3: [],
        //成交比例
        line4: [],
        //策略成交量
        line5: [],
        //市场成交量
        line6: [],
        // 策略成交量
        task_traded_quantity: [],
        // 成交比例
        trade_ratio: [],
        // 市场成交量
        market_traded_quantity: [],
        // 市场价格
        market_price: [],
        // 市场参考价
        avg_market_price: [],
        // 算法成交均价
        avg_traded_price: []
      },
      //十档行情显示
      subscribeMarketData: {
        ask: [],
        askQty: [],
        bid: [],
        bidQty: [],
        diffTradesCount: {
          Num: null,
          Cls: "",
          Symbol: ""
        },
        tradesCount: 0,
        diffAskQtyNum: [],
        diffAskQtyCls: [],
        diffAskQtySymbol: [],
        diffBidQtyNum: [],
        diffBidQtyCls: [],
        diffBidQtySymbol: [],
        preClosePrice: 0,
        dataTime: null
      },
      parSubscription: {
        Buy: {
          tickers: [],
          count: 1,
          exchageId: 0
        },
        Sell: {
          tickers: [],
          count: 1,
          exchageId: 0
        }
      },
      subscribeMarketDataObj: {},
      //和母单股数关联
      numRelatedTargetVolume: null,
      buyingPower: 0, //页面中可用资金
      positionList: [], //持仓信息
      targetVolume: null, //母单股数,
      totalQty: null, //卖出中最大卖出股数,
      session_id: null,
      username: null,
      chart: null,
      ordinarySell: [],
      getMinuteReportDataTimer: null,
      enter: true
    };
  },
  watch: {
    "$store.state.tran.ordinarySell": function(val) {
      this.ordinarySell = val;
    },
    "$store.state.tran.isLogin": function(val) {
      val ? this.init() : this.clear();
    },
    "formBuyItem.ticker": function(val) {
      if (val && val.length != 6) {
        this.formBuyItem.ticker_name = "";
        this.formBuyItem.quantity = null;
        this.formBuyItem.numberForChinese = null;
        this.parSubscription.Buy.exchageId &&
          this.$socket2.emit("unSubscribeMarketData", this.parSubscription.Buy);
        this.clearSubscribeMarketData();
      } else if (val && val.length === 6) {
        this.changeBuyXtpMarketType(val, true);
      }
    },
    "formSellItem.ticker": function(val) {
      if (val && val.length != 6) {
        this.formSellItem.ticker_name = "";
        this.formSellItem.quantity = null;
        this.formSellItem.numberForChinese = null;
        this.parSubscription.Buy.exchageId &&
          this.$socket2.emit(
            "unSubscribeMarketData",
            this.parSubscription.Sell
          );
        this.clearSubscribeMarketData();
      } else if (val && val.length === 6) {
        this.changeBuyXtpMarketType(val, true);
      }
    },
    // 控制显示哪只股票10档行情
    currentTabOrder(val, oldVal) {
      let self = this;
      let formData = self[`form${oldVal}Item`];
      let obj = Object.assign({}, formData);
      if (val === "Sell") {
        obj.side = "SELL";
        if (formData.ticker) {
          let tickers = self.positionList.find(
            it => it.ticker == formData.ticker
          );
          if (tickers) {
            self.totalQty = tickers.sellableQty;
            self[`form${val}Item`] = obj;
            self.sellDateTime = self.buyDateTime;
          } else {
            self.totalQty = 0;
            obj.quantity = 0;
            self[`form${val}Item`] = obj;
            self.sellDateTime = self.buyDateTime;
            self.$socket2.emit(
              "unSubscribeMarketData",
              self.parSubscription.Buy
            );
          }
        }
      } else {
        obj.side = "BUY";
        self.buyDateTime = self.sellDateTime;
        if (obj.quantity === 0) return;
        self[`form${val}Item`] = obj;
      }
      self.subscribeMarketData = self.subscribeMarketDataObj[
        self[`form${self.currentTabOrder}Item`].ticker
      ] || {
        ask: [],
        askQty: [],
        bid: [],
        bidQty: [],
        diffTradesCount: {
          Num: null,
          Cls: "",
          Symbol: ""
        },
        tradesCount: 0,
        diffAskQtyNum: [],
        diffAskQtyCls: [],
        diffAskQtySymbol: [],
        diffBidQtyNum: [],
        diffBidQtyCls: [],
        diffBidQtySymbol: [],
        preClosePrice: 0,
        dataTime: null
      };
    },
    "$store.state.tran.assets": function(val) {
      this.buyingPower = val.buyingPower;
    },
    "$store.state.tran.positionList": function(val) {
      this.positionList = val;
    },
    "formBuyItem.quantity"(val) {
      if (val === null) return;
      this.formBuyItem.numberForChinese = val.NumberToChinese(val);
    },
    "formSellItem.quantity"(val) {
      if (val === null || val === 0 || val === undefined) {
        this.formSellItem.numberForChinese = "没有可卖持仓";
      } else this.formSellItem.numberForChinese = val.NumberToChinese(val);
    }
  },
  sockets2: {
    depthMarketDataRsp(data) {
      this.marketDataDeal(data);
    }
  },
  created() {
    let self = this;
    self.$nextTick(() => {
      setTimeout(() => {
        self.$store.state.tran.isLogin ? self.init() : self.clear();
        self.buyingPower = self.$store.state.tran.assets.buyingPower;
        self.positionList = self.$store.state.tran.positionList;
        self.ordinarySell = self.$store.state.tran.ordinarySell;
      }, 0);
      self.CSVPath = app.Cache.sget(
        app.Cache.key.CSVPathAlgorithm1.toKeyName()
      );
      if (self.CSVPath) {
        self.CSVStartByteAlgorithm1 = app.Cache.sgetInt(
          app.Cache.key.CSVStartByteAlgorithm1.toKeyName()
        );
        self.readCSV();
        self.watcher = self.chokidar.watch(self.CSVPath, {
          ignored: /(^|[\/\\])\../,
          persistent: true
        });
        self.watcher.on("change", path => {
          self.readCSV();
        });
      }
    });
  },
  destroyed() {
    let self = this;
    clearInterval(self.getMinuteReportDataTimer);
    this.parSubscription.Buy.exchageId &&
      this.$socket2.emit("unSubscribeMarketData", this.parSubscription.Buy);
    this.parSubscription.Sell.exchageId &&
      this.$socket2.emit("unSubscribeMarketData", this.parSubscription.Sell);
    this.CSVPath &&
      this.chokidar.unwatch &&
      this.chokidar.unwatch(this.CSVPath);
  },
  mounted: function() {
    let self = this;
    self.load();
    self.autoChartSize();
    self.$nextTick(function() {
      document.querySelectorAll(".y-form").forEach(it => {
        let elList = it.querySelectorAll(".ivu-input,.ivu-input-number-input");
        elList[0].focus();
        for (let i = 0; i < elList.length; i++) {
          elList[i].addEventListener("keyup", e => {
            if (e.keyCode == 13) {
              if (self.enter === false) {
                self.enter = true;
              } else {
                if (
                  e.currentTarget.id == "txtBuy" ||
                  e.currentTarget.id == "txtSell"
                ) {
                  elList[1].focus();
                }
              }
              if (i == elList.length - 1) {
                it.querySelectorAll(".ivu-btn")[0].click();
              }
            }
          });
        }
      });
      window.addEventListener(
        "resize",
        function() {
          self.autoChartSize();
        },
        false
      );
    });
  },
  methods: {
    init() {
      let self = this;
      if (sessionStorage.getItem("isShowDev_"))
        self.isShowDev =
          sessionStorage.getItem("isShowDev_") == "false" ? false : true;
      self.username = JSON.parse(sessionStorage.getItem("user_")).username;
      self.session_id = JSON.parse(
        sessionStorage.getItem("algorithm")
      ).session_id;
      self.getTaskReportData();
      setTimeout(() => {
        self.getMinuteReportData();
      }, 300);
      self.getMinuteReportDataTimer = setInterval(function() {
        self.getMinuteReportData();
      }, 30000);
    },
    clear() {
      let self = this;
      self.isShowDev = false;
      self.stopUpload();
      self.clearEcharts();
      self.default();
      self.task_id = null;
      clearInterval(self.getMinuteReportDataTimer);
    },
    //调用页面中图表的id
    getChartId(val) {
      let self = this;
      self.clearEcharts();
      self.task_id = parseInt(val.task_id);
      self.getMinuteReportData();
    },
    //买进时调用全局变量
    tickerSearchBuy(val) {
      this.tickerList.buy = app.tickerSearch(val, [
        "XTP_TICKER_TYPE_STOCK",
        "XTP_TICKER_TYPE_INDEX",
        "XTP_TICKER_TYPE_FUND"
      ]);
    },
    //卖出时调用全局变量
    tickerSearchSell(val) {
      let arr = this.searchTicker(val, "ordinarySell");
      this.tickerList.sell = arr;
    },
    /**
     * 点击买入,卖出时,弹出模态框,作出相应的操作
     */
    algorithmBuy(name) {
      let self = this;
      let date = new Date().Format("hh:mm");
      let result = parseFloat(date.split(":").join("."));
      let share = self.formBuyItem.quantity * self.subscribeMarketData.bid[0];
      let buyable =
        Math.floor(
          Math.floor(
            parseFloat(self.buyingPower) /
              parseFloat(self.subscribeMarketData.bid[0])
          ) / 100
        ) * 100;
      let time = 14.5;
      let endTime = parseFloat(self.buyDateTime[1].replace(":", "."));
      let startTime = parseFloat(self.buyDateTime[0].replace(":", "."));

      if (!self.formBuyItem.ticker_name) {
        self.formBuyItem.ticker = null;
        self.$Message.warning("请填写支持的股票");
        return;
      }
      if (self.formBuyItem.quantity % 100 !== 0) {
        self.$Message.warning("母单股数必须是100的整数");
        return;
      }

      if (
        !!self.subscribeMarketData.bid[0] &&
        self.formBuyItem.quantity *
          parseFloat(self.subscribeMarketData.bid[0]) <
          25000
      ) {
        self.$Message.warning("母单总金额不能小于25000元");
        return;
      }

      if (self.buyDateTime[0] == "") {
        self.$Message.warning("请选择时间");
        return;
      }

      if (
        endTime === startTime ||
        parseFloat((endTime - startTime).toFixed(2)) <= 0.04
      ) {
        self.$Message.warning("请输入正确的时间格式");
        return;
      }

      if (time < result) {
        self.$Message.warning("非委托允许时间，有效委托时间段为 9:30-14:45");
        return;
      }

      if (result > endTime) {
        self.$Message.warning("开始时间应晚于当前下单时间");
        return;
      }

      if (self.buyingPower < share) {
        self.$Message.warning(
          `账户可用资金不足，可用资金${parseFloat(self.buyingPower).Format(
            "0,0.00"
          )}，预计最大母单约为${buyable.Format("0,0")}股`
        );
        return;
      }

      self.formBuyItem.start_time = self.buyDateTime[0] + ":00";
      self.formBuyItem.end_time = self.buyDateTime[1] + ":00";
      self[`form${self.currentTabOrder}Item`].refer_price =
        self.subscribeMarketData.lastPrice;
      self.formBuyItem.session_id = self.session_id;
      self.$refs[name].validate(valid => {
        if (valid) {
          if (app.isModal) {
            self.$Modal.confirm({
              title: "请核对您的母单委托,无误点击[确定]",
              content: `
                      <p style="margin-bottom:10px" class="text-center row">
                          <span class='col-6'>证券代码</span>
                          <span class='col-6'>${self.formBuyItem.ticker}</span>
                      </p>
                      <p style="margin-bottom:10px" class="text-center row">
                          <span class='col-6'>母单股数</span>
                          <span class='col-6'>${
                            self.formBuyItem.quantity
                          }</span>
                      </p>
                      <p style="margin-bottom:10px" class="text-center row">
                          <span class='col-6'>开始时间</span>
                          <span class='col-6'>${self.buyDateTime[0]}</span>
                      </p>
                      <p style="margin-bottom:10px" class="text-center row">
                          <span class='col-6'>结束时间</span>
                          <span class='col-6'>${self.buyDateTime[1]}</span>
                      </p>
                      <p style="margin-bottom:10px" class="text-center row">
                          <span class='col-6'>使用算法</span>
                          <span class='col-6'>${
                            self.formBuyItem.task_type
                          }</span>
                      </p>
                      `,
              onOk: () => {
                self.buyOrSellOperating();
              }
            });
          } else {
            self.buyOrSellOperating();
          }
        } else {
          self.$Message.warning("请填写完整的买入信息！");
        }
      });
    },
    algorithmSellData(name) {
      let self = this;
      let date = new Date().Format("hh:mm");
      let result = parseFloat(date.split(":").join("."));
      let time = 14.5;
      let endTime = parseFloat(self.sellDateTime[1].replace(":", "."));
      let startTime = parseFloat(self.sellDateTime[0].replace(":", "."));
      let tickers = self.positionList.find(
        it => it.ticker == self.formSellItem.ticker
      );
      if (
        self.subscribeMarketData.bid[0] &&
        self.formSellItem.quantity *
          parseFloat(self.subscribeMarketData.bid[0]) <
          25000
      ) {
        self.$Message.warning("母单总金额不能小于25000元");
        return;
      }
      if (!self.formSellItem.ticker_name) {
        self.formSellItem.ticker = null;
        self.$Message.warning("请填写支持的股票");
        return;
      }
      if (self.formSellItem.quantity % 100 !== 0) {
        self.$Message.warning("母单股数必须是100的整数");
        return;
      }
      if (self.formSellItem.quantity > tickers.sellableQty) {
        self.$Message.warning(
          `账户可用证券不足，可用证券为${tickers.sellableQty.Format("0,0")}股`
        );
        return;
      }

      if (
        endTime === startTime ||
        parseFloat((endTime - startTime).toFixed(2)) <= 0.04
      ) {
        self.$Message.warning("请输入正确的时间格式");
        return;
      }

      if (self.sellDateTime[0] == "") {
        self.$Message.warning("请选择时间");
        return;
      }

      if (time < result) {
        self.$Message.warning("非委托允许时间，有效委托时间段为 9:30-14:45");
        return;
      }

      if (result > endTime) {
        self.$Message.warning("开始时间应晚于当前下单时间");
        return;
      }

      self.formSellItem.start_time = self.sellDateTime[0] + ":00";
      self.formSellItem.end_time = self.sellDateTime[1] + ":00";
      self[`form${self.currentTabOrder}Item`].refer_price =
        self.subscribeMarketData.lastPrice;
      if (self.formBuyItem.task_type !== "POV") {
        self.formBuyItem.participation_rate = null;
      }
      self.$refs[name].validate(valid => {
        if (valid) {
          if (app.isModal) {
            self.$Modal.confirm({
              title: "请核对您的母单委托,无误点击[确定]",
              content: `
                      <p style="margin-bottom:10px" class="text-center row">
                          <span class='col-6'>证券代码</span>
                          <span class='col-6'>${self.formSellItem.ticker}</span>
                      </p>
                      <p style="margin-bottom:10px" class="text-center row">
                          <span class='col-6'>证券名称</span>
                          <span class='col-6'>${
                            self.formSellItem.ticker_name
                          }</span>
                      </p>
                      <p style="margin-bottom:10px" class="text-center row">
                          <span class='col-6'>母单股数</span>
                          <span class='col-6'>${
                            self.formSellItem.quantity
                          }</span>
                      </p>
                      <p style="margin-bottom:10px" class="text-center row">
                          <span class='col-6'>开始时间</span>
                          <span class='col-6'>${self.sellDateTime[0]}</span>
                      </p>
                      <p style="margin-bottom:10px" class="text-center row">
                          <span class='col-6'>结束时间</span>
                          <span class='col-6'>${self.sellDateTime[1]}</span>
                      </p>
                      <p style="margin-bottom:10px" class="text-center row">
                          <span class='col-6'>使用算法</span>
                          <span class='col-6'>${
                            self.formSellItem.task_type
                          }</span>
                      </p>
                      `,
              onOk: () => {
                self.buyOrSellOperating();
              }
            });
          } else {
            self.buyOrSellOperating();
          }
        } else {
          self.$Message.warning("请填写完整的卖出信息！");
        }
      });
    },
    //算法页面,点击选择时间的时候,input框调用了mouseLeave事件,修改了input框的颜色,添加事件,修改他
    setFontColor(e) {
      let dataPicker = document.querySelectorAll(
        ".ivu-date-picker-rel>.ivu-input-wrapper>input"
      );
      dataPicker[0].style.borderColor = "#ca712a";
    },
    //买入数据发送成功后,的默认处理
    default() {
      let self = this;
      let formData = self[`form${self.currentTabOrder}Item`];
      formData.ticker = "";
      formData.ticker_name = "";
      formData.start_time = "";
      formData.end_time = "";
      formData.task_type = "TWAP";
      formData.limit_price = null;
      formData.participation_rate = 5;
      self.sellDateTime = ["", ""];
      self.buyDateTime = ["", ""];
      formData.quantity = null;
      formData.rand_times = null;
      formData.visible_volume = 1000;
      formData.numberForChinese = "";
    },
    //页面中点击清空时调用的操作
    clearData() {
      let self = this;
      let formData = self[`form${self.currentTabOrder}Item`];
      formData.ticker = "";
      formData.quantity = null;
      // formData.task_type = 'TWAP';
      (formData.market = "SZ"),
        (formData.numberForChinese = null),
        (formData.participation_rate = 5);
      if (self.currentTabOrder == "Buy") {
        self.buyDateTime = ["", ""];
      } else self.sellDateTime = ["", ""];
      formData.ticker_name = "";
      formData.start_time = "";
      formData.end_time = "";
    },
    /**
     * 页面中输入股票信息,发送请求,获得10档行情,订阅行情处理返回数据
     */
    changeBuyXtpMarketType(val, enterKey) {
      let self = this;
      let formData = self[`form${self.currentTabOrder}Item`];
      val = val || formData.ticker;
      let parS = self.parSubscription[self.currentTabOrder];
      parS.tickers[0] != val && self.clearSubscribeMarketData();
      let ticker = app.ticker.all().find(it => it.code == val);
      if (ticker) {
        if (ticker.code.slice(0, 2) == "51" || ticker.code.slice(0, 2) == "15"){ 
          self.tofixid = true;
        }
        else{
           self.tofixid = false;
        }
        formData.ticker_name = ticker.name;
        parS.exchageId = ticker.exchangeId;
        parS.tickers = [val];
        let tickers = app.ticker
        .all()
        .find(
          it =>
            it.code == ticker.code &&
            it.exchangeId == ticker.exchangeId
        );
        formData.lowerLimitPrice = self.tofixid
          ? tickers.lowerLimitPrice.toFixed(3)
          : tickers.lowerLimitPrice.toFixed(2);
        formData.upperLimitPrice = self.tofixid
          ? tickers.upperLimitPrice.toFixed(3)
          : tickers.upperLimitPrice.toFixed(2);
        formData.market =
          ticker.marketId == 1 ? "SZ" : ticker.marketId == 2 ? "SH" : "";
        formData.session_id = self.session_id;
        self.$socket2.emit("subscribeMarketData", parS);
      } else {
        formData.market = "SZ";
        parS.exchageId = 0;
        formData.lowerLimitPrice = null;
        formData.upperLimitPrice = null;
      }
      if (val.length !== 6) return;
      if (self.formSellItem.ticker) {
        let tickers = self.positionList.find(it => it.ticker == val);
        if (tickers) self.totalQty = tickers.sellableQty;
      }
      if (enterKey !== true) {
        this.enter = false;
      }
      document.getElementById(`txt${self.currentTabOrder}Qunity`).focus();
    },
    clearSubscribeMarketData() {
      this.subscribeMarketData = {
        ask: [],
        askQty: [],
        bid: [],
        bidQty: [],
        diffTradesCount: {
          Num: null,
          Cls: "",
          Symbol: ""
        },
        tradesCount: 0,
        diffAskQtyNum: [],
        diffAskQtyCls: [],
        diffAskQtySymbol: [],
        diffBidQtyNum: [],
        diffBidQtyCls: [],
        diffBidQtySymbol: [],
        preClosePrice: 0,
        dataTime: null
      };
    },
    marketDataDeal(data) {
      let self = this;
      data.dataTime = data.dataTime.toDate("hh:mm:ss");
      let formData = self[`form${self.currentTabOrder}Item`];
      let subscribeMarketData = self.subscribeMarketDataObj[data.ticker] || {
        ask: [],
        askQty: [],
        bid: [],
        bidQty: [],
        diffTradesCount: {
          Num: null,
          Cls: "",
          Symbol: ""
        },
        tradesCount: 0,
        diffAskQtyNum: [],
        diffAskQtyCls: [],
        diffAskQtySymbol: [],
        diffBidQtyNum: [],
        diffBidQtyCls: [],
        diffBidQtySymbol: [],
        preClosePrice: 0,
        dataTime: null
      };
      data.tradesCount = Math.round(data.tradesCount / 100);
      if (subscribeMarketData.tradesCount) {
        let tradesCountNum = Math.round(
          data.tradesCount - subscribeMarketData.tradesCount
        );

        data.diffTradesCount = {
          Num: tradesCountNum == 0 ? null : Math.abs(tradesCountNum),
          Cls:
            tradesCountNum == 0 ? "" : tradesCountNum > 0 ? "y-red" : "y-green",
          Symbol: tradesCountNum == 0 ? "" : tradesCountNum > 0 ? "+" : "-"
        };
      } else {
        data.diffTradesCount = {
          Num: null,
          Cls: "",
          Symbol: ""
        };
      }
      data.diffAskQtyNum = [];
      data.diffAskQtyCls = [];
      data.diffAskQtySymbol = [];

      data.diffBidQtyNum = [];
      data.diffBidQtyCls = [];
      data.diffBidQtySymbol = [];
      for (let i = 0; i < data.askQty.length; i++) {
        data.askQty[i] = Math.round(data.askQty[i] / 100);
        data.bidQty[i] = Math.round(data.bidQty[i] / 100);
        if (subscribeMarketData.askQty.length) {
          let askI = subscribeMarketData.ask.findIndex(it => {
            return it == data.ask[i];
          });
          let num =
            askI == -1 ? 0 : data.askQty[i] - subscribeMarketData.askQty[askI];

          let bidI = subscribeMarketData.bid.findIndex(it => {
            return it == data.bid[i];
          });
          let bidNum =
            bidI == -1 ? 0 : data.bidQty[i] - subscribeMarketData.bidQty[bidI];

          data.diffAskQtyNum.push(num == 0 ? null : Math.abs(num));
          data.diffAskQtyCls.push(
            num == 0 ? "" : num > 0 ? "y-red" : "y-green"
          );
          data.diffAskQtySymbol.push(num == 0 ? "" : num > 0 ? "+" : "-");

          data.diffBidQtyNum.push(bidNum == 0 ? null : Math.abs(bidNum));
          data.diffBidQtyCls.push(
            bidNum == 0 ? "" : bidNum > 0 ? "y-red" : "y-green"
          );
          data.diffBidQtySymbol.push(bidNum == 0 ? "" : bidNum > 0 ? "+" : "-");
        }
      }
      self.subscribeMarketDataObj[data.ticker] = data;
      self.subscribeMarketData = self.subscribeMarketDataObj[formData.ticker];
      let price = parseFloat(
        self.subscribeMarketDataObj[formData.ticker].lastPrice
      );
      self.targetVolume = Math.ceil(Math.floor(25000 / price) / 100) * 100;
      self.currentTabOrder == "Buy"
        ? (self.formBuyItem.quantity =
            self.formBuyItem.quantity || self.targetVolume)
        : (self.formSellItem.quantity =
            self.formSellItem.quantity || self.totalQty);
    },
    //页面中调用地图时的操作
    load() {
      let self = this;
      // 绘制图表
      // 引入 ECharts 主模块
      let echarts = require("echarts");
      require("echarts/lib/chart/line");
      require("echarts/lib/chart/bar");
      // 引入提示框和标题组件
      require("echarts/lib/component/tooltip");
      require("echarts/lib/component/title");
      self.autoChartSize();
      // 基于准备好的dom，初始化echarts实例
      self.chart = echarts.init(document.getElementById("mainChart"), "dark");
      let upColor = "rgb(233, 68, 69)";
      let downColor = "rgb(54, 195, 157)";
      let option = {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross"
          },
          borderWidth: 1,
          padding: 10,
          textStyle: {
            color: "#eee"
          },
          position: function(pos, params, el, elRect, size) {
            let obj = {
              top: 10
            };
            obj[["left", "right"][+(pos[0] < size.viewSize[0] / 2)]] = 30;
            return obj;
          },
          extraCssText: "width: 200px"
        },
        axisPointer: {
          link: {
            xAxisIndex: "all"
          },
          label: {
            backgroundColor: "#777"
          }
        },
        visualMap: {
          show: false,
          seriesIndex: 3,
          dimension: 2,
          pieces: [
            {
              value: 1,
              color: downColor
            },
            {
              value: -1,
              color: upColor
            }
          ]
        },
        grid: [
          {
            left: "40",
            right: "70",
            height: "70%", //320
            top: 20
          },
          {
            left: "40",
            right: "70",
            top: "80%", //340
            bottom: 20
          }
        ],
        xAxis: [
          {
            show: false,
            type: "category",
            // scale: true,
            boundaryGap: true,
            axisLine: {
              onZero: false
            },
            splitLine: {
              show: false
            },
            axisPointer: {
              //
              label: {
                show: false
              },
              z: 100
            }
          },
          {
            type: "category",
            gridIndex: 1,
            data: self.list.name,
            // scale: true,
            boundaryGap: true,
            axisLine: {
              onZero: false
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: true,
              lineStyle: {
                // 使用深浅的间隔色
              }
            },
            axisLabel: {},
            axisPointer: {}
          }
        ],
        yAxis: [
          {
            scale: true,
            splitArea: {
              show: true
            }
          },
          {
            scale: true,

            // min: "dataMin",
            // max: function(value) {
            //   return value.max * 1.5;
            // },
            splitArea: {
              show: true
            }
          },
          {
            scale: true,
            gridIndex: 1,
            splitNumber: 2,
            axisLabel: {},
            axisLine: {
              show: false
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: false
            }
          },
          {
            scale: true,
            gridIndex: 1,
            splitNumber: 2,
            axisLabel: {},
            axisLine: {
              show: false
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: false
            }
          }
        ],
        series: [
          {
            name: "成交比例",
            type: "line",
            xAxisIndex: 1,
            yAxisIndex: 2,
            symbol: "none",
            data: []
          },
          {
            name: "市场成交量",
            type: "bar",
            xAxisIndex: 1,
            yAxisIndex: 3,
            symbol: "none"
          },
          {
            name: "策略成交量",
            type: "bar",
            symbol: "none",
            xAxisIndex: 0,
            yAxisIndex: 1
          },
          {
            name: "策略成交均价",
            type: "line",
            symbol: "none"
          },
          {
            name: "市场成交均价",
            type: "line",
            symbol: "none"
          },
          {
            name: "市场价格",
            type: "line",
            symbol: "none"
          }
        ]
      };

      self.chart.setOption(option);
      window.onresize = self.chart.resize;
    },
    //页面中earchs高度,宽度调整
    autoChartSize() {
      $(".y-chart").each((i, e) => {
        let el = $(e);
        el.width(el.parent().width());
        el.height(el.parent().height());
      });
    },
    findIndexData(data, it1) {
      let i = data.findIndex(it => it == it1);
      i == -1 ? data.push(it1) : data.splice(i, 1, it1);
      return data;
    },
    clearEcharts() {
      let self = this;
      this.list = {
        name: [],
        //市场价格
        line1: [],
        //市场均价
        line2: [],
        //算法成交均价
        line3: [],
        //成交比例
        line4: [],
        //策略成交量
        line5: [],
        //市场成交量
        line6: [],
        // 策略成交量
        task_traded_quantity: [],
        // 成交比例
        trade_ratio: [],
        // 市场成交量
        market_traded_quantity: [],
        // 市场价格
        market_price: [],
        // 市场均价
        avg_market_price: [],
        // 算法成交均价
        avg_traded_price: []
      };
      let option = self.chart.getOption();
      option.xAxis[0].data = self.list.name;
      option.xAxis[1].data = self.list.name;
      option.series[0].data = self.list.trade_ratio;
      option.series[1].data = self.list.market_traded_quantity;
      option.series[2].data = self.list.task_traded_quantity;
      option.series[3].data = self.list.avg_traded_price;
      option.series[4].data = self.list.avg_market_price;
      option.series[5].data = self.list.market_price;
      self.chart.setOption(option);
    },
    searchTicker(val, type) {
      let arr = [];
      let len = 8;
      if (val) {
        for (let i = 0; i < len + 1 - val.length; i++) {
          let list = this.ordinarySell.filter(
            it =>
              (it.name.indexOf(val) == i ||
                it.code.indexOf(val) == i ||
                it.kw.indexOf(val) == i) &&
              !arr.find(
                it2 => it2.code == it.code && it2.marketId == it.marketId
              )
          );
          list.forEach(it => {
            if (
              !arr.find(
                it2 => it2.code == it.code && it2.exchangeId == it.exchangeId
              )
            ) {
              arr.push(it);
              if (arr.length == len) {
                return arr;
              }
            }
          });
          if (arr.length >= len) {
            return arr.slice(0, len);
          }
        }
      } else {
        // arr = $.ticker[type].slice(0, 6)
      }
      return arr;
    },
    getMinuteReportData() {
      let self = this;
      if (self.task_id) {
        app.request(
          "minute",
          {
            session_id: self.session_id,
            username: self.username,
            task_id: self.task_id
          },
          d => {
            let minuteData = JSON.parse(d.message);
            minuteData.forEach(it => {
              it.report_time = it.report_time.substr(0, 5);
              let j = self.list.name.findIndex(it1 => it1 == it.report_time);
              j == -1
                ? self.list.name.push(it.report_time)
                : self.list.name.splice(j, 1, it.report_time);
              let len = self.list.name.length - 1;
              self.list.market_traded_quantity[len] = it.market_traded_quantity;
              self.list.trade_ratio[len] = parseFloat(it.trade_ratio).toFixed(
                3
              );
              self.list.task_traded_quantity[len] = it.task_traded_quantity;
              self.list.market_price[len] = parseFloat(it.market_price).toFixed(
                3
              );
              self.list.avg_traded_price[len] = parseFloat(
                it.avg_traded_price
              ).toFixed(3);
              self.list.avg_market_price[len] = parseFloat(
                it.avg_market_price
              ).toFixed(3);
            });
            let option = self.chart.getOption();
            option.xAxis[0].data = self.list.name;
            option.xAxis[1].data = self.list.name;
            option.series[0].data = self.list.trade_ratio;
            option.series[1].data = self.list.market_traded_quantity;
            option.series[2].data = self.list.task_traded_quantity;
            option.series[3].data = self.list.avg_traded_price;
            option.series[4].data = self.list.avg_market_price;
            option.series[5].data = self.list.market_price;
            self.chart.setOption(option);
          },
          ex => {}
        );
      }
    },
    getTaskReportData() {
      let self = this;
      app.request(
        "report",
        {
          session_id: self.session_id,
          username: self.username
        },
        d => {
          if (d.message !== "wrong session id" && d.message) {
            let taskData = JSON.parse(d.message);
            if (taskData.length !== 0) self.task_id = taskData[0].task_id;
          }
        }
      );
    },
    buyOrSellOperating() {
      let self = this;
      let formData = self[`form${self.currentTabOrder}Item`];
      let textInformation = self.currentTabOrder === "Buy" ? "下单" : "卖出";
      if (self.dontRepeat) {
        app.request(
          "start",
          formData,
          d => {
            if (d.task_id) {
              self.$store.commit("GETREPORTFLAG", true);
              self.$Message.success(`${textInformation}成功`);
              self.getTaskReportDataFlag = true;
              self.clearEcharts();
              self.task_id = parseInt(d.task_id);
              self.dontRepeat = false;
            } else self.$Message.error(d.message);
            setTimeout(() => {
              self.dontRepeat = true;
            }, 2000);
          },
          ex => {
            self.$Message.error(ex.message);
          }
        );
      }
    },
    upload(el) {
      let self = this;
      let file = el.currentTarget.files[0];
      self.CSVPath = file.path;
      app.Cache.sset(app.Cache.key.CSVPathAlgorithm1.toKeyName(), self.CSVPath);
      el.currentTarget.value = "";
      if (self.CSVPath) {
        self.readCSV();
        self.watcher = self.chokidar.watch(self.CSVPath, {
          ignored: /(^|[\/\\])\../,
          persistent: true
        });
        self.watcher.on("change", path => {
          self.readCSV();
        });
      }
    },
    stopUpload() {
      let self = this;
      if (self.CSVPath) {
        self.watcher.unwatch(self.CSVPath);
        self.watcher.close();
      }

      self.CSVPath = null;
      app.Cache.sdel(app.Cache.key.CSVPathAlgorithm1.toKeyName());
      self.startByte = 0;
      self.CSVSuccess = 0;
      self.CSVError = 0;
      app.Cache.sset(
        app.Cache.key.CSVStartByteAlgorithm1.toKeyName(),
        self.startByte
      );
    },
    CSVClose() {
      this.CSVmodal = false;
    },
    openDescription() {
      let self = this;
      let shell = self.$electron && self.$electron.shell;
      shell.openExternal(`${self.config.homeLocation}doc/csv下单使用说明.pdf`);
    },
    readCSV() {
      let self = this;
      if (!self.CSVPath) return;
      let userObj = {};
      let userList = app.Cache.getArray(app.Cache.key.account.toKeyName());
      userList.forEach(it => {
        if (it.status) userObj[it.username] = it;
      });
      let addOrder = [],
        cancelOrder = [];
      let input = self.fs.createReadStream(self.CSVPath, {
        start: self.startByte
      });
      let rl = self.readline.createInterface({
        input: input,
        crlfDelay: Infinity
      });
      self.startByte = self.fs.readFileSync(self.CSVPath).byteLength; //+ 2;
      app.Cache.sset(
        app.Cache.key.CSVStartByteAlgorithm1.toKeyName(),
        self.startByte
      );
      rl.on("line", line => {
        // 解析行数据
        if (!self.CSVPath) return;
        let it = line.split(",");
        if (!it.length) {
          return;
        }
        let item = null;
        switch (it[0].trim()) {
          case "0":
            self.CSVPath = null;
            self.stopUpload();
            break;
          case "1":
            item = {
              // session_id: userObj[it[1]].session_id,
              username: it[1],
              session_id: self.session_id,
              ticker: it[2].substr(0, 6),
              market: it[2].substr(-2),
              quantity: it[3] == "" ? "" : parseFloat(it[3]),
              task_type: it[4].substr(0, it[4].indexOf(".")),
              start_time: it[5],
              end_time: it[6],
              side: it[7]
            };
            if (
              item.ticker.length == 6 &&
              item.username !== "" &&
              item.market !== "" &&
              item.quantity !== "" &&
              item.task_type !== "" &&
              item.start_time !== "" &&
              item.end_time !== "" &&
              item.side !== ""
            ) {
              self.CSVSuccess += 1;
              if (item.task_type == "POV")
                item.participation_rate =
                  parseFloat(it[4].substr(it[4].lastIndexOf(".") + 1)) || 5;
              let ticker = app.ticker.all().find(it => it.code == item.ticker);
              item.ticker_name = ticker.name;
              item.start_time = item.start_time + ":00";
              item.end_time = item.end_time + ":00";
              addOrder.push(item);
            } else {
              self.CSVError += 1;
              if (self.CSVError === 1) {
                self.CSVmodal = true;
              }
            }
            break;
          default:
            break;
        }
      });
      rl.on("close", line => {
        //   处理拼装好的数据
        addOrder.length &&
          addOrder.forEach(it => {
            app.request(
              "start",
              it,
              d => {
                if (d.task_id) {
                  self.$store.commit("GETREPORTFLAG", true);
                  self.getTaskReportDataFlag = true;
                  self.clearEcharts();
                  self.task_id = parseInt(d.task_id);
                }
              },
              ex => {}
            );
          });
      });
    }
  }
};
</script>