<template>
  <div class="content-body-right">
    <div class="tab-content">
      <div class="tab-top">
        <div>
          <div class="tab-body text-center">
            <Tabs type="card" :animated='false'>
              <TabPane label="逆回购" name='buy'>
                <!-- 表单验证 :rules="parBuyOrderRule" -->
                <Form class="y-form y-order" :model="reverseRepurchase" ref="reverseRepurchase" :rules="reverseRepurchaseRule" :label-width='100'>
                  <FormItem label="回购代码" prop='ticker'>
                    <AutoComplete size="small" class="y-orange" element-id='inverse' clearable v-model="reverseRepurchase.ticker" @on-search="tickerSearch" @on-select='changeBuyXtpMarketType' placeholder="请输入代码">
                      <Option v-for="s in tickerList.inverse" :value="s.code" :key="s.code" class="clearfix">
                        <span class="pull-left">{{ s.code }}</span>
                        <span class="pull-right">{{ s.name }}</span>
                      </Option>
                    </AutoComplete>
                  </FormItem>
                  <FormItem label="股票名称" style="text-align:left">
                    {{sellTicketName}}
                  </FormItem>
                  <FormItem label="天数" style="text-align:left">
                    {{bondTerm}}
                  </FormItem>
                  <FormItem label="年化利率" prop='price'>
                    <InputNumber v-model="reverseRepurchase.price" element-id='txtPrice' :step='0.001' :min='0' class="y-orange" size="small"></InputNumber>
                  </FormItem>
                  <FormItem label="数量(张)" prop='quantity'>
                    <InputNumber v-model="reverseRepurchase.quantity" element-id='txtQunity' :step='minNum' :min='minNum' :max='maxNum' :precision='0' class="y-orange" size="small"></InputNumber>
                  </FormItem>
                  <FormItem class="y-block" :label-width="0">
                    <RadioGroup v-model.number="reverseRepurchase.scale" class="y-orange" type="button" size="small">
                      <Radio :label="0.25">1/4</Radio>
                      <Radio :label="0.5">2/4</Radio>
                      <Radio :label="0.75">3/4</Radio>
                      <Radio :label="1">全部</Radio>
                    </RadioGroup>
                  </FormItem>
                  <p class="funds">可用资金:
                    <span class="y-white">{{(buyingPower||0).Format('0,0.00')}} </span>元
                    <span class="y-white"> 100</span> 元/张</p>
                  <div class="prompt">
                    本次共融出资金
                    <span class="y-white">{{(reverseRepurchase.quantity*100||0).Format('0,0.00')}}</span> 元 <br /> 预计到期收益
                    <span class="y-white">{{(reverseRepurchase.quantity*reverseRepurchase.price*bondTerm/365).Format('0,0.00')}}</span>元
                  </div>
                  <FormItem class="y-block">
                    <!-- @click="insertOrder" -->
                    <Button type="warning" :loading='loading.insertOrder' @click="determineLend('reverseRepurchase')" size="small" long>
                      <span v-if="!loading.insertOrder">确定借出</span>
                      <span v-else>确定借出中...</span>
                    </Button>
                  </FormItem>
                </Form>
              </TabPane>
            </Tabs>
          </div>
        </div>
        <div>
          <Tabs type="card" :animated='false'>
            <table class="y-table y-table-condensed ">
              <tbody>

                <tr v-for="s in 5" :key="s" :class="{'highlight':s==5}">
                  <th>卖{{numChinese[6-s]}}</th>
                  <td @click="reverseRepurchase.price=subscribeMarketData.ask[5-s]||null" :class="{'y-red':subscribeMarketData.ask[5-s]!=0&&subscribeMarketData.ask[5-s]>preClosePrice,'y-green':subscribeMarketData.ask[5-s]!=0&&subscribeMarketData.ask[5-s]<preClosePrice}">{{subscribeMarketData.ask[5-s] == null ? null : subscribeMarketData.ask[5-s].toFixed(3)}}</td>
                  <td @click='setQuantity(subscribeMarketData.askQty[5-s])'>{{subscribeMarketData.askQty[5-s] == null ? null : subscribeMarketData.askQty[5-s].Format('0,0')}}</td>
                  <td :class="[subscribeMarketData.diffAskQtyCls[5-s]]">{{subscribeMarketData.diffAskQtySymbol[5-s]}}{{subscribeMarketData.diffAskQtyNum[5-s]}}</td>
                </tr>
                <tr class="highlight">
                  <th class="y-red">最新</th>
                  <td @click="reverseRepurchase.price=subscribeMarketData.lastPrice||null" :class="{'y-red':subscribeMarketData.lastPrice>preClosePrice,'y-green':subscribeMarketData.lastPrice<preClosePrice}">{{subscribeMarketData.lastPrice == null ? null : subscribeMarketData.lastPrice.toFixed(3)}}</td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <table class="y-table y-table-condensed">
              <tbody>

                <tr v-for="s in 5" :key="s" :class="{'highlight':s==1}">
                  <th>买{{numChinese[s]}}</th>
                  <td @click="reverseRepurchase.price=subscribeMarketData.bid[s-1]||null" :class="{'y-red':subscribeMarketData.bid[s-1]>preClosePrice,'y-green':subscribeMarketData.bid[s-1]<preClosePrice}">{{subscribeMarketData.bid[s-1] == null ? null : subscribeMarketData.bid[s-1].toFixed(3)}}</td>
                  <td @click='setQuantity(subscribeMarketData.bidQty[s-1])'>{{subscribeMarketData.bidQty[s-1] == null ? null : subscribeMarketData.bidQty[s-1].Format('0,0')}}</td>
                  <td :class="[subscribeMarketData.diffBidQtyCls[s-1]]">{{subscribeMarketData.diffBidQtySymbol[s-1]}}{{subscribeMarketData.diffBidQtyNum[s-1]}}</td>
                </tr>
                <tr>
                  <th class="y-yellow">时间</th>
                  <td colspan="3" class="text-left">{{subscribeMarketData.dataTime}}</td>
                </tr>
              </tbody>
            </table>
          </Tabs>
        </div>
        <div>

          <div class="tab-wrapper" style="height:100%;width:100%">
            <div class="tab-bar">
              债券回购列表
              <div class="pull-right">
                <a>
                  <i class="f f-refresh" @click="selPosition" title="刷新"></i>
                </a>
              </div>
            </div>
            <div class="tab-table" style="position:relative">
              <Table class="i-table" data-k="position" :width='width.position' :height="height.position" @on-row-dblclick='positionRowDblclick' :columns="reverseCol" :data="reverseList" size="small" :border='true' ref="table"></Table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-bottom">
        <div class="tab-wrapper">
          <order xtpBusinessType='XTP_BUSINESS_TYPE_REPO'></order>
        </div>
      </div>
    </div>
  </div>
</template> 
<style lang="scss" scoped >
.funds {
    font-size: 12px;
    text-align: left;
    margin-bottom: 5px;
    color: #9da1a9;
}
.y-white {
    color: #fff;
    font-size: 14px;
}
.prompt {
    font-size: 12px;
    text-align: left;
    margin-bottom: 10px;
    color: #9da1a9;
}
.tab-top {
    height: 430px;
    > div:nth-child(1) {
        flex-basis: 280px;
        background-color: #1e2127;
        tbody {
            width: 100%;
            display: table;
        }
    }
    > div:nth-child(2) {
        flex-basis: 260px;
        .ivu-tabs-tabpane {
            background-color: #221f20;
        }
        tr:hover {
                    background: #212c48;
                    cursor: pointer;
                }
        tr {
            th,
            td {
                padding: 5px 4px;
            }
            th {
                width: 50px;
            }
            > td:nth-of-type(1) {
                width: 50px;
            }
            > td:nth-of-type(2) {
                width: 80px;
            }
            &.highlight {
                th,
                td {
                    color: #fff;
                    font-size: 16px;
                    padding: 10px 4px;
                }
            }
        }
    }
    > div:nth-child(3) {
        tr:hover {
            background: #212c48;
            cursor: pointer;
        }
    }
    > div:nth-child(3) {
        flex: 1;
        display: flex;
    }
    .y-block.ivu-form-item {
        padding-bottom: 10px;
    }
}
.ivu-table td.info,
.ivu-table .info2 {
    color: #e0aa41;
}
.ivu-table td {
    transition: background-color 0.7s linear;
}
.ivu-table .up {
    background-color: #5f2328;
}
.y-block {
    .row {
        margin: 0;
        .col {
            padding: 0;
            &:last-child {
                padding: 0 0 0 10px;
            }
        }
        .ivu-btn-long {
            width: 100%;
        }
    }
}
</style>

<script>
import Order from "@/components/order";
import { NumChineseMixin } from "@/mixins/mixin";
export default {
    mixins: [ NumChineseMixin ],
    components: {
        Order
    },
    data() {
        return {
            maxNum: 0,
            minNum: 10,
            tickerList: {
                inverse: [],
                positive: []
            },
            buyingPower: 0, //页面中可用资金
            principal: 0, //输入框中的本金
            bondTerm: null,
            width: {
                entrust: 0,
                deal: 0,
                position: 0
            },
            height: {
                entrust: 0,
                deal: 0,
                position: 0
            },
            currentLoading: "",
            currentTabOrder: "buy",
            sellTicketName: "",
            currentOrder: {},
            reverseRepurchase: {
                orderXtpId: 0, // XTP系统订单ID，在XTP系统中唯一
                orderClientId: 13, //报单引用
                ticker: "", //债券名称
                xtpMarketType: 0,
                price: null, //年华利率
                quantity: null, //数量
                scale: 0,
                stopPrice: 0.0,
                xtpPriceType: 1,
                xtpSideType: 2,
                xtpBusinessType: 2
            },
            reverseRepurchaseRule: {
                ticker: [
                    {
                        required: true,
                        message: "",
                        trigger: "change" //trigger: "blur"
                    }
                ],
                price: [
                    {
                        required: true,
                        type: "number",
                        message: "",
                        trigger: "change"
                    }
                ],
                quantity: [
                    {
                        required: true,
                        type: "number",
                        message: "",
                        trigger: "change",
                        min: 1
                    }
                ]
            },
            parSubscription: {
                tickers: [],
                count: 1,
                exchageId: 0
            },
            unbook: "",
            loading: {
                insertOrder: false,
                sell: false
            },
            parCancelOrder: {
                orderXtpId: ""
            },
            preClosePrice: 0,
            subscribeMarketDataObj: {},
            subscribeMarketData: {
                ask: [],
                askQty: [],
                bid: [],
                bidQty: [],
                diffTradesCount: {
                    Num: null,
                    Cls: "",
                    Symbol: ""
                },
                diffAskQtyNum: [],
                diffAskQtyCls: [],
                diffAskQtySymbol: [],
                diffBidQtyNum: [],
                diffBidQtyCls: [],
                diffBidQtySymbol: [],
                lastPrice: null,
                maxQuantity: null,
                dataTime: null
            },
            positionCurrent: null,
            reverseCol: [
                {
                    title: "序号",
                    type: "index",
                    width: 40,
                    align: "right"
                },
                {
                    title: "名称",
                    key: "bondName",
                    align: "left",
                    width: 160
                },
                {
                    title: "年化利率",
                    key: "lastPrice",
                    width: 90,
                    align: "right",
                    sortable: true
                },
                {
                    title: "代码",
                    key: "bondCode",
                    align: "center",
                    width: 80
                },
                {
                    title: "期限",
                    key: "bondTerm",
                    width: 60,
                    align: "center",
                    sortable: true
                },
                // {
                //     title: "类型",
                //     key: "bondType",
                //     width: 60,
                //     align: "center",
                //     sortable: true
                // }
            ],
            reverseList: [],
            enter:true,
        };
    },
    watch: {
        "$store.state.tran.isLogin": function(val) {
            val ? this.init() : this.clear();
        },
        "$store.state.tran.reverseList": function(val) {
            this.reverseList = JSON.parse(JSON.stringify(val));
            this.reverseList.forEach(it => {
                it.lastPrice = "--";
            });
            this.reverseList.length && this.subscription(this.reverseList);
        },
        "$store.state.tran.assets": function(val) {
            this.buyingPower = val.buyingPower;
        },
        "reverseRepurchase.xtpMarketType": function(val) {
            let self = this;
            //xtpMarketType= 1深圳 最小单位10张，最大无限
            //xtpMarketType= 2上海 最小单位1000张，最多1000000张
            let num = self.buyingPower / 100;
            if (self.reverseRepurchase.xtpMarketType == 1) {
                self.maxNum = Math.floor(num / 10) * 10;
                self.minNum = 10;
            } else if (self.reverseRepurchase.xtpMarketType == 2) {
                self.maxNum =
                    num >= 1000000 ? 1000000 : Math.floor(num / 1000) * 1000;
                self.minNum = 1000;
            }
        },
        "reverseRepurchase.scale": function(val) {
            let self = this;
            self.maxNum &&
                (self.reverseRepurchase.quantity =
                    Math.floor((self.maxNum * val) / self.minNum) *
                    self.minNum);
        },
        "reverseRepurchase.ticker"(val) {
            if (val == "") {
                this.sellTicketName = "";
            }
            if (val.length === 6 && this.sellTicketName === "") {
                // let ticker = this.reverseList.find(it => it.bondCode === val);
                // this.sellTicketName = ticker.bondName;
                this.changeBuyXtpMarketType(val,true);
            }
        },
        subscribeMarketData(val, oldVal) {
            let self = this;
            app.log("self.preClosePrice::", self.preClosePrice);
            val.tradesCount = Math.round(val.tradesCount / 100);
            if (oldVal.tradesCount) {
                let tradesCountNum = Math.round(
                    val.tradesCount - oldVal.tradesCount
                );

                val.diffTradesCount = {
                    Num: tradesCountNum == 0 ? null : Math.abs(tradesCountNum),
                    Cls:
                        tradesCountNum == 0
                            ? ""
                            : tradesCountNum > 0
                                ? "y-red"
                                : "y-green",
                    Symbol:
                        tradesCountNum == 0
                            ? ""
                            : tradesCountNum > 0
                                ? "+"
                                : "-"
                };
            } else {
                val.diffTradesCount = {
                    Num: null,
                    Cls: "",
                    Symbol: ""
                };
            }
            val.diffAskQtyNum = [];
            val.diffAskQtyCls = [];
            val.diffAskQtySymbol = [];

            val.diffBidQtyNum = [];
            val.diffBidQtyCls = [];
            val.diffBidQtySymbol = [];
            // val.dataTime=null;
            for (let i = 0; i < val.askQty.length; i++) {
                val.askQty[i] = Math.round(val.askQty[i] / 100);
                val.bidQty[i] = Math.round(val.bidQty[i] / 100);
                if (oldVal.askQty.length) {
                    let askI = oldVal.ask.findIndex(it => {
                        return it == val.ask[i];
                    });
                    let num =
                        askI == -1 ? 0 : val.askQty[i] - oldVal.askQty[askI];

                    let bidI = oldVal.bid.findIndex(it => {
                        return it == val.bid[i];
                    });
                    let bidNum =
                        bidI == -1 ? 0 : val.bidQty[i] - oldVal.bidQty[bidI];

                    val.diffAskQtyNum.push(num == 0 ? null : Math.abs(num));
                    val.diffAskQtyCls.push(
                        num == 0 ? "" : num > 0 ? "y-red" : "y-green"
                    );
                    val.diffAskQtySymbol.push(
                        num == 0 ? "" : num > 0 ? "+" : "-"
                    );

                    val.diffBidQtyNum.push(
                        bidNum == 0 ? null : Math.abs(bidNum)
                    );
                    val.diffBidQtyCls.push(
                        bidNum == 0 ? "" : bidNum > 0 ? "y-red" : "y-green"
                    );
                    val.diffBidQtySymbol.push(
                        bidNum == 0 ? "" : bidNum > 0 ? "+" : "-"
                    );
                }
            }
            self.subscribeMarketData = val;
        }
    },
    sockets: {
        insertOrderTokenRsp(data) {
            let self = this;
            let inverse = document.getElementById("inverse");
            app.log("self.reverseRepurchase::", self.reverseRepurchase);
            self.$socket.emit("insertOrder", {
                insertOrderToken: data.insertOrderToken,
                tradeInsertOrder: self.reverseRepurchase
            });
            self.clearFormData();
            inverse.focus();
        }, 
    },
    sockets2: {
        depthMarketDataRsp(data) {
            let self = this;
            setTimeout(() => {
                self.marketDataDeal(data);
            }, 0);
        }
    },
    created() {
        let self = this;
        self.$nextTick(() => {
            self.autoTableSize();
            setTimeout(() => {
                self.$store.state.tran.isLogin ? self.init() : self.clear();
                self.buyingPower = self.$store.state.tran.assets.buyingPower;
            }, 0);
        });
    },
    mounted: function() {
        var self = this;
        self.$nextTick(function() {
            //债券回购列表刷新
            self.selPosition();
            document.querySelectorAll(".y-form").forEach(it => {
                let elList = it.querySelectorAll(
                    ".ivu-input,.ivu-input-number-input"
                );
                elList[0].focus();
                for (let i = 0; i < elList.length; i++) {
                    elList[i].addEventListener("keyup", e => {
                        if (e.keyCode == 13) {
                            if (self.enter == false) {
                                self.enter = true;
                            } else {
                                if (e.currentTarget.id == "txtPrice") {
                                    elList[2].focus();
                                }
                            }
                            if (i == elList.length - 1) {
                                it.querySelector(".ivu-btn").click();
                            }
                        }
                    });
                }
            });
            window.addEventListener(
                "resize",
                function() {
                    self.autoTableSize();
                },
                false
            );
        });
    },
    destroyed() {
        let self = this;
        self.unSubscription(self.reverseList);
    },
    methods: {
        init() {
            let self = this;
            self.reverseList = JSON.parse(
                JSON.stringify(self.$store.state.tran.reverseList)
            );
            self.reverseList.forEach(it => {
                it.lastPrice = "--";
            });
            self.reverseList.length && self.subscription(self.reverseList);
        },
        clear() {
            this.reverseList = [];
        },
        //模态框中的数据
        subscription(list) {
            let self = this;
            // debugger
            let obj = {
                sh: {
                    tickers: Array.from(
                        list.filter(it => it.exchangeId == 1),
                        it => it.bondCode
                    ),
                    exchageId: 1
                },
                sz: {
                    tickers: Array.from(
                        list.filter(it => it.exchangeId == 2),
                        it => it.bondCode
                    ),
                    exchageId: 2
                }
            };
            obj.sh.count = obj.sh.tickers.length;
            obj.sz.count = obj.sz.tickers.length;
            app.log("行情订阅:::::::::::", obj.sh, obj.sz);
            self.$socket2.emit("subscribeMarketData", obj.sh);
            self.$socket2.emit("subscribeMarketData", obj.sz);
        },
        unSubscription(list) {
            let self = this;
            let obj = {
                sh: {
                    tickers: Array.from(
                        list.filter(it => it.exchangeId == 1),
                        it => it.bondCode
                    ),
                    exchageId: 1
                },
                sz: {
                    tickers: Array.from(
                        list.filter(it => it.exchangeId == 2),
                        it => it.bondCode
                    ),
                    exchageId: 2
                }
            };
            obj.sh.count = obj.sh.tickers.length;
            obj.sz.count = obj.sz.tickers.length;
            app.log("页面离开取消行情订阅:::::::::::", obj.sh, obj.sz);
            self.$socket2.emit("unSubscribeMarketData", obj.sh);
            self.$socket2.emit("unSubscribeMarketData", obj.sz);
        },
        marketDataDeal(data) {
            let self = this;
            let exchange = app.dataType.XTP_EXCHANGE_TYPE[data.exchangeId];
            data.dataTime = data.dataTime.toDate("hh:mm:ss");
            data.exchangeId = exchange.i;
            data.marketId = exchange.marketId;
            let i = self.reverseList.findIndex(
                it =>
                    it.bondCode == data.ticker &&
                    it.exchangeId == data.exchangeId
            );
            if (i == -1) {
                return;
            }
            let dmr = self.reverseList[i];
            let cls =
                data.lastPrice != data.preClosePrice &&
                data.lastPrice > data.preClosePrice
                    ? "y-red"
                    : "y-green";
            let bg = "";
            if (dmr.lastPrice != "--" && dmr.lastPrice != data.lastPrice) {
                bg = data.lastPrice > dmr.lastPrice ? "y-red-bg" : "y-green-bg";
            }
            dmr.cellClassName = {
                lastPrice: cls + " " + bg,
                bondName: "y-yellow"
            };

            dmr.lastPrice = data.lastPrice.toFixed(3);
            i != -1 && self.$set(self.reverseList, i, dmr);

            if (
                self.subscribeMarketData.ticker == data.ticker &&
                self.subscribeMarketData.exchangeId == data.exchangeId
            ) {
                self.subscribeMarketData = {
                    ticker: data.ticker,
                    exchangeId: data.exchangeId,
                    ask: data.ask,
                    askQty: data.askQty,
                    bid: data.bid,
                    bidQty: data.bidQty,
                    tradesCount: data.tradesCount,
                    lastPrice: data.lastPrice,
                    dataTime: data.dataTime
                };
                self.reverseRepurchase.price =
                    self.reverseRepurchase.price ||
                    self.subscribeMarketData.lastPrice;
            }
            self.subscribeMarketDataObj[
                data.ticker + "_" + data.exchangeId
            ] = data;
        },
        positionRowDblclick(row) {
            let self = this;
            app.log("row:::", row);
            self.reverseRepurchase.ticker = row.bondCode;
            self.reverseRepurchase.scale != 0 &&
                (self.reverseRepurchase.scale = 0);
            self.sellTicketName = row.bondName;
            self.reverseRepurchase.xtpMarketType = row.marketId;
            self.subscribeMarketData.ticker = row.bondCode;
            self.subscribeMarketData.exchangeId = row.exchangeId;
            self.bondTerm = row.bondTerm;
            self.reverseRepurchase.quantity = null;
            let obj = self.subscribeMarketDataObj[
                row.bondCode + "_" + row.exchangeId
            ] || {
                ticker: row.bondCode,
                exchangeId: self.subscribeMarketData.exchangeId,
                ask: [],
                askQty: [],
                bid: [],
                bidQty: [],
                tradesCount: 0,
                lastPrice: null
            };
            self.reverseRepurchase.price = obj.lastPrice;
            self.subscribeMarketData = obj;
        },
        //自动补全获得数据
        tickerSearch(val) {
            this.tickerList.inverse = app.tickerSearch(
                val,
                "XTP_TICKER_TYPE_BOND"
            );
        },
        changeBuyXtpMarketType(val,enterKey) {
            let self = this;
            // document.getElementById("inverse").click();
            let ticker2 = self.reverseList.find(it => it.bondCode === val);
            self.sellTicketName = ticker2.bondName;
            let ticker = app.ticker.XTP_TICKER_TYPE_BOND.find(
                it => it.code == val
            );

            self.bondTerm = ticker2.bondTerm;
            self.preClosePrice = ticker.preClosePrice;
            self.reverseRepurchase.price = ticker.preClosePrice;
            self.reverseRepurchase.ticker = ticker2.bondCode;
            self.reverseRepurchase.xtpMarketType = ticker2.marketId;
            let obj = self.subscribeMarketDataObj[
                ticker2.bondCode + "_" + ticker2.exchangeId
            ] || {
                ticker: ticker2.bondCode,
                exchangeId: ticker2.exchangeId,
                ask: [],
                askQty: [],
                bid: [],
                bidQty: [],
                tradesCount: 0,
                lastPrice: null,
                dataTime: null
            };
            self.reverseRepurchase.price = obj.lastPrice;
            self.subscribeMarketData =
                ticker2.lastPrice != null
                    ? {
                          ticker: obj.ticker,
                          exchangeId: obj.exchangeId,
                          ask: obj.ask,
                          askQty: obj.askQty,
                          bid: obj.bid,
                          bidQty: obj.bidQty,
                          tradesCount: obj.tradesCount,
                          lastPrice: obj.lastPrice,
                          dataTime: obj.dataTime
                      }
                    : {
                          ticker: obj.ticker,
                          exchangeId: obj.exchangeId,
                          ask: [],
                          askQty: [],
                          bid: [],
                          bidQty: [],
                          tradesCount: 0,
                          lastPrice: 0,
                          dataTime: obj.dataTime
                      };
            // 如果不是手动输入六位,则不让第三个input聚焦
            if (enterKey !== true) {
                this.enter = false;
            }          
            document.getElementById('txtPrice').focus();          
        },
        selPosition() {
            this.$socket.emit("queryPosition", { ticker: "", requestId: 4 });
        },
        //点击确认卖出,弹出模态框,做出卖出操作
        determineLend(data) {
            let self = this;
            let inverse = document.getElementById("inverse");
            if (!self.bondTerm) {
                self.reverseRepurchase.ticker = null;
                self.$Message.warning("请填写支持的股票");
                inverse.focus();
                return;
            }
            self.$refs[data].validate(valid => {
                if (valid) {
                    if (app.isModal) {
                        self.$Modal.confirm({
                            title: "借出确认",
                            width: 280,
                            content: `<div  class="y-confirm">
                        <div class="row">
                          <div class="col text-right">股票代码</div>
                          <div class="col y-red">${
                              self.reverseRepurchase.ticker
                          }</div>
                        </div>
                        <div class="row">
                          <div class="col text-right">实际占款天数</div>
                          <div class="col y-red">${self.bondTerm}</div>
                        </div>
                        <div class="row">
                          <div class="col text-right">年化利率</div>
                          <div class="col y-red">${
                              self.reverseRepurchase.price
                          }</div>
                        </div>
                        <div class="row">
                          <div class="col text-right">借出数量</div>
                          <div class="col y-red">${
                              self.reverseRepurchase.quantity
                          }</div>
                        </div>
                      </div>`,
                            onOk: () => {
                                self.buyOrSellOperating();
                                // self.$refs[data].resetFields();
                            }
                        });
                    } else {
                        self.buyOrSellOperating();
                        // self.$refs[data].resetFields();
                    }
                } else {
                    self.$Message.error("请填写完整的买入信息！");
                }
            });
        },
        setQuantity(num) {
            let self = this;
            num &&
                (self.reverseRepurchase.quantity =
                    num > self.maxNum
                        ? self.maxNum
                        : Math.floor(num / self.minNum) * self.minNum);
        },
        buyOrSellOperating() {
            let self = this;
            self.currentLoading = "insertOrder";
            self.$socket.emit("getInsertOrderToken", {});
            setTimeout(() => {
                if (self.loading.insertOrder) {
                    self.loading.insertOrder = false;
                    self.$Message.error(`请求服务器超时！`);
                }
            }, 5000);
        },
        clearFormData(){
            let chase = this.reverseRepurchase;
            this.bondTerm = null;
            chase.ticker='';
            chase.price=0;
            chase.price=null;
            chase.quantity=null;
        }
    }
};
</script>