<template>
    <div class="cell" ref="cell">
        <template v-if="column.type === 'index'"><span>{{row._index + 1}}</span></template>
        <template v-if="column.type === 'selection'">
            <Checkbox :value="isChecked" @click.native.stop="handleClick" :disabled="isDisabled"
                      @on-change="changeHandler"></Checkbox>
        </template>
        <template v-if="column.type === 'html'"><span v-html="row[column.key]"></span></template>
        <template v-if="column.type === 'normal'"><span>{{row[column.key]}}</span></template>
        <template v-if="column.type === 'render'"><span>{{row[column.key+"_render"]}}</span></template>
    </div>
</template>
<script>
    export default {
        name: "BigTableCell",
        props: {
            row: Object,
            column: Object,
            isChecked: Boolean,
            isDisabled: Boolean
        },
        data() {
            return {};
        },
        methods: {
            changeHandler(value) {
                this.row._isChecked = value;
                this.$parent.changeSelect(this.row._index, value);
            },
            handleClick() {
                // 放置 Checkbox 冒泡
            }
        },
        created() {
        }

    };
</script>
