<!--<big-table :columns="columns" :data="tData"></big-table>-->
<template>
    <div :class="['big-table ' + className]" @mousewheel="onMousewheel($event)">
        <div class="main-wrap" ref="mainWrap">
            <div class="head-wrap" ref="headWrap">
                <table class="left-t" v-if="(leftCols.length>0)">
                    <thead>
                    <tr>
                        <th v-for="column in leftCols" :style="colStyle(column)">
                            <th-cell :column="column" :isSelectAll="isSelectAll" :key="column.key"></th-cell>
                        </th>
                    </tr>
                    </thead>
                </table>
                <div class="center-wrap" ref="headCenterWrap">
                    <table class="center-t" ref="headCenter"
                           :style="{transform: 'translate3d('+(parseFloat(hhandStyle.left)/tbHRate*-1)+'px, 0px, 0px)'}">
                        <thead>
                        <tr>
                            <th v-for="column in centerCols" :style="colStyle(column)">
                                <th-cell :column="column" :isSelectAll="isSelectAll" :key="column.key"></th-cell>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <table class="right-t" v-if="(rightCols.length>0)">
                    <thead>
                    <tr>
                        <th v-for="column in rightCols" :style="colStyle(column)">
                            <th-cell :column="column" :isSelectAll="isSelectAll" :key="column.key"></th-cell>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="body-wrap">
                <div class="v-wrap" ref="vWrap" :style="{transform: 'translate3d(0px,'+(vOffset)+'px, 0px)'}">
                    <table class="left-t" v-if="(leftCols.length>0)">
                        <tbody>
                        <tr v-for="rowData in tdata">
                            <td v-for="column in leftCols" :style="colStyle(column)" :class="column.className">
                                <cell
                                    :row="rowData"
                                    :column="column"
                                    :isChecked="rowData._isChecked"
                                    :isDisabled="rowData._isDisabled"
                                ></cell>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="center-wrap">
                        <table class="center-t"
                               :style="{transform: 'translate3d('+(parseFloat(hhandStyle.left)/tbHRate*-1)+'px, 0px, 0px)'}">
                            <tbody>
                            <tr v-for="rowData in tdata">
                                <td v-for="column in centerCols" :style="colStyle(column)" :name="column.key" :class="column.className">
                                    <cell
                                        :row="rowData"
                                        :column="column"
                                        :isChecked="rowData._isChecked"
                                        :isDisabled="rowData._isDisabled"
                                    ></cell>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <table class="right-t" v-if="(rightCols.length>0)">
                        <tbody>
                        <tr v-for="rowData in tdata">
                            <td v-for="column in rightCols" :style="colStyle(column)" :class="column.className">
                                <cell
                                    :row="rowData"
                                    :column="column"
                                    :isChecked="rowData._isChecked"
                                    :isDisabled="rowData._isDisabled"
                                ></cell>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="scrollbar v-bar" ref="vBar">
            <div class="handle" v-bind:style="vhandStyle" ref="vHandle" @mousedown='vbarMouseDown($event)'></div>
        </div>
        <div class="scrollbar h-bar" ref="hBar">
            <div class="handle" v-bind:style="hhandStyle" ref="hHandle" @mousedown='hbarMouseDown($event)'></div>
        </div>
    </div>
</template>

<script>
    import ThCell from "./th-cell.vue";
    import Cell from "./cell.vue";
    import {deepCopy} from "./utils";

    export default {
        name: "bigTable",
        components: {ThCell, Cell},
        props: {
            columns: Array,
            rowHeight: {
                type: Number,
                default: 25
            },
            className: String,
            highlightRow: {
                type: Boolean,
                default: false
            }


        },

        methods: {

            /**
             * 初始化组件内容区
             * @param opts
             * {
             *  total:number,//总数量
             *  initData:Array,//初始化显示的数据
             *  loadData:function(params,callback),//加载数据接口
             *  updateData:function(arr),//更新信息
             *  subData:function(arr,callback),//订阅信息
             *  unsubData:function(arr),//取消订阅信息
             *
             * }
             *
             */
            init(opts) {
                if (!opts) return;
                //重置状态参数
                this.tdataIndex = 0;
                this.isSelectAll = false;
                //读取初始化数据
                this.total = opts.total;
                this.loadData = opts.loadData;
                this.updateData = opts.updateData;
                this.subData = opts.subData;
                this.unsubData = opts.unsubData;

                this.rebuildData();

                //存在初始化数据则增加到数据列表中
                opts.initData && this.updateRows(opts.initData, {pageNum: 1, pageSize: opts.initData.length});

                //调整组件框架
                this.resizeVScroll();

                //构建数据区域
                this.buildBody();
                //检查第一页
                this.checkMore(this.tdataIndex);
                this.$emit("on-selection-change", []);
            },
            rebuildData() {
                var t1 = Date.now();
                //初始化total长度的空数据列表
                var $total = this.total;
                let initData = new Array($total);
                for (let i = 0; i < $total; i++) {
                    initData[i] = {_index: i, _isDisabled: true,_isChecked:false, _checked: false, _inited: false};
                }

                this.buildData = initData;

                console.log($total+" rebuildData time(ms):"+(Date.now()-t1));
            },
            updateRows(rows, params) {
                if (!params) return;
                let t1 = Date.now();

                let pageNum = params.pageNum;
                let pageSize = params.pageSize;
                let $buildData = this.buildData;

                let startIndex = (pageNum - 1) * pageSize;

                if (startIndex >= $buildData.length) return;
                for (let i = 0; i < rows.length; i++) {
                    let index = startIndex + i;
                    let row = $buildData[index];
                    let newRow = rows[i];
                    let updateRow = this.makeData(row, newRow);
                    $buildData[index] = updateRow;
                }

                console.log(rows.length+" updateRows time(ms):"+(Date.now()-t1));
            },
            insertRows(rows){

            },
            addRows(rows){
                //TODO 实现增加数据插入表格顶部
                let size = rows.length;
                if(size<=0)return;


            },
            subRows(unsubList,subList){
                console.log("subRows...");
                let t1 = Date.now();

                let ulen = unsubList.length;
                let slen = subList.length;
                if(ulen>0 && slen>0){
                    let unsubStart = unsubList[0]._index;
                    let unsubEnd = unsubList[unsubList.length-1]._index;

                    let subStart = subList[0]._index;
                    let subEnd = subList[subList.length-1]._index;

                    if(unsubStart == subStart && unsubEnd == subEnd)return;

                    //两者没有交集
                    if((unsubStart<subStart && unsubStart<subEnd) || (subStart<unsubStart && subStart<unsubEnd)){
                        ulen>0 && this.unsubData && this.unsubData(unsubList);
                        slen>0 && this.subData && this.subData(subList);
                    }else{
                        let outStart = subStart-unsubStart;
                        let outEnd = subEnd-unsubEnd;

                        let ustart = outStart<0?0:outStart;
                        let sstart = outStart<0?-1*outStart:0;

                        let uend = outEnd<0?ulen-1+outEnd:ulen-1;
                        let send = outEnd<0?slen-1:slen-1-outEnd;

                        let newUnsubList = [];
                        if(ustart>0){
                            newUnsubList = unsubList.slice(0,ustart);
                        }

                        if(uend<ulen-1){
                            newUnsubList.push(unsubList.slice(uend+1,ulen));
                        }

                        let newSubList = [];
                        if(ustart>0){
                            newSubList = unsubList.slice(0,ustart);
                        }

                        if(uend<ulen-1){
                            newSubList.push(unsubList.slice(uend+1,ulen));
                        }

                        newUnsubList.length>0 && this.unsubData && this.unsubData(newUnsubList);
                        newSubList.length>0 &&  this.subData && this.subData(newSubList);
                    }


                }else{
                    ulen>0 && this.unsubData && this.unsubData(unsubList);
                    slen>0 && this.subData && this.subData(subList);
                }

                console.log("subRows time(ms):"+(Date.now()-t1))

            },
            /**
             * 清空表格数据
             */
            clear(){
                this.tdataIndex = 0;
                this.init({total:0});

            },
            makeData(oldRow, newRow) {
                if (!newRow) return;
                if(!oldRow){
                    console.log("oldRow is undefined");
                }

                Object.assign(oldRow,{
                    _inited:true,
                    _isDisabled:newRow._disabled ? true : false,
                    _isChecked:newRow._checked ? true : oldRow._checked
                });

                let $columns = this.columns;
                for(let k in $columns){
                    let column = $columns[k];
                    if(column.render && (typeof newRow[column.key]) != "undefined"){
                        const params = {
                            row: newRow,
                            index: newRow._index,
                            column: column
                        };
                        newRow[column.key+"_render"] = column.render(function(element, d) {
                            return d;
                        }, params);
                    }
                }

                return Object.assign({},oldRow,newRow);
            },
            makeColumns() {
                let left = [];
                let right = [];
                let center = [];
                this.columns.forEach((column, index) => {
                    column._columnKey = index;

                    if ('sortType' in column) {
                        this.$set(column,"$sortType",column.sortType);
                    }else{
                        this.$set(column,"sortType","normal");
                        this.$set(column,"$sortType","normal");
                    }

                    if(!column.type){

                        if(column.render){
                            this.$set(column,"type","render");
                        }else{
                            this.$set(column,"type","normal");
                        }
                    }




                    if (column.fixed && column.fixed === "left") {
                        left.push(column);
                    } else if (column.fixed && column.fixed === "right") {
                        right.push(column);
                    } else {
                        center.push(column);
                    }
                });

                this.leftCols = left;
                this.centerCols = center;
                this.rightCols = right;
            },
            resizeHScroll() {
                //设置横向滚动条
                let tbHeadWrapWidth = this.$refs.headCenterWrap.offsetWidth;
                let tbHeadWidth = this.$refs.headCenter.offsetWidth;
                this.isHScroll = tbHeadWidth > tbHeadWrapWidth;
                if (this.isHScroll) {
                    this.hBarWidth = this.$refs.headWrap.offsetWidth - 10;
                    //横向滚动条占内容总宽度的比例
                    this.tbHRate = this.hBarWidth / tbHeadWidth;
                    //按照比例计算横向滚动条的宽度
                    this.hhandStyle.width = tbHeadWrapWidth * this.tbHRate + "px";
                } else {
                    this.hhandStyle.width = 0;
                }
            },
            resizeVScroll() {

                let $rowHeight = this.rowHeight;
                let $total = this.total;
                //set body size
                let tbHeight = this.$refs.mainWrap.offsetHeight;
                let tbHeadHeight = this.$refs.headWrap.offsetHeight;
                let tbBodyHeight = tbHeight - tbHeadHeight;

                this.tdataSize = Math.ceil(tbBodyHeight / $rowHeight) + 1;
                this.tdataMaxSize = Math.floor(tbBodyHeight / $rowHeight);
                this.tbBodyHeight = tbBodyHeight;


                //设置纵向滚动条
                if ($total) {
                    this.isVScroll = $total > this.tdataMaxSize;

                    //计算纵向滚动条的高度和比例
                    if (this.isVScroll) {
                        this.vBarHeight = this.$refs.vBar.offsetHeight;

                        let outHeight = $total * $rowHeight - tbBodyHeight;
                        let vhandHeight = this.vBarHeight * tbBodyHeight / ($total * $rowHeight);
                        if (vhandHeight < 50) {
                            vhandHeight = 50;
                        }


                        //表格内容和纵向滚动条滚动距离的比值
                        this.tbVRate = outHeight / (this.vBarHeight - vhandHeight);
                        //按照比例计算纵向滚动条的高度
                        this.vhandStyle.height = vhandHeight + "px";

                    } else {
                        this.vhandStyle.height = 0;
                    }

                }
            },

            resizeTable() {
                this.resizeHScroll();
                this.resizeVScroll();
                this.buildBody();
            },
            buildBody: function () {
                let t1 = Date.now();
                let $tdata = this.tdata;
                let $tdataSize = this.tdataSize;
                let $tdataIndex = this.tdataIndex;
                let $buildData = this.buildData;

                let unsubList = $tdata.slice(0);
                this.tdata = $buildData.slice(
                    $tdataIndex,
                    $tdataIndex + $tdataSize
                );
                let subList = this.tdata.slice(0);
                this.subRows(unsubList,subList);
                console.log("buildBody time(ms)"+(Date.now()-t1));
            },
            hScrollHandler: function (hstep) {
                let hleft = parseFloat(this.hhandStyle.left);
                let hwidth = parseFloat(this.hhandStyle.width);
                if (hleft - hstep < 0) {
                    this.hhandStyle.left = 0 + "px";
                } else if (hleft - hstep + hwidth > this.hBarWidth) {
                    this.hhandStyle.left = this.hBarWidth - hwidth + "px";
                } else {
                    this.hhandStyle.left = (hleft - hstep) + "px";
                }
            },
            getPageNum(index) {
                return Math.ceil((index + 1) / this.tdataSize);
            },
            checkMore(index) {
                console.log("checkMore");
                let self = this;
                self.checkMoreStack.push(index);
                //如果当前有计时检测不需要再启新检测器
                if (self.checkTimeoutId != -1) return;

                console.log("add checkTimeout");


                //计时器用于滤波处理快速下拉行为造成的大面积检测性能
                self.checkTimeoutId = setTimeout(function () {
                    //重置计时检测器
                    self.checkTimeoutId = -1;

                    //取最新的页面显示行索引值
                    let startIndex = self.checkMoreStack.pop();
                    //清空检测队列
                    if (self.checkMoreStack.length > 0) {
                        self.checkMoreStack = [];
                    }

                    let $buildData = self.buildData;
                    //检查当前页面数据是否足够显示
                    let curStart = startIndex;
                    let curEnd = curStart + self.tdataSize;
                    let curPageNum = self.getPageNum(curStart);

                    while (curStart < curEnd) {
                        let row = $buildData[curStart];
                        if (row) {
                            if (!row._inited) {
                                //存在未加载初始化的空行
                                let params = {pageNum: curPageNum, pageSize: self.tdataSize};
                                self.loadData && self.loadData(params, function (list) {
                                    console.log("curPageNum:" + curPageNum, list);
                                    self.updateRows(list, params);
                                    self.buildBody();
                                });
                                break;
                            } else {
                                curStart++;
                            }
                        } else {
                            break;
                        }

                    }

                    //检查下一页是否足够
                    let nextStart = curPageNum * self.tdataSize;
                    if (nextStart < self.total) {
                        let nextEnd = nextStart + self.tdataSize;
                        while (nextStart < nextEnd) {
                            let row = $buildData[nextStart];
                            if (row) {
                                if (!row._inited) {
                                    //存在未加载初始化的空行
                                    let nextPageNum = curPageNum + 1;
                                    let params = {pageNum: nextPageNum, pageSize: self.tdataSize};
                                    self.loadData && self.loadData(params, function (list) {
                                        console.log("nextPageNum:" + nextPageNum, list);
                                        self.updateRows(list, params);
                                        self.buildBody();
                                    });
                                    break;
                                } else {
                                    nextStart++;
                                }
                            } else {
                                break;
                            }


                        }
                    }


                    //检查上一页是否足够
                    if (curPageNum - 1 > 0) {
                        let preStart = (curPageNum - 2) * self.tdataSize;
                        let preEnd = preStart + self.tdataSize;
                        while (preStart < preEnd) {
                            let row = $buildData[preStart];
                            if (row) {
                                if (!row._inited) {
                                    //存在未加载初始化的空行
                                    let prePageNum = curPageNum - 1;
                                    let params = {pageNum: prePageNum, pageSize: self.tdataSize};
                                    self.loadData && self.loadData(params, function (list) {
                                        console.log("prePageNum:" + prePageNum, list);
                                        self.updateRows(list, params);
                                        self.buildBody();
                                    });
                                    break;
                                } else {
                                    preStart++;
                                }
                            } else {
                                break;
                            }

                        }

                    }

                }, 500);
            },
            vScrollHandler: function (offset) {
                //页面向上偏移滚动
                if (offset < 0) {
                    let tempOffset = offset + this.vOffset;

                    let rowsOffset = Math.floor(Math.abs(tempOffset) / this.rowHeight);
                    let outOffset = tempOffset % this.rowHeight;
                    let newIndex = this.tdataIndex + rowsOffset;

                    this.tdataIndex = newIndex;
                    this.vOffset = outOffset;
                } else {
                    //页面向下偏移滚动
                    let tempOffset = this.vOffset + offset;
                    let rowsOffset = 0;
                    if (tempOffset >= 0) {
                        rowsOffset = Math.ceil(tempOffset / this.rowHeight);
                        tempOffset = tempOffset % this.rowHeight;
                        tempOffset = (tempOffset==0)?0:(tempOffset - this.rowHeight);
                    }
                    let newIndex = this.tdataIndex - rowsOffset;

                    this.tdataIndex = newIndex < 0 ? 0 : newIndex;
                    this.vOffset = newIndex < 0 ? 0 : tempOffset;
                }

                this.buildBody();
                this.checkMore(this.tdataIndex);

            },
            onMousewheel: function (event) {
                let step = event.wheelDelta / 120;
                console.log("onMousewheel...", step > 0 ? "向上" : "向下");

                //true:横向滚动
                if (this.isShift) {
                    if (!this.isHScroll) return;
                    //滚动距离扩大到每次10px
                    let hstep = step * 10;
                    this.hScrollHandler(hstep);
                } else {
                    if (!this.isVScroll) return;
                    let offset = step * this.rowHeight;

                    if (offset < 0) {
                        let lastOffset = this.total * this.rowHeight - this.tbBodyHeight;

                        let tempOffset = -1 * (-1 * (this.tdataIndex) * this.rowHeight + offset + this.vOffset);
                        if (tempOffset > lastOffset) {
                            offset = (tempOffset + offset) - lastOffset;
                        }
                    }

                    if (!offset) return;


                    //调整滚动条的位置
                    let scrollOffset = -1 * offset / this.tbVRate;
                    let oTop = parseFloat(this.vhandStyle.top);
                    let maxTop =
                        this.$refs.vBar.offsetHeight - this.$refs.vHandle.offsetHeight;

                    if (oTop + scrollOffset < 0) {
                        this.vhandStyle.top = 0;
                    } else if (oTop + scrollOffset > maxTop) {
                        this.vhandStyle.top = maxTop + "px";
                    } else {
                        this.vhandStyle.top = oTop + scrollOffset + "px";
                    }

                    //调整表格内容滚动
                    this.vScrollHandler(offset);
                }
            },
            hbarMouseDown: function (e) {
                let self = this;

                document.body.addEventListener("mousemove", mouseMoveHandler);

                function mouseMoveHandler(event) {
                    self.hScrollHandler(-1 * event.movementX);
                }

                document.body.addEventListener("mouseup", mouseUpHandler);

                function mouseUpHandler() {
                    document.body.removeEventListener("mousemove", mouseMoveHandler);
                    document.body.removeEventListener("mouseup", mouseUpHandler);
                }
            },
            vbarMouseDown: function (e) {
                let self = this;
                document.body.addEventListener("mousemove", mouseMoveHandler);

                let vhandleHeight = self.$refs.vHandle.offsetHeight;
                let maxTop = self.vBarHeight - vhandleHeight;
                function mouseMoveHandler(event) {
                    //大于零表示向下移动
                    let moveOffset = event.movementY;
                    let oTop = parseFloat(self.vhandStyle.top);
                    console.log("mouseMoveHandler:", moveOffset, oTop);

                    let tempTop = oTop + moveOffset;


                    if (tempTop > maxTop) {
                        tempTop = maxTop;
                        moveOffset = maxTop - oTop;
                    } else if (tempTop < 0) {
                        tempTop = 0;
                        moveOffset = 0 - oTop;
                    }

                    self.vhandStyle.top = tempTop + "px";
                    let offset = -1 * moveOffset * self.tbVRate;

                    if(offset){
                        self.vScrollHandler(offset);
                    }
                }

                document.body.addEventListener("mouseup", mouseUpHandler);

                function mouseUpHandler() {
                    document.body.removeEventListener("mousemove", mouseMoveHandler);
                    document.body.removeEventListener("mouseup", mouseUpHandler);
                }



            },
            getSelection() {
                let selection = [];
                this.buildData.forEach((row, index) => {
                    if (!row._isDisabled) {
                        if (row._isChecked) {
                            selection.push(row);
                        }
                    }
                });
                selection = JSON.parse(JSON.stringify(selection));
                return selection;
            },
            selectAll(status) {
                this.buildData.forEach((row, index) => {
                    if (!row._isDisabled) {
                        row._isChecked = status;
                    }
                });
                this.isSelectAll = status;

                let selection = this.getSelection();
                if (status) {
                    this.$emit("on-select-all", selection);
                }

                this.$emit("on-selection-change", selection);
            },
            changeSelect() {
                let selection = this.getSelection();
                this.checkSelectAll();
                this.$emit("on-selection-change", selection);
            },
            colStyle(column) {
                return {
                    width: column.width + "px",
                    minWidth: column.width + "px",
                    maxWidth: column.width + "px",
                    textAlign: column.align
                };
            },
            resizeTableHandler() {
                let self = this;
                self.$nextTick(self.resizeTable);
            },
            checkSelectAll() {
                //计算绑定性能问题
                let t1 = Date.now();
                let isAll = true;
                let isALLDisabled = true;

                let temp = this.buildData;
                let len = temp.length;

                if (!len) isAll = false;
                let t2 = Date.now();
                console.log("checkSelectAll1=======>"+(t2-t1));
                for (let i = 0; i < len; i++) {
                    let row = temp[i];
                    if(!row._isDisabled){
                        //有可用的行
                        isALLDisabled = false;
                        if(!row._isChecked){
                            isAll = false;
                            break;
                        }
                    }else{

                    }
                }
                console.log("checkSelectAll2=======>"+(Date.now()-t2));

                this.isSelectAll =  !isALLDisabled && isAll;
            },
            handleSort(key,type){
                let columns = this.columns;
                let i = 0;
                for(;i<columns.length;i++){
                    let column = columns[i];
                    if(column.key == key){
                        column.$sortType = type;
                        this.$emit('on-sort-change', {
                            key: column.key,
                            order: type
                        });
                    }else{
                        column.$sortType = 'normal';
                    }
                }

            }
        },

        created: function () {
            let self = this;
            this.makeColumns();

            $(document).keydown(function (event) {
                //press shift
                if (event.keyCode == 16) {
                    self.isShift = true;
                }
            });

            $(document).keyup(function (event) {
                if (event.keyCode == 16) {
                    self.isShift = false;
                }
            });
        },
        data: function () {
            return {
                inited: false,
                loadData: null,
                buildData: [],

                tdata: [],
                leftCols: [],
                centerCols: [],
                rightCols: [],

                isShift: false,
                isVScroll: false,
                isHScroll: false,
                hhandStyle: {
                    width: 0,
                    left: 0
                },
                vhandStyle: {
                    height: 0,
                    top: 0
                },
                hBarWidth: 0,
                vBarHeight: 0,
                tbHRate: 0,
                tbVRate: 0,
                tdataIndex: 0,
                tdataSize: 0,
                tdataMaxSize: 0,
                tbBodyHeight: 0,
                vOffset: 0,

                checkTimeoutId: -1,
                checkMoreStack: [],
                isSelectAll:false
            };
        },


        watch: {
            columns: {
                handler () {
                    this.makeColumns();
                    this.$nextTick(this.resizeHScroll);
                }
            },
        },
        mounted: function () {
            let self = this;
            console.log("bigTable mounted##############");
            this.resizeHScroll();

            window.addEventListener("resize", self.resizeTableHandler, false);
        },
        beforeDestroy() {
            window.removeEventListener("resize", this.resizeTableHandler, false);
            console.log("beforeDestroy removeEventListener resize");
        }
    };
</script>


<style lang="scss">
    .big-table {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        color: #d0d0d4;
        font-size: 14px;
        background-color: #1e2127;

        table {
            table-layout: fixed;
            border-spacing: 0;
            border-collapse: collapse;
            cursor: default;

            tr {
                height: 25px;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: #262b35;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            th,
            td {
                width: 40px;
                min-width: 40px;
                max-width: 40px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: left;
                position: relative;
                color: #b9c0d0;
                box-sizing: border-box;
                font-weight: normal;

                border-right-width: 1px;
                border-right-style: solid;
                border-right-color: #262b35;

                &:first-child {
                    border-left-width: 0;
                }
            }

            th.col-left,
            td.col-left {
                text-align: left;
            }

            th.col-center,
            td.col-center {
                text-align: center;
            }

            th.col-right,
            td.col-right {
                text-align: right;
            }

            thead tr {
                height: 32px;
                border-color: #13171a;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            thead th {
                border-color: #13171a;
            }
        }

        .th-cell,
        .cell {
            padding-left: 5px;
            padding-right: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            word-break: break-all;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .th-cell {
            display: inline-block;
            word-wrap: normal;
            vertical-align: middle;
        }

        .main-wrap {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;

            .left-t {
            }

            .center-wrap {
                -ms-flex: 1;
                flex: 1;
                overflow: hidden;
                position: relative;
                .center-t {
                    transform: translate3d(0px, 0px, 0px);
                }
            }

            .right-t {
            }

            .head-wrap {
                width: 100%;
                overflow: hidden;
                z-index: 2;
                box-sizing: border-box;
                background-clip: content-box;
                display: -ms-flexbox;
                display: flex;

                .th-cell-sort {
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                .th-sort {
                    display: inline-block;
                    width: 9px;
                    height: 12px;
                    margin-left: 4px;
                    margin-top: -1px;
                    vertical-align: middle;
                    overflow: hidden;
                    cursor: pointer;
                    position: relative;

                    i{
                        display: block;
                        height: 6px;
                        line-height: 6px;
                        overflow: hidden;
                        position: absolute;
                        color: #bbbec4;
                        -webkit-transition: color .2s ease-in-out;
                        transition: color .2s ease-in-out;
                    }

                    i.on {
                        color: #2d8cf0;
                    }

                    i:first-child {
                        top: 0;
                    }
                    i:last-child {
                        bottom: 0;
                    }
                }

                .th-sort-icon {
                    display: inline-block;
                    font-family: Ionicons;
                    speak: none;
                    font-style: normal;
                    font-weight: 400;
                    font-variant: normal;
                    text-transform: none;
                    text-rendering: auto;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }

            .body-wrap {
                position: relative;
                box-sizing: border-box;
                overflow: hidden;
                -ms-flex: 1;
                flex: 1;

                .v-wrap {
                    display: flex;
                }
            }
        }

        .scrollbar {
            position: absolute;
            background-color: #000;
            opacity: 0;
            transition: opacity 0.6s;
            overflow: hidden;

            .handle {
                display: block;
                position: absolute;
                background-color: #fff;
                border-radius: 8px;
            }
            &:hover {
                opacity: 0.4;
            }
        }
        .v-bar {
            right: 0;
            top: 0;
            bottom: 0;
            width: 10px;
            .handle {
                width: 8px;
                height: 0;
                right: 1px;
                top: 0;
            }
        }

        .h-bar {
            bottom: 0;
            left: 0;
            right: 10px;
            height: 10px;
            .handle {
                width: 0;
                height: 8px;
                left: 0;
                bottom: 1px;
            }
        }
        .ivu-checkbox-wrapper {
            margin-bottom: 0;
            margin-right: 0;
        }
        .ivu-checkbox-wrapper-disabled,
        .ivu-checkbox-disabled,
        .ivu-checkbox-input[disabled] {
            cursor: not-allowed;
        }

        .ivu-checkbox-wrapper-disabled .ivu-checkbox-inner {
            background-color: #d0d0d4;
            background-color: #d0d0d4;
        }
    }
</style>