<template>
    <div ref="thCell" class="th-cell">
        <template v-if="column.type === 'selection'">
            <Checkbox @on-change="selectAll" ref="selectAllBtn" :value="isSelectAll"></Checkbox>
        </template>
        <template v-else>
            <span :class="{'th-cell-sort':column.sortable}" @click="handleSort">{{ column.title || '' }}</span>
            <span class="th-sort" v-if="column.sortable" @click="handleSort">
                <i class="th-sort-icon ivu-icon-arrow-up-b" :class="{on: column.$sortType === 'asc'}"></i>
                <i class="th-sort-icon ivu-icon-arrow-down-b" :class="{on: column.$sortType === 'desc'}"></i>
            </span>
        </template>
    </div>
</template>
<script>
    export default {
        name: 'BigTableThCell',
        props: {
            column: Object,
            isSelectAll:{
                type: [Boolean, String],
                default: false
            }

        },
        data () {
            return {
            };
        },
        methods: {
            selectAll (value) {
                this.$parent.selectAll(value);
            },
            handleClick () {
                // 放置 Checkbox 冒泡
            },
            handleSort(){
                let column = this.column;
                if(!column.sortable)return;
                var type = column.$sortType;

                if (column.$sortType === "normal"){
                    type = 'asc';
                }else if(column.$sortType === "asc"){
                    type = 'desc';
                }else if(column.$sortType === "desc"){
                    type = 'normal';
                }
                this.$parent.handleSort(column.key, type);
            }
        },
        created () {
            
        }
    };
</script>
