<template>
  <div class="content-wrapper">
    <div class="content-header">
      <ul class="y-tag">
        <router-link
          tag="li"
          to="/account/accountOperat"
        >
          <a> 账户管理 </a>
        </router-link>
      </ul>

    </div>
    <!-- <keep-alive> -->
    <router-view></router-view>
    <!-- </keep-alive> -->
  </div>

</template>
<style lang="scss">
</style>

<script>
export default {
};
</script>