.ivu-modal-body{
    color: #444;
    font-size: 14px;
}
 
.ivu-modal-header{
    background-color: #3d424b;
    padding: 5px 16px;
    
    p{
        margin: 0;
        color: #fff;
        font-size: 12px;
        font-weight: normal;
    }
    .ivu-modal-header-inner{
        color: #fff;
    }
}
.ivu-modal-close{
    top: 2px;
    padding: 0 10px;
    margin-right: -10px;
}

.vertical-center-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    .ivu-modal{
        top: 0;
    }
}
.ivu-modal-wrap{
    background-color: rgba(55,55,55,.3);
}

.col-setting {
    .ivu-modal-body {
      padding: 0;
      .row {
        margin: 0;
        > div {
          height: 30px;
          line-height: 30px;
        }
      }
      header {
        background-color: #e7e7e7;
      }
      section {
        height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-right: 2px;
        > div {
          margin-right: -8px;
        }
        .sortable-ghost {
          background-color: #e7e7e7;
        }
        .ivu-checkbox-wrapper{
            margin-right: 0;
            font-size: inherit;
        }
        &:hover {
          &::-webkit-scrollbar-thumb {
            background: #38414d;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
          } 
        }
        &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 3px;
          background-color: transparent;
        }
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
        &::-webkit-scrollbar-corner {
          background-color: transparent;
        }
        ::-webkit-scrollbar-thumb:window-inactive {
          background-color: #38414d;
        }
      }
    }
    .ivu-modal-footer {
      background: #e1e1e1;
      padding: 7px 18px 7px 18px;
      .ivu-btn-small {
        font-size: 14px;
        height: 22px;
        line-height: 22px;
      }
    }
  }

 