<template >
  <!-- v-intro-autostart="autostart" v-intro-autostart.config="autostartConfig"-->
  <div
    id="app"
    class="wrapper"
  >
    <div class="main">
      <header class="titlebar">
        <div class="titlebar-login">
          <img src="../img/logo.png" />
          <a
            href="#"
            v-if='!user.username'
            @click="modalLogin = true"
          >登录</a>
          <Dropdown
            :transfer='true'
            @on-click='ddlSel'
            trigger="click"
            style="z-index:1000;"
            placement="bottom-start"
          >
            <a
              href="javascript:void(0)"
              v-if='user.username'
              v-text="user.username"
            >
            </a>
            <DropdownMenu slot="list">
              <DropdownItem
                v-for='(item,index) in accountList'
                :key='index'
                :name='item.username'
              >
                <a>{{item.username}}</a>
              </DropdownItem>
              <DropdownItem name='exit'>
                <a>登出</a>
              </DropdownItem>
            </DropdownMenu>
          </Dropdown>
        </div>
        <div class="titlebar-search">
          <vue-simple-suggest
            v-model="chosen"
            :list="tickerSearchBuy2"
            value-attribute="code"
            display-attribute="code"
            placeholder="代码/名称"
          >
            <div
              slot="suggestion-item"
              slot-scope="{ suggestion, query }"
            >
              <span>{{ suggestion.code }}</span>
              <i
                class="f pull-right"
                :class='[!!optionalQuote.find(it=>it.ticker==suggestion.code&&it.exchangeId==suggestion.exchangeId)?"f-reduce-o":"f-plus-o"]'
                :data-code='suggestion.code'
                :data-exchange-id='suggestion.exchangeId'
                @click.stop="addQuotes($event)"
              ></i>
              <span class="pull-right">{{ suggestion.name }}</span>
            </div>
          </vue-simple-suggest>
        </div>
        <div class="ctrls">
          <div v-if="serviceAddress.indexOf('测试')!=-1">
            <h3>
              测试
            </h3>
          </div>
          <div>
            <a
              href="#"
              @click="modalSetting = true"
            >
              <i class="f f-cog"></i>
            </a>
          </div>
          <div class="win">
            <a
              href="#"
              class="y-plus-visible"
              @click="minimize"
            >
              <i class="f f-window-minimize"></i>
            </a>
            <a
              href="#"
              class="y-plus-visible"
              @click="maximize"
            >
              <i
                class="f"
                :class="isMaximized?'f-window-restore':'f-window-maximize'"
              ></i>
            </a>
            <a
              href="#"
              class="y-plus-visible"
              @click="modalClose = true"
            >
              <i class="f f-close"></i>
            </a>
          </div>
        </div>
      </header>
      <div class="content">
        <aside class="sidebar">
          <ul class="sidebar-menu">
            <router-link
              tag="li"
              to="/trade"
            >
              <a>
                <i class="f f-transaction"></i>
                <span>交易</span>
              </a>
            </router-link>
            <router-link
              tag="li"
              to="/quotes"
            >
              <a>
                <i class="f f-quotes"></i>
                <span>行情</span>
              </a>
            </router-link>
            <router-link
              tag="li"
              v-show='IsShowAlgorithm'
              to="/strategy"
            >
              <a>
                <i class="f f-strategies"></i>
                <span>策略</span>
              </a>
            </router-link>
            <router-link
              tag="li"
              v-if="config.isShowDev"
              to="/news"
            >
              <a>
                <i class="f f-information"></i>
                <span>资讯</span>
              </a>
            </router-link>
            <router-link
              tag="li"
              to="/account"
              v-if="config.isShowDev"
            >
              <a>
                <i class=" f f-zhanghuguanli"></i>
                <span>账户</span>
              </a>
            </router-link>
            <router-link
              tag="li"
              v-if="config.isShowDev"
              to="/test"
            >
              <a>
                <i class=" f f-information"></i>
                <span>测试</span>
              </a>
            </router-link>
          </ul>
        </aside>
        <section>
          <!-- <keep-alive> -->
          <router-view></router-view>
          <!-- </keep-alive> -->
        </section>
      </div>

      <Modal
        v-model="modalLogin"
        title="登录"
        class="y-login "
        :closable="config.isShowDev"
        class-name="vertical-center-modal"
        width="400"
        :mask-closable="false"
      >
        <Form
          ref="parLogin"
          :model="parLogin"
          :rules="parLoginRule"
          class="light loginAutofoucus"
        >
          <FormItem prop='username'>
            <Input
              v-model.trim="parLogin.username"
              size="large"
              placeholder="请输入用户名"
            >
            <Icon
              type=" f f-user"
              size='22'
              slot="prepend"
            ></Icon>
            </Input>
          </FormItem>
          <FormItem prop='password'>
            <Input
              :type="isPassword?'password':'text'"
              v-model.trim="parLogin.password"
              size="large"
              placeholder="请输入密码"
              element-id='username'
              @keyup.enter.native="login"
            >
            <Icon
              type=" f f-lock"
              size='22'
              slot="prepend"
            ></Icon>
            <a
              href="#"
              @click="isPassword=!isPassword"
              tabIndex="-1"
              slot="append"
            >
              <i
                class="f "
                :class="[isPassword?'f-close-eye':'f-open-eye']"
              ></i>
            </a>
            </Input>
          </FormItem>
          <transition name="fade">
            <!-- <FormItem prop='checkcode' v-show="verificationCode"> -->
            <FormItem v-show="verificationCode">
              <Input
                v-model.trim="parLogin.checkcode"
                size="large"
                placeholder="请输入图片验证码"
                type="text"
                element-id='checkcode'
                @keyup.enter.native="login"
              >
              <Icon
                tabIndex="-1"
                type=" f f-imgVerify"
                size='22'
                slot="prepend"
              ></Icon>
              <img
                slot="append"
                tabIndex="-1"
                class="pull-right"
                title="点击刷新"
                style="height:35px;width:97px;line-height:35px;"
                @click="$event.target.src=validCodeUrl+'?t='+new Date().getTime()"
                :src="validCodeUrl"
              >
              </Input>
            </FormItem>
          </transition>
          <FormItem prop='serviceAddress'>
            <AutoComplete
              :tabindex='-1'
              clearable
              v-model.trim="serviceAddress"
              size="large"
              placeholder="请输入服务器地址"
            >
              <Option
                v-for="(s,k) in serverAddressList"
                :value="(s.type? '('+s.type+') ':'')+k"
                :key="k"
              >
                {{(s.type? '('+s.type+') ':'')+k }}
              </Option>
            </AutoComplete>
          </FormItem>
        </Form>
        <div slot="footer">
          <Button
            type="primary"
            :loading="loading"
            @click="login()"
            size="large"
            long
            id='login'
          >
            <span v-if="!loading">登录</span>
            <span v-else>登录中...</span>
          </Button>
          <div class="row hide">
            <div class="col">
              <a class="pull-left">忘记密码 </a>
            </div>
            <div class="col">
              <a class="pull-right">注册账号 </a>
            </div>
          </div>
        </div>
      </Modal>

      <Modal
        v-model="update.isShowModal"
        :title="update.version+'更新提示'"
        class="y-login2 "
        :closable="false"
        class-name="vertical-center-modal"
        width="420"
        :mask-closable="false"
      >
        <div class="row">
          <ol>
            <li
              v-for="(s,i) in update.content"
              :key="i"
            >{{s}}</li>
          </ol>
        </div>
        <div>
          <Progress
            :percent="updatePercent"
            hide-info
          ></Progress>
        </div>
        <div slot="footer">
          <Button
            type="primary"
            :disabled='updateDisabled'
            @click="updated"
            size="large"
            long
          >立即重启
          </Button>
        </div>
      </Modal>
      <Modal
        v-model="modalSetting"
        title="设置"
        class-name="vertical-center-modal setting"
        width="400"
        :mask-closable="false"
      >

        <Tabs
          type="card"
          class="light center"
        >
          <!-- <TabPane label="网络" icon="wifi">
                            <Form :model="parLogin" style="text-align: center;">
                            <RadioGroup v-model="network" vertical>
                                <Radio label="127.0.0.1:8080"></Radio>
                                <Radio label="127.0.0.1:8081"></Radio>
                                <Radio label="127.0.0.1:8082"></Radio>
                            </RadioGroup>
                            </Form>
                        </TabPane> -->
          <TabPane
            label="模态框"
            icon=" f f-motaikuang"
          >
            <div class="switchModal">
              <div class="text-center">
                <div>
                  <span class="transactionConfirm">
                    交易确认框
                  </span>
                  <i-switch
                    v-model="transactionModal"
                    @on-change="changeSwitchModalTransaction"
                    size="large"
                  >
                    <span slot="open">开启</span>
                    <span slot="close">关闭</span>
                  </i-switch>
                </div>
                <div>
                  <span class="transactionConfirm">
                    双击撤单项
                  </span>
                  <i-switch
                    v-model="withdrawalModal"
                    @on-change="changeSwitchModalWithdrawal"
                    size="large"
                  >
                    <span slot="open">开启</span>
                    <span slot="close">关闭</span>
                  </i-switch>
                </div>
                <div class="switchModalBottom">
                  <!-- 全局设置,默认开启 -->
                </div>
              </div>
            </div>
          </TabPane>
          <TabPane
            label="快捷键"
            icon="ios-keypad"
          >
            <Form>
              <FormItem
                v-for="s in quickNavigation"
                :key="s.eventName"
                :label="s.eventName"
                v-if='s.isShow'
              >
                <Input
                  v-model="s.hotKeyName"
                  disabled
                />
              </FormItem>
            </Form>
          </TabPane>
          <TabPane
            label="系统版本"
            icon=" f f-cog"
          >
            <div class="row">
              <div class="col text-center">
                <img
                  @click="dev"
                  src="../img/logo.png"
                  style="width:50px;"
                />
              </div>
            </div>
            <div class="row">
              <div class="col text-center">中泰证券</div>
            </div>
            <div class="row">
              <div class="col text-center">当前版本 {{config.version}}</div>
            </div>
            <div class="row">
              <div class="col text-center">当前服务器 {{serviceIP}}</div>
            </div>
          </TabPane>
        </Tabs>
        <div slot="footer"></div>
      </Modal>
      <Modal
        v-model="modalClose"
        width="300"
        class-name="vertical-center-modal"
        :mask-closable="false"
      >
        <p slot="header">
          <span>{{config.build.productName}}</span>
        </p>
        <div style="text-align:center">
          <p>您确定要退出系统吗？</p>
        </div>
        <div slot="footer">
          <Button
            type="primary"
            @click="close"
          >退出</Button>
          <Button @click="modalClose = false">取消</Button>
        </div>
      </Modal>

    </div>
  </div>
</template>
<style lang="scss" >
.switchModal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding-top: 20px;
}
.switchModal > div > div:nth-child(2) {
  margin-top: 20px;
}
span.transactionConfirm {
  vertical-align: middle;
  padding-right: 10px;
}
.switchModalBottom {
  padding-top: 50px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.setting {
  .ivu-modal-body {
    padding: 0;
    .ivu-form {
      .ivu-form-item-label {
        width: 48%;
      }
      .ivu-input-wrapper {
        width: 150px;
      }
      .ivu-form-item {
        margin-bottom: 0;
      }

      .ivu-input.ivu-input-disabled {
        border: 1px solid #ccc;
        color: #333;
        background-color: #eee;
      }
    }
    .ivu-tabs-tabpane {
      min-height: 200px;
      background-color: #eff0f0;
    }
    .ivu-tabs.ivu-tabs-card {
      background-color: #eff0f0;
    }
  }
  .ivu-modal-footer {
    padding: 0;
  }
  .row {
    padding: 5px;
  }
}

.titlebar {
  // -webkit-user-select: none;
  background-color: #30353f;
  -webkit-app-region: drag;
  > * {
    -webkit-app-region: no-drag;
  }
  .titlebar-search {
    margin: 0 auto;
    .ivu-input-small {
      height: 22px;
      border: none;
      border-radius: 11px;
      font-size: 14px;
    }
    .ivu-input-wrapper-small .ivu-input-icon {
      height: 22px;
      line-height: 22px;
    }
    .ivu-select.y-blue .ivu-select-dropdown .ivu-select-item {
      color: #dbdbdc;
    }
    a {
      z-index: 10000;
      margin-left: 20px;
      clear: both;
      &:hover {
        cursor: pointer;
      }
      i {
        width: 15px;
        height: 15px;
      }
    }
  }
}
.ivu-select-dropdown {
  z-index: 10000;
}
.y-login {
  .ivu-modal-content {
    padding: 0 20px;
    label {
      margin-bottom: 0px;
    }
  }
  .ivu-modal-header {
    background-color: transparent;
    color: #333;
    padding: 14px 16px;
    .ivu-modal-header-inner {
      color: #333;
    }
  }
  .ivu-modal-body {
    padding: 30px 16px 0px !important;
    .ivu-input {
      background-color: #fff;
      color: #333;
      border: 1px solid #dddee1;
    }
  }
  .ivu-modal-footer {
    padding: 20px 18px;
  }
  .ivu-modal-footer a {
    padding: 20px 0px;
    color: #666;
  }
  .ivu-modal-close {
    top: 8px;
    .ivu-icon {
      &:hover {
        color: #333;
      }
    }
  }
  .ivu-input-group-large > .ivu-input-group-append {
    padding: 0;
    background-color: transparent;
    border-left: transparent;
    > a {
      padding: 4px 8px;
      color: #333;
      font-size: 24px;
    }
  }

  .ivu-form-item-error .ivu-input-group-append {
    background-color: transparent;
    border: 1px solid #dddee1;
  }
  .ivu-form-item-error .ivu-input-group-prepend {
    background-color: #eee;
    border: 1px solid #dddee1;
  }
}
</style>
<style lang="scss">
.f-reduce-o {
  background: #1e2127;
  color: #b6555b;
}
.f-plus-o {
  background: #1e2127;
  color: #366ac7;
}
div.vue-simple-suggest.designed .suggestions {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  top: calc(100% + 5px);
  border-radius: 3px;
  border: none;
  background-color: #1e2127;
  color: #fff;
  z-index: 1000;
}
div.vue-simple-suggest.designed .suggestions .suggest-item {
  cursor: pointer;
  user-select: none;
}
div.vue-simple-suggest.designed .suggestions .suggest-item,
div.vue-simple-suggest.designed .suggestions .misc-item {
  padding: 0 10px;
}
div.vue-simple-suggest.designed .suggestions .suggest-item.hover,
div.vue-simple-suggest.designed .suggestions .suggest-item.hover i {
  background-color: #2874d5 !important;
  color: #fff !important;
}
div.vue-simple-suggest.designed .suggestions .suggest-item.selected {
  background-color: #2832d5;
  color: #fff;
  i {
    background-color: #2832d5;
  }
}

div.vue-simple-suggest.designed.focus .input-wrapper input {
  border: 1px solid #285cee;
}
div.vue-simple-suggest.designed .input-wrapper input {
  color: #9da1a9;
  background: #242930;
  border-radius: 11px;
  border: none;
  width: 200px;
  margin-top: 4px;
}
div.vue-simple-suggest {
  color: #333;
  .input-wrapper input {
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
  }
  .suggestions .suggest-item {
    &:hover {
      cursor: default;
    }
    i.f {
      cursor: pointer;
      font-size: 18px;
      padding: 8px 3px 2px 7px;
    }
  }
}
.ivu-poptip-popper {
  left: 35px;
}
.ivu-select-dropdown.ivu-dropdown-transfer {
  z-index: 1000;
}
.ivu-tabs-nav-scroll {
  text-align: center;
  .ivu-tabs-nav,
  .ivu-tabs-ink-bar {
    left: none;
  }
}
.ivu-date-picker-rel input {
  background-color: #242930;
  color: #9da1a9;
  border-color: #ca712a;
}
.ivu-date-picker-rel input:hover {
  border-color: #ca712a;
}
.fullData .ivu-date-picker-rel input {
  background-color: #242930;
  color: #9da1a9;
  border-color: #2d58ce;
}
.fullData .ivu-date-picker-rel input:hover {
  border-color: #2d58ce;
}
.ivu-modal-confirm-body {
  padding-left: 0;
}
.ivu-select .ivu-select-selection .ivu-select-selected-value {
  padding-left: 3px;
}
.ivu-tabs.ivu-tabs-card > div.ivu-tabs-content {
  height: calc(100% - 22px);
}
// 更新提示框样式
.y-login2 {
  pre,
  ol {
    overflow: auto;
    width: 100%;
    text-align: left;
    font-size: 14px;
    margin: 0;
    line-height: 21px;
    padding-left: 25px;
    min-height: 150px;
    max-height: 200px;
    // height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: #38414d;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      }
    }
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
    ::-webkit-scrollbar-thumb:window-inactive {
      background-color: #38414d;
    }
  }

  ol {
    list-style-type: decimal;
    width: 100%;
    max-height: 250px;
    margin: 0 0 0 15px;
  }
}
div.tab-top {
  .quotes {
    width: 220px;
    tr:hover {
      background: #212c48;
      cursor: pointer;
    }
    tr {
      td {
        padding: 0 4px;
        font-size: 12px;
        text-align: right;
      }
      th {
        width: 40px;
        padding: 0;
        font-size: 12px;
        text-align: right;
      }
      > td:nth-of-type(1) {
        width: 50px;
      }
      > td:nth-of-type(2) {
        width: 58px;
      }
      &.highlight:hover {
        background: #000;
      }
      &.highlight {
        background-color: #181a1f;
        th,
        td {
          color: #fff;
          font-size: 14px;
          padding: 3px 4px;
        }
      }
    }
  }
}
.optional {
  .y-table {
    display: table;
    tr {
      th {
        width: 50px;
      }
      > td:nth-of-type(1) {
        width: 61px;
      }
      > td:nth-of-type(2) {
        width: 50px;
      }
    }
  }
}
</style>
 

<script>
import { mapState } from "vuex";
import VueSimpleSuggest from "vue-simple-suggest";
import socketio from "@/js/socket.io.js";
// import socketio from "socket.io-client";
import { JSEncrypt } from "jsencrypt";

export default {
  components: {
    VueSimpleSuggest
  },
  data() {
    let self = this;
    return {
      //页面中服务器地址的输入
      autostart: !true,
      IsShowAlgorithm: false,
      baseurl: null,
      accountList: [],
      //模态框的控制
      transactionModal: app.isModal,
      withdrawalModal: app.isDbWithdrawal,
      autostartConfig: {
        prevLabel: "&larr; 上一步",
        nextLabel: "下一步 &rarr;",
        skipLabel: "跳过",
        doneLabel: "完成"
      },
      content: [],
      verificationCode: false,
      errorCount: 0,
      serverAddressList: {},
      validCodeUrl: "",
      chosen: "",
      ipc: null,
      ipcMain: null,
      isLogin: false,
      isPassword: true,
      network: "",
      user: app.User.get(),
      env: app.env,
      serviceAddress: "",
      serviceIP: "",
      // serviceIP: '10.29.181.135',
      isMaximized: true,
      modalClose: false,
      update: {
        isShowModal: false,
        version: "",
        content: []
      },
      updatePercent: 0,
      updateDisabled: true,
      modalLogin:
        !app.User.get().token && app.env.NODE_ENV != "development", // false,
      modalSetting: false,
      popVisible: false,
      isRouterAlive: true,
      loading: false,
      tickerList: [],
      optionalQuote: [],
      ordinarySell: [],
      positionList: [],
      positionTempList: [],
      entrustList: [],
      ordinarySell: [],
      tempEntrustList: [],
      dealList: [],
      tempDealList: [],
      newStockBuy: [],
      quickNavigation: [
        {
          event: "trade_general_order",
          eventName: "下单",
          hotKey: "f5",
          hotKeyName: "F5",
          isShow: true,
          routerName: "trade_general_order"
        },
        {
          event: "quotes_position",
          eventName: "行情",
          hotKey: "f7",
          hotKeyName: "F7",
          isShow: true,
          routerName: "quotes_position"
        },
        {
          event: "strategies_order",
          eventName: "切换调试工具",
          hotKey: "ctrl+shift+f12",
          hotKeyName: "ctrl+shift+F12",
          routerName: "strategies_order",
          isShow: false,
          call() {
            self.ipc && self.ipc.send("window-dev");
          }
        },
        // {
        //   event: "strategies_order",
        //   eventName: "策略",
        //   hotKey: "f8",
        //   hotKeyName: "F8",
        //   routerName: "strategies_order"
        // },
        // {
        //   event: "news_read",
        //   eventName: "资讯",
        //   hotKey: "f10",
        //   hotKeyName: "F10",
        //   routerName: "news_read"
        // }
      ],
      parLogin: {
        username: "",
        password: "",
        checkcode: "",
        macaddress: "",
        isCheckCode: false
      },
      parLoginRule: {
        username: [{ required: true, message: "", trigger: "blur" }],
        password: [{ required: true, message: "", trigger: "blur" }],
        // checkcode: [{ required: true, message: "", trigger: "blur" }],
        macaddress: [{ required: true, message: "", trigger: "blur" }]
      },
      positionTiketList: [],
      parQueryTrader: {
        requestId: 1,
        xtpQueryTraderReq: {
          ticker: "",
          beginTime: 0,
          endTime: 0
        }
      },
      prefix: "",
      wsPrefix: "",
      port: "",
      wsPort: "",
      loginFlag: false,
      isRecordOrder: false,
      devCount: 0
    };
  },
  computed: {},
  watch: {
    "$store.state.tran.optionalQuote": function (val) {
      this.optionalQuote = val;
    },
    "$store.state.tran.isLogin": function (val) {
      val ? this.init() : this.clear();
    },
    "$store.state.tran.isRecordOrder": function (val) {
      this.isRecordOrder = val;
    },
    "$store.state.tran.accountList": function (val) {
      if (val) {
        this.accountList = val.filter(it => it.status == true && it.username !== JSON.parse(sessionStorage.getItem("user_")).username);
      }
    },
    serviceAddress: function (val, old) {
      if (val == old) {
        return;
      }

      let self = this;
      let index = val.lastIndexOf(")");
      if (index != -1) {
        val = val.substr(index + 1).trim();
      }

      val = val.replace("//", "");

      let arr = val.split(":");
      if (arr.length == 3) {
        if (arr[0] == "http") {
          app.ajaxOption.prefix = self.prefix = "http";
          self.wsPrefix = "ws";
        } else {
          app.ajaxOption.prefix = self.prefix = "https";
          self.wsPrefix = "wss";
        }
        app.ajaxOption.serviceIP = self.serviceIP = arr[1];
        app.ajaxOption.port = self.port = parseInt(arr[2]) + 1;
        app.ajaxOption.wsPort = self.wsPort = arr[2];
      } else {
        app.ajaxOption.serviceIP = self.serviceIP = val;
        app.ajaxOption.prefix = self.prefix = self.config.http.prefix;
        app.ajaxOption.port = self.port = self.config.http.port;
        self.wsPrefix = self.config.ws.prefix;
        self.wsPort = self.config.ws.port;
      }

      if (self.config.isForceConfig) {
        app.ajaxOption.prefix = self.prefix = self.config.http.prefix;
        app.ajaxOption.port = self.port = self.config.http.port;
        self.wsPrefix = self.config.ws.prefix;
        self.wsPort = self.config.ws.port;
      }

      self.validCodeUrl = `${self.prefix}://${self.serviceIP}:${
        self.port
        }/proxycenter/v1/auth/captcha`;
      app.Cache.set(app.Cache.key.serviceIP.toKeyName(), val);
      self.parLogin.username =
        self.parLogin.name ||
        app.Cache.getString(app.Cache.key.userId.toKeyName());
    }
  },
  sockets: {
    connect: function () {
      app.log("socket 连接成功", this.$socket.id);
    },
    //资产数据获得
    queryAssetRsp: function (data) {
      // debugger
      if (!data) {
        return;
      }
      let self = this;
      self.$store.commit("ASSETS", data);


      if (self.isRecordOrder) {
        self.fs.existsSync(app.orderPath) || self.fs.mkdirSync(app.orderPath);

        let title = 'totalAsset,buyingPower,securityAsset,fundBuyAmount,fundBuyFee,fundSellAmount,fundSellFee,withholdingAmount,accountType,unknown,requestId,lastResp';
        let titleArr = title.split(',');

        let str = self.fs.existsSync(app.orderPath + '/queryAsset.csv') ? '' : title + '\r\n';
        let arr = [];
        titleArr.forEach(it2 => {
          arr.push(data[it2])
        })
        str += arr.join(',') + '\r\n'


        let bs = new Uint8Array(Buffer.from(str))// new Buffer(str);

        self.fs.appendFile(app.orderPath + `/queryAsset.csv`, bs, {
          encoding: 'utf8'
          // encoding: 'ascii'
        }, (err) => {
          if (err) throw err;
        })


      }
    },
    connectResult(d) {
      if (!d) {
        return;
      }
      let self = this;
      if (d.code == -1) {
        self.$store.commit("LOGOUT");
        self.exit();
      }
    },
    // 持仓信息
    queryStkPositionRsp: function (data) {
      if (!data) {
        return;
      }
      let self = this;

      // dataList.forEach(data => {
      let market = app.dataType.XTP_MARKET_TYPE[data.xtpMarketType];
      data.marketId = market.i;
      data.exchangeId = market.exchangeId;
      let ticker = app.ticker
        .all()
        .find(
          it =>
            it.code == data.ticker &&
            it.exchangeId == data.exchangeId
        );
      if (ticker) {
        data.preClosePrice = ticker.preClosePrice;
        data.lowerLimitPrice = ticker.lowerLimitPrice;
        data.upperLimitPrice = ticker.upperLimitPrice;
      }
      let item = {
        code: data.ticker,
        marketId: data.marketId,
        exchangeId: data.exchangeId,
        kw: "",
        name: data.tickerName,
        preClosePrice: data.preClosePrice,
        lowerLimitPrice: data.lowerLimitPrice,
        upperLimitPrice: data.upperLimitPrice
      };
      self.ordinarySell.push(item);
      self.positionTempList.push(data);
      // unshift
      // 将持仓的股票信息添加到所有支持股票代码列表

      // if (
      //   !app.tickerAllList.find(
      //     it => it.code == data.code && it.exchangeId == data.exchangeId
      //   )
      // ) {
      //   app.tickerAllList.push(item);
      // }

      if (data && data.lastResp) {
        app.ticker.ordinarySell = self.ordinarySell;
        self.$store.commit("ORDINARYSELL", app.ticker.ordinarySell);
        self.ordinarySell = [];
        self.positionList = self.positionTempList;
        self.$store.commit("POSITION_LIST", self.positionList);


        if (self.isRecordOrder) {
          self.fs.existsSync(app.orderPath) || self.fs.mkdirSync(app.orderPath);

          let title = 'ticker,tickerName,xtpMarketType,totalQty,sellableQty,avgPrice,unrealizedPnl,yesterdayPosition,purchaseRedeemableQty,unknown,requestId,lastResp,marketId,exchangeId,preClosePrice,lowerLimitPrice,upperLimitPrice';
          let titleArr = title.split(',');
          let str = title + '\r\n';
          self.positionList.forEach(
            it => {

              let arr = [];
              titleArr.forEach(it2 => {
                arr.push(it[it2])
              })
              str += arr.join(',') + '\r\n'

            }
          );
          let bs = new Uint8Array(Buffer.from(str))// new Buffer(str);

          self.fs.writeFile(app.orderPath + `/queryStkPosition.csv`, bs, {
            encoding: 'utf8'
            // encoding: 'ascii'
          }, (err) => {
            if (err) throw err;
          })

        }




        self.positionTempList = [];
      }
      // });
    }
  },
  sockets2: {
    connect: function () {
      app.log("socket2 连接成功", this.$socket.id);
    },
    queryAllTickersResult(list) {
      if (!list) {
        return;
      }
      let self = this;
      for (let k in app.ticker) {
        if (typeof app.ticker[k] != "function") {
          app.ticker[k] = [];
        }
      }
      // let arr = app.tickerAllList;
      list.forEach(it => {
        app.ticker[it.tickerType] = app.ticker[it.tickerType] || [];
        let ex = app.dataType.XTP_EXCHANGE_TYPE[it.exchangeId];
        let item = {
          code: it.ticker,
          name: it.tickerName,
          kw: "",
          exchangeId: ex.i,
          marketId: ex.marketId,
          preClosePrice: it.preClosePrice,
          lowerLimitPrice: it.lowerLimitPrice,
          upperLimitPrice: it.upperLimitPrice
        };
        // if (
        //   !arr.find(it2 => {
        //     it2.code == it.code && it2.exchangeId == it.exchangeId;
        //   })
        // ) {
        //   arr.push(item);
        // }
        if (
          !app.ticker[it.tickerType].find(it2 => {
            it2.code == it.code && it2.exchangeId == it.exchangeId;
          })
        ) {
          app.ticker[it.tickerType].push(item);
        }
        // 检测重复股票代码
        list.filter(it2 => it2.ticker == it.ticker).length > 1 &&
          app.log("重复代码：：", it.ticker);
      });
      app.Cache.ssetObject(
        app.Cache.key.tickerList.toKeyName(),
        app.ticker
      );
      // 查询持仓
      self.ordinarySell = [];
    },
    GetCacheTickersRsp(data) {
      if (!data) {
        return;
      }
      let self = this;
      data.tickers.forEach(it => {
        it.exchangeId = app.dataType.XTP_EXCHANGE_TYPE[it.exchangeId].i;
      });
      self.$store.commit("OPTIONAL_QUOTE", data.tickers);
    },
    //逆回购
    queryBondReverseRepoInfoResult(data, err) {
      if (!data) {
        return;
      }
      data.forEach(it => {
        it.cellClassName = { bondName: "y-yellow" };
        let market = app.dataType.XTP_MARKET_TYPE[it.market];
        it.marketId = market.i;
        it.exchangeId = market.exchangeId;
        let ticker = app.ticker.all().find(it2 => it2.code == it.bondCode && it2.exchangeId == it.exchangeId);
        it.preClosePrice = ticker.preClosePrice;
      });
      this.$store.commit("REVERSELIST", data);
    }
  },
  created() {
    let self = this;
    self.serverAddressList = self.config.serviceList;
    let val = app.getServiceIP();
    val = val.replace("//", "");

    let arr = val.split(":");
    if (arr.length == 3) {
      if (arr[0] == "http") {
        app.ajaxOption.prefix = self.prefix = "http";
        self.wsPrefix = "ws";
      } else {
        app.ajaxOption.prefix = self.prefix = "https";
        self.wsPrefix = "wss";
      }

      app.ajaxOption.serviceIP = self.serviceIP = arr[1];
      app.ajaxOption.port = self.port = parseInt(arr[2]) + 1;
      app.ajaxOption.wsPort = self.wsPort = arr[2];
    } else {
      self.serviceAddress = app.ajaxOption.serviceIP = self.serviceIP = val;
      app.ajaxOption.prefix = self.prefix = self.config.http.prefix;
      app.ajaxOption.port = self.port = self.config.http.port;
      self.wsPrefix = self.config.ws.prefix;
      self.wsPort = self.config.ws.port;
    }
    if (self.config.isForceConfig) {
      app.ajaxOption.prefix = self.prefix = self.config.http.prefix;
      app.ajaxOption.port = self.port = self.config.http.port;
      self.wsPrefix = self.config.ws.prefix;
      self.wsPort = self.config.ws.port;
    }

    self.validCodeUrl = `${self.prefix}://${self.serviceIP}:${
      self.port
      }/proxycenter/v1/auth/captcha`;

    if (self.user.username) {
      self.modalLogin = false;
      self.wsConnect();
    }
    self.parLogin.username =
      self.parLogin.name ||
      app.Cache.getString(app.Cache.key.userId.toKeyName());
    self.isRecordOrder = self.$store.state.tran.isRecordOrder;
  },
  mounted: function () {
    var self = this;
    self.IsShowAlgorithm = JSON.parse(sessionStorage.getItem("algorithm")) ? true : false;
    let accountL = app.Cache.getObject(app.Cache.key.account.toKeyName());
    if (accountL) {
      self.accountList = accountL.filter(it => it.status == true && it.username !== (sessionStorage.getItem("user_") ? JSON.parse(sessionStorage.getItem("user_")).username : ''));
    }
    self.quickNavigation.forEach(it => {
      if (it.call) {
        self.$mousetrap.bind(it.hotKey, it.call);
      }
      else {
        self.$mousetrap.bind(it.hotKey, () => {
          self.$router.push({ name: it.routerName });
          return false;
        });
      }


    });

    self.ipc = self.$electron && self.$electron.ipcRenderer;
    self.ipcMain = self.$electron && self.$electron.ipcMain;

    if (self.ipc) {
      self.ipc.on("MainWindowWillClose", () => {
        self.modalClose = true;
      });
      self.ipc.on("MainWindowUpdateAvailable", (e, dmUpdate) => {
        dmUpdate.isShowModal = true;
        let content = dmUpdate.content
          .replace(/\r\n/g, "\n")
          .split("\n");
        self.update = Object.assign({}, dmUpdate, { content });
      });
      self.ipc.on("MainWindowDownloadProgress", (s, percent) => {
        console.log("Progress", percent);

        self.updatePercent = parseInt(percent);
      });
      self.ipc.on("MainWindowUpdateDownloaded", () => {
        self.updatePercent = 100;
        self.updateDisabled = false;
      });
      setTimeout(() => {
        self.ipc.send("sys.checkForUpdates");
      }, 10);
      self.config.NODE_ENV != "development" &&
        setInterval(() => {
          !self.update.isShowModal &&
            self.ipc.send("sys.checkForUpdates");
        }, 3 * 60 * 1000);
      if (self.$electron) {
        console.log('home', self.$electron.remote.app.getPath('home'))
        console.log('appData', self.$electron.remote.app.getPath('appData'))
        console.log('userData', self.$electron.remote.app.getPath('userData'))
        console.log('temp', self.$electron.remote.app.getPath('temp'))
        console.log('exe', self.$electron.remote.app.getPath('exe'))
        console.log('getName', self.$electron.remote.app.getName())
      }
      app.orderPath = require("path").resolve(__dirname, '../../../../')+'/order';//self.$electron.remote.app.getPath('exe') + '/order'
      self.fs.existsSync(app.orderPath) || self.fs.mkdirSync(app.orderPath);
    };
    self.$nextTick(() => {
      let login = document.getElementById('login');
      document.querySelectorAll(".loginAutofoucus").forEach(it => {
        let elList = it.querySelectorAll(".ivu-input,.ivu-input-number-input");
        if (elList[0].value) elList[1].focus();
        else elList[0].focus();
      });
    })
  },
  methods: {
    init() {

    },
    clear() {
      if (!this.loginFlag) this.exit();
    },

    initData() {
      let self = this;
      // 查询资产
      self.$socket.emit("queryAsset", { orderXtpId: 0, requestId: 6 });
    },
    initData2() {
      let self = this;
      self.$socket2.emit("unSubscribeAllMarketDataByClientSession", {});
      app.ticker = Object.assign(app.ticker, app.Cache.sgetObject(app.Cache.key.tickerList.toKeyName()));
      app.ticker.all().length == 0 && self.$socket2.emit("queryAllTickers", {});
      self.$socket2.emit("queryBondReverseRepoInfo", {});
      self.$socket2.emit("GetCacheTickers", {});
      self.$socket.emit("queryPosition", { ticker: "", requestId: 1 });
    },
    //账号登录
    login() {
      let self = this;
      if (self.verificationCode && self.parLogin.checkcode === "") {
        self.$Message.warning("请填写验证码");
        return;
      }
      this.$refs["parLogin"].validate(valid => {
        if (valid) {
          self.user.username || (self.loading = true);
          let parLoginTemp = Object.assign({}, self.parLogin);
          let jsencrypt = new JSEncrypt();
          jsencrypt.setPublicKey(self.config.encryptPublicKey);
          parLoginTemp.password = jsencrypt.encrypt(
            self.parLogin.password
          );
          self.parLogin.macaddress =
            app.env.networkList != undefined
              ? JSON.parse(app.env.networkList)[0]
              : "";
          self.parLogin.macaddress = self.parLogin.macaddress
            ? self.parLogin.macaddress.mac
            : "";
          parLoginTemp.macaddress = jsencrypt.encrypt(
            self.parLogin.macaddress
          );
          if (self.verificationCode) {
            parLoginTemp.isCheckCode = true;
          }
          app.ajax(
            "auth/login",
            parLoginTemp,
            d => {
              self.errorCount = 0;
              self.verificationCode = false;
              self.$store.commit("LOGIN");
              self.modalLogin = false;
              self.loading = false;
              app.Cache.set(
                app.Cache.key.userId.toKeyName(),
                self.parLogin.username
              );
              app.User.set({
                username: self.parLogin.username,
                sessionIdMd5: d.clientSessionId
              });
              self.user = app.User.get();
              self.parLogin.password = "";
              self.parLogin.checkcode = "";
              self.validCodeUrl = `${self.prefix}://${
                self.serviceIP
                }:${
                self.port
                }/proxycenter/v1/auth/captcha?t=${new Date().getTime()}`;
              self.wsConnect();
              if (d.authList && d.authList.find(it => it.authorityId == 10001 && it.authorityDescription === "CSV下单")) {
                app.Cache.sset(app.Cache.key.isShowDev.toKeyName(), true);
              }
              if (d.authList && d.authList.find(it => it.authorityId == 10000)) {
                if (d.algoSessionId == '') {
                  if (self.$route.path == '/strategy/algorithm/strategies' || self.$route.path == '/strategy/algorithm/order') {
                    self.$router.push({
                      path: '/trade/general/order',
                    })
                  }
                  self.$Message.warning("算法交易登录错误");
                } else {
                  sessionStorage.setItem('algorithm', JSON.stringify({
                    "session_id": d.algoSessionId,
                    "IsShowAlgorithm": true,
                    "baseurl": `${self.config.algorithmHttp.prefix}://${d.algoIP}:${d.algoPort}/`
                  }))
                  self.baseurl = `${self.config.algorithmHttp.prefix}://${d.algoIP}:${d.algoPort}/`;
                  self.IsShowAlgorithm = true;
                  self.$Message.success("登录成功!");
                }
              } else self.$Message.success("登录成功!");
              let arr = [];
              let obj = {
                username: self.parLogin.username,
                sessionIdMd5: d.clientSessionId,
                status: true,
                showOrHide: true,
                checkcode: '',
                isCheckCode: false,
                session_id: d.algoSessionId || false
              }
              if (d.authList.length == 0) obj.session_id = false;
              arr.push(obj);
              let account = app.Cache.getObject(app.Cache.key.account.toKeyName());
              if (account) {
                let index_ = account.findIndex(it => it.username == self.parLogin.username);
                if (index_ == -1) account.unshift(obj);
                else account.splice(index_, 1, obj);
                app.Cache.setObject(app.Cache.key.account.toKeyName(), account);
              } else app.Cache.setObject(app.Cache.key.account.toKeyName(), arr);
              self.$store.commit("ACCOUNTLIST", obj);
            },
            ex => {
              self.validCodeUrl = `${self.prefix}://${
                self.serviceIP
                }:${
                self.port
                }/proxycenter/v1/auth/captcha?t=${new Date().getTime()}`;
              self.parLogin.checkcode = "";
              self.loading = false;
              document.getElementById('username').focus();
              self.$Message.error(ex.retMsg);
              self.errorCount++;
              if (self.errorCount === 3) {
                self.verificationCode = true;
                self.errorCount = 0;
              }
            }
          );
        } else {
          // this.$Message.error("Fail!");
        }
      });
    },
    wsConnect() {
      let self = this;
      self.$socket.io.autoConnect = true;
      self.$socket.io.uri = `${self.wsPrefix}://${self.serviceIP}:${self.wsPort}/trade/user`;
      self.$socket.io.forceNew = true;
      self.$socket.io.opts.query = { clientsessionid: self.user.sessionIdMd5, username: self.user.username };
      // debugger
      self.$socket.once("connect", () => {
        app.log("ws连接成功"); // false
        self.$store.commit("LOGIN");
        self.initData();
      });
      self.$socket.connect();

      self.$socket2.io.autoConnect = true;
      self.$socket2.io.uri = `${self.wsPrefix}://${self.serviceIP}:${self.wsPort}/quote/user`;
      self.$socket2.io.forceNew = true;
      self.$socket2.io.opts.query = { clientsessionid: self.user.sessionIdMd5, username: self.user.username };
      self.$socket2.once("connect", () => {
        app.log("ws2连接成功"); // false
        self.initData2();
      });
      self.$socket2.connect();
    },
    tickerSearchBuy2(val) {
      let list = app.tickerSearch(val);
      app.log("list::::::", val, list);
      return list;
    },
    tickerSearchBuy(val) {
      this.tickerList = app.tickerSearch(val, "XTP_TICKER_TYPE_STOCK");
    },
    ddlSel(name) {
      let self = this;
      if (name == 'exit') self.exit();
      else {
        sessionStorage.setItem('loginFlag', true);
        self.loginFlag = true;
        self.exit();
        let data = self.accountList.find(it => it.username == name);
        if (data.session_id) {
          sessionStorage.setItem('algorithm', JSON.stringify({
            "session_id": data.algoSessionId,
            "IsShowAlgorithm": true,
            "baseurl": self.baseurl
          }))
          self.IsShowAlgorithm = true;
        }
        app.User.set({
          username: data.username,
          sessionIdMd5: data.sessionIdMd5
        });
        self.user = app.User.get();
        self.wsConnect();
        let accountL = app.Cache.getObject(app.Cache.key.account.toKeyName());
        if (accountL) {
          self.accountList = accountL.filter(it => it.status == true && it.username !== JSON.parse(sessionStorage.getItem("user_")).username);
        }
        setTimeout(() => {
          self.loginFlag = false;
          sessionStorage.setItem('loginFlag', false);
        }, 1000)
      }
    },
    // 添加自选股票
    addQuotes(e) {
      let self = this;
      let ticker = app.ticker
        .all()
        .find(
          it =>
            it.code == e.currentTarget.dataset.code &&
            it.exchangeId == e.currentTarget.dataset.exchangeId
        );
      if (ticker === undefined) return;
      if (e.currentTarget.classList.contains("f-plus-o")) {
        self.$store.commit("OPTIONAL_QUOTE_PUSH", {
          ticker: ticker.code,
          exchangeId: ticker.exchangeId
        });

        self.$socket2.emit("InsertCacheTickers", {
          tickers: [ticker.code],
          count: 1,
          exchageId: ticker.exchangeId
        });
      } else if (e.currentTarget.classList.contains("f-reduce-o")) {
        self.$store.commit("OPTIONAL_QUOTE_SPLICE", {
          ticker: ticker.code,
          exchangeId: ticker.exchangeId
        });

        self.$socket2.emit("RemoveCacheTickers", {
          tickers: [ticker.code],
          count: 1,
          exchageId: ticker.exchangeId
        });
      }

      return false;
    },
    exit() {
      let self = this;
      if (JSON.parse(sessionStorage.getItem("algorithm"))) {
        sessionStorage.removeItem("algorithm");
      }
      app.Cache.sdel(app.Cache.key.isShowDev.toKeyName());
      self.IsShowAlgorithm = false;
      self.user = {};
      if (!self.loginFlag) {
        self.modalLogin = true;
        self.validCodeUrl = `${self.prefix}://${self.serviceIP}:${self.port}/proxycenter/v1/auth/captcha?t=${new Date().getTime()}`;
        app.ajax("user/logout", {}, d => { });
        self.$store.commit("ACCOUNTLIST", []);
        let account = app.Cache.getObject(app.Cache.key.account.toKeyName());
        if (account) {
          account.forEach(it => {
            it.status = false;
            it.password = "";
            it.sessionIdMd5 = "";
            it.session_id = '';
          });
        }
        app.Cache.setObject(app.Cache.key.account.toKeyName(), account);
      }
      app.User.clear();
      self.$store.commit("LOGOUT");
      self.$socket.io.disconnect();
      self.$socket2.io.disconnect();
    },
    close() {
      this.ipc.send("sys.window-close");
    },
    updated() {
      this.ipc.send("sys.update");
    },
    maximize() {
      // this.isMaximized = !this.isMaximized;
      if (this.isMaximized) {
        this.isMaximized = false;
      } else {
        this.isMaximized = true;
      }
      this.ipc.send("window-max");
    },
    minimize() {
      this.ipc.send("window-min");

    },
    changeSwitchModalTransaction() {
      app.isModal = this.transactionModal;
      app.Cache.setObject(app.Cache.key.isModal.toKeyName(), this.transactionModal);
      // localStorage.setItem("transactionModal", this.transactionModal);
    },
    changeSwitchModalWithdrawal() {
      app.isDbWithdrawal = this.withdrawalModal;
      app.Cache.setObject(app.Cache.key.isDbWithdrawal.toKeyName(), this.withdrawalModal);
    },
    dev() {
      let self = this;
      self.devCount++
      if (self.devCount > 4) {
        self.devCount = 0;
        self.ipc && self.ipc.send("window-dev");
      }
    }
  }
};
</script>
