<template>
    <div id="app" class="wrapper">
        <div class="main">
            <div class="content">
                <div class="container modal-dialog-centered justify-content-md-center">
                    <div class="row justify-content-md-center y-login">
                        <div class="col header">
                            <span>登录</span>
                            <a href="#" class="y-plus-visible pull-right" @click="modalClose = true">
                                <i class="f f-times"></i>
                            </a>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <Input v-model="parLogin.username" size="large" placeholder="请输入用户名">
                            <Icon type="ios-person-outline" size='22' slot="prepend"></Icon>
                            </Input>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <Input type="password" v-model="parLogin.password" size="large" placeholder="请输入密码">
                            <Icon type="ios-person-outline" size='22' slot="prepend"></Icon>
                            </Input>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <Button type="primary" :loading="loading" @click="login" size="large" long>
                                <span v-if="!loading">登录</span>
                                <span v-else>登录中...</span>
                            </Button>
                        </div>
                    </div>
                </div>

            </div>
            <Modal v-model="modalClose" width="300" class-name="vertical-center-modal" :mask-closable="false">
                <p slot="header">
                    <span>XTP客户端</span>
                </p>
                <div style="text-align:center;">
                    <p>您确定要退退出系统吗？</p>
                </div>
                <div slot="footer">
                    <Button type="primary" @click="close">退出</Button>
                    <Button @click="modalClose = false">取消</Button>
                </div>
            </Modal>

        </div>
    </div>
</template>
<style lang="scss" >
.y-login {
  width: 400px;
  padding: 10px 20px 30px 20px;
  background-color: #fff;
  border-radius: 5px;
  .ivu-input {
    background-color: #fff;
    color: #333;
    border: 1px solid #dddee1;
  }
  > .col {
    margin: 0 0 20px 0;
  }
  > .header {
    color: #444;
  }
}
</style>

<script>
export default {
  data() {
    return {
      ipc: null,
      isMaximized: false,
      modalClose: false,
      modalLogin: false,
      loading: false,
      parLogin: {
        clientId: app.getSN(),
        username: "15001030",
        password: "aI2p4TiG"
      }
    };
  },
  sockets: {
    loginResult(d) {
      let self = this;
      self.loading = false;
      if (d.code == 0) {
        self.modalLogin = false;
        app.log(JSON.stringify(d));
        app.User.setToken(new Date().getTime());
        this.$router.push({ path: "/" });
        self.$Message.success(`登录成功`);
      } else {
        self.$Message.error(d.msg);
        app.log(d.msg);
      }
    }
  },
  mounted: function() {
    var self = this;
    //       $('.y-tabs > li > a').click(function () {
    // let el=$(this);
    // });
    self.ipc = self.$electron && self.$electron.ipcRenderer;
    self.$nextTick(function() {});
  },
  methods: {
    login() {
      let self = this;
      self.loading = true;
      self.$socket.emit("login", self.parLogin);
      setTimeout(() => {
        if (self.loading) {
          self.loading = false;
          self.$Message.error(`请求服务器超时！`);
        }
      }, 10000);
    },
    close() {
      this.ipc.send("window-close");
    }
  }
};
</script>
