
// .ivu-input{
//     background: #565c65;
//     color: #e0e0e0; 
// }

.ivu-input-small{
    height: 18px;
}
.ivu-input-wrapper-small{
    font-size: 12px;
    .ivu-input-icon{
        color: #e0e0e0;
        height: 18px;
        line-height: 18px;
    }
}
.ivu-btn-small{
    padding: 0px 7px;
    border:none;
}  
.ivu-btn-small {
    height: 26px;
  }
.ivu-date-picker{
        .ivu-select-dropdown {
      color: #495060;
    }
}

.ivu-form-item-required {
    .ivu-form-item-label:before {
      content: none;
    }
  }
  .ivu-form-item-error-tip {
    display: none;
  }
  .ivu-form-item-error {
    .ivu-select .ivu-input-small,
    .ivu-select-selection,
    .ivu-input-number,
    .ivu-input {
      border-color: #ed3f14 !important;
    }
  }
  
// .ivu-date-picker {
//     .ivu-input-icon {
//       color: #e0e0e0;
//     }
//     .ivu-input {
//       font-size: 12px;
//       background: #565c65;
//       color: #e0e0e0;
//       border: 0;
//     }
//     .ivu-select-dropdown {
//       color: #495060;
//     }
//     .ivu-input-wrapper-small .ivu-input-icon {
//       height: 20px;
//       line-height: 20px;
//     }
//     .ivu-input-small {
//       height: 20px;
//     }
//   }