@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.ttf?t=1521536296115') format('truetype');
}

.f {
  /* font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  display: inline-block;
  font: normal normal normal 14px/1 iconfont;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke-width: 0.2px;
  font-style: normal;
}

.f-imgVerify:before { content: "\e630"; }

.f-window-restore:before { content: "\e65b"; }

.f-plus:before { content: "\e641"; }

.f-plus-o:before { content: "\e726"; }

.f-window-maximize:before { content: "\e64e"; }

.f-refresh:before { content: "\e65e"; }

.f-start:before { content: "\e60a"; }

.f-bars:before { content: "\e65f"; }

.f-window-minimize:before { content: "\e629"; }

.f-edit:before { content: "\e61c"; }

.f-yes:before { content: "\e684"; }

.f-cog:before { content: "\e610"; }

.f-iconmoban:before { content: "\e631"; }

.f-transaction:before { content: "\e67f"; }

.f-close:before { content: "\e689"; }

.f-window-restore-s-o:before { content: "\e797"; }

.f-lock:before { content: "\e603"; }

.f-reduce-o:before { content: "\e74b"; }

.f-stop:before { content: "\e60b"; }

.f-csv:before { content: "\e6e0"; }

.f-CSV1:before { content: "\e604"; }

.f-pdf:before { content: "\e6d5"; }

.f-inport:before { content: "\e803"; }

.f-service:before { content: "\e61a"; }

.f-strategies:before { content: "\e600"; }

.f-quotes:before { content: "\e6a9"; }

.f-close-eye:before { content: "\e79d"; }

.f-open-eye:before { content: "\e79c"; }

.f-information:before { content: "\e601"; }

.f-user:before { content: "\e602"; }

.f-export:before { content: "\e677"; }

.f-export-xml:before { content: "\e678"; }

.f-copy:before { content: "\e800"; }

.f-yes_b:before { content: "\e690"; }

.f-cc-yes-crude:before { content: "\e6b5"; }

.f-motaikuang:before { content: "\e627"; }

.f-gongnengdingyi:before { content: "\ebb7"; }

.f-zhanghuguanli:before { content: "\e729"; }

