$mouse-hover:#337bfc;

html,
body,
.main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #282d38;
  font-size: 14px;
  font-family: "PingFang SC", "microsoft yahei", "WenQuanYi Zen Hei", Ubuntu, Arial, sans-serif;
}

a {
  color: #d0d0d4;

  &:hover {
    color: #d0d0d4;
  }
}

.hide {
  display: none;
}

dl,
ol,
ul {
  margin-bottom: 0;
}

i.f[title] {
  font-size: 14px;

  &:hover {
    color: #337bfc; // color: #2d58ce;
  }
}

.f-2r {
  font-size: 2rem;
}

.f-blue {
  color: #3F97F0;
}

.y-green {
  color: #02a263 !important;
}

.y-red {
  color: #e22324 !important;
}

.y-blue {
  color: #2d58ce;
}

.y-success {
  color: #4cae4c
}

// .y-error{
//   color:#e22324;
// }
.ivu-table td.y-error,.big-table td.y-error {
  color: #e22324;
}

.y-info {
  color: #1b6d85;
}

.y-primary {
  color: #122b40;
}

.y-warning {
  color: #985f0d;
}

.y-yellow,
.ivu-table td.y-yellow,.big-table td.y-yellow {
  color: #e7940c;
  opacity: 0.99;
}

.ivu-table th.y-yellow,.big-table th.y-yellow {
  color: inherit;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.main {
  display: flex;
  color: #d0d0d4;
  flex-direction: column;

  >header {
    height: 34px;
    line-height: 34px;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  >.content {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
  }
}

.y-iOS {
  .titlebar {
    .titlebar-login {
      padding-left: 100px;
    }

    .ctrls {
      &>.win {
        display: none;
      }
    }
  }
}

.content aside {
  width: 54px;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 1px;
  bottom: 0;
}

.content section {
  position: absolute;
  left: 54px;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.y-confirm {
  font-size: 14px;

  .row {
    >.col {
      &:first-child {
        padding: 5px 6px 5px 15px;
      }

      &:last-child {
        padding: 5px 15px 5px 6px;
      }
    }
  }
}

// .ivu-table-body{
//   overflow: hidden;
// }
.ivu-table-wrapper {
  border: 1px solid #262b35;
}

.ivu-table-small td {
  height: 25px;
}

.ivu-input-small {
  height: 18px;
}

.y-user {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.titlebar {
  height: 34px;
  line-height: 34px;
  margin-left: 10px;

  a {
    color: #d0d0d4;
  }

  .titlebar-login img {
    margin-right: 10px;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
    width: 22px;
    height: 22px;
    border-radius: 50%; // background-size: 100%;
    // background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBT…o0m7dqyccpWNi2U7v2jW5Yk92iWes2AwYOHNCta4eOnRnOv0T7aa58Jem3AAAAAElFTkSuQmCC);
    // background-repeat: no-repeat;
  }

  .ctrls {
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 5000;

    &>div {
      display: inline-block;

      >h3 {
        font-size: 26px;
        color: yellow;
        margin: -10px 20px;
        line-height: inherit;
      }
    }

    .win a {
      padding: 8px 15px;

      &:hover {
        background-color: hsla(0, 0%, 100%, .1);
        // color: #2d58ce; // background-color: #e4e4e4; 
      }

      &:last-child:hover {
        background-color: rgba(232, 17, 35, .9)
      }
    }
  }
}

.sidebar {
  background-color: #181a1f;

  .sidebar-menu {
    width: 54px;
    text-align: center;

    a {
      color: #c3c5d5;
      text-decoration: none;
      display: block;
      padding: 6px 0;

      &:hover {
        background-color: #2c3038;
      }
    }

    li.active a,
    li.router-link-active a {
      color: #c2c4d2;
      background-color: #233977;
    }

    i {
      display: block;
      font-size: 24px;
    }
  }
}

.y-toolbar {
  a {
    font-size: 14px;
    vertical-align: middle;
    padding: 0 3px;
  }
}

// 标签卡
.y-tag {
  background-color: #38414d; // height: 28px;

  // line-height: 28px;
  li {
    float: left;

    a {
      // line-height: 28px;
      // height: 28px;
      text-decoration: none;
      padding: 6px 16px;
      color: #d0d0d4;
      background-color: #38414d; // #565c65;
      font-size: 12px;
      border-right: solid 1px #000;
    }

    &.router-link-active a,
    & a:hover {
      // line-height: 28px;
      // height: 28px;
      background-color: #565c65;
    }
  }

  &.y-vertical {
    height: 28px;
    line-height: 28px;

    li {
      float: none;

      a {
        background-color: #22252b;
        line-height: 28px;
        height: 28px;
        display: block;
        padding: 0px 10px;
      }

      &.router-link-active a,
      & a:hover {
        line-height: 28px;
        height: 28px;
        background-color: #565c65;
      }
    }
  }

  &.small li a {
    line-height: 22px;
    height: 22px;
    padding: 3px 16px;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  >.content-header {
    background-color: #282d38;
    height: 28px;
    line-height: 28px;
    width: 100%;

    ul {
      list-style: none,
    }
  }

  >.content-body {
    flex: 1;
    display: flex;
    position: relative; // margin-top: 1px;
    // flex-direction: row;
  }
}

.content-body-main {
  display: flex;
  height: 100%;
  width: 100%;
  border-top: solid 1px #000;

  >.content-body-left {
    width: 122px;
    min-width: 122px;
    height: auto;
    background-color: #22252b;
  }

  >.content-body-right {
    flex: 1;
    display: flex;
    height: auto;
    position: relative;
  }
}

.ivu-modal-close .ivu-icon-ios-close-empty:hover {
  color: #fff;
}

// ************************************************************
.tab-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;

  .tab-bottom {
    flex: 1;
    margin-top: 1px;
    position: relative;
    display: flex;
    position: relative;
    width: 100%;
  }
}

.tab-top {
  display: flex;
  height: 348px;
  flex-shrink: 0;
  width: 100%;

  >div {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-right: 1px;

    .tab-header {
      height: 22px;
      line-height: 22px;
      background-color: #2c3039;
      font-size: 12px;
      padding: 0 10px;

      a:hover {
        color: #2d58ce;
      }
    }

    .tab-body {
      flex: 1;
      display: flex;
    }
  }
}

.tab-content .tab-top {
  overflow: hidden;
}

.y-order.y-form.ivu-form {
  padding: 18px 15px 0;

  .ivu-form-item-label {
    padding: 10px 10px 0px 0;
  }
}

.y-table {

  // display: table;
  &.y-table-condensed {

    tbody th,
    tbody td {
      padding: 4px 8px;
    }
  }
}

.y-order.y-form.ivu-form {
  width: 100%;
}

// .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
//   padding: 0px 16px 3px;
// }
.y-table td {
  text-align: right;
}

.tab-header {
  color: #e0e0e0; // >.pull-right {
  //   margin-right: 10px;
  //   >a {
  //     vertical-align: middle;
  //     padding: 0 0px;
  //     &:hover {
  //       color: #2d58ce;
  //     }
  //     >i {
  //       // padding:0 2px;
  //       font-size: 14px;
  //     }
  //   }
  // }
}

.tab-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .tab-bar {
    // display: flex;
    // height: 23px;
    flex-shrink: 0;
    background-color: #1e2127;
    color: #e0e0e0;
    font-size: 12px;

    >.pull-right {
      margin-right: 10px;

      >a {
        vertical-align: middle;
        padding: 0 3px;

        &:hover {
          color: #2d58ce;
        }

        >i {
          // padding:0 2px;
          font-size: 14px;
        }
      }
    }
  }

  .tab-table {
    flex: 1;
    margin-top: 1px; // position: relative;
    display: flex;
    position: relative;
    width: 100%;
  }
}

.i-table {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}

.y-table {
  width: 100%;

  tbody {

    th,
    td {
      padding: 8px 8px;
      font-size: 14px;
    }

    th {
      width: 75px;
      font-weight: normal;
      color: #9da1a9;
    }

    td {
      color: #d0d0d4;
    }
  }
}

.tab-bar {
  .ivu-input {
    border: none;
  }

  .ivu-btn-small {
    height: 18px;
  }
}

.y-plus-visible {
  display: none !important;
}

.y-plus .y-plus-visible {
  display: initial !important;
}

// .introjs-fixParent{
.introjs-showElement {
  color: #333;
}

// }
@import 'iconfont.scss';
@import 'table/skin-dark.scss';
@import 'modal/skin-dark.scss';
@import 'select/skin-dark.scss';
@import 'tab/skin-dark.scss';
@import 'form/skin-dark.scss';
@import 'autoComplete/skin-dark.scss';
@import 'input/skin-dark.scss';
@import 'button/skin-dark.scss';
@import 'page/skin-dark.scss';