<template>
    <Modal v-model="value" width="370" class="col-setting" :closable='false' @on-cancel="close" class-name="vertical-center-modal" :mask-closable="false">
        <p slot="header">
            <span>设置</span>
        </p>
        <div>
            <header class="row">
                <div class="col text-center">拖动</div>
                <div class="col-8">列名</div>
                <div class="col text-center">显示</div>
            </header>
            <section>
                <draggable v-model="currentCol" :options="{animation: 100}">
                    <transition-group>

                        <div class="row" v-if='!s.fixed' v-for="s in currentCol" :key="s.title">
                            <div class="col text-center">
                                <i class="f f-bars"></i>
                            </div>
                            <div class="col-8">{{s.title}}</div>
                            <div class="col text-center">
                                <Checkbox v-model='s.check'></Checkbox>
                            </div>
                        </div>
                    </transition-group>
                </draggable>
            </section> 
        </div>
        <div slot="footer">
            <Button class="pull-left" size="small" @click="reset">重置</Button>
            <Button type="primary" size="small" @click="save">确定</Button>
            <Button size="small" @click="close">取消</Button>
        </div>
    </Modal>
</template>
<style lang="scss">

</style>

<script>
import draggable from "vuedraggable";
import Locale from "iview/src/mixins/locale";
import Emitter from "iview/src/mixins/emitter";
// import propsync from "../propsync";
export default {
  name: "colSetting",
  //   mixins: [propsync],
  //   mixins: [Locale, Emitter],
  components: {
    draggable
  },
  props: {
    col: Array,
    value: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    // col(val) {
    //   this.initCol = JSON.stringify(val);
    // }
    // value(val) {
    //   this.currentCol = this.col;
    // }
  },
  data: function() {
    return {
      //   currentisShow: this.isShow,
      defaultCol: [],
      currentCol: this.col,
      initCol: []
    };
  },
  created() {
    // this.initCol = this.col.concat();
    this.initData();
    this.defaultCol = this.col;
    this.initCol =  JSON.stringify(this.col); //this.col.slice();
  },
  methods: {
    initData() {
      for (let i = 0; i < this.col.length; i++) {
        this.col[i].check != true && (this.col[i].check = true);
      }
      for (let i = 0; i < this.defaultCol.length; i++) {
        this.defaultCol[i].check != true && (this.defaultCol[i].check = true);
      }
    },
    showColData(col) {
      let arr = [];
      for (let i = 0; i < col.length; i++) {
        let it = col[i];
        it.check && arr.push(it);
      }
      return arr;
    },
    close() {
      this.$emit("input", false);
      app.log("initCol::", this.initCol, this.col);
      // this.currentCol = [];
      // setTimeout(() => {
      //   this.currentCol =this.initCol;// JSON.parse(this.initCol);
      // }, 1000);
      // this.$emit("on-changeCol", this.col);
    },
    save() {
      this.$emit("input", false);
      app.log(this.col);

      this.initCol =this.currentCol.slice(0); //JSON.stringify(this.currentCol);
      this.$emit("on-changeCol", this.showColData(this.currentCol));
    },
    reset() {
      this.$emit("input", false);
      this.initData();
      this.currentCol = this.defaultCol;

      this.$emit("on-changeCol", this.defaultCol);
    }
  }
};
</script> 