<template>
  <div class="content-body-main">
    <div class="content-body-right">
      <div class="tab-content">
        <div class="top">
          <i class="f f-user"></i>
          <span>{{user}}</span>
        </div>
        <div class="tab-bottom">
          <div class="tab-bar addWidth">股票账户
            <div class="pull-right">
              <a>
                <i class="f f-plus-o" title="添加" @click="addAccount"></i>
              </a>
            </div>
            <div class="tab-table" style="position:relative">
              <Table
                class="i-table"
                :width="700"
                data-k="account"
                :height="1000"
                :columns="accountCol"
                :data="accountList"
                size="small"
                :border="true"
              ></Table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.top {
  padding: 20px;
  i {
    font-size: 40px;
    color: #2d8cf0;
    vertical-align: sub;
  }
  span {
    vertical-align: super;
  }
}
div.tagRemoveStyle {
  border: none !important;
  background: rgb(30, 33, 39) !important;
  border: none !important;
  background: #1e2127 !important;
  padding: 0 !important;
  height: auto !important;
  line-height: 24px;
}
.addWidth {
  width: 700px;
  background-color: #2c3039;
}
.content-body-main {
  background-color: #1e2127;
}
</style>

<script>
export default {
  data() {
    return {
      user: "",
      accountCol: [
        {
          title: "登录状态",
          key: "status",
          width: 120,
          align: "center",
          render: (h, par) => {
            let self = this;
            if (par.row.status) {
              return h(
                "Tag",
                {
                  class: ["tagRemoveStyle"],
                  props: {
                    type: "dot",
                    color: "#3F97F0"
                  }
                },
                "在线"
              );
            } else {
              return h(
                "Tag",
                {
                  class: ["tagRemoveStyle"],
                  props: {
                    type: "dot",
                    color: "#e22324"
                  }
                },
                "离线"
              );
            }
          }
        },
        {
          title: "资金账号",
          key: "username",
          width: 130,
          align: "center",
          render: (h, params) => {
            let self = this;
            if (params.row.username) {
              return h("div", {}, params.row.username);
            } else {
              return h("Input", {
                props: {
                  placeholder: "请输入账号",
                  size: "small"
                },
                on: {
                  "on-blur": e => {
                    if(e.currentTarget.value == JSON.parse(sessionStorage.getItem("user_")).username){
                        self.$Message.warning("账号已登录");
                        e.currentTarget.value = '';
                    }
                    params.row.username = e.currentTarget.value;
                    self.accountList[params.index] = params.row;
                  }
                }
              });
            }
          }
        },
        {
          title: "双击输入密码",
          key: "password",
          width: 130,
          align: "center",
          render: (h, params) => {
            let self = this;
            if (params.row.showOrHide) {
              return h("div", [
                h("I", {
                  class: ["f", "f-close-eye"],
                  on: {
                    dblclick: () => {
                      if (params.row.status) return;
                      else {
                        self.accountList[params.index].showOrHide = false;
                      }
                    }
                  }
                })
              ]);
            } else {
              return h("Input", {
                props: {
                  placeholder: "请输入密码",
                  size: "small",
                  type: "password"
                },
                on: {
                  "on-blur": e => {
                    params.row.password = e.currentTarget.value;
                    self.accountList[params.index] = params.row;
                  }
                }
              });
            }
          }
        },
        {
          title: "操作",
          width: 100,
          align: "center",
          render: (h, params) => {
            let self = this;
            if (params.row.status) {
              return h("div", [
                h(
                  "Button",
                  {
                    props: {
                      type: "error",
                      size: "small"
                    },
                    style: {
                      marginRight: "5px"
                    },
                    on: {
                      click: () => {
                        self.exit(this.accountList[params.index], params.index);
                      }
                    }
                  },
                  "登出"
                )
              ]);
            } else {
              return h("div", [
                h(
                  "Button",
                  {
                    props: {
                      type: "primary",
                      size: "small"
                    },
                    style: {
                      marginRight: "5px"
                    },
                    on: {
                      click: () => {
                        self.login(this.accountList[params.index]);
                      }
                    }
                  },
                  "登录"
                )
              ]);
            }
          }
        }
      ],
      accountList: [],
      accountTab: "account",
      width: {
        account: 0
      },
      height: {
        account: 0
      },
      loginFlag:null
    };
  },
  watch: {
    "$store.state.tran.isLogin": function(val) {
      val ? this.init() : this.clear();
    }
  },
  created() {
    let self = this;
    self.$store.state.tran.isLogin ? this.init() : this.clear();
    self.$nextTick(() => {
      self.autoTableSize();
    });
  },
  mounted: function() {
    var self = this;
    self.$nextTick(function() {
      self.autoTableSize();
      window.addEventListener(
        "resize",
        function() {
          self.autoTableSize();
        },
        false
      );
    });
  },
  methods: {
    init() {
      let self = this;
      self.user = JSON.parse(sessionStorage.getItem("user_")).username;
      let account = app.Cache.getObject(app.Cache.key.account.toKeyName());
      if (account) {
          self.accountList = account;
      }
    },
    clear() {
      if(sessionStorage.getItem('loginFlag')=='false'?false:true) return;
      else {
        let account = app.Cache.getObject(app.Cache.key.account.toKeyName());
        if (account) {
          account.forEach(it => {
            if(it.username == (sessionStorage.getItem("user_") ? JSON.parse(sessionStorage.getItem("user_")).username:'')){
              it.status = true;
              it.sessionIdMd5 = "";
              it.session_id = '';
              it.password = "";
            }else{
              it.status = false;
              it.password = "";
              it.sessionIdMd5 = "";
              it.session_id = '';
            }
          });
        }
        app.Cache.setObject(app.Cache.key.account.toKeyName(),account);
      }
    },
    addAccount() {
      let obj = {
        status: false,
        username: "",
        password: "",
        showOrHide: true,
        isCheckCode: false,
        checkcode: "",
        session_id:''
      }
      this.accountList.push(obj);
      // this.$store.commit("ACCOUNTLIST", obj);
    },
    login(data) {
      let self = this;
      if (data.password == "" || data.username == "") {
        self.$Message.warning("账号信息请填写完整");
        return;
      }
      let jsencrypt = new JSEncrypt();
      let parLoginTemp = Object.assign({}, data);
      jsencrypt.setPublicKey(self.config.encryptPublicKey);
      parLoginTemp.password = jsencrypt.encrypt(data.password);
      parLoginTemp.macaddress =
        app.env.networkList != undefined
          ? JSON.parse(app.env.networkList)[0]
          : "";
      parLoginTemp.macaddress = jsencrypt.encrypt(parLoginTemp.macaddress);
      app.ajax(
        "auth/login",
        parLoginTemp,
        d => {
          data.status = true;
          data.password = "";
          data.showOrHide = true;
          // let i = self.accountList.findIndex(
          //   it => it.username == data.username
          // );
          data.sessionIdMd5 = d.clientSessionId;
          if(d.authList.length>0) data.session_id = d.algoSessionId || false;
          else data.session_id = false;
          app.Cache.setObject(
            app.Cache.key.account.toKeyName(),
            self.accountList
          );
          self.$store.commit("ACCOUNTLIST", data);
          self.$Message.success(d.retMsg);
        },
        ex => {
          self.$Message.error(ex.retMsg);
        }
      );
    },
    exit(data, i) {
      let self = this;
      let obj = JSON.parse(sessionStorage.getItem("user_"));
      data.status = false;
      data.password = "";
      data.sessionIdMd5 = "";
      data.session_id = '';
      if (data.username == obj.username) {
        if (JSON.parse(sessionStorage.getItem("algorithm"))) {
          sessionStorage.removeItem("algorithm");
        }
        app.User.clear();
        self.$store.commit("LOGOUT");
        self.$socket.io.disconnect();
        self.$socket2.io.disconnect();
        self.validCodeUrl = `${self.prefix}://${self.serviceIP}:${
          self.port
        }/proxycenter/v1/auth/captcha?t=${new Date().getTime()}`;
        app.ajax("user/logout", {}, d => {});
        self.clear();
      }
      app.Cache.setObject(app.Cache.key.account.toKeyName(),self.accountList);
      self.$store.commit("ACCOUNTLIST", data);
    }
  }
};
</script>