<template>
  <div class="content-body-main">
    <div class="tab-wrapper">
      <div class="tab-content">
        <div class="tab-header">
          <div class="row">
            <div class="col">
              <div>平安银行 000001</div>
              <!-- <div>目标价 10.88</div> -->
            </div>
            <div class="col">
              <div>-50000股</div>
              <div>母单股数</div>
            </div>
            <div class="col ">
              <div>1746000</div>
              <div>成交金额</div>
            </div>
            <div class="col">
              <div>
                <Progress :percent="25" :stroke-width="5" :hide-info='true'></Progress>
              </div>
              <div>成交比例</div>
            </div>
            <div class="col">
              <div>3.61 bps</div>
              <div>算法执行差价</div>
            </div>
          </div>
        </div>
        <div class="tab-top">
          <div class="tab-left">
            <div id="mainChart" class="y-chart"></div>
          </div>
          <div class="tab-right">
            <Form class="y-form y-order" :label-width="64">
              <FormItem label="证券代码">
                <AutoComplete size="small" class="y-blue" clearable placeholder="请输入代码">

                </AutoComplete>
              </FormItem>
              <FormItem label="买卖方向">
                <RadioGroup v-model="animal">
                  <Radio label="买"></Radio>
                  <Radio label="卖"></Radio>
                </RadioGroup>
              </FormItem>
              <FormItem label="价格条件">
                <Select class="y-blue" size="small">
                  <Option class="y-blue" :value='1'>限价-沪深</Option>
                  <Option class="y-blue" :value='2'>即成剩撤-深</Option>
                  <Option class="y-blue" :value='3'>五档即成转限价-沪</Option>
                  <Option class="y-blue" :value='4'>五档即成转撤销-沪深</Option>
                  <Option class="y-blue" :value='5'>全部成交或撤销-深</Option>
                  <Option class="y-blue" :value='6'>本方最优-深</Option>
                  <Option class="y-blue" :value='7'>对方最优转限价-深</Option>
                </Select>
              </FormItem>
              <FormItem label="目标价格">
                <InputNumber :step='0.01' class="y-blue" size="small"></InputNumber>
              </FormItem>
              <FormItem label="母单股数">
                <Input size="small" class="y-blue" placeholder="请输入数量" />
              </FormItem>
              <FormItem label="金额">
                5555.55
              </FormItem>
              <FormItem label="拆单算法">
                <RadioGroup v-model="animal">
                  <Radio label="TWAP"></Radio>
                  <Radio label="VWAP"></Radio>
                  <Radio label="IS"></Radio>
                  <Radio label="VWAP+"></Radio>
                </RadioGroup>
              </FormItem>
              <FormItem label="折单量比">
                <InputNumber :step='0.01' class="y-blue" size="small"></InputNumber>
              </FormItem>

              <FormItem class="y-block">
                <div class="row">
                  <div class="col">
                    <Button type="warning" @click="aa" size="small" long>
                      <span v-if="true">下单</span>
                      <span v-else>买入中...</span>
                    </Button>
                  </div>
                  <div class="col">
                    <Button type="primary" size="small" long>
                      <span v-if="true">取消</span>
                      <span v-else>卖出中...</span>
                    </Button>
                  </div>
                </div>
              </FormItem>
            </Form>
          </div>
        </div>
        <div class="tab-bottom">
          <div class="tab-left">
            <Tabs v-model='currentTab' type="card" :animated='false'>
              <TabPane name='entrust' label="委托">
                <Table class="i-table" data-k="entrust" highlight-row :width='width.entrust' :height="height.entrust" :columns="entrustCol" :data="entrustList" size="small" :border='true' ref="table"></Table>
              </TabPane>
              <TabPane name='deal' label="成交">
                <Table class="i-table" data-k="deal" highlight-row :width='width.deal' :height="height.deal" :columns="dealCol" :data="dealList" size="small" :border='true' ref="table"></Table>
              </TabPane>
              <div slot="extra">

                <Button size="small" v-show="currentTab=='entrust'">撤单</Button>
                <Select size="small" v-show="currentTab=='entrust'" style="width:100px">
                  <Option :value='1'>全部委托</Option>
                  <Option :value='2'>可撤委托</Option>
                </Select>
                <Button type="primary" size="small" @click="sel">查询</Button>
                <a>
                  <i class="f f-refresh" title="刷新"></i>
                </a>
                <a v-if="currentTab=='entrust'">
                  <i class="f f-cog" @click="isShow = true" title="设置"></i>
                </a>
                <a v-else-if="currentTab=='deal'">
                  <i class="f f-cog" @click="isModel= true" title="设置"></i>
                </a>
              </div>
            </Tabs>
          </div>
          <div class="tab-right">
            <div class="row">
              <div class="col">被动成交比例</div>
              <div class="col">1.0</div>
              <div class="w-100"></div>
              <div class="col">撤单比例</div>
              <div class="col">2.0</div>
              <div class="w-100"></div>
              <div class="col">拒单数</div>
              <div class="col">2.0</div>
              <div class="w-100"></div>
              <div class="col">被动成交比例</div>
              <div class="col">2.0</div>
              <div class="w-100"></div>
              <div class="col">策略开始时间</div>
              <div class="col">2.0</div>
              <div class="w-100"></div>
              <div class="col">策略结束时间</div>
              <div class="col">2.0</div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <col-setting v-model='isShow' @on-changeCol='changeCol' :col='entrustCol'></col-setting>
    <col-setting v-model='isModel' @on-changeCol='changeColl' :col='dealCol'></col-setting>
  </div>
</template>
<style lang="scss" scoped>
.tab-content {
  .tab-header .col {
    font-size: 17px;
    padding: 8px 25px;
  }
  .tab-top {
    height: 430px;
    .tab-left {
      & > div {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
  .tab-left {
    flex: 1;
    position: relative;
  }
  .tab-right {
    width: 280px;
    padding: 15px;
    .tab-bottom & .col {
      padding: 20px 0;
    }
  }
  .tab-bottom .tab-right {
    padding: 20px;
    .row {
      margin: 0;
    }
    .col {
      padding: 5px 0;
    }
  }

  .y-order.y-form.ivu-form {
    padding: 0;
    .ivu-radio-group {
      width: 100%;

      > label.ivu-radio-wrapper {
        background-color: transparent;
        margin-bottom: 0;
        width: 48%;
        text-align: left;
      }
    }
  }
}
</style>

<script>
import ColSetting from "@/components/colSetting";
export default {
  components: {
    ColSetting
  },
  data() {
    return {
      width: {
        entrust: 0,
        deal: 0
      },
      height: {
        entrust: 0,
        deal: 0
      },
      isShow: false,
      isModel: false,
      currentLoading: "",
      currentTab: "entrust",
      animal: "",
      entrustList: [],
      tempEntrustList: [],
      entrustCol: [
        {
          type: "selection",
          width: 40,
          align: "center",
          fixed: "left"
        },
        {
          title: "序号",
          type: "index",
          width: 60,
          fixed: "left",
          align: "right"
        },
        {
          title: "XTP ID",
          key: "orderXtpId",
          fixed: "left",
          width: 180
        },
        {
          title: "代码",
          key: "ticker",
          width: 100,
          sortable: true,
          className: "info"
        },
        // {
        //   title: "交易所",
        //   key: "xtpMarketType",
        //   width: 100,
        //   sortable: true,
        //   render: (h, par) => {
        //     return app.dataTypeToName(
        //       par.row[par.column.key],
        //       "XTP_MARKET_TYPE"
        //     );
        //   }
        // },
        // {
        //   title: "价格条件",
        //   key: "xtpPriceType",
        //   width: 120,
        //   sortable: true,
        //   render: (h, par) => {
        //     return app.dataTypeToName(
        //       par.row[par.column.key],
        //       "XTP_PRICE_TYPE"
        //     );
        //   }
        // },
        {
          title: "价格",
          key: "price",
          width: 100,
          align: "right",
          sortable: true,
          render: (h, params) => {
            let self = this;
            return h("div", [
              h(
                "Input",
                {
                  props: {
                    type: "text",
                    // value: params.row.price
                  },
                  domProps:{
  value: params.row.price
                  },
                  on: {
                    "on-change": e => {
                      // app.log(' e.currentTarget.value:::', e.currentTarget.value);
                      // debugger

                      // this.entrustList[params.index].price =
                      //   e.currentTarget.value;

                      // params.row.price=e.currentTarget.value

                      // self.$emit("input", e.currentTarget.value);
                      //  debugger
                    },
                    input: function(event) {
                      // debugger
                      // params.row.price=event
                      self.$emit("input", event);
                    }
                  }
                  // on-change
                },
                "View"
              )
            ]);
          }
        },
        {
          title: "数量",
          key: "quantity",
          width: 100,
          align: "right",
          sortable: true
        },
        // {
        //   title: "买卖方向",
        //   key: "xtpSideType",
        //   width: 120,
        //   align: "center",
        //   sortable: true,
        //   render: (h, par) => {
        //     return app.dataTypeToName(par.row[par.column.key], "XTP_SIDE_TYPE");
        //   }
        // },
        {
          title: "业务类型",
          key: "xtpBusinessType",
          width: 120,
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(par.row[par.column.key], "XTP_BUSINESS_TYPE")
            );
          }
        },
        {
          title: "成交数量",
          key: "qtyTraded",
          width: 120,
          align: "right",
          sortable: true
        },
        {
          title: "剩余数量",
          key: "qtyLeft",
          width: 120,
          align: "right",
          sortable: true
        },
        {
          title: "成交金额",
          key: "tradeAmount",
          width: 120,
          align: "right",
          sortable: true,
          className: "info",
          render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0.00")
              );
            }
        },
        {
          title: "报单状态",
          key: "orderStatus",
          width: 120,
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(
                par.row[par.column.key],
                "XTP_ORDER_STATUS_TYPE"
              )
            );
          }
        },
        {
          title: "提交状态",
          key: "orderSubmitStatusType",
          width: 200,
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(
                par.row[par.column.key],
                "XTP_ORDER_SUBMIT_STATUS_TYPE"
              )
            );
          }
        }
        // {
        //   title: "委托时间",
        //   key: "insertTime",
        //   width: 210,
        //   sortable: true,
        //   render: (h, par) => {
        //     return par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss");
        //   }
        // },
        // {
        //   title: "最后修改时间",
        //   key: "updateTime",
        //   width: 210,
        //   sortable: true,
        //   render: (h, par) => {
        //     return par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss");
        //   }
        // },
        // {
        //   title: "撤销时间",
        //   key: "cancelTime",
        //   width: 210,
        //   sortable: true,
        //   render: (h, par) => {
        //     return par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss");
        //   }
        // }
      ],
      dealList: [],
      tempDealList: [],
      dealCol: [
        {
          title: "序号",
          type: "index",
          width: 60,
          fixed: "left",
          align: "right"
        },
        {
          title: "XTP ID",
          key: "orderXtpId",
          fixed: "left",
          width: 180
        },
        // {
        //   title: "报单引用",
        //   key: "orderClientId",
        //   width: 110,
        //   sortable: true
        // },
        {
          title: "代码",
          key: "ticker",
          width: 90,
          sortable: true,
          className: "info"
        },
        {
          title: "交易所",
          key: "xtpMarketType",
          width: 200,
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(par.row[par.column.key], "XTP_MARKET_TYPE")
            );
          }
        },

        {
          title: "订单号",
          key: "localOrderId",
          width: 200,
          sortable: true
        },
        {
          title: "价格",
          key: "price",
          width: 100,
          align: "right",
          sortable: true
        },
        {
          title: "数量",
          key: "quantity",
          width: 100,
          align: "right",
          sortable: true
        },
        {
          title: "成交编号",
          key: "reportIndex",
          width: 120,
          align: "right",
          sortable: true
        },
        // {
        //   title: "成交时间",
        //   key: "tradeTime",
        //   width: 200,
        //   sortable: true,
        //   render: (h, par) => {
        //     return par.row[par.column.key].toDate("yyyy-MM-dd hh:mm:ss");
        //   }
        // },
        {
          title: "成交金额",
          key: "tradeAmount",
          width: 120,
          align: "right",
          sortable: true,
          render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0.00")
              );
            }
        },
        {
          title: "报单编号",
          key: "orderExchId",
          width: 120,
          align: "right",
          sortable: true
        },
        {
          title: "成交类型",
          key: "tradeType",
          width: 120,
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(par.row[par.column.key], "TXTPTradeTypeType")
            );
          }
        },
        {
          title: "买卖方向",
          key: "xtpSideType",
          width: 120,
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(par.row[par.column.key], "XTP_SIDE_TYPE")
            );
          }
        },
        {
          title: "业务类型",
          key: "xtpBusinessType",
          width: 100,
          sortable: true,
          render: (h, par) => {
            return h(
              "div",
              app.dataTypeToName(par.row[par.column.key], "XTP_BUSINESS_TYPE")
            );
          }
        },
        {
          title: "交易员代码",
          key: "branchPbu",
          width: 120,
          sortable: true
        }
      ]
    };
  },
  mounted: function() {
    var self = this;
    self.$nextTick(function() {
      //   self.sel();

      // 绘制图表
      // 引入 ECharts 主模块
      var echarts = require("echarts");

      //   var echarts = require("echarts/lib/echarts");
      // 引入柱状图

      require("echarts/lib/chart/line");
      require("echarts/lib/chart/bar");
      // 引入提示框和标题组件
      require("echarts/lib/component/tooltip");
      require("echarts/lib/component/title");
      self.autoChartSize();
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById("mainChart"));
      /// #region 图表设置
      // 绘制图表
      //   myChart.setOption({
      //     title: {
      //       show: false

      //       //   text: "平安银行 000001",
      //       //   subtext:'平安银行 000001'
      //     },
      //     grid: [
      //       //   {
      //       //     // top: 10,
      //       //     left: 20,
      //       //     right: 20,
      //       //     // bottom: 20,
      //       //     height: "50%"
      //       //   },
      //       //   {
      //       //     top: 200,
      //       //     left: 20,
      //       //     right: 20,
      //       //     // bottom: 20,
      //       //     height: "30%"
      //       //   }

      //       {
      //         left: "10%",
      //         right: "8%",
      //         height: "50%"
      //       },
      //       {
      //         left: "10%",
      //         right: "8%",
      //         top: "63%",
      //         height: "16%"
      //       }
      //     ],
      //     tooltip: {},
      //     xAxis: [
      //       {
      //         data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
      //       },
      //       {
      //         data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
      //       }
      //     ],
      //     yAxis: [{
      //     },
      //     {
      //         // gridIndex: 1,

      //     }],
      //     dataZoom: [
      //       {
      //         type: "inside",
      //         xAxisIndex: [0, 1],

      //       },
      //       {
      //         show: true,
      //         xAxisIndex: [0, 1],
      //         type: "slider",
      //         top: "85%",
      //       }
      //     ],
      //     series: [
      //       {
      //         name: "销量",
      //         type: "bar",
      //         data: [15, 120, 136, 110, 110, 120]
      //       },
      //       {
      //         name: "销量2",
      //         type: "bar",
      //         xAxisIndex: 1,
      //         yAxisIndex: 1,
      //         data: [5, 20, 36, 10, 10, 20]
      //       }
      //     ]
      //   });
      //#endregion
      var upColor = "#00da3c";
      var downColor = "#ec0000";
      var quoteData = [
        ["2016-05-03", 17870.75, 17750.91, 17670.88, 17870.75, 97060000],
        ["2016-05-04", 17735.02, 17651.26, 17609.01, 17738.06, 95020000],
        ["2016-05-05", 17664.48, 17660.71, 17615.82, 17736.11, 81530000],
        ["2016-05-06", 17650.3, 17740.63, 17580.38, 17744.54, 80020000],
        ["2016-05-09", 17743.85, 17705.91, 17668.38, 17783.16, 85590000],
        ["2016-05-10", 17726.66, 17928.35, 17726.66, 17934.61, 75790000],
        ["2016-05-11", 17919.03, 17711.12, 17711.05, 17919.03, 87390000],
        ["2016-05-12", 17711.12, 17720.5, 17625.38, 17798.19, 88560000],
        ["2016-05-13", 17711.12, 17535.32, 17512.48, 17734.74, 86640000],
        ["2016-05-16", 17531.76, 17710.71, 17531.76, 17755.8, 88440000],
        ["2016-05-17", 17701.46, 17529.98, 17469.92, 17701.46, 103260000],
        ["2016-05-18", 17501.28, 17526.62, 17418.21, 17636.22, 79120000],
        ["2016-05-19", 17514.16, 17435.4, 17331.07, 17514.16, 95530000],
        ["2016-05-20", 17437.32, 17500.94, 17437.32, 17571.75, 111990000],
        ["2016-05-23", 17507.04, 17492.93, 17480.05, 17550.7, 87790000],
        ["2016-05-24", 17525.19, 17706.05, 17525.19, 17742.59, 86480000],
        ["2016-05-25", 17735.09, 17851.51, 17735.09, 17891.71, 79180000],
        ["2016-05-26", 17859.52, 17828.29, 17803.82, 17888.66, 68940000],
        ["2016-05-27", 17826.85, 17873.22, 17824.73, 17873.22, 73190000],
        ["2016-05-31", 17891.5, 17787.2, 17724.03, 17899.24, 147390000],
        ["2016-06-01", 17754.55, 17789.67, 17664.79, 17809.18, 78530000],
        ["2016-06-02", 17789.05, 17838.56, 17703.55, 17838.56, 75560000],
        ["2016-06-03", 17799.8, 17807.06, 17689.68, 17833.17, 82270000],
        ["2016-06-06", 17825.69, 17920.33, 17822.81, 17949.68, 71870000],
        ["2016-06-07", 17936.22, 17938.28, 17936.22, 18003.23, 78750000],
        ["2016-06-08", 17931.91, 18005.05, 17931.91, 18016, 71260000],
        ["2016-06-09", 17969.98, 17985.19, 17915.88, 18005.22, 69690000],
        ["2016-06-10", 17938.82, 17865.34, 17812.34, 17938.82, 90540000],
        ["2016-06-13", 17830.5, 17732.48, 17731.35, 17893.28, 101690000],
        ["2016-06-14", 17710.77, 17674.82, 17595.79, 17733.92, 93740000],
        ["2016-06-15", 17703.65, 17640.17, 17629.01, 17762.96, 94130000],
        ["2016-06-16", 17602.23, 17733.1, 17471.29, 17754.91, 91950000],
        ["2016-06-17", 17733.44, 17675.16, 17602.78, 17733.44, 248680000],
        ["2016-06-20", 17736.87, 17804.87, 17736.87, 17946.36, 99380000],
        ["2016-06-21", 17827.33, 17829.73, 17799.8, 17877.84, 85130000],
        ["2016-06-22", 17832.67, 17780.83, 17770.36, 17920.16, 89440000]
      ];

      function splitData(rawData) {
        var categoryData = [];
        var values = [];
        var volumes = [];
        for (var i = 0; i < rawData.length; i++) {
          categoryData.push(rawData[i].splice(0, 1)[0]);
          values.push(rawData[i]);
          volumes.push([
            i,
            rawData[i][4],
            rawData[i][0] > rawData[i][1] ? 1 : -1
          ]);
        }

        return {
          categoryData: categoryData,
          values: values,
          volumes: volumes
        };
      }

      function calculateMA(dayCount, data) {
        var result = [];
        for (var i = 0, len = data.values.length; i < len; i++) {
          if (i < dayCount) {
            result.push("-");
            continue;
          }
          var sum = 0;
          for (var j = 0; j < dayCount; j++) {
            sum += data.values[i - j][1];
          }
          result.push(+(sum / dayCount).toFixed(3));
        }
        return result;
      }

      var data = splitData(quoteData);
      //   debugger;
      var list = {
        name: [],
        line1: [],
        line2: [],
        line3: [],
        line4: []
      };
      let date = new Date("2018-03-30 09:29");
      let rm = Math.random() * 100;
      //   271
      for (let i = 0; i < 40; i++) {
        let setp = 1;
        if (i == 150) {
          setp = 90;
        }
        date.setMinutes(date.getMinutes() + setp);
        // yyyy-MM-dd
        list.name.push(date.Format("hh:mm"));
        // let r=Math.random();
        list.line1.push((rm / 10 + Math.random() * 10).toFixed(2));
        if (i < 30) {
          list.line2.push((100 + rm + Math.random() * 10).toFixed(2));
        }
        // list.line3.push((rm + Math.random() * 10).toFixed(2));
        list.line3.push(Math.random().toFixed(2));
        let r = (Math.random() * 10).toFixed(2);
        list.line4.push([i, r, r > 5 ? 1 : -1]);
      }
      app.log("list11:::", list);

      var option = {
        // backgroundColor: "#fff",
        // animation: false,
        legend: {
          bottom: 10,
          left: "center",
          data: ["Dow-Jones index", "MA5", "MA10", "MA20", "MA30"]
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross"
          },
          //   backgroundColor: "rgba(245, 245, 245, 0.8)",
          borderWidth: 1,
          //   borderColor: "#ccc",
          padding: 10,
          textStyle: {
            color: "#eee"
          },
          position: function(pos, params, el, elRect, size) {
            var obj = {
              top: 10
            };
            obj[["left", "right"][+(pos[0] < size.viewSize[0] / 2)]] = 30;
            return obj;
          },
          extraCssText: "width: 170px"
        },
        axisPointer: {
          link: {
            xAxisIndex: "all"
          },
          label: {
            backgroundColor: "#777"
          }
        },
        visualMap: {
          show: false,
          seriesIndex: 5,
          dimension: 2,
          pieces: [
            {
              value: 1,
              color: downColor
            },
            {
              value: -1,
              color: upColor
            }
          ]
        },
        grid: [
          {
            left: "40",
            right: "40",
            height: "320",
            top: 20
          },
          {
            left: "40",
            right: "40",
            top: "340",
            bottom: 20
            // height: "16%"
          }
        ],
        xAxis: [
          {
            show: false,
            type: "category",
            data: list.name,
            scale: true,
            boundaryGap: false,
            axisLine: {
              onZero: false
            },
            splitLine: {
              show: false
            },
            splitNumber: 20,
            min: "dataMin",
            max: "dataMax",
            axisPointer: {
              //
              label: {
                show: false
              },
              z: 100
            }
          },
          {
            type: "category",
            gridIndex: 1,
            data: list.name,
            scale: true,
            boundaryGap: false,
            axisLine: {
              onZero: false
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: true,
              lineStyle: {
                // 使用深浅的间隔色
                color: ["#aaa", "#ddd"]
              }
            },
            axisLabel: {
              //   show: false
            },
            splitNumber: 20,
            min: "dataMin",
            max: "dataMax",
            axisPointer: {
              //   label: {
              //     formatter: function(params) {
              //       var seriesValue = (params.seriesData[0] || {}).value;
              //       return (
              //         params.value +
              //         (seriesValue != null
              //           ? "\n" + echarts.format.addCommas(seriesValue)
              //           : "")
              //       );
              //     }
              //   }
            }
          }
        ],
        yAxis: [
          {
            scale: true,
            splitArea: {
              show: true
            }
          },
          {
            scale: true,
            // interval:0,
            splitArea: {
              show: true
            }
            // boundaryGap: ['20%', '20%']
          },
          {
            scale: true,
            gridIndex: 1,
            splitNumber: 2,
            axisLabel: {
              show: true
            },
            axisLine: {
              show: false
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: false
            }
          }
        ],

        series: [
          {
            name: "line1",
            type: "bar",
            data: list.line1,

            itemStyle: {
              normal: {
                color: upColor,
                color0: downColor,
                borderColor: null,
                borderColor0: null
              }
            }
            // tooltip: {
            //   formatter: function(param) {
            //     param = param[0];
            //     return [
            //       "Date: " + param.name + '<hr size=1 style="margin: 3px 0">',
            //       "Open: " + param.data[0] + "<br/>",
            //       "Close: " + param.data[1] + "<br/>",
            //       "Lowest: " + param.data[2] + "<br/>",
            //       "Highest: " + param.data[3] + "<br/>"
            //     ].join("");
            //   }
            // }
          },
          {
            name: "list.line2",
            type: "line",
            data: list.line2,
            smooth: true,
            lineStyle: {
              normal: {
                opacity: 0.5
              }
            }
          },
          {
            name: "list.line3",
            type: "line",
            data: list.line3,

            yAxisIndex: 1,
            smooth: true,
            lineStyle: {
              normal: {
                opacity: 0.5
              }
            }
          },

          {
            name: "list.line4",
            type: "bar",
            xAxisIndex: 1,
            yAxisIndex: 2,
            data: list.line4
          }
        ]
      };

      myChart.setOption(option);

      window.onresize = myChart.resize;

      for (let i = 0; i < 20; i++) {
        self.entrustList.push({
          ticker: "0000" + i,
          price: i
        });
        self.dealList.push({
          ticker: "0000" + i
        });
      }

      self.autoTableSize();
      window.addEventListener(
        "resize",
        function() {
          self.autoChartSize();
          self.autoTableSize();
        },
        false
      );
    });
  },
  methods: {
    sel() {
      app.log("entrustList::", this.entrustList);
    },
    changeCol(val) {
      app.log("val::", val);
      this.entrustCol = val;
    },
    changeColl(val) {
      app.log("val::", val);
      this.dealCol = val;
    },
    aa() {
      app.log("animal::", this.animal);
    },
    autoChartSize() {
      $(".y-chart").each((i, e) => {
        let el = $(e);
        el.width(el.parent().width());
        el.height(el.parent().height());
      });
    },
    autoTableSize() {
      let self = this;
      $(".i-table").each((i, e) => {
        let el = $(e);
        // debugger
        self.width[e.dataset.k] = el
          .parent()
          .parent()
          .width();

        self.height[e.dataset.k] =
          el
            .parent()
            .parent()
            .height() - 17;

        app.log(
          e.dataset.k,
          "w|h",
          self.width[e.dataset.k],
          self.height[e.dataset.k]
        );
      });
    }
  }
};
</script>