<template>
  <div class="content-wrapper">
    <div class="content-header">
      <ul class="y-tag">
        <router-link tag="li" to="/strategy/algorithm/strategies">
          <a>算法交易</a>
        </router-link>
      </ul>
    </div>
    <!-- <keep-alive> -->
    <router-view></router-view>
    <!-- </keep-alive> -->
  </div>
</template>
<style lang="scss">
.active2 {
  display: block;
  height: 100%;
}
</style>

<script>
export default {};
</script>