<template>
  <div class="content-body-right">
    <div class="tab-content">
      <div class="tab-top">
        <assets></assets>
        <div>
          <div class="tab-header">下单
            <div
              class="pull-right y-plus-visible"
              :title="CSVPath"
            >
              <div
                class="textShowOrHide file"
                v-show="!!CSVPath"
              >
                <a
                  href="javascript:;"
                  class="file addStyleDis"
                >
                  成功
                  <span class="y-yellow">{{CSVSuccess}}</span>
                </a>
                <a
                  href="javascript:;"
                  class="file addStyleDis"
                >
                  失败
                  <span class="y-red">{{CSVError}}</span>
                </a>
              </div>
              <div
                v-show="isShowDev"
                class="textShowOrHide file"
              >
                <a
                  href="javascript:;"
                  title="导入csv"
                  class="file"
                  v-show="!CSVPath"
                >
                  <i
                    class="f f-CSV1 f-blue"
                    title="导出csv"
                  ></i>
                  <input
                    type="file"
                    id="upload"
                    accept=".csv"
                    @change="upload"
                  >
                </a>
              </div>
              <div
                v-show="isShowDev"
                class="textShowOrHide file"
              >
                <a
                  href="javascript:;"
                  class="file"
                  v-show="!!CSVPath"
                >
                  <i
                    class="f f-stop f-blue"
                    title="停止"
                    @click="stopUpload"
                  ></i>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-body">
            <Tabs
              type="card"
              v-model="currentTabOrder"
              :animated="false"
            >
              <TabPane
                label="买入"
                name="buy"
              >
                <Form
                  class="y-form y-order"
                  :model="parbuyOrder"
                  ref="parbuyOrder"
                  :rules="parbuyOrderRule"
                  :label-width="78"
                >
                  <FormItem
                    label="证券代码"
                    prop="ticker"
                  >
                    <AutoComplete
                      size="small"
                      class="y-orange"
                      element-id="txtbuy"
                      ref="buy"
                      clearable
                      v-model="parbuyOrder.ticker"
                      @on-search="tickerSearchBuy"
                      @on-select="changeBuyXtpMarketType"
                      placeholder="请输入代码"
                    >
                      <Option
                        v-for="s in tickerList.buy"
                        :label="JSON.stringify(s)"
                        :value="s.code"
                        :key="s.code+'_'+s.marketId"
                      >
                        <span>{{ s.code }}</span>
                        <span class="pull-right">{{ s.name }}</span>
                      </Option>
                    </AutoComplete>
                  </FormItem>
                  <FormItem label="证券名称">{{buyTicketName}}</FormItem>
                  <FormItem
                    label="交易市场"
                    prop="xtpMarketType"
                  >
                    <Select
                      class="y-orange"
                      v-model.number="parbuyOrder.xtpMarketType"
                      size="small"
                    >
                      <Option
                        :value="1"
                        :key="1"
                        class="y-blue"
                      >深A</Option>
                      <Option
                        :value="2"
                        :key="2"
                        class="y-blue"
                      >沪A</Option>
                    </Select>
                  </FormItem>
                  <FormItem label="价格条件">
                    <Select
                      class="y-orange"
                      :disabled="!buyTicketName.length"
                      v-model.number="parbuyOrder.xtpPriceType"
                      size="small"
                    >
                      <Option
                        v-show="s.marketId.includes(parbuyOrder.xtpMarketType)"
                        v-for="(s,k) in dataType.XTP_PRICE_TYPE"
                        :value="s.i"
                        :key="k"
                        class="y-orange"
                      >{{s.name}}</Option>
                    </Select>
                  </FormItem>
                  <FormItem
                    label="价格(元)"
                    prop="price"
                  >
                    <InputNumber
                      v-if="parbuyOrder.xtpPriceType==1"
                      element-id="txtbuyPrice"
                      v-model="parbuyOrder.price"
                      :min="0"
                      :step="0.01"
                      class="y-orange"
                      size="small"
                    ></InputNumber>
                    <Input
                      v-else
                      disabled
                      v-model="parbuyOrder.price"
                      class="y-orange"
                      size="small"
                    />
                  </FormItem>
                  <FormItem class="y-block">
                    <div class="pull-left">
                      涨停
                      <span class="y-red">{{parbuyOrder.upperLimitPrice?parbuyOrder.upperLimitPrice:'--'}}</span>
                    </div>
                    <div class="pull-right">
                      跌停
                      <span class="y-green">{{parbuyOrder.lowerLimitPrice?parbuyOrder.lowerLimitPrice:'--'}}</span>
                    </div>
                  </FormItem>
                  <FormItem
                    label="数量(股)"
                    prop="quantity"
                  >
                    <InputNumber
                      v-model="parbuyOrder.quantity"
                      element-id="txtbuyQuantity"
                      :step="100"
                      :max="maxnum"
                      :precision="0"
                      class="y-orange"
                      size="small"
                    ></InputNumber>
                  </FormItem>
                  <FormItem
                    class="y-block"
                    :label-width="0"
                  >
                    <RadioGroup
                      v-model.number="parbuyOrder.scale"
                      class="y-orange"
                      type="button"
                      size="small"
                    >
                      <Radio :label="0.25">1/4</Radio>
                      <Radio :label="0.5">2/4</Radio>
                      <Radio :label="0.75">3/4</Radio>
                      <Radio :label="1">全部</Radio>
                    </RadioGroup>
                  </FormItem>
                  <FormItem class="y-block">
                    <Button
                      type="warning"
                      :loading="loading.insertOrder"
                      @click="insertOrder('parbuyOrder')"
                      size="small"
                      long
                    >
                      <span v-if="!loading.insertOrder">买入</span>
                      <span v-else>买入中...</span>
                    </Button>
                  </FormItem>
                </Form>
              </TabPane>
              <TabPane
                label="卖出"
                name="sell"
              >
                <Form
                  class="y-form y-order"
                  :model="parsellOrder"
                  ref="parsellOrder"
                  :rules="parsellOrderRule"
                  :label-width="78"
                >
                  <FormItem
                    label="证券代码"
                    prop="ticker"
                  >
                    <AutoComplete
                      size="small"
                      class="y-blue"
                      clearable
                      ref="sell"
                      v-model="parsellOrder.ticker"
                      element-id="txtsell"
                      @on-search="tickerSearchSell"
                      @on-select="changeBuyXtpMarketType"
                      placeholder="请输入代码"
                    >
                      <Option
                        v-for="s in tickerList.sell"
                        :label="JSON.stringify(s)"
                        :value="s.code"
                        :key="s.code+'_'+s.marketId"
                      >
                        <span>{{ s.code }}</span>
                        <span class="pull-right">{{ s.name }}</span>
                      </Option>
                    </AutoComplete>
                  </FormItem>
                  <FormItem label="证券名称">{{sellTicketName}}</FormItem>
                  <FormItem
                    label="交易市场"
                    prop="xtpMarketType"
                  >
                    <Select
                      class="y-blue"
                      v-model.number="parsellOrder.xtpMarketType"
                      size="small"
                    >
                      <Option
                        :value="1"
                        :key="1"
                        class="y-blue"
                      >深A</Option>
                      <Option
                        :value="2"
                        :key="2"
                        class="y-blue"
                      >沪A</Option>
                    </Select>
                  </FormItem>
                  <FormItem label="价格条件">
                    <Select
                      class="y-blue"
                      v-model.number="parsellOrder.xtpPriceType"
                      :disabled="!sellTicketName.length"
                      size="small"
                    >
                      <Option
                        v-show="s.marketId.includes(parsellOrder.xtpMarketType)"
                        v-for="(s,k) in dataType.XTP_PRICE_TYPE"
                        :value="s.i"
                        :key="k"
                        class="y-blue"
                      >{{s.name}}</Option>
                    </Select>
                  </FormItem>
                  <FormItem
                    label="价格(元)"
                    prop="price"
                  >
                    <InputNumber
                      v-if="parsellOrder.xtpPriceType==1"
                      element-id="txtsellPrice"
                      v-model="parsellOrder.price"
                      :min="0"
                      :step="0.01"
                      class="y-blue"
                      size="small"
                    ></InputNumber>
                    <Input
                      v-else
                      disabled
                      v-model="parsellOrder.price"
                      class="y-blue"
                      size="small"
                    />
                  </FormItem>
                  <FormItem class="y-block">
                    <div class="pull-left">
                      涨停
                      <span class="y-red">{{parsellOrder.upperLimitPrice ? parsellOrder.upperLimitPrice : '--'}}</span>
                    </div>
                    <div class="pull-right">
                      跌停
                      <span class="y-green">{{parsellOrder.lowerLimitPrice ? parsellOrder.lowerLimitPrice : '--'}}</span>
                    </div>
                  </FormItem>
                  <FormItem
                    label="数量(股)"
                    prop="quantity"
                  >
                    <InputNumber
                      v-model="parsellOrder.quantity"
                      element-id="txtsellQuantity"
                      :max="maxnum"
                      clearable
                      :min="0"
                      :step="100"
                      :precision="0"
                      class="y-blue"
                      size="small"
                    ></InputNumber>
                  </FormItem>
                  <FormItem
                    class="y-block"
                    :label-width="0"
                  >
                    <RadioGroup
                      v-model="parsellOrder.scale"
                      class="y-blue"
                      type="button"
                      size="small"
                    >
                      <Radio :label="0.25">1/4</Radio>
                      <Radio :label="0.5">2/4</Radio>
                      <Radio :label="0.75">3/4</Radio>
                      <Radio :label="1">全部</Radio>
                    </RadioGroup>
                  </FormItem>
                  <FormItem class="y-block">
                    <Button
                      type="primary"
                      :loading="loading.sell"
                      @click="sellOrder('parsellOrder')"
                      size="small"
                      long
                    >
                      <span v-if="!loading.sell">卖出</span>
                      <span v-else>卖出中...</span>
                    </Button>
                  </FormItem>
                </Form>
              </TabPane>
            </Tabs>
          </div>
        </div>
        <div>
          <Tabs
            type="card"
            :animated="false"
          >
            <TabPane label="10档行情">
              <quotes
                :subscribeMarketData="subscribeMarketData"
                :currentTabOrder="currentTabOrder"
                class="quotes"
                @on-changeCol="getCountData"
              ></quotes>
            </TabPane>
          </Tabs>
        </div>
        <div>
          <div
            class="tab-wrapper"
            style="height:100%;width:100%"
          >
            <div class="tab-bar">持仓
              <div class="pull-right">
                <a>
                  <i
                    class="f f-refresh"
                    @click="selPosition"
                    title="刷新"
                  ></i>
                </a>
              </div>
            </div>
            <div
              class="tab-table"
              style="position:relative"
            >
              <Table
                class="i-table"
                data-k="position"
                @on-row-dblclick="positionRowDblclick"
                :width="width.position"
                :height="height.position"
                :columns="position.col"
                :data="position.list"
                size="small"
                :border="true"
                ref="table"
              ></Table>
            </div>
            <div style="margin: 0px;background-color: #1e2127;">
              <div style="float: right;">
                <Page
                  :total="position.initList.length"
                  :page-size="position.page.size"
                  :page-size-opts="[10,20,50,100]"
                  show-sizer
                  show-elevator
                  size="small"
                  :current="position.page.index"
                  @on-change="positionChangePage"
                  @on-page-size-change="positionPageSizeChange"
                ></Page>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-bottom">
        <div class="tab-wrapper">
          <order
            xtpBusinessType="XTP_BUSINESS_TYPE_CASH"
            :withdrawalListen="withdrawalListen"
          ></order>
        </div>
      </div>
    </div>
    <Modal
      v-model="CSVmodal"
      width="300"
      class-name="vertical-center-modal"
    >
      <p slot="header">
        <span>导入数据有误,请修改或查看样例</span>
      </p>
      <div class="clearfix csvModal">
        <div class="pull-left">
          <!-- <p class="removeMargin"> -->
          <a
            :href="`${config.homeLocation}doc/order_csv_sample.csv`"
            download
          >
            <i
              class="f f-csv f-blue big"
              title="导出csv"
            ></i>
            下载样例
          </a>
          <!-- </p> -->
        </div>
        <div class="pull-right">
          <!-- <p class="removeMargin"> -->
          <a
            @click="openDescription"
            download
          >
            <i
              class="f f-pdf f-blue big"
              title="导出csv"
            ></i>
            使用说明
          </a>
          <!-- </p> -->
        </div>
      </div>
      <div
        slot="footer"
        class="clearfix"
      >
        <button
          class="pull-right buttonStyle"
          @click="CSVClose"
        >取消</button>
        <a
          href="javascript:;"
          title="导入csv"
          class="file renewUpload"
        >
          重新上传
          <input
            type="file"
            id="upload"
            accept=".csv"
            @change="upload"
          >
        </a>
      </div>
    </Modal>
  </div>
</template>
<style lang="scss" scoped >
div > a.renewUpload {
  margin: 0 20px 0 0;
  border-radius: 5px;
  background: #f90;
  padding: 3px 5px;
  color: #fff;
}
div > .buttonStyle {
  outline: none;
  color: #fff;
  background: #2d8cf0;
  border-radius: 5px;
  padding: 3px 5px;
  border: none;
}
.csvModal {
  padding: 0 20px;
  text-align: center;
}
.csvModal > div > a {
  display: inline-block;
}
.csvModal > div > a:hover {
  color: none;
}
.csvModal i.big {
  font-size: 80px;
  display: block;
}
div.textShowOrHide {
  display: inline-block;
}
.tab-top > div .tab-header a.addStyleDis:hover {
  color: #d0d0d4;
  text-decoration: none;
}
.tab-top {
  height: 445px;
  > div:nth-child(1) {
    width: 200px;
    flex-basis: 200px;
    background-color: #1e2127;
    tbody {
      width: 100%;
      display: table;
    }
  }
  > div:nth-child(2) {
    flex-basis: 250px;
    .ivu-tabs-tabpane {
      background-color: #221f20;
    }
  }
  > div:nth-child(4) {
    flex: 1;
    display: flex;
  }
  .y-block.ivu-form-item {
    padding-bottom: 5px;
    padding-left: 10px;
  }
}
.ivu-table td.info,
.ivu-table .info2 {
  color: #e0aa41;
}
.ivu-table td {
  transition: background-color 0.7s linear;
}
.ivu-table .up {
  background-color: #5f2328;
}
.y-block {
  .row {
    margin: 0;
    .col {
      padding: 0;
      &:last-child {
        padding: 0 0 0 10px;
      }
    }
    .ivu-btn-long {
      width: 100%;
    }
  }
}
</style>
<style lang="scss">
</style>

<script>
import Order from "@/components/order";
import Assets from "@/components/assets";
import Quotes from "@/components/quotes";

// const fs = require("fs");
var csvParse = require("csv-parse/lib/sync");
export default {
  components: {
    Order,
    Assets,
    Quotes
  },
  data() {
    let self = this;
    const priceValid = (rule, value, callback) => {
      if (value == null || value == "") {
        callback(new Error(""));
      } else {
        callback();
      }
    };

    return {
      // fs: null,
      isShowDev: false,
      withdrawalListen: false,
      enter: true,
      watcher: null,
      startByte: 0,
      csvObj: {
        addOrder: []
      },
      tofixid: false,
      tickerList: {
        buy: [],
        sell: []
      },
      width: {
        position: 0
      },
      height: {
        position: 0
      },
      currentLoading: "",
      currentTabOrder: "buy",
      currentTab: "entrust", //deal
      buyTicketName: "",
      sellTicketName: "",
      currentOrder: {},
      parEntrust: {
        state: -1
      },
      parbuyOrder: {
        orderXtpId: 0, // XTP系统订单ID，在XTP系统中唯一
        orderClientId: 13, //报单引用
        ticker: "", //合约代码
        xtpMarketType: null,
        price: null,
        stopPrice: 0.0,
        quantity: null,
        xtpPriceType: 1,
        xtpSideType: 1,
        xtpBusinessType: 0,
        scale: 0,
        lowerLimitPrice: null,
        upperLimitPrice: null
      },
      parbuyOrderRule: {
        ticker: [
          {
            required: true,
            message: "",
            trigger: "change" //trigger: "blur"
          }
        ],
        price: [
          {
            // required: true,
            // type: "number",
            validator: priceValid,
            message: "",
            trigger: "change"
            // min: 0
          }
        ],
        xtpMarketType: [
          {
            required: true,
            type: "number",
            message: "",
            trigger: "change",
            min: 1
          }
        ],
        quantity: [
          {
            required: true,
            trigger: "change",
            type: "number"
          }
        ]
      },
      parsellOrder: {
        orderXtpId: 0, // XTP系统订单ID，在XTP系统中唯一
        orderClientId: 13, //报单引用
        ticker: "", //合约代码
        xtpMarketType: null, //市场
        price: null, //价格
        stopPrice: 0.0,
        quantity: null, //委托数量
        xtpPriceType: 1,
        xtpSideType: 2, //买/卖
        xtpBusinessType: 0,
        scale: 0,
        maxQuantity: null,
        lowerLimitPrice: null,
        upperLimitPrice: null
      },
      parsellOrderRule: {
        ticker: [
          {
            required: true,
            message: "",
            trigger: "change" //trigger: "blur"
          }
        ],
        price: [
          {
            validator: priceValid,
            message: "",
            trigger: "change"
          }
        ],
        xtpMarketType: [
          {
            required: true,
            type: "number",
            message: "",
            trigger: "change",
            min: 1
          }
        ],
        quantity: [
          {
            required: true,
            type: "number",
            message: "",
            trigger: "change",
            min: 100
          }
        ]
      },
      buyPar: {
        code: "",
        type: "xjwt",
        price: 0,
        num: 0,
        numCopies: ""
      },
      sellPar: {
        code: "",
        type: "xjwt",
        price: 0,
        num: 0,
        numCopies: ""
      },
      parQueryOrders: {
        requestId: 1,
        xtpQueryOrderReq: {
          ticker: "",
          beginTime: 0,
          endTime: 0
        }
      },
      parSubscription: {
        buy: {
          tickers: [],
          count: 1,
          exchageId: 0
        },
        sell: {
          tickers: [],
          count: 1,
          exchageId: 0
        }
      },
      unbook: "",
      loading: {
        buy: false,
        sell: false
      },
      parCancelOrderXtpId: [],
      parCancelOrder: {
        orderXtpId: ""
      },
      subscribeMarketData: {
        ask: [],
        askQty: [],
        bid: [],
        bidQty: [],
        diffTradesCount: {
          Num: null,
          Cls: "",
          Symbol: ""
        },
        tradesCount: 0,
        diffAskQtyNum: [],
        diffAskQtyCls: [],
        diffAskQtySymbol: [],
        diffBidQtyNum: [],
        diffBidQtyCls: [],
        preClosePrice: 0,
        diffBidQtySymbol: [],
        dataTime: null
      },
      subscribeMarketDataObj: {},
      position: {
        page: {
          size: 20,
          index: 1
        },
        initList: [],
        list: [],
        col: [
          {
            title: "序号",
            width: 40,
            fixed: "left",
            align: "right",
            render: (h, par) => {
              let self = this;
              return h(
                "div",
                (self.position.page.index - 1) * self.position.page.size +
                par.index +
                1
              );
            }
          },
          {
            title: "证券代码",
            key: "ticker",
            fixed: "left",
            align: "center",
            width: 70
          },
          {
            title: "证券名称",
            key: "tickerName",
            fixed: "left",
            width: 110,
            align: "left",
            className: "y-yellow"
          },
          {
            title: "总持仓",
            key: "totalQty",
            width: 100,
            align: "right",
            sortable: true,
            className: "y-yellow",
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          },
          {
            title: "可卖持仓",
            key: "sellableQty",
            width: 100,
            align: "right",
            className: "y-error",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          },
          {
            title: "持仓成本",
            key: "avgPrice",
            width: 100,
            align: "right",
            className: "y-yellow",
            sortable: true
          },
          {
            title: "浮动盈亏",
            key: "unrealizedPnl",
            width: 100,
            align: "right",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == 0
                  ? "0.00"
                  : par.row[par.column.key].Format("0,0")
              );
            }
          },
          {
            title: "可申购/赎回数量",
            key: "purchaseRedeemableQty",
            width: 150,
            align: "right",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          }
        ]
      },
      parQueryTrader: {
        requestId: 1,
        xtpQueryTraderReq: {
          ticker: "",
          beginTime: 0,
          endTime: 0
        }
      },
      maxnum: 1000000,
      CSVSuccess: 0,
      CSVError: 0,
      uploadDdata: [],
      CSVPath: null,
      CSVPathTimer: null,
      orderList: [],
      currentRowNo: 1,
      CSVmodal: false,
      sessionIdMd5: null,
      ordinarySell: [],
    };
  },
  computed: {
    assets: function () {
      return this.$store.state.tran.assets;
    }
  },
  watch: {
    "$store.state.tran.positionList": function (val) {
      this.position.initList = val;
      this.position.list = this.PositionList();
    },
    "$store.state.tran.ordinarySell": function(val) {
      this.ordinarySell = val;
    },
    "$store.state.tran.isLogin": function (val) {
      val ? this.init() : this.clear();
    },
    "parbuyOrder.scale"(val) {
      let self = this;
      let price =
        self.parbuyOrder.price == "市价"
          ? self.parbuyOrder.upperLimitPrice
          : self.parbuyOrder.price;
      let quantity =
        Math.floor((((this.assets.buyingPower || 0) / price) * val) / 100) *
        100;
      quantity = Number.isNaN(quantity) ? null : quantity;
      this.parbuyOrder.quantity = quantity > 1000000 ? 1000000 : quantity;
    },
    "parsellOrder.scale"(val) {
      let self = this;
      let quantity = (this.parsellOrder.maxQuantity || null) * val;
      if (quantity > 1000000) {
        self.parsellOrder.quantity = 1000000;
      } else if (quantity < 100) {
        self.parsellOrder.quantity = quantity;
      } else {
        self.parsellOrder.quantity = Math.floor(quantity / 100) * 100;
      }
    },
    "parbuyOrder.xtpPriceType"(val) {
      if (val == 1) {
        this.parbuyOrder.price =
          this.subscribeMarketData.ask[0] == undefined
            ? null
            : this.subscribeMarketData.ask[0];
      } else {
        this.parbuyOrder.price = "市价";
      }
    },
    "parsellOrder.xtpPriceType"(val) {
      if (val == 1) {
        this.parsellOrder.price =
          this.subscribeMarketData.bid[0] == undefined
            ? null
            : this.subscribeMarketData.bid[0];
      } else {
        this.parsellOrder.price = "市价";
      }
    },
    "parbuyOrder.ticker"(val) {
      if (val && val.length != 6) {
        this.buyTicketName = "";
      } else if (val && val.length == 6) {
        let ticker = app.ticker.all().find(it => it.code == val);
        if (ticker) this[this.currentTabOrder + "TicketName"] = ticker.name;
        this.changeBuyXtpMarketType(val, true);
      }
    },
    "parsellOrder.ticker"(val) {
      if (val && val.length != 6) {
        this.sellTicketName = "";
      } else if (val && val.length == 6 && this.sellTicketName == "") {
        let ticker = this.position.initList.find(it => it.ticker == val);
        if (ticker)
          this[this.currentTabOrder + "TicketName"] = ticker.tickerName;
        this.changeBuyXtpMarketType(val, true);
      }
    },
    // "parbuyOrder.xtpMarketType"(val) {
    //   this.judgeMarket(val);
    // },
    // "parsellOrder.xtpMarketType"(val) {
    //   this.judgeMarket(val);
    // },
    currentTab(val) {
      let self = this;
      if (val == "deal" && self.$store.state.tran.dealList.length == 0) {
        self.$socket.emit("queryTrades", self.parQueryTrader);
      }
    },
    // 控制显示哪只股票10档行情
    currentTabOrder(val, oldVal) {
      let self = this;
      self.subscribeMarketData = self.subscribeMarketDataObj[
        self[`par${val}Order`].ticker
      ] || {
          ask: [],
          askQty: [],
          bid: [],
          bidQty: [],
          diffTradesCount: {
            Num: null,
            Cls: "",
            Symbol: ""
          },
          tradesCount: 0,
          diffAskQtyNum: [],
          diffAskQtyCls: [],
          diffAskQtySymbol: [],
          diffBidQtyNum: [],
          diffBidQtyCls: [],
          diffBidQtySymbol: [],
          preClosePrice: 0,
          dataTime: null,
          SCVOrderData: []
        };
    },
    "parbuyOrder.price"(val) {
      let self = this;
      if (self.tofixid) {
        var reg = new RegExp(/(\d+.{1})((\d{2})\d*(\d{1}))/);
        if (reg.test(val)) {
          self.$set(
            self.parbuyOrder,
            "price",
            parseFloat(val.toString().replace(reg, "$1$3$4"))
          );
        }
      } else {
        var reg = new RegExp(/(\d+.{1})((\d{1})\d*(\d{1}))/);
        if (reg.test(val)) {
          self.$set(
            self.parbuyOrder,
            "price",
            parseFloat(val.toString().replace(reg, "$1$3$4"))
          );
        }
      }
      document.getElementById("txtbuyPrice").value = self.parbuyOrder.price;
    },
    "parsellOrder.price"(val) {
      let self = this;
      if (self.tofixid) {
        var reg = new RegExp(/(\d+.{1})((\d{2})\d*(\d{1}))/);
        if (reg.test(val)) {
          self.$set(
            self.parsellOrder,
            "price",
            parseFloat(val.toString().replace(reg, "$1$3$4"))
          );
        }
      } else {
        var reg = new RegExp(/(\d+.{1})((\d{1})\d*(\d{1}))/);
        if (reg.test(val)) {
          self.$set(
            self.parsellOrder,
            "price",
            parseFloat(val.toString().replace(reg, "$1$3$4"))
          );
        }
      }
      document.getElementById("txtsellPrice").value = self.parsellOrder.price;
    }
  },
  sockets: {
    insertOrderTokenRsp(data) {
      let self = this;
      let par = self[`par${self.currentTabOrder}Order`];
      if (self[`par${self.currentTabOrder}Order`].xtpPriceType != 1) {
        par = Object.assign({}, par);
        par.price = 0;
      }
      self.$socket.emit("insertOrder", {
        insertOrderToken: data.insertOrderToken,
        tradeInsertOrder: par
      });
      let buyOrSellTickerName = `${self.currentTabOrder}TicketName`;
      self.$refs[`par${self.currentTabOrder}Order`].resetFields();
      self[buyOrSellTickerName] = "";
    },

    insertOrderResult(data) {
      if (data.code !== 0) {
        this.$Message.error({
          content:
            "下单失败:" +
            data.msg +
            " , insertOrderToken = " +
            data.insertOrderToken,
          duration: 0,
          closable: true
        });
      }
    },
    batchInsertOrderResult(data) {
      data.code == -1 && this.$Message.error(data.msg);
    }
  },
  sockets2: {
    depthMarketDataRsp(data) {
      this.marketDataDeal(data);
    }
  },
  created() {
    let self = this;
    self.$nextTick(() => {
      self.autoTableSize();
      setTimeout(() => {
        self.position.initList = self.$store.state.tran.positionList;
        self.position.list = self.PositionList();
        self.$store.state.tran.isLogin ? self.init() : self.clear();
        self.ordinarySell = self.$store.state.tran.ordinarySell;
        self.CSVPath = app.Cache.sget(app.Cache.key.CSVPath.toKeyName());

        if (self.CSVPath) {
          // self.currentRowNo =
          //   app.Cache.sget(app.Cache.key.CSVCurrentRowNo.toKeyName()) == null
          //     ? 1
          //     : app.Cache.sgetInt(app.Cache.key.CSVCurrentRowNo.toKeyName());
          // self.CSVPathTimer = setInterval(() => {
          //   self.readFile();
          // }, 3000);

          self.$store.commit("ISRECORDORDER", true);
          self.CSVStartByte = app.Cache.sgetInt(
            app.Cache.key.CSVStartByte.toKeyName()
          );
          self.readCSV();
          self.watcher = self.chokidar.watch(self.CSVPath, {
            ignored: /(^|[\/\\])\../,
            persistent: true
          });
          self.watcher.on("change", path => {
            self.readCSV();
          });
        }
      }, 0);
    });
  },
  mounted: function () {
    let self = this;
    self.$nextTick(function () {
      document.querySelectorAll(".y-form").forEach(it => {
        let elList = it.querySelectorAll(".ivu-input,.ivu-input-number-input");
        elList[0].focus();
        for (let i = 0; i < elList.length; i++) {
          elList[i].addEventListener("keyup", e => {
            if (e.keyCode == 13) {
              if (self.enter === false) {
                self.enter = true;
              } else {
                if (
                  e.currentTarget.id == "txtbuyPrice" ||
                  e.currentTarget.id == "txtsellPrice"
                ) {
                  elList[2].focus();
                }
              }
              if (i == elList.length - 1) {
                it.querySelector(".ivu-btn").click();
              }
            }
          });
        }
      });

      window.addEventListener(
        "resize",
        function () {
          self.autoTableSize();
        },
        false
      );
    });
  },
  destroyed() {
    this.parSubscription.buy.exchageId &&
      this.$socket2.emit("unSubscribeMarketData", this.parSubscription.buy);
    this.parSubscription.sell.exchageId &&
      this.$socket2.emit("unSubscribeMarketData", this.parSubscription.sell);
    // if (this.CSVPathTimer) clearInterval(self.CSVPathTimer);

    this.CSVPath &&
      this.chokidar.unwatch &&
      this.chokidar.unwatch(this.CSVPath);
    this.$store.commit("ISRECORDORDER", false);
  },
  methods: {
    init() {
      this.sessionIdMd5 = JSON.parse(
        sessionStorage.getItem("user_")
      ).sessionIdMd5;
      if (sessionStorage.getItem("isShowDev_"))
        this.isShowDev =
          sessionStorage.getItem("isShowDev_") == "false" ? false : true;
    },
    clear() {
      // if (this.CSVPathTimer) clearInterval(self.CSVPathTimer);
      this.stopUpload();
      this.isShowDev = false;
    },
    /**
     * 页面中买入,卖出自动完成input输入框的数据获得
     */
    tickerSearchBuy(val) {
      this.tickerList.buy = app.tickerSearch(val, [
        "XTP_TICKER_TYPE_STOCK",
        "XTP_TICKER_TYPE_INDEX",
        "XTP_TICKER_TYPE_FUND"
      ]);
    },
    tickerSearchSell(val) {
      let arr = this.searchTicker(val, "ordinarySell");
      this.tickerList.sell = arr;
    },
    searchTicker(val, type) {
      let arr = [];
      let len = 8;
      if (val) {
        for (let i = 0; i < len + 1 - val.length; i++) {
          let list = this.ordinarySell.filter(
            it =>
              (it.name.indexOf(val) == i ||
                it.code.indexOf(val) == i ||
                it.kw.indexOf(val) == i) &&
              !arr.find(
                it2 => it2.code == it.code && it2.marketId == it.marketId
              )
          );
          list.forEach(it => {
            if (
              !arr.find(
                it2 => it2.code == it.code && it2.exchangeId == it.exchangeId
              )
            ) {
              arr.push(it);
              if (arr.length == len) {
                return arr;
              }
            }
          });
          if (arr.length >= len) {
            return arr.slice(0, len);
          }
        }
      } else {
        // arr = $.ticker[type].slice(0, 6)
      }
      return arr;
    },
    /**
     * 买入,卖出模态框操作
     */
    insertOrder(name) {
      let self = this;
      if (self.parbuyOrder.quantity < 100) {
        self.$Message.warning("委托数量不能低于100");
        return;
      }
      self.$refs[name].validate(valid => {
        if (valid) {
          if (app.isModal) {
            self.$Modal.confirm({
              title: "买入确认",
              width: 280,
              content: `<div  class="y-confirm">
                                <div class="row">
                                <div class="col text-right">证券代码</div>
                                <div class="col y-red">${
                self.parbuyOrder.ticker
                }</div>
                                </div>
                                <div class="row">
                                <div class="col text-right">证券名称</div>
                                <div class="col y-red">${
                self.buyTicketName
                }</div>
                                </div>
                                <div class="row">
                                <div class="col text-right">委托价格</div>
                                <div class="col y-red">${
                self.dataTypeAll.XTP_PRICE_TYPE[
                  self.parbuyOrder.xtpPriceType
                ].name
                }</div>
                                </div>
                                <div class="row">
                                <div class="col text-right">价格</div>
                                <div class="col y-red">${
                self.parbuyOrder.price
                }</div>
                                </div>
                                <div class="row">
                                <div class="col text-right">委托数量</div>
                                <div class="col y-red">${
                self.parbuyOrder.quantity
                }</div>
                                </div>
                            </div>`,
              onOk: () => {
                self.buyOrSellOperating();
              },
              onCancel: () => {
                self.$Modal.remove();
              }
            });
          } else {
            self.buyOrSellOperating();
          }
        } else {
          self.$Message.error("请填写完整的买入信息！");
        }
      });
    },
    sellOrder(name) {
      let self = this;
      // let txtsell = document.getElementById("txtsell");
      // app.log("this.parsellOrder.quantity::", this.parsellOrder.quantity);
      // if (!self.sellTicketName) {
      //   self.parsellOrder.ticker = null;
      //   self.$Message.warning("请填写支持的股票");
      //   txtsell.focus();
      //   return;
      // }
      self.$refs[name].validate(valid => {
        if (valid) {
          if (app.isModal) {
            self.$Modal.confirm({
              title: "卖出确认",
              width: 280,
              content: `<div  class="y-confirm">
                                    <div class="row">
                                    <div class="col text-right">证券代码</div>
                                    <div class="col y-red">${
                self.parsellOrder.ticker
                }</div>
                                    </div>
                                    <div class="row">
                                    <div class="col text-right">证券名称</div>
                                    <div class="col y-red">${
                self.sellTicketName
                }</div>
                                    </div>
                                    <div class="row">
                                    <div class="col text-right">委托价格</div>
                                    <div class="col y-red">${
                self.dataTypeAll.XTP_PRICE_TYPE[
                  self.parsellOrder.xtpPriceType
                ].name
                }</div>
                                    </div>
                                    <div class="row">
                                    <div class="col text-right">价格</div>
                                    <div class="col y-red">${
                self.parsellOrder.price
                }</div>
                                    </div>
                                    <div class="row">
                                    <div class="col text-right">委托数量</div>
                                    <div class="col y-red">${
                self.parsellOrder.quantity
                }</div>
                                    </div>
                                </div>`,
              onOk: () => {
                self.buyOrSellOperating();
              }
            });
          } else {
            self.buyOrSellOperating();
          }
        } else {
          this.$Message.error("请填写完整的卖出信息！");
        }
      });
    },
    /**
     * 页面中输入框中填入证券代码,获得行情
     */
    changeBuyXtpMarketType(val, enterKey) {
      // enter:是否是手动输入六位
      let self = this;
      let isEnter = !val;
      let buyOrSellOrder = self[`par${self.currentTabOrder}Order`];
      val = val || buyOrSellOrder.ticker;
      let parS = self.parSubscription[self.currentTabOrder];
      parS.tickers[0] != val && self.clearSubscribeMarketData();
      buyOrSellOrder.price = buyOrSellOrder.xtpPriceType == 1 ? null : "市价";
      buyOrSellOrder.quantity = null;
      buyOrSellOrder.scale = null;
      self.currentOrder = {};
      if (self.currentTabOrder == "sell") {
        self.currentOrder =
          self.position.list.find(it => it.ticker == val) || {};
      }
      if (val.length != 6) {
        return;
      }
      let ticker;
      let tickerTemp = self.$refs[self.currentTabOrder].$refs.select
        .selectedSingle
        ? JSON.parse(
          self.$refs[self.currentTabOrder].$refs.select.selectedSingle
        )
        : null;
      if (tickerTemp && tickerTemp.code == val) {
        ticker = tickerTemp;
      } else {
        ticker = self.tickerList[self.currentTabOrder].find(
          it => it.code == val
        );
      }
      if (ticker) {
        parS.exchageId = ticker.exchangeId;
        parS.tickers = [val];
        buyOrSellOrder.xtpMarketType = ticker.marketId;
        if (ticker.code.slice(0, 2) == "51" || ticker.code.slice(0, 2) == "15") {

          self.tofixid = true;
        }
        else {
          self.tofixid = false;
        }
        let tickers = app.ticker
        .all()
        .find(
          it =>
            it.code == ticker.code &&
            it.exchangeId == ticker.exchangeId
        );
        buyOrSellOrder.lowerLimitPrice = self.tofixid
          ? tickers.lowerLimitPrice.toFixed(3)
          : tickers.lowerLimitPrice.toFixed(2);
        buyOrSellOrder.upperLimitPrice = self.tofixid
          ? tickers.upperLimitPrice.toFixed(3)
          : tickers.upperLimitPrice.toFixed(2);
        self.$socket2.emit("subscribeMarketData", parS);
      } else {

        buyOrSellOrder.xtpMarketType = null;
        parS.exchageId = 0;
        buyOrSellOrder.lowerLimitPrice = null;
        buyOrSellOrder.upperLimitPrice = null;
      }
      if (
        val.startsWith("0") ||
        val.startsWith("15") ||
        val.startsWith("16") ||
        val.startsWith("17") ||
        val.startsWith("200") ||
        val.startsWith("300") ||
        val.startsWith("400")
      ) {
        ticker = {
          code: val,
          name: " ",
          exchangeId: 2,
          marketId: 1
        };
      } else if (
        val.startsWith("130") ||
        val.startsWith("20") ||
        val.startsWith("31") ||
        val.startsWith("5") ||
        val.startsWith("6") ||
        val.startsWith("7") ||
        val.startsWith("9")
      ) {
        ticker = {
          code: val,
          name: " ",
          exchangeId: 1,
          marketId: 2
        };
      }
      if (self.currentTabOrder == "sell") {
        let dmp = self.position.list.find(
          it => it.ticker == ticker.code && it.marketId == ticker.marketId
        );
        self.parsellOrder.maxQuantity = dmp.sellableQty;
      }
      let txt;
      if (buyOrSellOrder.xtpPriceType == 1) {
        txt = "Price";
      } else {
        txt = "Quantity";
      }
      // 如果不是手动输入六位,则不让第三个input聚焦
      if (enterKey !== true) {
        this.enter = false;
      }
      document
        .getElementById(`txt${self.currentTabOrder}${isEnter ? "" : txt}`)
        .focus();
    },
    clearSubscribeMarketData() {
      this.subscribeMarketData = {
        ask: [],
        askQty: [],
        bid: [],
        bidQty: [],
        diffTradesCount: {
          Num: null,
          Cls: "",
          Symbol: ""
        },
        tradesCount: 0,
        diffAskQtyNum: [],
        diffAskQtyCls: [],
        diffAskQtySymbol: [],
        diffBidQtyNum: [],
        diffBidQtyCls: [],
        diffBidQtySymbol: [],
        preClosePrice: 0,
        cTime: ""
      };
    },
    marketDataDeal(data) {
      let self = this;
      let subscribeMarketData = self.subscribeMarketDataObj[data.ticker] || {
        ask: [],
        askQty: [],
        bid: [],
        bidQty: [],
        diffTradesCount: {
          Num: null,
          Cls: "",
          Symbol: ""
        },
        tradesCount: 0,
        diffAskQtyNum: [],
        diffAskQtyCls: [],
        diffAskQtySymbol: [],
        diffBidQtyNum: [],
        diffBidQtyCls: [],
        preClosePrice: 0,
        diffBidQtySymbol: [],
        dataTime: null
      };
      // app.log(self.subscribeMarketDataObj[data.ticker]);
      data.tradesCount = Math.round(data.tradesCount / 100);
      data.dataTime = data.dataTime.toDate("hh:mm:ss");
      if (subscribeMarketData.tradesCount) {
        let tradesCountNum = Math.round(
          data.tradesCount - subscribeMarketData.tradesCount
        );

        data.diffTradesCount = {
          Num: tradesCountNum == 0 ? null : Math.abs(tradesCountNum),
          Cls:
            tradesCountNum == 0 ? "" : tradesCountNum > 0 ? "y-red" : "y-green",
          Symbol: tradesCountNum == 0 ? "" : tradesCountNum > 0 ? "+" : "-"
        };
      } else {
        data.diffTradesCount = {
          Num: null,
          Cls: "",
          Symbol: ""
        };
      }
      data.diffAskQtyNum = [];
      data.diffAskQtyCls = [];
      data.diffAskQtySymbol = [];

      data.diffBidQtyNum = [];
      data.diffBidQtyCls = [];
      data.diffBidQtySymbol = [];
      for (let i = 0; i < data.askQty.length; i++) {
        data.askQty[i] = Math.round(data.askQty[i] / 100);
        data.bidQty[i] = Math.round(data.bidQty[i] / 100);
        if (subscribeMarketData.askQty.length) {
          let askI = subscribeMarketData.ask.findIndex(it => {
            return it == data.ask[i];
          });
          let num =
            askI == -1 ? 0 : data.askQty[i] - subscribeMarketData.askQty[askI];

          let bidI = subscribeMarketData.bid.findIndex(it => {
            return it == data.bid[i];
          });
          let bidNum =
            bidI == -1 ? 0 : data.bidQty[i] - subscribeMarketData.bidQty[bidI];

          data.diffAskQtyNum.push(num == 0 ? null : Math.abs(num));
          data.diffAskQtyCls.push(
            num == 0 ? "" : num > 0 ? "y-red" : "y-green"
          );
          data.diffAskQtySymbol.push(num == 0 ? "" : num > 0 ? "+" : "-");

          data.diffBidQtyNum.push(bidNum == 0 ? null : Math.abs(bidNum));
          data.diffBidQtyCls.push(
            bidNum == 0 ? "" : bidNum > 0 ? "y-red" : "y-green"
          );
          data.diffBidQtySymbol.push(bidNum == 0 ? "" : bidNum > 0 ? "+" : "-");
        }
      }
      self.subscribeMarketDataObj[data.ticker] = data;
      if (
        self[`par${self.currentTabOrder}Order`].ticker &&
        self[`par${self.currentTabOrder}Order`].ticker.length == 6 &&
        self.subscribeMarketDataObj[
        self[`par${self.currentTabOrder}Order`].ticker
        ]
      ) {
        self.subscribeMarketData =
          self.subscribeMarketDataObj[
          self[`par${self.currentTabOrder}Order`].ticker
          ];
        if (self[`par${self.currentTabOrder}Order`].xtpPriceType == 1) {
          self.currentTabOrder == "buy"
            ? (self.parbuyOrder.price =
              self.parbuyOrder.price ||
              self.subscribeMarketDataObj[
                self[`par${self.currentTabOrder}Order`].ticker
              ].ask[0])
            : (self.parsellOrder.price =
              self.parsellOrder.price ||
              self.subscribeMarketDataObj[
                self[`par${self.currentTabOrder}Order`].ticker
              ].bid[0]);
        } else {
          self[`par${self.currentTabOrder}Order`].price = "市价";
        }
      }
      //}
    },
    //页面中持仓dbclick时添加数据到卖入中
    positionRowDblclick(row) {
      let self = this;
      this.currentTabOrder = "sell";
      app.log(this.currentTabOrder);
      self.currentOrder = row;
      self.parsellOrder.ticker = row.ticker;
      self.parsellOrder.maxQuantity = row.sellableQty;
      self.parsellOrder.scale = null;
      self.parsellOrder.quantity = null;
      self.parsellOrder.xtpMarketType =
        app.dataType.XTP_MARKET_TYPE[row.xtpMarketType].i;
      app.log("111:", self.parsellOrder);
      let ticker = app.ticker
        .all()
        .find(
          it =>
            it.code == row.ticker &&
            it.marketId == self.parsellOrder.xtpMarketType
        );
      self.$refs[self.currentTabOrder].$refs.select.selectedSingle = !ticker
        ? ""
        : JSON.stringify(ticker);

      ticker &&
        ((self.sellTicketName = row.tickerName),
          self.changeBuyXtpMarketType(row.ticker));
    },
    cancelOrder() {
      let self = this;
      self.parCancelOrderXtpId.forEach(it => {
        self.$socket.emit("cancelOrder", {
          orderXtpId: it.orderXtpId
        });
      });
      self.$refs.entrust.selectAll(false);
    },
    selPosition() {
      this.$socket.emit("queryPosition", { ticker: "", requestId: 5 });
    },
    //获取10档行情页面数据添加到输入框中
    getCountData(val) {
      if (this.currentTabOrder == "buy") {
        // this.parbuyOrder.quantity =
        //     val.tdThree > this.maxnum ? this.maxnum : val.tdThree;
        this.parbuyOrder.price = val.tdTwo;
      } else {
        // this.parsellOrder.quantity =
        //     val.tdThree > this.maxnum ? this.maxnum : val.tdThree;
        this.parsellOrder.price = val.tdTwo;
      }
    },
    PositionList() {
      let self = this;
      let start = (self.position.page.index - 1) * self.position.page.size;
      let end =
        start + self.position.page.size > self.position.initList.length
          ? self.position.initList.length
          : start + self.position.page.size;
      return self.position.initList.slice(start, end);
    },
    positionChangePage(index) {
      this.position.page.index = index;
      this.position.list = this.PositionList();
    },
    positionPageSizeChange(size) {
      this.position.page.index = 1;
      this.position.page.size = size;
      this.position.list = this.PositionList();
    },
    // 页面中新添加批量下单时的操作
    upload(el) {
      let self = this;
      if (self.CSVmodal) {
        self.CSVmodal = false;
        self.stopUpload();
      }
      if (self.uploadDdata.length) self.uploadDdata = [];
      let file = el.currentTarget.files[0];
      self.CSVPath = file.path;
      app.Cache.sset(app.Cache.key.CSVPath.toKeyName(), self.CSVPath);
      el.currentTarget.value = "";
      if (self.CSVPath) {
        self.readCSV();
        self.$store.commit("ISRECORDORDER", true);
        self.watcher = self.chokidar.watch(self.CSVPath, {
          ignored: /(^|[\/\\])\../,
          persistent: true
        });
        self.watcher.on("change", path => {
          self.readCSV();
        });
        // self.CSVPathTimer = setInterval(() => {
        //   self.readFile();
        // }, 3000);
      }
    },
    stopUpload() {
      let self = this;
      if (self.CSVPath) {
        self.watcher.unwatch(self.CSVPath);
        self.watcher.close();
      }

      self.CSVPath = null;
      app.Cache.sdel(app.Cache.key.CSVPath.toKeyName());
      self.startByte = 0;
      self.CSVSuccess = 0;
      self.CSVError = 0;
      app.Cache.sset(app.Cache.key.CSVStartByte.toKeyName(), self.startByte);
      self.$store.commit("ISRECORDORDER", false);
      // self.$Message.success("停止读取csv文件成功");

      // if (self.CSVPathTimer) clearInterval(self.CSVPathTimer);
    },
    readFile() {
      let self = this;
      self.fs.readFile(self.CSVPath, { encoding: "utf8" }, (err, data) => {
        try {
          self.readFiles(data);
        } catch (e) {
          let flag = true;
          if (data.substr(data.length - 1) == 0) {
            let csvData = data.substr(0, data.length - 1);
            // console.log(csvData);
            self.readFiles(csvData, flag);
          }
          self.stopUpload();
        }
      });
    },
    CSVClose() {
      this.CSVmodal = false;
    },
    readFiles(data, flag = false) {
      let self = this;
      let arr = csvParse(data, { from: self.currentRowNo });
      if (flag) {
        arr = arr.slice(self.orderList);
      }
      self.currentRowNo = self.currentRowNo + arr.length;
      app.Cache.sset(
        app.Cache.key.CSVCurrentRowNo.toKeyName(),
        self.currentRowNo
      );
      arr.forEach(it => {
        var obj = {
          orderXtpId: 0, // XTP系统订单ID，在XTP系统中唯一
          // orderClientId: 13, //报单引用
          stopPrice: 0.0,
          type: parseInt(it[0]),
          orderClientId: it[1],
          ticker: it[2].substr(0, 6),
          xtpMarketType:
            it[2].substr(-2) === "SZ" ? 1 : it[2].substr(-2) === "SH" ? 2 : "",
          price: it[3] == "" ? "" : parseInt(it[3]),
          quantity: it[4] == "" ? "" : parseInt(it[4]),
          xtpPriceType: it[5] == "" ? "" : parseInt(it[5]),
          xtpSideType: it[6] === "B" ? 1 : it[6] === "S" ? 2 : "",
          xtpBusinessType: it[7] == "" ? "" : parseInt(it[7])
        };
        if (obj.type == 1) {
          //   进行简单格式校验
          if (
            obj.ticker.length == 6 &&
            obj.xtpMarketType !== "" &&
            obj.price !== "" &&
            obj.quantity !== "" &&
            obj.xtpPriceType !== "" &&
            obj.xtpSideType !== "" &&
            obj.xtpBusinessType !== ""
          ) {
            self.CSVSuccess += 1;
            self.orderList.push(obj);
          } else {
            self.CSVError += 1;
            if (self.CSVError === 1) {
              self.CSVmodal = true;
            }
          }
        } else if (obj.type == 2) {
          if (obj.orderClientId !== "") {
            self.CSVSuccess += 1;
            self.$socket.emit("cancelOrder", {
              orderXtpId: obj.orderClientId
            });
          } else {
            self.CSVError += 1;
            if (self.CSVError === 1) {
              self.CSVmodal = true;
            }
          }
          // 执行撤单
        } else if (obj.type == "0") {
          // 停止读取文件
          self.stopUpload();
        }
      });
      self.orderList.length > 0 && self.$socket.emit("getInsertOrderToken", {});
    },
    openDescription() {
      let self = this;
      let shell = self.$electron && self.$electron.shell;
      shell.openExternal(`${self.config.homeLocation}doc/csv下单使用说明.pdf`);
    },
    buyOrSellOperating() {
      let self = this;
      self.currentLoading = "insertOrder";
      let par = self[`par${self.currentTabOrder}Order`];
      if (par.xtpPriceType != 1) {
        par = Object.assign({}, par);
        par.price = 0;
      }
      self.orderList.push(par);
      self.$socket.emit("getInsertOrderToken", {});
      setTimeout(() => {
        if (self.loading[`${self.currentTabOrder}`]) {
          self.loading[`${self.currentTabOrder}`] = false;
          self.$Message.error(`请求服务器超时！`);
        }
        document.getElementById(`txt${self.currentTabOrder}`).focus();
      }, 1000);
    },
    readCSV() {
      let self = this;
      // let startByte = self.fs.readFileSync(self.CSVPath).byteLength;
      let startByte = self.fs.lstatSync(self.CSVPath).size;
      if (startByte < self.startByte) {
        console.log("self.startByte:::", startByte);
        setTimeout(() => {
          startByte = self.fs.lstatSync(self.CSVPath).size;
          if (startByte < self.startByte) {
            console.error("出现的最新读取文件大小比之前的大小小的情况");
            debugger;
          } else {
            self.readData(startByte);
          }
        }, 1000);
      } else {
        self.readData(startByte);
      }
    },
    readData(startByte) {
      let self = this;
      if (!self.CSVPath) return;
      let userObj = {};
      //  debugger
      let userList = app.Cache.getArray(app.Cache.key.account.toKeyName());

      userList.forEach(it => {
        if (it.status) userObj[it.username] = it;
      });
      let addOrder = [],
        cancelOrder = [];
      let input = self.fs.createReadStream(self.CSVPath, {
        start: self.startByte
      });
      let rl = self.readline.createInterface({
        input: input,
        crlfDelay: Infinity
      });

      self.startByte = startByte;
      app.Cache.sset(app.Cache.key.CSVStartByte.toKeyName(), self.startByte);

      rl.on("line", line => {
        // 解析行数据
        if (!self.CSVPath) return;
        console.log(`文件的单行内容：${line}`);
        let it = line.split(",");

        if (!it.length) {
          return;
        }
        let item = null;
        switch (it[0].trim()) {
          case "0":
            self.CSVPath = null;
            self.stopUpload();
            break;
          case "1":
            item = {
              custId: it[1],
              // sessionId: userObj[it[1]].sessionIdMd5,
              sessionId: self.sessionIdMd5,
              orderXtpId: 0, // XTP系统订单ID，在XTP系统中唯一
              // orderClientId: 13, //报单引用
              type: parseInt(it[0]),
              orderClientId: 0,
              stopPrice: 0.0,
              ticker: it[2].substr(0, 6),
              xtpMarketType:
                it[2].substr(-2) === "SZ"
                  ? 1
                  : it[2].substr(-2) === "SH"
                    ? 2
                    : "",
              price: it[3] == "" ? "" : parseFloat(it[3]),
              quantity: it[4] == "" ? "" : parseFloat(it[4]),
              xtpPriceType: it[5] == "" ? "" : parseInt(it[5]),
              xtpSideType: parseInt(it[6]),
              xtpBusinessType: it[7] == "" ? "" : parseInt(it[7]),
              rowid: it[8]
            };
            if (
              item.ticker.length == 6 &&
              item.xtpMarketType !== "" &&
              item.price !== "" &&
              item.quantity !== "" &&
              item.xtpPriceType !== "" &&
              item.xtpSideType !== "" &&
              item.xtpBusinessType !== ""
            ) {
              self.CSVSuccess += 1;
              addOrder.push(item);
            } else {
              self.CSVError += 1;
              if (self.CSVError === 1) {
                self.CSVmodal = true;
              }
            }
            break;
          case "2":
            if (it[1] !== "" && it[2] !== "") {
              self.CSVSuccess += 1;
              item = {
                custId: it[1],
                orderXtpId: it[2],
                // sessionId: userObj[it[1]].sessionIdMd5
                sessionId: self.sessionIdMd5,
                rowid: it[3]
              };
              cancelOrder.push(item);
            } else {
              self.CSVError += 1;
              if (self.CSVError === 1) {
                self.CSVmodal = true;
              }
            }
            break;
          default:
            break;
        }
      });
      rl.on("close", line => {
        //   处理拼装好的数据
        addOrder.length && self.$socket.emit("batchInsertOrder", addOrder);
        if (cancelOrder.length) {
          self.$socket.emit("batchCancelOrder", cancelOrder);
          self.withdrawalListen = true;
          setTimeout(() => {
            self.withdrawalListen = false;
          }, 1000);
        }
        console.log(`批量发送订单等`, addOrder);
      });
    }
  }
};
</script>