<template>

  <div class="content-wrapper">
    <div style="width:600px;">
      方法名称
      <Input
        v-model="par.name"
        type="text"
        :autosize="{minRows: 2,maxRows: 5}"
        placeholder="方法名称"
      />
      参数json
      <Input
        v-model="par.value"
        type="textarea"
        :autosize="{minRows: 5,maxRows:30}"
        placeholder="参数json"
      />
      <Button
        type="primary"
        long
        @click="send"
      >发送</Button>

    </div>
  </div>
</template> 
<style lang="scss">
</style>

<script>
export default {
  data() {
    return {
      par: {
        name: "",
        value: ""
      }
    };
  },
  mounted: function () {
    var self = this;
  },
  methods: {
    send() {
      this.$socket.emit(this.par.name, JSON.parse(this.par.value), d => {
        console.log('d::::', d);
      });
    }
  }
};
</script>