<template>

    <div class="content-wrapper">
        <div class="content-header">
            <ul class="y-tag">
                <router-link tag="li" to="/quotes/optional">
                    <a> 自选 ({{optionalQuoteCount}}) </a>
                </router-link>
                <router-link tag="li" to="/quotes/position">
                    <a> 持仓 ({{positionListCount}}) </a>
                </router-link>
            </ul>
        </div>
        <!-- <keep-alive> -->
        <router-view></router-view>
        <!-- </keep-alive> -->
    </div>

</template>
<script>
export default {
  data() {
    return { 
    };
  },
  computed: {
    positionListCount: function() {
      return this.$store.state.tran.positionList.length;
    },
    optionalQuoteCount: function() {
      return this.$store.state.tran.optionalQuote.length;
    }
  },

  mounted: function() {
    var self = this;
  }
};
</script>