<template>
  <div class="content-body">
    <div class="content-body-main">
      <div class="content-body-right">
        <div class="tab-content">
          <div class="tab-top">
            <div>
              <div class="tab-header">
                篮子列表
                <div class="pull-right y-toolbar">
                  <button :disabled='!currentRowBasket' @click='modalBasket=true' class="f-btn">
                    <i class="f f-copy"></i>
                  </button>
                  <!-- <a :disabled='!currentRowBasket'>
                    <i class="f f-copy" v-intro="'复制篮子'" @click='modalBasket=true' title="复制"></i>
                  </a> -->
                  <button :disabled='!currentRowBasket' @click="delBasket" class="f-btn">
                    <i class="f f-window-minimize"></i>
                  </button>
                  <a>
                    <i class="f f-plus" v-intro="'添加篮子'" @click='modalBasket=true' title="添加"></i>
                  </a>

                  <!-- <a>
                    <i class="f f-window-minimize" @click="selPosition" title="删除"></i>
                  </a> -->
                </div>
              </div>
              <div class="tab-body" style="position:relative">
                <Table class="i-table" data-k="basket" highlight-row @on-current-change='changeRowBasket' :width='width.basket' :height="height.basket" :columns="basket.col" :data="basket.list" size="small" :border='true' ref="table"></Table>
              </div>
            </div>
            <div>
              <div class="tab-wrapper" style="height:100%;width:100%">
                <div class="tab-bar">
                  股票列表
                  <div class="pull-right y-toolbar">
                    <a>
                      <i class="f f-plus" @click="modalTicker=true" title="添加"></i>
                    </a>
                    <a>
                      <i class="f f-window-minimize" @click="selPosition" title="删除"></i>
                    </a>
                  </div>
                </div>
                <div class="tab-table" style="position:relative">
                  <Table class="i-table" data-k="ticker" @on-row-dblclick='positionRowDblclick' :width='width.ticker' :height="height.ticker" :columns="ticker.col" :data="position.list" size="small" :border='true' ref="table"></Table>
                </div>
                <!-- <div style="margin: 0px;">
                  <div style="float: right;">
                    <Page :total="position.initList.length" :page-size='position.page.size' :page-size-opts='[10,20,50,100]' show-sizer show-elevator size="small" :current="position.page.index" @on-change="positionChangePage" @on-page-size-change='positionPageSizeChange'></Page>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="tab-bottom">
            <div class="tab-wrapper">
              <order xtpBusinessType='XTP_BUSINESS_TYPE_ALLOTMENT'></order>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Modal v-model="modalBasket" title="篮子列表" class-name="vertical-center-modal modal" width="600" @on-cancel="cancelBasket" :mask-closable="false">
      <div>
        <div class="row">
          <Form class="y-form y-order" :model="parBasket" ref="parBasket" :rules="parBasketRule" :label-width="64">
            <FormItem label="篮子名称" prop='basketName'>
              <Input v-model="parBasket.basketName" class="y-orange" clearable size="small" />
            </FormItem>
          </Form>
        </div>
        <div class="row">
          <div class="col">
            <div class="pull-right" style="color: #e0e0e0;">
              <a>
                <i class="f f-plus" @click="modalTicker=true" title="添加"></i>
              </a>
              <a>
                <i class="f f-window-minimize" @click="delTicker" title="删除"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="row" style="position:relative;height:400px;">
          <!-- :height='300' -->
          <Table class="i-table" data-k="basketEdit" :width='width.basketEdit' :height="height.basketEdit" @on-selection-change='v=>checkTickerList=v' :columns="tickerEdit.col" :data="parBasket.basket" size="small" :border='true' ref="table"></Table>
        </div>
      </div>

      <div slot="footer">
        <Button type="primary" @click="saveBasket" size="small">确定</Button>
        <!-- <Button size="small" @click="modalBasket=false">取消</Button> -->
      </div>
    </Modal>
    <Modal v-model="modalTicker" title="股票" class-name="vertical-center-modal modal" width="320" @on-cancel="reset" :mask-closable="false">
      <Form class="y-form y-order" :model="parTicker" ref="parTicker" :rules="parTickerRule" :label-width="64">
        <FormItem label="股票代码" prop='ticker'>
          <AutoComplete size="small" class="y-orange" element-id='txtbuy' ref="ticker" clearable v-model="parTicker.ticker" @on-search="searchTicker" @on-select='selectTicker' placeholder="请输入代码">
            <Option v-for="s in tickerList.ticker" :label="JSON.stringify(s)" :value="s.code" :key="s.code+'_'+s.marketId">
              <span>{{ s.code }}</span>
              <span class="pull-right">{{ s.name }}</span>
            </Option>
          </AutoComplete>
        </FormItem>
        <FormItem label="股票名称">
          {{parTicker.tickerName}}
        </FormItem>
        <!-- <FormItem label="价格条件">
          <Select class="y-orange" v-model.number="parbuyOrder.xtpPriceType" size="small">
            <Option v-show="s.marketId.includes(parbuyOrder.xtpMarketType)" v-for="(s,k) in dataType.XTP_PRICE_TYPE" :value='s.i' :key="k" class="y-orange">{{s.name}}</Option>
          </Select>
        </FormItem> -->

        <FormItem label="权重" prop='weight'>
          <InputNumber v-model="parTicker.weight" :step='1' :min='0' :max="100" :precision='0' class="y-orange" size="small"></InputNumber>
        </FormItem>
        <FormItem label="买入价格" prop='buyPrice'>
          <InputNumber v-model="parTicker.buyPrice" :min='0' :step='0.01' class="y-orange" size="small"></InputNumber>
        </FormItem>
        <FormItem label="卖出价格" prop='sellPrice'>
          <InputNumber v-model="parTicker.sellPrice" :min='0' :step='0.01' class="y-orange" size="small"></InputNumber>
        </FormItem>
        <FormItem label="备注" prop='remark'>
          <Input v-model="parTicker.remark" type="textarea" :autosize="true" class="y-orange" size="small" />
        </FormItem>
        <!-- <FormItem class="y-block">
            @click="insertOrder('parbuyOrder')" 
          <Button type="warning" size="small"  long>买入

          </Button>
        </FormItem> -->
      </Form>
      <div slot="footer">
        <Button class="pull-left" size="small" @click="reset">重置</Button>
        <Button type="primary" size="small" @click="saveTicker">确定</Button>
        <!-- <Button size="small" @click="modalTicker=false">取消</Button> -->
      </div>
    </Modal>
  </div>
</template>  
<style lang="scss" scoped>
.tab-top {
  height: 400px;
  > div:nth-child(1) {
    // width: 400px;
    flex: 1;
    background-color: #1e2127;
    tbody {
      width: 100%;
      display: table;
    }
  }
  > div:last-child {
    flex-basis: 500px;
  }
}
</style>
<style lang="scss">
.modal {
  .ivu-modal-content {
    background-color: #282d38;
    .ivu-modal-header {
      border-bottom: 1px solid transparent;
    }
  }
  .ivu-modal-footer {
    background-color: #3d424b;
    border-top: 1px solid transparent;
  }
}
.y-order {
  // background-color: #999;
}
</style>

<script>
import Order from "@/components/order";
export default {
  components: {
    Order
  },
  data() {
    return {
      parTicker: {
        ticker: "",
        tickerName: "",
        componentMarket: null,
        buyPrice: null,
        sellPrice: null,
        weight: 1
      },
      parTickerRule: {
        ticker: [
          {
            required: true,
            message: "",
            trigger: "change" //trigger: "blur"
          }
        ]
      },
      modalBasket: false,
      modalTicker: false,
      currentRowBasket: null,
      checkTickerList: [],
      width: {
        ticker: 0,
        basket: 0,
        basketEdit: 0
      },
      height: {
        ticker: 0,
        basket: 0,
        basketEdit: 0
      },
      parCancelOrder: {
        orderXtpId: ""
      },
      // 新股申购一键申购
      parBasket: {
        basketName: "",
        basket: []
      },
      parBasketRule: {
        basketName: [
          {
            required: true,
            message: "",
            trigger: "change" //trigger: "blur"
          }
        ]
      },

      tickerList: {
        ticker: []
      },
      basket: {
        list: [],
        col: [
          {
            title: "序号",
            width: 40,
            fixed: "left",
            align: "right",
            render: (h, par) => {
              let self = this;
              return h(
                "div",
                (self.position.page.index - 1) * self.position.page.size +
                  par.index +
                  1
              );
            }
          },
          {
            title: "名称",
            key: "basketName",
            fixed: "left",
            width: 120,
            align: "left"
          },
          {
            title: "分配方式",
            key: "ticker",
            align: "center",
            width: 80
          },
          {
            title: "总委托金额",
            key: "ticker",
            align: "center",
            width: 90
          },
          {
            title: "单笔数量",
            key: "ticker",
            align: "center",
            width: 70
          },
          {
            title: "股票数量",
            key: "ticker",
            align: "center",
            width: 70
          },
          {
            title: "进度",
            key: "ticker",
            align: "center",
            width: 150,
            render: (h, params) => {
              return h("div", [
                h("Progress", {
                  props: {
                    percent: 25
                  },
                  on: {
                    click: () => {
                      // this.show(params.index);
                    }
                  }
                })
              ]);
            }
          },
          {
            title: "备注",
            key: "ticker1",
            minWidth: 150
            // width: 70
          },
          {
            title: "操作",
            key: "ticker",
            align: "center",
            fixed: "right",
            width: 70,
            render: (h, par) => {
              let self = this;

              return h("div", [
                h("i", {
                  class: ["f", "f-start", "f-blue", "f-2x"],
                  on: {
                    click: e => {
                      self.$Message.info("点击了开始" + par.row.basketName);
                    }
                  }
                })
              ]);
            }
          }
        ]
      },
      ticker: {
        col: [
          {
            title: "序号",
            width: 40,
            fixed: "left",
            align: "right",
            render: (h, par) => {
              let self = this;
              return h(
                "div",
                (self.position.page.index - 1) * self.position.page.size +
                  par.index +
                  1
              );
            }
          },
          {
            title: "名称",
            key: "tickerName",
            fixed: "left",
            width: 120,
            align: "left"
          },
          {
            title: "代码",
            key: "ticker",
            fixed: "left",
            align: "center",
            width: 70
          },
          {
            title: "交易所",
            key: "xtpMarketType",
            width: 80,
            sortable: true,
            align: "center",
            render: (h, par) => {
              return h(
                "div",
                app.dataTypeToName(par.row[par.column.key], "XTP_MARKET_TYPE")
              );
            }
          },
          {
            title: "权重",
            key: "ticker",
            align: "center",
            width: 70
          }
        ]
      },
      tickerEdit: {
        col: [
          {
            type: "selection",
            width: 40,
            align: "center",
            fixed: "left"
          },
          {
            title: "序号",
            width: 40,
            // fixed: "left",
            align: "right",
            render: (h, par) => {
              let self = this;
              return h(
                "div",
                (self.position.page.index - 1) * self.position.page.size +
                  par.index +
                  1
              );
            }
          },
          {
            title: "代码",
            key: "ticker",
            // fixed: "left",
            align: "center",
            width: 70
          },
          {
            title: "名称",
            key: "tickerName",
            // fixed: "left",
            minWidth: 80,
            maxWidth: 110,
            align: "left"
          },
          {
            title: "交易所",
            key: "componentMarket",
            width: 75,
            sortable: true,
            align: "center",
            render: (h, par) => {
              return h(
                "div",
                app.dataTypeToName(par.row[par.column.key], "XTP_MARKET_TYPE")
              );
            }
          },
          {
            title: "买入价格",
            key: "buyPrice",
            align: "center",
            width: 70
          },
          {
            title: "卖出价格",
            key: "sellPrice",
            align: "center",
            width: 70
          },
          {
            title: "权重",
            key: "weight",
            align: "center",
            width: 70
          },
          {
            title: "操作",
            key: "ticker",
            align: "center",
            width: 50,
            render: (h, par) => {
              let self = this;

              return h("div", [
                h("i", {
                  class: ["f", "f-edit", "f-blue", "f-2x"],
                  on: {
                    click: e => {
                      Object.assign(self.parTicker, par.row);
                      self.modalTicker = true;
                    }
                  }
                })
              ]);
            }
          }
        ]
      },
      position: {
        page: {
          size: 20,
          index: 1
        },
        initList: [],
        list: [],
        col: [
          {
            title: "序号",
            width: 40,
            fixed: "left",
            align: "right",
            render: (h, par) => {
              let self = this;
              return h(
                "div",
                (self.position.page.index - 1) * self.position.page.size +
                  par.index +
                  1
              );
            }
          },
          {
            title: "名称",
            key: "tickerName",
            fixed: "left",
            width: 120,
            align: "left"
          },
          {
            title: "代码",
            key: "ticker",
            fixed: "left",
            align: "center",
            width: 70
          },
          {
            title: "交易所",
            key: "xtpMarketType",
            width: 80,
            sortable: true,
            align: "center",
            render: (h, par) => {
              return h(
                "div",
                app.dataTypeToName(par.row[par.column.key], "XTP_MARKET_TYPE")
              );
            }
          },
          {
            title: "总持仓",
            key: "totalQty",
            width: 100,
            align: "right",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          },
          {
            title: "可卖持仓",
            key: "sellableQty",
            width: 100,
            align: "right",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          },
          {
            title: "持仓成本",
            key: "avgPrice",
            width: 100,
            align: "right",
            sortable: true
          },
          {
            title: "浮动盈亏",
            key: "unrealizedPnl",
            width: 100,
            align: "right",
            sortable: true
          },
          {
            title: "昨日持仓",
            key: "yesterdayPosition",
            width: 100,
            align: "right",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          },
          {
            title: "可申购/赎回数量",
            key: "purchaseRedeemableQty",
            width: 150,
            align: "right",
            sortable: true,
            render: (h, par) => {
              return h(
                "div",
                par.row[par.column.key] == (0 || null)
                  ? 0
                  : par.row[par.column.key].Format("0,0")
              );
            }
          }
        ]
      },
      maxcount: 1000000
    };
  },
  watch: {},
  created() {
    let self = this;

    self.$nextTick(() => {
      //  self
      //   .$intro()
      //   .setOptions({
      //     prevLabel: "&larr; 上一步",
      //     nextLabel: "下一步 &rarr;",
      //     skipLabel: "跳过",
      //     doneLabel: "完成"
      //   })
      //   .start();
      // setTimeout(() => {
      //   self.position.initList = self.$store.state.tran.positionList;
      //   self.position.list = self.PositionList();
      // }, 0);
    });
  },
  mounted: function() {
    var self = this;
    self.$nextTick(function() {
      self.autoTableSize();
      window.addEventListener(
        "resize",
        function() {
          self.autoTableSize();
        },
        false
      );
    });
  },
  sockets: {
    queryIPOInfoListRsp(data, err) {
      app.log("queryIPOInfoListRsp:::::", data, err);
      let self = this;
      if (data) {
        self.tData.push(data);
      }
      app.log("subscribeAllMarketDataRsp::", data);
    },
    insertOrderTokenRsp(data) {
      let self = this;
      self.$socket.emit("insertOrder", {
        insertOrderToken: data.insertOrderToken,
        tradeInsertOrder: self.parOrderAllotment
      });

      app.log("par:::", self.parOrderAllotment);
    }
  },
  methods: {
    searchTicker(val) {
      console.log("val::", val);

      this.tickerList.ticker = app.tickerSearch(val, [
        "XTP_TICKER_TYPE_STOCK",
        "XTP_TICKER_TYPE_INDEX"
      ]);
    },

    selectTicker(val) {
      let self = this;
      if (val.length != 6) {
        return;
      }
      let ticker;
      let tickerTemp = self.$refs.ticker.$refs.select.selectedSingle
        ? JSON.parse(self.$refs.ticker.$refs.select.selectedSingle)
        : null;
      if (tickerTemp && tickerTemp.code == val) {
        ticker = tickerTemp;
      } else {
        ticker = self.tickerList.ticker.find(it => it.code == val);
      }
      // debugger
      if (ticker) {
        self.parTicker.componentMarket = ticker.exchangeId;
        self.parTicker.tickerName = ticker.name;
      } else {
        self.parTicker.exchageId = 0;
      }
    },
    saveBasket() {
      let self = this;

      self.$refs.parBasket.validate(valid => {
        if (valid) {
          self.modalBasket = false;

          self.basket.list.push(Object.assign({}, self.parBasket));

          self.parBasket.basket = [];
          self.$refs.parBasket.resetFields();
        } else {
          self.$Message.error("请填写完整的买入信息！");
        }
      });
    },
    saveTicker() {
      let self = this;

      self.$refs.parTicker.validate(valid => {
        if (valid) {
          let i = self.parBasket.basket.findIndex(
            it =>
              it.ticker + "_" + it.componentMarket ==
              self.parTicker.ticker + "_" + self.parTicker.componentMarket
          );
          if (i == -1) {
            self.parBasket.basket.push(Object.assign({}, self.parTicker));
            self.$refs.parTicker.resetFields();
          } else {
            self.parBasket.basket.splice(
              i,
              1,
              Object.assign({}, self.parTicker)
            );
            self.$refs.parTicker.resetFields();
            self.parTicker.tickerName = null;
            self.modalTicker = false;
          }
        } else {
          self.$Message.error("请填写完整的买入信息！");
        }
      });
    },
    delTicker() {
      let self = this;

      self.checkTickerList.forEach(it => {
        let index = self.parBasket.basket.findIndex(
          it2 =>
            it2.ticker + "_" + it2.componentMarket ==
            it.ticker + "_" + it.componentMarket
        );
        index != -1 && self.parBasket.basket.splice(index, 1);
      });
    },
    delBasket() {
      let self = this;
      let index = self.basket.list.findIndex(
        it => it.basketName == self.currentRowBasket.basketName
      );
      index != -1 && self.basket.list.splice(index, 1);
    },
    reset() {
      this.$refs.parTicker.resetFields();
      this.parTicker.tickerName = null;
    },
    cancelBasket() {
      this.parBasket.basket = [];
      this.$refs.parBasket.resetFields();
    },
    tickerSearchBuyBuyback(val) {
      this.tickerList.buyback = app.tickerSearch(val, "XTP_TICKER_TYPE_STOCK");
    },
    changeBuyXtpMarketType(val) {
      let ticker = app.ticker.XTP_TICKER_TYPE_STOCK.find(it => it.code == val);
      this.parOrderBuyback.xtpMarketType = ticker ? ticker.exchangeId : 0;
    },
    changeBuyXtpMarketTypeBuyback(val) {
      let ticker = app.ticker.XTP_TICKER_TYPE_STOCK.find(it => it.code == val);
      this.parOrderBuyback.xtpMarketType = ticker ? ticker.exchangeId : 0;
    },

    changeRowBasket(cRow, oldRow) {
      this.currentRowBasket = cRow;
      // this.parBasket.ticker = cRow.ticker;
      // this.parBasket.price = cRow.price;
      // this.parBasket.quantity = cRow.unit;
      // this.parBasket.xtpMarketType =
      //   app.dataType.XTP_MARKET_TYPE[cRow.marketType].i;

      // this.parCancelOrder.orderXtpId = cRow.orderXtpId;
    },
    //页面中持仓dbclick时添加数据到卖入中
    positionRowDblclick(row) {
      let self = this;
      self.parOrderAllotment.xtpMarketType = row.marketId;
      self.parOrderAllotment.quantity =
        row.sellableQty > this.maxcount ? this.maxcount : row.sellableQty;
      self.parOrderAllotment.ticker = row.ticker;
      self.parOrderAllotment.tickerName = row.tickerName;
    },
    PositionList() {
      let self = this;
      // debugger;
      let start = (self.position.page.index - 1) * self.position.page.size;
      let end =
        start + self.position.page.size > self.position.initList.length
          ? self.position.initList.length
          : start + self.position.page.size;
      return self.position.initList.slice(start, end);
    },
    positionChangePage(index) {
      this.position.page.index = index;
      this.position.list = this.PositionList();
    },
    positionPageSizeChange(size) {
      this.position.page.index = 1;
      this.position.page.size = size;
      this.position.list = this.PositionList();
    },
    selPosition() {
      this.$socket.emit("queryPosition", { ticker: "", requestId: 2 });
    }
  }
};
</script>