.ivu-btn.disabled,
.ivu-btn.disabled.active,
.ivu-btn.disabled:active,
.ivu-btn.disabled:focus,
.ivu-btn.disabled:hover,
.ivu-btn[disabled],
.ivu-btn[disabled].active,
.ivu-btn[disabled]:active,
.ivu-btn[disabled]:focus,
.ivu-btn[disabled]:hover,
    {
    background: #3d424b;
    color: #c2c4d2;
}

.f-btn {
    background-color: transparent;
    border: none;
    color: #d0d0d4;
    font-size: 14px;
    padding: 0 3px;
    vertical-align: middle;
    &:hover {
        color: $mouse-hover;
    }
    &[disabled] {
        cursor: not-allowed;
        color: #c2c4d2;
    }
}