.ivu-select {
  color: #d0d0d4;
  &:focus .ivu-select-selection {
    border-color: #2d58ce;
  }
  .ivu-select-selection {
    background-color: #2c3039;
    border: solid 1px transparent;
  }
  &.ivu-select-small.ivu-select-single .ivu-select-selection {
    height: 21px;
  } // .ivu-select-small.ivu-select-single .ivu-select-selection
  .ivu-select-dropdown {
    padding: 0px 0;
  }
  .ivu-select-dropdown-list {
    margin-bottom: 0;
  }
  .ivu-select-item {
    padding: 7px 8px;
  }
  // .ivu-select-item-selected, 
  // .ivu-select-item-selected:hover{
  //     background-color:#eaeaea; 
  //     color: #444;
  // }
}

.ivu-select-dropdown {
  // border: solid 1px transparent!important;
  .y-orange>& {
    border: solid 1px #ca712a;
  }
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0; // background-color: #242930;
  border: solid 1px #242930;
  color: #828282;
  .ivu-select-item {
    cursor: default;
    color: #828282;
    transition: none;
    padding: 5px 8px;
    &.y-orange>.ivu-select-dropdown-list {
      background-color: #ca712a;
    }
  }
  .ivu-select-item:hover {
    // background-color: #2d58ce;
    color: #333;
    &.y-orange {
      background-color: #ca712a;
    }
    &.y-blue {
      background-color: #2d58ce;
    }
  }
  .ivu-select-item-focus {
    color: #d0d0d4;
    &.y-orange {
      background-color: #ca712a;
    }
    &.y-blue {
      background-color: #2d58ce;
    }
  }
  .ivu-select-item-selected,
  .ivu-select-item-selected:hover {
    color: #d0d0d4;
    &.y-orange {
      background-color: #ca712a;
    }
    &.y-blue {
      background-color: #2d58ce;
    }
  }
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-corner {
    background-color: #454a51;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  }
  &::-webkit-resizer {
    background-color: #454a51;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #454a51;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  &::-webkit-scrollbar-track {
    background-color: #1e2127;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

.light {
  .ivu-select-selection {
    background-color: #fff;
    border: 1px solid #dddee1;
  }
  .ivu-select-dropdown {
    border: 1px solid #dddee1;
  }
  .ivu-select-item{
    color: #333;
  }
  .ivu-select-item-selected,.ivu-select-selected-value{
    color: #333;
  }

}