<template>
    <div class="content-wrapper">
         
            <div class="content-header">
 
                <ul class="y-tag">
                    <router-link tag="li" to="order">
                        <a> 算法拆单 </a>
                    </router-link> 
                </ul>

            </div> 
        <router-view></router-view> 
    </div>

</template> 

<script>
export default {
  mounted: function() {
    var self = this;
  }
};
</script>