<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>XTP.Smart</title>
  <style>
    /* CSS */

    html,
    body {
      overflow: hidden;
      color: #fff;
      font-size: 30px;
    }

    html,
    body,
    body>div:first-child {
      height: 100%;
      max-height: 100%;
      max-width: 100%;
      background-color: #282d38;
    }

    /* body>:not(:first-child) {
      display: none;
    } */

    body {
      background-color: #282d38;
      /* color: #b8c7ce; */
    }
    .wrapper {
				display: flex;
				justify-content: center;
				flex-direction: column;
			}
			
			.loading {
				margin: auto;
			}
  </style>
  <% if (htmlWebpackPlugin.options.nodeModules) { %>
    <!-- Add `node_modules/` to global paths so `require` works properly in development -->
    <script>
      require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
    </script>
    <% } %>
</head>
<!-- class="skin-blue layout-top-nav fixed sidebar-mini" style="height: 100%;background-color: #000" -->

<body class="skin-dark">
  <div id="app" class="wrapper" style="display: flex; justify-content: center; flex-direction: column;">
    <div class="loading ">
        
      <!-- <i class="f f-cog"></i>  -->
      <div class="lds-css ng-scope"><div style="width:100%;height:100%" class="lds-flickr"><div></div><div></div><div></div></div><style type="text/css">@keyframes lds-flickr-opacity {
        0% {
          -webkit-transform: translate(0 0);
          transform: translate(0 0);
          opacity: 1;
        }
        49.99% {
          opacity: 1;
          -webkit-transform: translate(80px, 0);
          transform: translate(80px, 0);
        }
        50% {
          opacity: 0;
          -webkit-transform: translate(80px, 0);
          transform: translate(80px, 0);
        }
        100% {
          opacity: 0;
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
        }
      }
      @-webkit-keyframes lds-flickr-opacity {
        0% {
          -webkit-transform: translate(0 0);
          transform: translate(0 0);
          opacity: 1;
        }
        49.99% {
          opacity: 1;
          -webkit-transform: translate(80px, 0);
          transform: translate(80px, 0);
        }
        50% {
          opacity: 0;
          -webkit-transform: translate(80px, 0);
          transform: translate(80px, 0);
        }
        100% {
          opacity: 0;
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
        }
      }
      @keyframes lds-flickr {
        0% {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
        }
        50% {
          -webkit-transform: translate(80px, 0);
          transform: translate(80px, 0);
        }
        100% {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
        }
      }
      @-webkit-keyframes lds-flickr {
        0% {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
        }
        50% {
          -webkit-transform: translate(80px, 0);
          transform: translate(80px, 0);
        }
        100% {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
        }
      }
      .lds-flickr {
        position: relative;
      }
      .lds-flickr div {
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        top: 60px;
        left: 20px;
      }
      .lds-flickr div:nth-child(1) {
        background: #ffb6bb;
        -webkit-animation: lds-flickr 1s linear infinite;
        animation: lds-flickr 1s linear infinite;
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
      }
      .lds-flickr div:nth-child(2) {
        background: #ffe691;
        -webkit-animation: lds-flickr 1s linear infinite;
        animation: lds-flickr 1s linear infinite;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
      }
      .lds-flickr div:nth-child(3) {
        background: #ffb6bb;
        -webkit-animation: lds-flickr-opacity 1s linear infinite;
        animation: lds-flickr-opacity 1s linear infinite;
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
      }
      .lds-flickr {
        width: 100px !important;
        height: 100px !important;
        -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
        transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
      }
      </style></div>
    </div>
  </div>
  <!-- Set `__static` path to static files in production -->
  <!-- <% if (process && process.env && process.env.BABEL_ENV == 'web' && process.env.NODE_ENV !== 'development') { %>
  <script>
        window.__static =  require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
         
      // if ( process.env.NODE_ENV !== 'development')
      //  window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
  </script>
 <% } %>   -->
  <!-- webpack builds are automatically injected -->
</body>

</html>