<template>
    <div>
        <div class="tab-header">
            资产
            <a href="#" class="pull-right" @click="queryAsset" title="刷新">
                <i class="f f-refresh"></i>
            </a>
        </div>
        <div class="tab-body">
            <table class="y-table">
                <tbody>
                    <tr>
                        <th>总资产</th>
                        <td>{{(assets.totalAsset||0).Format('0,0.00')}}</td>
                    </tr>
                    <tr>
                        <th>可用资金</th>
                        <td>{{(assets.buyingPower||0).Format('0,0.00')}}</td>
                    </tr>
                    <tr>
                        <th>预扣资金</th>
                        <td>{{(assets.withholdingAmount||0).Format('0,0.00')}}</td>
                    </tr>
                    <tr>
                        <th>买入资金</th>
                        <td>{{(assets.fundBuyAmount||0).Format('0,0.00')}}</td>
                    </tr>
                    <tr>
                        <th>买入费用</th>
                        <td>{{(assets.fundBuyFee||0).Format('0,0.00')}}</td>
                    </tr>
                    <tr>
                        <th>卖出资金</th>
                        <td>{{(assets.fundSellAmount||0).Format('0,0.00')}}</td>
                    </tr>
                    <tr>
                        <th>卖出费用</th>
                        <td>{{(assets.fundSellFee||0).Format('0,0.00')}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
export default {
  computed: {
    assets: function() {
      return this.$store.state.tran.assets;
    }
  },
  methods: {
    queryAsset() {
      let self = this;
      self.$socket.emit("queryAsset", { orderXtpId: 0, requestId: 2 });
    }
  }
};
</script>


