<template>

  <div class="content-wrapper">
    <div class="content-header">
      <ul class="y-tag">
        <router-link tag="li" to="/news/read">
          <a> 每日必读 </a>
        </router-link>
        <router-link tag="li" to="/quotes/realTime">
          <a> 早盘视点 </a>
        </router-link>
        <router-link tag="li" to="/quotes/realTime">
          <a> 今日收评 </a>
        </router-link>
      </ul>
    </div>
    <router-view></router-view>

  </div>
</template> 
<style lang="scss">
</style>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      modal1: false,
      list: this.$store.state.tran.list
    };
  },
  computed: mapGetters({
    products: "list"
  }),
  mounted: function() {
    var self = this;
    // this.$store.dispatch("setlist");
    // [].filter
    // debugger
    // app.log("list::::", self.$store.list, self.$store.products);
    // this.$store.dispatch("PositionList",[{a:1},{b:2}]);
    // self.$store.positionList=[{a:1},{b:2}]
    // app.log("positionList::::", self.$store.positionList);
  },
  methods: {}
};
</script>