<template>
  <div class="content-body-right">
    <div class="content-body-left">
      <div class="tab-content funds-content">
        <div class="tab-top">
          <div class="tab-left funds">
            <Tabs type="card" :animated='false' v-model='currentTabOrder'>
              <TabPane label="转入" name='buy'>
                <Form class="y-form y-order" :label-width="64" :model="fundsbuyOrder" ref="fundsbuyOrder" :rules="fundsbuyOrderRule">
                  <FormItem label="账户代码" prop='fundAccount'>
                    <Input v-model="fundsbuyOrder.fundAccount" size="small" class="y-orange" clearable number />
                  </FormItem>
                  <FormItem label="账户密码" prop='password'>
                    <Input v-model="fundsbuyOrder.password" size="small" class="y-orange" clearable type='password' />
                  </FormItem>
                  <FormItem label="金额" prop='amount'>
                    <InputNumber v-model="fundsbuyOrder.amount" size="small" class="y-orange" placeholder="请输入数量" clearable :min='0' :step='100' :max='maxnum' :formatter="value => `${value}`.replace(/(\d)(?=(?:\d{3})+$)/g,'$1,')" :parser="value => value.replace(/$s?|(,*)/g, '')" />
                  </FormItem>
                  <FormItem class="y-block">
                    <Button type="warning" long @click="fundsInfoing('fundsbuyOrder')" size="small">
                      <span>转入</span>
                    </Button>
                  </FormItem>
                </Form>
              </TabPane>
              <!-- <TabPane label="转出" name='sell'>
                <Form class="y-form y-order" :label-width="64" :model="fundssellOrder" ref="fundssellOrder" :rules="fundssellOrderRule">
                  <FormItem label="账户代码" prop='fundAccount'>
                    <Input v-model="fundssellOrder.fundAccount" size="small" class="y-blue" clearable number />
                  </FormItem>
                  <FormItem label="账户密码" prop='password'>
                    <Input v-model="fundssellOrder.password" size="small" class="y-blue" clearable type='password' />
                  </FormItem>
                  <FormItem label="金额" prop='amount'>
                    <InputNumber v-model="fundssellOrder.amount" size="small" class="y-blue" clearable :min='0' :step='100' :max='buyingPower' :formatter="value => `${value}`.replace(/(\d)(?=(?:\d{3})+$)/g,'$1,')" :parser="value => value.replace(/$s?|(,*)/g, '')" />
                  </FormItem>
                  <FormItem class="y-block">
                    <Button type="primary" long size="small" @click="fundsOuting('fundssellOrder')">
                      <span>转出</span>
                    </Button>
                  </FormItem>
                </Form>
              </TabPane> -->
            </Tabs>
             <Tabs type="card" :animated='false'>
              <TabPane label="转出" name='sell'>
                <Form class="y-form y-order" :label-width="64" :model="fundssellOrder" ref="fundssellOrder" :rules="fundssellOrderRule">
                  <FormItem label="账户代码" prop='fundAccount'>
                    <Input v-model="fundssellOrder.fundAccount" size="small" class="y-blue" clearable number />
                  </FormItem>
                  <FormItem label="账户密码" prop='password'>
                    <Input v-model="fundssellOrder.password" size="small" class="y-blue" clearable type='password' />
                  </FormItem>
                  <FormItem label="金额" prop='amount'>
                    <InputNumber v-model="fundssellOrder.amount" size="small" class="y-blue" clearable :min='0' :step='100' :max='buyingPower' :formatter="value => `${value}`.replace(/(\d)(?=(?:\d{3})+$)/g,'$1,')" :parser="value => value.replace(/$s?|(,*)/g, '')" />
                  </FormItem>
                  <FormItem class="y-block">
                    <Button type="primary" long size="small" @click="fundsOuting('fundssellOrder')">
                      <span>转出</span>
                    </Button>
                  </FormItem>
                </Form>
              </TabPane>
            </Tabs>
          </div>
        </div>
        <div class="tab-bottom">

        </div>
      </div>
    </div>
    <div class="content-body-right">
      <div class="tab-content transger-content">
        <div class="tab-top">
          <div class="tab-wrapper">
            <div class="tab-bar">
              转账记录
              <div class="pull-right">
                <a>
                  <i class="f f-refresh" @click="refresh" title="刷新"></i>
                </a>
              </div>
            </div>
            <div class="tab-table">
              <Table class="i-table" data-k="position" :width='width.position' :height="height.position" :columns="transferFundsCol" :data='transferFundsList' size="small" :border='true' ref="table"></Table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.funds>div:first-child{
    height:350px;
}
.tab-top > div.funds {
    width: 250px;
}
.content-body-left .funds-content {
    height: 100%;
}
.funds-content .tab-top {
    height: 100%;
}
.content-body-right {
    width: 100%;
}
.transger-content .tab-top,
.transger-content {
    height: 100%;
}
.zoomOut {
    padding: 5px;
}
</style>
<style lang='scss'>
</style>

<script>
export default {
    data() {
        const validatefundAccount = (rule, value, callback) => {
            if (!value) {
                return callback(new Error("银行卡号不能为空"));
            }
            if (!Number.isInteger(value)) {
                callback(new Error("请输入数字"));
            } else {
                // else if((value + '').length <16 || (value+'').length>20){
                //     callback(new Error('位数不对'));
                // }
                callback();
            }
        };
        return {
            width: {
                position: 0
            },
            height: {
                position: 0
            },
            currentTabOrder: "buy",
            //资金转入
            fundsbuyOrder: {
                serialId: null,
                fundAccount: JSON.parse(sessionStorage.getItem("user_")).username, //银行卡号
                password: null, //银行密码
                amount: null, // 金额
                transferType: 1 //资金转入类型
            },
            fundssellOrder: {
                serialId: null,
                fundAccount: JSON.parse(sessionStorage.getItem("user_")).username, //银行卡号
                password: null, //银行密码
                amount: null, // 金额
                transferType: 0 //资金转入类型
            },
            fundssellOrderRule: {
                fundAccount: [
                    {
                        validator: validatefundAccount,
                        trigger: "blur"
                    }
                ],
                password: [
                    {
                        required: true,
                        message: "",
                        type: "string",
                        trigger: "blur"
                    },
                    {
                        message: "",
                        trigger: "blur"
                    }
                ],
                amount: [
                    {
                        required: true,
                        type: "number",
                        message: "",
                        trigger: "blur"
                    }
                ]
            },
            fundsbuyOrderRule: {
                fundAccount: [
                    {
                        validator: validatefundAccount,
                        trigger: "blur"
                    }
                    //    {
                    //        min:15,
                    //        message:'输入的位数不对',
                    //        trigger: "blur",
                    //    }
                ],
                password: [
                    {
                        required: true,
                        message: "",
                        type: "string",
                        trigger: "blur"
                    },
                    {
                        message: "",
                        trigger: "blur"
                    }
                ],
                amount: [
                    {
                        required: true,
                        type: "number",
                        message: "",
                        trigger: "blur"
                    }
                ]
            },
            transferFundsCol: [
                {
                    title: "序号",
                    width: 40,
                    type: "index",
                    fixed: "left",
                    align: "right"
                    // className: "y-yellow"
                },
                {
                    title: "编号",
                    key: "serialId",
                    fixed: "left",
                    width: 170,
                    align: "center"
                },
                {
                    title: "金额",
                    key: "amount",
                    width: 120,
                    align: "right",
                    className: "y-yellow",
                    sortable: true,
                    render: (h, par) => {
                        return h(
                            "div",
                            par.row[par.column.key] == (0 || null)
                                ? 0
                                : par.row[par.column.key].Format("0,0.00")
                        );
                    }
                },
                {
                    title: "内转类型",
                    key: "transferType",
                    width: 90,
                    align: "center",
                    sortable: true,
                    className: "y-yellow",
                    render: (h, par) => {
                        return h(
                            "div",
                            app.dataTypeToName(
                                par.row[par.column.key],
                                "XTP_FUND_TRANSFER_TYPE"
                            )
                        );
                    }
                },
                {
                    title: "状态",
                    key: "operStatus",
                    width: 80,
                    align: "center",
                    sortable: true,
                    render: (h, par) => {
                        return h(
                            "div",
                            app.dataTypeToName(
                                par.row[par.column.key],
                                "XTP_FUND_OPER_STATUS"
                            )
                        );
                    }
                },
                {
                    title: "操作时间",
                    key: "transferTime",
                    width: 170,
                    align: "center",
                    sortable: true,
                    render: (h, par) => {
                        return h("div", par.row[par.column.key].toDate());
                    }
                }
            ],
            transferFundsList: [],
            tempTransferFundsList: [],
            searchAllFundsList: {
                serialId: 0
            },
            maxnum: 10000000000,
            buyingPower: null
        };
    },
    watch: {
        "$store.state.tran.isLogin": function(val) {
            val ? this.init() : this.clear();
        },
        "$store.state.tran.assets": function(val) {
            this.buyingPower = val.buyingPower;
        }
    },
    sockets: {
        //资金划拨数据请求
        queryFundTransferRsp(data) {
            if (!data) {
                return;
            }
            let self = this;
            let i = self.transferFundsList.findIndex(it => {
                return it.serialId == data.serialId;
            });
            i == -1
                ? self.transferFundsList.unshift(data)
                : self.transferFundsList.splice(i, 1, data);
        },
        fundTransferResult(data, err) {
            let self = this;
            self.$socket.emit("queryFundTransfer", {
                requestId: 1,
                req: { serialId: data.id }
            });
        },
        fundTransferRsp(data, err) {
            let self = this;
            if (err.errorMsg) {
                self.$Message.error(`${err.errorMsg}`);
                return;
            }
            if (!data) {
                return;
            }
            let i = self.transferFundsList.findIndex(it => {
                return it.serialId == data.serialId;
            });
            //   debugger
            i == -1
                ? self.transferFundsList.unshift(data)
                : self.transferFundsList.splice(i, 1, data);
        },
        fundTransferTokenRsp(data) {
            let self = this;
            self[`funds${self.currentTabOrder}Order`].fundTransferToken =
                data.fundTransferToken;
            self.$socket.emit(
                "fundTransfer",
                self[`funds${self.currentTabOrder}Order`]
            );
        }
    },
    created() {
        let self = this;
        self.$nextTick(() => {
            self.$store.state.tran.isLogin ? self.init() : self.clear();
            self.buyingPower = self.$store.state.tran.assets.buyingPower;
        });
    },
    destroyed() {},
    mounted: function() {
        var self = this;
        self.autoTableSize();
        self.$nextTick(function() {
            window.addEventListener(
                "resize",
                function() {
                    self.autoTableSize();
                },
                false
            );
        });
    },
    methods: {
        init() {
            let self = this;
            self.$socket.emit("queryFundTransfer", {
                requestId: 1,
                req: { serialId: 0 }
            });
        },
        clear() {
            this.transferFundsList = [];
        },
        /**
         * 页面中转入和转出的操作
         */
        fundsInfoing(name) {
            let self = this;
            self.$refs[name].validate(valid => {
                if (valid) {
                    if (app.isModal) {
                        self.$Modal.confirm({
                            title: "买入确认",
                            width: 280,
                            content: `<div  class="y-confirm">
                                <div class="row">
                                    <div class="col text-right">银行卡号</div>
                                    <div class="col y-red">${
                                        self.fundsbuyOrder.fundAccount
                                    }</div>
                                </div>
                                <div class="row">
                                    <div class="col text-right">转入金额</div>
                                    <div class="col y-red">${self.fundsbuyOrder.amount.Format(
                                        "0,0.00"
                                    )}</div>
                                </div>
                              </div>`,
                            onOk: () => {
                                self.$socket.emit("getFundTransferToken", {});
                                self.$socket.emit("queryAsset", {
                                    orderXtpId: 0,
                                    requestId: 11
                                });
                            }
                        });
                    } else {
                        self.$socket.emit("getFundTransferToken", {});
                        self.$socket.emit("queryAsset", {
                            orderXtpId: 0,
                            requestId: 12
                        });
                    }
                } else {
                    self.$Message.error("请填写完整的转入信息！");
                }
            });
        },
        fundsOuting(name) {
            let self = this;
            self.$refs[name].validate(valid => {
                if (valid) {
                    if (app.isModal) {
                        self.$Modal.confirm({
                            title: "转出确认",
                            width: 280,
                            content: `<div  class="y-confirm">
                                <div class="row">
                                    <div class="col text-right">银行卡号</div>
                                    <div class="col y-red">${
                                        self.fundssellOrder.fundAccount
                                    }</div>
                                </div>
                                <div class="row">
                                    <div class="col text-right">转出金额</div>
                                    <div class="col y-red">${self.fundssellOrder.amount.Format(
                                        "0,0.00"
                                    )}</div>
                                </div>
                              </div>`,
                            onOk: () => {
                                self.$socket.emit("getFundTransferToken", {});
                                self.$socket.emit("queryAsset", {
                                    orderXtpId: 0,
                                    requestId: 13
                                });
                                // self.clearData();
                            }
                        });
                    } else {
                        self.$socket.emit("getFundTransferToken", {});
                        self.$socket.emit("queryAsset", {
                            orderXtpId: 0,
                            requestId: 14
                        });
                    }
                } else {
                    self.$Message.error("请填写完整的转出信息！");
                }
            });
        },
        //页面刷新时的操作
        refresh() {
            let self = this;
            self.transferFundsList = [];
            self.$socket.emit("queryFundTransfer", {
                requestId: 1,
                req: { serialId: 0 }
            });
        }
    }
};
</script>