@charset "utf-8";
html,body, ol, ul,li, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {margin: 0;padding: 0;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
html { font-size: 12px; line-height:24px; font-family:Helvetica,tahoma,arial,\5FAE\8F6F\96C5\9ED1,sans-serif;*font-family:微软雅黑;overflow-x:hidden;}
body {color: #000;background:#fff;position:relative;}
img { border:0px;-webkit-touch-callout:none;}
ul, li { list-style: none; }
p{word-wrap:break-word;}
.left { float: left; }
.right { float: right; }
.hide{ display:none;}
.block{ display:block;}
.clear:after {content:'';display: table; clear: both; }
.clearB:before {content:'';display: table;clear:both;}
em,i{ font-style:normal;}
a { text-decoration:none;color:#2559a8;-webkit-touch-callout:none;-webkit-transition:all ease-out .3s;transition:all ease-out .3s;}
a:hover { text-decoration: underline;}
/* all font */
h3{ font-size:14px;}
.font12{ font-size:12px;}
.font13{ font-size:13px;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}
.font18{ font-size:18px;}
.indent{ text-indent:2em;}
.middle{ top:-2px;*top:0px;vertical-align:middle; position:relative;}
.strong{ font-weight:bold;}
.align-left{ text-align:left;}
.align-center{ text-align:center;}
.align-right{ text-align:right;}
.mar-center{ margin:0 auto;}
.cursor{ cursor:pointer;}
.hidden{ overflow:hidden;}
.relative{ position:relative;}
/* all forms */
*:focus { outline: none; }
input, label {font-family:arial,微软雅黑;*font-family:微软雅黑; vertical-align: middle;font-size:12px; cursor:text; box-shadow:none;-webkit-appearance: none;}
textarea {font-family:arial,微软雅黑;*font-family:微软雅黑; resize: none; overflow-y: auto;font-size:12px;-webkit-appearance: none;}
select{font-size:12px;font-family:arial,微软雅黑; *font-family:微软雅黑;}
::-ms-clear,::-ms-reveal{display: none;}
input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"] > input[type="button"]::-moz-focus-inner{border:none;padding:0;}
.ui-warper{ width:1000px; margin:0px auto; clear:both; position:relative;}
/* all margin-padding */
.mar-20{ margin:20px !important;}
.mar-15{ margin:15px !important;}
.mar-10{ margin:10px !important;}
.mar-5{ margin:5px !important;}
.pad-20{ padding:20px !important;}
.pad-15{ padding:15px !important;}
.pad-10{ padding:10px !important;}
.pad-5{ padding:5px !important;}
.mar-top-20{ margin-top:20px !important;}
.mar-top-15{ margin-top:15px !important;}
.mar-top-10{ margin-top:10px !important;}
.mar-top-5{ margin-top:5px !important;}
.mar-left-20{ margin-left:20px !important;}
.mar-left-15{ margin-left:15px !important;}
.mar-left-10{ margin-left:10px !important;}
.mar-left-5{ margin-left:5px !important;}
.mar-right-20{ margin-right:20px !important;}
.mar-right-15{ margin-right:15px !important;}
.mar-right-10{ margin-right:10px !important;}
.mar-right-5{ margin-right:5px !important;}
.mar-bottom-20{ margin-bottom:20px !important;}
.mar-bottom-15{ margin-bottom:15px !important;}
.mar-bottom-10{ margin-bottom:10px !important;}
.mar-bottom-5{ margin-bottom:5px !important;}
.pad-top-20{ padding-top:20px !important;}
.pad-top-15{ padding-top:15px !important;}
.pad-top-10{ padding-top:10px !important;}
.pad-top-5{ padding-top:5px !important;}
.pad-left-20{ padding-left:20px !important;}
.pad-left-15{ padding-left:15px !important;}
.pad-left-10{ padding-left:10px !important;}
.pad-left-5{ padding-left:5px !important;}
.pad-right-20{ padding-right:20px !important;}
.pad-right-15{ padding-right:15px !important;}
.pad-right-10{ padding-right:10px !important;}
.pad-right-5{ padding-right:5px !important;}
.pad-bottom-20{ padding-bottom:20px !important;}
.pad-bottom-15{ padding-bottom:15px !important;}
.pad-bottom-10{ padding-bottom:10px !important;}
.pad-bottom-5{ padding-bottom:5px !important;}
.pad-clear{ padding:0 !important;}
.mar-clear{ margin:0 !important;}
/* all color */
.blue{ color:#2559a8;}
.orange{ color:#f53c17;}
.gray{ color:#999;}
.black{ color:#666;}
.high-black{ color:#333;}
.green{ color:#090;}
.red{ color:#b20025;}
/* -webkit-scrollbar */
@media only screen and (min-width:769px){
::-webkit-scrollbar-track-piece{background-color:rgba(0,0,0,.3);}
::-webkit-scrollbar {width:8px; height:5px;}
::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,.6);}
::-webkit-scrollbar-thumb:hover {background-color:rgba(0,0,0,.8);}
}
/* warper */
.width-auto{ width:100%; display:block;}
.warper{ width:100%; position:relative; clear:both; z-index:0;}
.main{ width:1366px; position:relative; margin:0 auto;}
@media only screen and (min-width:0px)and (max-width:1366px) {
.main{ width:100%;}
}
.zIndex10{ z-index:10;}
.zIndex9{ z-index:9;}
.zIndex8{ z-index:8;}
.zIndex7{ z-index:7;}
.zIndex6{ z-index:6;}
.zIndex5{ z-index:5;}
.height100{ height:100%;}
.loading{ position:absolute; left:50%; top:50%; margin:-5px 0 0 -12px;}
/* 公共分页 */
.ui-public-page-container{padding:30px 0px; position:relative; cursor:default;}
.ui-public-page{text-align: center;color:#999; height:30px; font-size:12px; position:relative;}
.ui-public-page a{ display:inline-block; font-family:Verdana; border-radius:3px; width:28px;color:#666;color:#5f5f5f; vertical-align:middle; height:28px;border:solid 1px #d9d9d9; margin:0px 2px; background:#fff; line-height:28px; text-align:center;}
.ui-public-page a.page-btn{font-weight:bold; line-height:26px;}
.ui-public-page a:hover{text-decoration:none; background:#2559a8; color:#fff; border:solid 1px #2559a8;}
.ui-public-page span{ vertical-align:middle;color:#666; margin:0px 2px;}
.ui-public-page .dian{ padding:0px 5px;}
.ui-public-page span.current{ background:#2559a8; cursor:default; border-radius:3px;color:#fff; margin:0px 2px;display:inline-block; width:28px; height:28px;line-height:28px; text-align:center; border:solid 1px #2559a8;}
.ui-public-page span.disabled{color:#959595; background:#fff;border-radius:3px; cursor:default; font-weight:bold; display:inline-block; width:28px; height:30px;line-height:26px; text-align:center; border:solid 1px #eee;}
/* mt-master-dialog */
.mt-master-container{ background:url(../images/base/piel_black_1_1_alpha_4.png) repeat; left:0; top:0; right:0; bottom:0; }
.mt-master-content{background:#fff; box-shadow:0 0 3px #666;}
.mt-master-head{ padding:0 20px; position:relative;border-bottom:solid 1px #eee;}
.mt-master-head .title{ height:50px;position:relative;line-height:50px; font-size:18px; color:#333; overflow:hidden;}
.mt-master-close{ background:url(../images/base/ico_2.png) no-repeat; width:18px; height:18px; cursor:pointer; position:absolute; right:16px; top:16px; z-index:100;-webkit-transition:all 0.5s ease-out;transition:all 0.5s ease-out;}
.mt-master-close:hover{background-image:url(../images/base/ico_2_s.png);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg);}
.mt-master-body{ position:relative; left:0; top:0;*zoom:1;}
.mt-master-error{ position:absolute; left:0; top:0; right:0; bottom:0;}
.mt-master-error p{ position:absolute; text-align:center; font-size:24px; margin-bottom:10px; left:16%; right:10%; top:41%; color:#2559a8; white-space:nowrap;}
.mt-master-error span{ position:absolute; font-size:16px; color:#555; left:16%; right:10%; top:52%; text-align:center;white-space:nowrap;}
@media only screen and (min-width:0px)and (max-width:768px) {
.mt-master-error p{ top:39%; font-size:14px;}
.mt-master-error span{ font-size:12px; top:50%;}
}
.mt-master-error img{ width:100%; display:block; }
.mt-master-error a{ color:#b50229; text-decoration:underline;}
.mt-master-error a:hover{ color:#2559a8;}
.mt-status-content{font-size:18px;color:#666;padding:20px 40px;text-align:center; line-height:24px;}
.mt-status-icon{margin-right:10px; font-size:24px; top:-4px;}
.mt-status-icon.true{color:#2db72a;}
.mt-status-icon.false{color:#f8756c;}
.mt-status-submit{ display:inline-block; height:32px;text-align:center;background:#2559a8; color:#fff; font-size:14px; line-height:32px;cursor:pointer; margin:0px auto; padding:0px 40px;}
.mt-status-submit:hover{background:#b50229;text-decoration:none;}
/* mt-waiting-content */
.mt-waiting-content{ position:absolute; border-radius:5px; top:50%; left:50%;}
.mt-waiting-content.loading{width:70px; height:70px; margin:-35px 0 0 -35px;}
.mt-waiting-content.loading img{ position:absolute; left:50%; top:50%; margin:-25px 0 0 -25px;}
.mt-waiting-content.true,.mt-waiting-content.false,.mt-waiting-content.tip{ padding:5px 10px; font-size:14px; white-space:nowrap; line-height:26px;min-height:26px; opacity:0;filter:alpha(opacity=0);}
.mt-waiting-content.true i,.mt-waiting-content.false i,.mt-waiting-content.tip i{ font-size:20px; margin-right:5px;}
.mt-waiting-content.true{ box-shadow:1px 1px 3px #4fbf4c; background:#e6fdf8; color:#4fbf4c; border:solid 1px #4fbf4c; }
.mt-waiting-content.false{box-shadow:1px 1px 3px #ed9ea1; background:#feeeed;color:#f8756c;border:solid 1px #ed9ea1; }
.mt-waiting-content.tip{background:url(../images/base/piel_black_1_1_alpha_6.png) repeat;box-shadow:1px 1px 3px #999; color:#fff; }
/* mt-master-confirm */
.mt-confirm-container{padding:20px 20px 20px 80px;}
.mt-confirm-icon{ position:absolute; left:20px; top:20px; color:#2559a8; font-size:40px; width:40px; height:40px; line-height:40px; text-align:left;}
.mt-confirm-title{ font-size:18px; font-weight:normal; color:#2559a8; margin-bottom:10px;}
.mt-confirm-content{ font-size:14px; color:#666;}
.mt-confirm-button{ height:34px; margin-top:15px;}
.mt-confirm-button a{ display:block; float:left; margin-right:20px; width:125px; height:32px; text-align:center; font-size:14px; line-height:32px;cursor:pointer; border-radius:3px;}
.mt-confirm-button a.blue{ background:#2559a8;border:solid 1px #2559a8; color:#fff;}
.mt-confirm-button a.white{ background:#fff; border:solid 1px #d2d2d2; color:#666;}
.mt-confirm-button a.blue:hover{background:#b50229;border:solid 1px #b50229; text-decoration:none;}
.mt-confirm-button a.white:hover{border:solid 1px #2559a8;color:#2559a8; text-decoration:none;}
/* async-input-item */
.async-input-item{min-height:40px; margin-bottom:15px; position:relative; overflow:hidden;}
.async-input-box{ position:relative; float:left;min-height:40px;}
.async-valid-text{border:solid 1px #cdcdcd; font-size:14px; box-shadow:1px 1px 2px #eee inset; float:left; border-radius:3px; height:20px; padding:9px 10px; line-height:20px; color:#999;}
textarea.async-valid-text{ height:80px;}
.async-valid-text.w1{ width:320px; }
.async-valid-text.w2{ width:86px; }
.async-valid-text.w3{ width:145px; }
.async-valid-text.w4{ width:520px;}
.async-valid-text.highGray{ background:#f4f4f4; cursor:default;}
.async-valid-text.error{ border:solid 1px #ed9ea1; background:url(../images/base/ico15.png) no-repeat right center #feeeed;box-shadow:1px 1px 2px #ffd4d1 inset;}
.async-valid-text.true{ border:solid 1px #00b98d; background:url(../images/base/ico16.png) no-repeat right center #e6fdf8;box-shadow:1px 1px 2px #c5fff1 inset;}
textarea.async-valid-text.error,textarea.async-valid-text.true{ background-position:right 9px;}
.async-valid-text:focus{box-shadow:0px 0px 3px #2559a8; border:solid 1px #4273be; background-color:#fff; background-image:none;}
.async-valid-label{ position:absolute; left:11px; line-height:40px; font-size:14px; top:0px; color:#999; white-space:nowrap;}
.async-valid-text.highGray+.async-valid-label{cursor:default;}
.async-input-item p.tip{ /*position:absolute; left:355px; top:0;*/ float:left; left:10px; position:relative;font-size:14px; white-space:nowrap; color:#888;}
.async-input-item p.tip.error{ color:#f26969;}
.async-input-item p.tip i{ font-family:Tahoma; margin-right:5px; position:relative; top:2px;}
.async-input-item p.tip em{ margin-right:5px;}
@media only screen and (min-width:600px)and (max-width:780px) {
.ui-account-form .async-valid-text.w1,#ui-apply-form .async-valid-text.w1,.async-valid-text.w4{ width:260px; }
.async-login-content .async-valid-text.w1{width:318px;}
}
/* ui-public-check */
.ui-public-check{ cursor:default;display:inline-block; color:#999; position:relative; padding-left:21px;}
.ui-public-check.disabled{ opacity:0.6; filter:alpha(opacity=60);}
.ui-public-check em{ display:block;width:14px; height:14px; background:#eee; border:solid 1px #ddd; position:absolute; left:0; top:50%; margin-top:-8px;}
.ui-public-check em i{ display:none; position:absolute; left:0; top:0; bottom:0; right:0; line-height:14px; text-align:center; color:#2559a8; font-size:12px;*line-height:12px;}
.ui-public-check input{ display:none;}
.ui-public-check.checked em i{ display:block;}
/* ui-public-radio */
.ui-public-radio{ cursor:default;display:inline-block; color:#999;position:relative; padding-left:21px;}
.ui-public-radio.disabled{ opacity:0.6; filter:alpha(opacity=60);}
.ui-public-radio em{ display:block;margin-right:5px;width:14px; height:14px;border:solid 1px #ddd;position:absolute;border-radius:50%; left:0; top:50%; margin-top:-8px;}
.ui-public-radio.disabled em{ background:#eee;}
.ui-public-radio em i{ display:none; position:absolute; left:4px; top:4px; bottom:4px; right:4px; background:#2559a8; border-radius:50%;}
.ui-public-radio input{ display:none;}
.ui-public-radio.checked em i{ display:block;}
/* mt-scroll-dragger */
.mt-scroll-dragger{ position:absolute;background:rgba(0,0,0,.1); background:#e6e6e6\0;*background:#e6e6e6; border-radius:10px;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out; cursor:pointer; z-index:100;}
.mt-scroll-dragger.dialog{background:#666\0;*background:#666;}
.mt-scroll-bar{ position:absolute;background:rgba(0,0,0,.3);background:#a2a2a2\0;*background:#a2a2a2;border-radius:10px;}
.mt-scroll-dragger.hover,.mt-scroll-dragger:hover{background:rgba(0,0,0,.4);background:#b3b3b3\0;*background:#b3b3b3;}
.mt-scroll-dragger.hover .mt-scroll-bar,.mt-scroll-dragger:hover .mt-scroll-bar{background:rgba(0,0,0,.6);background:#555\0;*background:#555;}
.mt-scroll-dragger.hover .mt-scroll-bar.in{background:rgba(0,0,0,.9);background:#111\0;*background:#111;}
/* mt-scroll-top */
.mt-scroll-top{ position:fixed; right:10px; bottom:10px; z-index:10000; filter:apha(opacity=60);opacity:0.6; display:none; width:50px; height:50px; background:#2559a8; color:#fff; line-height:50px; text-align:center; font-size:24px;}
.mt-scroll-top:hover{filter:apha(opacity=100);opacity:1; text-decoration:none;}
/* async-login-container */
.async-login-container{ padding:30px; position:relative;width:362px; visibility:hidden;}
.async-login-content{ padding:8px;/*margin-right:215px;*/}
.async-login-slider{ border-left:dashed 1px #dcdcdc; position:absolute; padding-left:40px; bottom:40px; right:40px; top:40px;}
.async-enter-slider{ border-left:dashed 1px #dcdcdc; position:absolute; padding-left:90px; bottom:10px; right:50px; top:10px;-webkit-transition:all ease-out .3s;transition:all ease-out .3s;}
.async-login-slider h3,.async-enter-slider h3{ font-size:16px; color:#777; margin-bottom:20px; font-weight:normal;}
.async-enter-slider h3 a{ display:inline-block; color:#fff; background:#2559a8; font-size:14px; padding:0px 20px; height:30px; line-height:30px; vertical-align:middle; margin-left:10px;}
.async-enter-slider h3 a:hover{ text-decoration:none; background:#b50229;}
.async-login-type{}
.async-login-type a{ display:block;height:38px;text-decoration:none; color:#fff; opacity:0.8; filter:alpha(opacity=80);text-align:center; line-height:38px; font-size:14px; margin-bottom:15px; width:125px;position:relative;padding-right:38px;}
.async-login-type a em{ width:38px; bottom:0; position:absolute; right:0px; top:0px; overflow:hidden;line-height:38px; font-size:28px; text-align:center;}
.async-login-type a.red{  background:#f26969;}
.async-login-type a.red em{ background:#f15252; }
.async-login-type a.blue{ background:#44a2ff;}
.async-login-type a.blue em{ background:#2c96ff;line-height:32px;}
.async-login-type a.green{ background:#29e527;}
.async-login-type a.green em{ background:#14d212;line-height:34px;}
.async-login-type a:hover{ opacity:1; filter:alpha(opacity=100);}
.async-login-code{ margin-left:10px; cursor:pointer; border:solid 1px #cdcdcd;border-radius:3px;}
.async-login-forget{ color:#999; margin:0px 0px 15px 0px; font-size:13px;}
.async-login-forget a{ margin-left:20px;}
.async-button-bottom{ height:40px; line-height:40px; font-size:14px; color:#666;}
.async-button-submit{ background:#2559a8; display:block; color:#fff; font-size:16px; text-align:center;height:40px; color:#fff; line-height:40px;}
.async-button-submit.w1{width:170px; display:inline-block; margin-right:20px;}
.async-button-submit:hover{ background:#b50229; text-decoration:none; color:#fff;}
/* ui-public-select*/
.mt-select-item{ position:relative; background:#fff; display:inline-block;border:solid 1px #ccc; border-radius:3px;cursor:pointer;*zoom:1;*float:left;}
.mt-select-item.w1{width:200px;}
.mt-select-title{ white-space:nowrap; position:relative; z-index:2; height:30px;box-shadow:1px 1px 2px #eee inset; line-height:30px; padding:0px 30px 0px 10px; }
.mt-select-title i{ position:absolute; right:5px; top:0; line-height:30px; color:#999;}
.mt-select-title span{ display:block; text-overflow:ellipsis; white-space:nowrap;overflow:hidden; color:#666;}
.mt-select-item.disabled{ opacity:0.6; filter:alpha(opacity=60); cursor:default;}
.mt-select-item.error{border:solid 1px #ed9ea1; background:#feeeed;}
.mt-select-item.true{border:solid 1px #00b98d; background:#e6fdf8;}
.mt-select-body{ position:absolute; max-height:210px; overflow:hidden; box-shadow:0px 0px 2px #ccc; display:none;z-index:1; right:-1px;left:-1px;border:solid 1px #ccc;border-radius:3px;background:#fff;}
.mt-select-main{ overflow:hidden; position:relative;}
.mt-select-list{height:30px; text-overflow:ellipsis; white-space:nowrap;overflow:hidden;padding:0px 10px; position:relative; white-space:nowrap; line-height:30px; font-size:12px; cursor:pointer; margin:-1px 0px 0px; border-top:solid 1px #eee;-webkit-transition:all ease-out .3s;transition:all ease-out .3s;}
.mt-select-list:hover{background:#2559a8; border-top:solid 1px #6581be; color:#fff; z-index:2;}
/* ui-building */
.ui-building{ background:#212a66; padding-top:60px;}
.ui-building p{ position:absolute; left:0; right:0; text-align:center; color:#fff; font-size:14px; position:absolute; top:25%;}
/* mt-pop-container */
.mt-pop-container{ position:absolute;-webkit-transition:all ease-out .3s;transition:all ease-out .3s;}
.mt-pop-shadow{ position:absolute;  background:#ddd; z-index:1; opacity:0.6;filter:alpha(opacity=60);}
.mt-pop-container.left-top .mt-pop-shadow{left:3px; top:3px; right:-3px; bottom:-3px;}
.mt-pop-container.right-top .mt-pop-shadow{left:-3px; top:3px; right:3px; bottom:-3px;}
.mt-pop-container.left-bottom .mt-pop-shadow{left:3px; top:-3px; right:-3px; bottom:3px;}
.mt-pop-container.right-bottom .mt-pop-shadow{left:-3px; top:-3px; right:3px; bottom:3px;}
.mt-pop-content{ border:solid 1px #ddd;background:#fff; z-index:2;position:relative;}
.mt-pop-tip{ color:#666; margin-bottom:5px; padding:0 10px;}
.mt-pop-tab{border-bottom:solid 2px #2559a8; position:relative;}
.mt-pop-tab ul{ position:relative; height:31px;}
.mt-pop-tab ul.mini{ padding-left:10px;}
.mt-pop-tab ul.mini li{border:none;line-height:32px; margin:0; height:31px;}
.mt-pop-tab ul.mini li.current{ padding:0 8px;line-height:28px;}
.mt-pop-tab ul li{ line-height:28px; height:30px; color:#666; font-size:12px; position:relative; padding:0 10px;border:solid 1px #ddd; border-bottom:none; margin-right:5px; float:left; cursor:pointer; white-space:nowrap;}
.mt-pop-tab ul li i{ position:relative; margin-left:2px;}
.mt-pop-tab ul li:hover{ color:#2559a8;}
.mt-pop-tab ul li.current{ border:solid 2px #2559a8; color:#2559a8; border-bottom:none; padding:0 9px; line-height:28px; height:31px; background:#fff;}
.mt-pop-main{ position:relative;}
.mt-pop-item{ padding:5px 0 0 0; position:relative;}
.mt-pop-item ul{ height:1%; overflow:hidden; position:relative;}
.mt-pop-item ul li{width:55px;padding-left:12px; float:left;height:24px;}
.mt-pop-item ul li.mini{ padding-left:20px;}
.mt-pop-item ul li a{ color:#666; display:block; float:left; width:100%;text-overflow:ellipsis; white-space:nowrap;overflow:hidden;}
.mt-pop-item ul li a:hover{ text-decoration:underline; color:#b50229;}
.mt-pop-list{ position:relative; padding-left:40px;}
.mt-pop-label{ position:absolute; left:20px; top:0;}
.mt-pop-load{ position:relative; height:120px;}
.mt-pop-load img{ position:absolute; left:50%; top:50%; margin:-5px 0 0 -12px;}
.mt-pop-load p{ position:absolute; left:0; right:0; top:50%; margin-top:-12px; text-align:center;}
.mt-pop-close{ position:absolute;right:10px;top:10px; z-index:100; cursor:pointer; color:#888;-webkit-transition:all 0.5s ease-out;transition:all 0.5s ease-out;}
.mt-pop-close.mini{ top:5px;}
.mt-pop-close:hover{color:#b50229;-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg);}
/* mt-fuzzy-content */
.mt-fuzzy-content{max-height:300px;overflow:hidden; position:relative;}
.mt-pop-fuzzy li{ height:30px; padding:0 10px; line-height:30px; position:relative; cursor:pointer;-webkit-transition:all ease-out .3s;transition:all ease-out .3s; color:#666;}
.mt-pop-fuzzy li.current{background:#4d88e1;color:#fff; z-index:2;}
.mt-pop-fuzzy li:hover{background:#2559a8;color:#fff; z-index:2;}
.mt-pop-fuzzy li i.tip{ position:absolute; top:0; right:10px;}
.mt-pop-null{ background:#fff2e8; border:solid 1px #ff7d26; padding:0 10px; line-height:30px; position:relative; z-index:10; color:#666;}
/* mt-loop-item */
.mt-loop-item{ position:relative; width:574px;}
.mt-loop-button{ position:absolute; top:0; bottom:0; cursor:pointer; border:solid 1px #ddd; border-radius:3px; width:10px; text-align:center; color:#777; background:#f9f9f9;}
.mt-loop-button i{ position:absolute; left:0; right:0; text-align:center;line-height:24px; top:50%; margin-top:-12px; font-size:12px; font-weight:bold;}
.mt-loop-button.prev{ left:0; text-indent:-1px;}
.mt-loop-button.next{ right:0;}
.mt-loop-button:hover{ border-color:#f60; color:#f60;}
.mt-loop-button.disabled,.mt-loop-button.disabled:hover{ opacity:0.6; filter:alpha(opacity=60); cursor:default; border-color:#ddd; color:#777;}
.mt-loop-list{ position:relative; margin:0 24px; overflow:hidden;}
.mt-loop-list ul.list{ position:relative; height:80px; width:1000%;}
.mt-loop-list ul.list li{ height:80px; width:80px; background:#eee; float:left; margin-right:10px; text-align:center; line-height:80px; font-size:30px; color:#999;}
/* ui-copy-item */
.ui-copy-item{ position:relative; margin:30px 0 10px; width:600px;}
.ui-copy-text{height:34px; line-height:34px;min-height:34px; padding:0px 10px; color:#666; background:#f5f5f5; border:solid 1px #ccc;text-overflow:ellipsis; white-space:nowrap;overflow:hidden;}
.ui-copy-button{ position:absolute; width:150px; right:0px; top:0px;}
.ui-copy-button a{height:36px; line-height:36px; display:block; text-align:center; font-size:14px; background:#2559a8; color:#fff; position:relative;}
.ui-copy-button a:hover,.ui-copy-button a.hover{background:#b50229; color:#fff; text-decoration:none;}
/* mt-calendar-group */
.mt-calendar-group{ position:relative;}
.mt-calendar-item{ width:203px; position:relative; padding:3px 0 5px; float:left;}
.mt-calendar-head{ height:32px; text-align:center; line-height:32px;border-bottom:solid 1px #ddd; margin:0 0 10px; padding-bottom:3px; position:relative;}
.mt-calendar-head.first{ margin-left:10px;}
.mt-calendar-head.last{ margin-right:10px;}
.mt-calendar-head a{color:#666; font-size:14px;-webkit-transition:none;transition:none;}
.mt-calendar-head a i{ font-weight:bold; font-family:Verdana,arial;}
.mt-calendar-head a:hover{ text-decoration:none; color:#1487d3;}
.mt-calendar-head a.disabled,.mt-calendar-head a.disabled:hover{ color:#666; cursor:text;}
.mt-calendar-body{ position:relative; width:203px; height:183px;border-left:solid 1px #ddd; margin-left:-1px;overflow:hidden;}
.mt-calendar-warp{ position:relative; height:300%;}
.mt-calendar-main{ padding:0 10px;  width:183px;}
.mt-calendar-week{ height:24px;line-height:24px; position:relative; margin-bottom:3px; /*background:#eee;*/}
.mt-calendar-week span{ float:left; width:26px;display:block; text-align:center;}
.mt-calendar-week span.weekend{ color:#f60;}
.mt-calendar-week span.normal{ color:#666;}
.mt-calendar-day{ position:relative;}
.mt-calendar-overs{position:absolute; left:0px;top:0; right:0; bottom:0; font-family:Georgia;line-height:126px; color:#f5f5f5; text-align:center;font-size: 130px; z-index:2; font-style:italic;}
.mt-calendar-number{ height:156px; position:relative; z-index:3; cursor:pointer;background:url(../images/base/piel_black_1_1_alpha_0.png) repeat;}
.mt-calendar-number li{ float:left; width:26px; height:26px; font-size:12px; font-family:Verdana;text-align:center; cursor:pointer; line-height:26px; color:#666;}
.mt-calendar-number li.weekend{ color:#f60;}
.mt-calendar-number li.now{ color:#f00; font-weight:bold;}
.mt-calendar-number li:hover{ color:#fff; background:#0099ff;}
.mt-calendar-number li.changed,.mt-calendar-number li.changed:hover{ color:#fff; background:#76c8ff;}
.mt-calendar-number li.selected,.mt-calendar-number li.selected:hover{ color:#fff; background:#43b4ff;}
.mt-calendar-number li.disabled,.mt-calendar-number li.disabled:hover{ color:#ddd; cursor:default;background:none; font-weight:normal;}
.mt-calendar-number li.selected.disabled,.mt-calendar-number li.selected.disabled:hover{background:#ddd;color:#fff; cursor:default;}
.mt-calendar-month-btn{ position:absolute; width:22px; height:22px;top:8px; z-index:4; cursor:pointer;}
.mt-calendar-month-btn i{position:absolute; top:50%; left:50%; margin:-5.5px 0 0 -3px;width:6px; height:11px;background:url(../images/base/JQ-calendar-bg-3.gif) no-repeat;}
.mt-calendar-month-btn.prev{ left:10px;}
.mt-calendar-month-btn.next{ right:10px;}
.mt-calendar-month-btn.prev i{ background-position:0px -3px;}
.mt-calendar-month-btn.next i{ background-position:-13px -3px;}
.mt-calendar-month-btn.prev:hover i{ background-position:0px -21px;}
.mt-calendar-month-btn.next:hover i{ background-position:-13px -21px;}
.mt-calendar-month-btn.disabled{ filter:alpha(opacity=40); opacity:0.4;cursor:default;}
.mt-calendar-month-btn.prev.disabled:hover i{background-position:0px -3px;}
.mt-calendar-month-btn.next.disabled:hover i{background-position:-13px -3px;}
.mt-calendar-button{ height:24px;margin:0 10px; padding:8px 0; border-top:solid 1px #ddd; position:relative; z-index:10;}
.mt-calendar-button a.btn{display:block; height:22px; border:solid 1px #ccc; line-height:22px; padding:0px 5px; float:right; margin-left:8px; cursor:pointer; color:#666;-webkit-transition:none;transition:none;}
.mt-calendar-button a.btn:hover{border:solid 1px #43b4ff; color:#fff; background:#43b4ff; text-decoration:none;}
.mt-calendar-time{ position:absolute; left:0; top:11px; line-height:18px;color:#666;}
.mt-calendar-time-item{ position:relative; float:left; z-index:1;}
.mt-calendar-time-item em.number{height:20px;text-align:center; font-weight:bold; cursor:pointer; display:block; line-height:20px;*line-height:18px;width:20px; font-size:11px; color:#fff; background:#999; position:relative; z-index:2;}
.mt-calendar-time-separator{ float:left; font-size:14px; font-weight:bold;font-size:11px; cursor:default;}
.mt-calendar-time-box{position:absolute; bottom:20px; padding-bottom:6px; cursor:pointer; background:url(../images/base/piel_black_1_1_alpha_0.png) repeat;z-index:1;}
.mt-calendar-time-box.hour{left:-5px;width:174px;}
.mt-calendar-time-box.minute{left:-37px;width:180px;}
.mt-calendar-time-box.second{left:-69px;width:180px;}
.mt-calendar-time-box i{ color:#666; position:absolute; bottom:1px; line-height:10px;cursor:pointer;}
.mt-calendar-time-box.hour i{ left:7px;}
.mt-calendar-time-box.minute i{ left:38px;}
.mt-calendar-time-box.second i{ left:70px;}
.mt-calendar-time-box .box{ padding:3px;background:#666;}
.mt-calendar-time-box .box .inner{ max-height:120px; overflow:hidden; position:relative;}
.mt-calendar-time-box ul{ position:relative; height:1%; overflow:hidden;}
.mt-calendar-time-box ul li{ float:left; width:20px; height:20px; padding:2px; text-align:center; cursor:default; position:relative; overflow:hidden;}
.mt-calendar-time-box ul li a{font-size:11px;color:#fff; line-height:18px; display:block;-webkit-transition:none; transition:none;}
.mt-calendar-time-box ul li a:hover{ background:#0099ff; color:#fff; text-decoration:none; }
.mt-calendar-time-box ul li a.selected,.mt-calendar-time-box ul li a.selected:hover{background:#43b4ff; color:#fff;}
.mt-calendar-time-box ul li a.disabled,.mt-calendar-time-box ul li a.disabled:hover{ background:none; cursor:default; color:#999;}
.mt-calendar-time-scroll{ background:#5c5c5c!important;}
.mt-calendar-time-scroll .mt-scroll-bar{ background:#404040!important;}
.mt-calendar-time-scroll:hover{background:#444!important;}
.mt-calendar-time-scroll:hover .mt-scroll-bar{background:#222!important;}
.mt-calendar-time-tip{position:absolute;white-space:nowrap;border-radius:3px; background:#666; padding:0 5px; color:#fff; text-align:center; line-height:20px; *line-height:18px; height:20px;font-size:12px;}
.mt-calendar-time-tip i{color:#666; position:absolute; line-height:10px;}
.mt-calendar-time-tip.x{left:95px; top:0px; -webkit-animation:time_tip_x 1s ease-out infinite;animation:time_tip_x 1s ease-out infinite; }
.mt-calendar-time-tip.x i{left:-8px; top:4px; }
.mt-calendar-time-tip.x i.c1{ display:inline;}
.mt-calendar-time-tip.y{left:-18px;top:27px; -webkit-animation:time_tip_y 1s ease-out infinite;animation:time_tip_y 1s ease-out infinite; }
.mt-calendar-time-tip.y i{left:50%; top:-6px; margin-left:-8px;}
.mt-calendar-time-tip.y i.c2{ display:inline;}
@-webkit-keyframes time_tip_x{
	50%{-webkit-transform:translate(-5px,0);}
}
@keyframes time_tip_x{
	50%{transform:translate(-5px,0);}
}
@-webkit-keyframes time_tip_y{
	50%{-webkit-transform:translate(0,5px);}
}
@keyframes time_tip_y{
	50%{transform:translate(0,5px);}
}
.mt-calendar-time-item:hover{ z-index:2;}
.mt-calendar-time-item:hover .mt-calendar-time-icon{ display:inline;}
.mt-calendar-time-item:hover em.number{background:#666;}
.mt-calendar-time-item:hover .mt-calendar-time-box{-webkit-animation:hoverIn .3s ease forwards;animation:hoverIn .3s ease forwards; display:block;}
@-webkit-keyframes hoverIn{
  	0%{ opacity:0;-webkit-transform:translate(0,10px);} 
  	100% {opacity:1;-webkit-transform:translate(0,0);}
}
@keyframes hoverIn{
  	0%{ opacity:0;transform:translate(0,10px);} 
  	100% {opacity:1;transform:translate(0,0);}
}
@-webkit-keyframes hoverOut{
  	0%{ opacity:1;-webkit-transform:translate(0,0);} 
  	100% {opacity:0;-webkit-transform:translate(0,10px);}
}
@keyframes hoverOut{
  	0%{ opacity:1;transform:translate(0,0);} 
  	100% {opacity:0;transform:translate(0,10px);}
}
.mt-calendar-fast{padding:0 10px; position:relative;height:183px;overflow:hidden;}
.mt-calendar-inner{ width:183px; overflow:hidden; position:relative; z-index:1;}
.mt-calendar-panel{ width:200%; position:relative; height:183px;}
.mt-calendar-panel .box{width:183px; float:left;height:183px;}
.mt-calendar-panel .box ul{ position:relative; width:183px; height:180px; padding-top:3px;}
.mt-calendar-panel .box ul li{width:40px; height:45px; float:left; text-align:center; line-height:45px; width:61px; text-align:center; font-size:14px; cursor:pointer;font-family:微软雅黑,Verdana; color:#666; position:relative;}
.mt-calendar-panel .box ul li:hover{background:#0099ff; color:#fff;}
.mt-calendar-panel .box ul li.selected{ background:#43b4ff; color:#fff; }
.mt-calendar-panel .box ul li.disabled{ color:#ddd;cursor:default;background:none;}
.mt-calendar-panel .box ul li.disabled.selected{ background:#ddd; color:#fff;}
.mt-calendar-fast-btn{ background-image:url(../images/base/arrow.png); background-repeat:no-repeat; width:35px; height:81px; cursor:pointer; z-index:10; top:50%; margin-top:-40.5px; position:absolute; filter:alpha(opacity=50); opacity:0.5;-webkit-transition:all ease-out .3s;transition:all ease-out .3s;}
.mt-calendar-fast-btn.prev{ background-position:-72px 0; left:0;-webkit-transform:translate(-35px,0); transform:translate(-35px,0);}
.mt-calendar-fast-btn.next{ background-position:0 0; right:0;-webkit-transform:translate(35px,0); transform:translate(35px,0);}
.mt-calendar-fast-btn:hover{filter:alpha(opacity=70); opacity:0.7;}
.mt-calendar-fast-btn.disabled{ display:none;}
.mt-calendar-fast:hover .mt-calendar-fast-btn{-webkit-transform:translate(0,0); transform:translate(0,0);}
/* mt-picker-main */
.mt-picker-main{ padding:10px; position:relative;height:88px;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.mt-picker-item{ width:50px; position:relative; padding:30px 0; float:left; }
.mt-picker-button{ position:absolute; left:0; right:0; height:24px;overflow:hidden;color:#888;text-align:center; line-height:24px; cursor:pointer; border-radius:3px;-webkit-transition:all ease-out .3s;transition:all ease-out .3s;}
.mt-picker-button i{ font-size:18px; font-weight:bold;}
.mt-picker-button.prev{ top:0;}
.mt-picker-button.next{ bottom:0;}
.mt-picker-button.prev i{ line-height:22px;}
.mt-picker-button.next i{ line-height:20px;}
.mt-picker-button.disabled,.mt-picker-button.disabled:hover{ background:none !important; cursor:default !important; color:#888 !important;opacity:0.3;filter:alpha(opacity=30);}
.mt-picker-box{ position:relative; padding:0 1px; height:28px;}
.mt-picker-box input{ border:solid 1px #ddd;font-weight:bold; width:100%; cursor:text; position:relative; float:left; height:16px; padding:5px 0; left:-1px;border-radius:3px; line-height:16px; text-align:center; font-size:14px; font-family:Verdana; color:#666;}
.mt-picker-box input.disabled{ opacity:0.6;filter:alpha(opacity=60);box-shadow:none!important; color:#888!important; border:solid 1px #ddd!important; cursor:default!important; background:#eee !important;}
.mt-picker-separator{ float:left; line-height:88px; font-size:14px; text-align:center; width:20px;font-weight:bold;}
.mt-picker-item:hover .mt-picker-button:hover{ background:#0099ff;color:#fff;}
.mt-picker-item:hover .mt-picker-box input{box-shadow:0px 0px 3px #0099ff; border:solid 1px #0099ff; background-color:#fff; background-image:none; color:#2559a8;}
/* mt-menu-container */
.mt-menu-container{-webkit-transition:none;transition:none; cursor:default;}
.mt-menu-main{ width:150px;  overflow:hidden; position:relative;}
.mt-menu-item{ border-top:solid 1px #eee; position:relative; margin-top:-1px; padding:5px 0;}
.mt-menu-item a{ display:block;color:#333; height:26px; line-height:26px; margin:1px 0; position:relative; padding:0 30px 0 35px;text-overflow:ellipsis; white-space:nowrap;overflow:hidden;-webkit-transition:none;transition:none;}
.mt-menu-item a i{ position:absolute; top:-2px;}
.mt-menu-item a i.m1{ left:10px; color:#2559a8;}
.mt-menu-item a i.m2{ right:5px; color:#777; font-weight:bold;}
.mt-menu-item a:hover{ background:#2559a8; color:#fff; text-decoration:none;}
.mt-menu-item a:hover i{ color:#fff;}
.mt-menu-item a.disabled,.mt-menu-item a.disabled:hover{ opacity:0.5;filter:alpha(opacity=50); cursor:default; background:none; color:#333;}
.mt-menu-item a.disabled i.m1,.mt-menu-item a.disabled:hover i.m1{color:#2559a8;}
.mt-menu-item a.disabled i.m2,.mt-menu-item a.disabled:hover i.m2{color:#777; }