.box {
    width: 1200px;
    margin: 0 auto;
}
.logo {
    width: 210px;
    height: 46px;
    background: url(../images/xtp.logo.retina.jpg) no-repeat;
}
.box>a{
    display: block;
    width:100%;
    height:100%;
    padding:20px 0;
}
.boxShadow{
    box-shadow: 0 2px 1px #888888;
}
.banner {
    height: 811px;
    position: relative;
}
.banner .online {
    position: absolute;
    z-index: 1;
    width: 680px;
    height: 400px;
    margin-left: 44px;
    padding-top: 182px;
    color:#333;
}
.banner .clouds {
    height: 732px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: url(../images/clouds.png) no-repeat center bottom;
}
.online .p1 {
    font-size: 50px;
    margin-bottom: 36px;
}
.online .p2 {
    font-size: 29px;
    margin-bottom: 100px;
}
.banner .download {
    width: 600px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 14px;
}
.download a {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    font-size: 17px;
    color: #fff;
    background: #b50229;
    border-radius: 3px;
    position: relative;
    margin-top: 10px;
    vertical-align: middle;
    margin-right: 10px;
}
.download a:hover{
    text-decoration: none;
    background: #910020;
}
.fly {
    height: 992px;
    background-color: #0084ec;
    position: relative;
    color: white;
}
.fly .rocketword {
    margin-left: 694px;
    padding-top: 295px;
    width: 480px;
    height: 126px;
}
.pg1 {
    font-size: 50px;
    margin-bottom: 38px;
    font-weight: 600;
}
.pg2 {
    font-size: 30px;
}
.fly .rocket {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 921px;
    background: url(../images/rocket.png) no-repeat center;
}
.updateNew {
    height: 611px;
}
.newword {
    position: absolute;
    left: 20px;
    top: 202px;
}
.newimg {
    position: absolute;
    width: 608px;
    height: 516px;
    background: url(../images/new.png) no-repeat center;
    right: 0;
    top: 50px;
}
.newword .pg1 {
    text-align: right;
}
.rank {
    height: 700px;
    background-color: #f4f7f9;
}
.rank .rankimg {
    position: absolute;
    width: 608px;
    height: 516px;
    left: 0px;
    top: 100px;
    background: url(../images/rank.png) no-repeat center;
}
.rank .rankword {
    position: absolute;
    width: 322px;
    height: 120px;
    right: 187px;
    top: 290px;
}
.trade {
    height: 700px;
}
.trade .tradeimg {
    position: absolute;
    width: 608px;
    height: 516px;
    background: url(../images/trade.png) no-repeat center;
    right: 0;
    top: 50px;
}
.trade .tradeword {
    position: absolute;
    left: 20px;
    top: 202px;
}
.tradeword .pg1 {
    text-align: right;
}
.client {
    height: 700px;
    background-color: #f4f7f9;
}
.client .clientimg {
    position: absolute;
    width: 608px;
    height: 516px;
    left: 0px;
    top: 100px;
    background: url(../images/client.png) no-repeat center;
}
.client .clientword {
    position: absolute;
    width: 500px;
    height: 120px;
    right: 0px;
    top: 290px;
}