@charset "utf-8";

/*修改部分*/

.icon {
	display: block;
	background-color: transparent;
	height: inherit;
}

.directory td.entry {
	padding: 5px 10px;
}

.ui-content {
	margin-right: 20px;
}

.ui-content p {
	padding: 5px 0px;
}

a {
	color: #6293dc;
}

table.memberdecls tr {
	padding: 5px 0;
	line-height: 30px;
}

div.summary {
	color: #2559a8;
	font-size: 14px;
	margin-top: 20px;
}

.navpath ul {
	line-height: none;
	height: auto;
	padding-left: 10px;
}

.navpath li {
	background-image: none;
}

.textblock {
	font-family: Monaco, Consolas, Courier new, \5FAE\8F6F\96C5\9ED1;
	margin-left: 20px;
}

.navpath li.navelem b,
.navpath li.navelem a {
	color: #2559a8;
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	font-family: Courier new, \5FAE\8F6F\96C5\9ED1;
}

.navpath li {
	padding: 5px 5px 5px 0px;
}

.navpath li b:after {
	content: '/';
	color: #333;
	margin-left: 5px;
}

.memtitle {
	background-image: none;
	background-color: #fff;
	border: none;
	margin-bottom: 2px;
	box-shadow: none;
}

.memproto {
	background-color: #f7f8fb;
	-webkit-box-shadow: none;
}

.memdoc {
	box-shadow: none;
}

.memitem {
	solid 1px #e9e9e9;
}

.memitem:hover {
	border-color: #4374bf;
	box-shadow: 0 0 6px #4374bf;
}

#main-nav>.ui-content>h3 {
	height: 30px;
	line-height: 30px;
	background: #eceff7;
	padding: 0 20px;
	color: #333;
	font-family: Monaco, Consolas, Courier new, monospace;
}

#main-nav>.ui-content>ul {
	padding: 10px 20px;
	font-size: 14px;
	line-height: 26px;
	font-family: Monaco, Consolas, Courier new, monospace;
}

#main-nav>.ui-content>ul>li {
	font-size: 14px;
	line-height: 26px;
	font-family: Monaco, Consolas, Courier new, monospace;
}


/* ui-header */

.ui-header {
	height: 50px;
	position: relative;
	z-index: 10;
}

.ui-header-shadow {
	height: 4px;
	width: 100%;
	z-index: 1;
	position: absolute;
	left: 0px;
	bottom: -4px;
	background: url(../images/line_1.png) repeat-x;
}

.ui-header img.logo {
	position: relative;
	top: 7px;
	float: left;
}

@media only screen and (min-width:0px)and (max-width:500px) {
	.ui-header img.logo {
		width: 130px;
		top: 14px;
	}
}


/*************** begin 文档修改样式  *****************/

div.header {
	margin-left: 220px;
	font-size: 22px;
	color: #444;
	height: 62px;
	line-height: 62px;
	border-top: solid 2px #2559a8;
	border-bottom: solid 1px #ebebeb;
	padding: 0px 15px;
	position: relative;
	top: -1px;
	margin-top: 30px;
}

div.directory {
	border: none;
}

div.headertitle {
	padding: 5px 5px 5px 0px;
}

div.qindex,
div.navpath {
	margin-top: 30px;
}

div.navpath+div.header {
	margin-top: 0;
}

.navpath ul {
	background-image: none;
}

.memberdecls>tbody>tr:hover {
	background-color: #fdf8e4;
}

.ui-slider+.ui-content {
	margin-top: 30px;
	border-top: solid 2px #2559a8;
	min-height: 695px;
}

div.ah,
span.ah {
	box-shadow: none;
	background-image: none;
	background-color: #6293dc;
	border: #6293dc;
}

table.directory tr:hover {
	background-color: #fdf8e4;
	;
}

.icona .icon {
	background-color: #6293dc;
	padding-top: 2px;
	height: 16px;
}


/*************** end 文档修改样式  *****************/

.ui-nav {
	float: right;
	height: 50px;
}

.ui-nav-ul {
	float: right;
	position: relative;
	*left: -10px;
}

.ui-nav-li {
	float: left;
	position: relative;
}

.ui-mini-menu {
	background: #2559a8;
	color: #fff;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	width: 35px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	display: none;
}

.ui-mini-menu.cur {
	height: 35px;
	text-decoration: none;
}

.ui-mini-menu:hover {
	text-decoration: none;
}

.ui-nav-item {
	display: block;
	padding: 0 10px;
	font-size: 14px;
	color: #333;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	float: left;
}

.ui-nav-item i.icon {
	margin-left: 5px;
	position: relative;
	font-size: 12px;
}

.ui-nav-item.hover {
	color: #2559a8;
	text-decoration: none;
	background: #fff;
}

.ui-nav p {
	color: #999;
	float: right;
	*margin-right: 10px;
	padding: 0 5px;
	line-height: 30px;
	border: solid 1px #999;
	border-radius: 20px;
	position: relative;
	top: 9px;
}

.ui-nav p a {
	color: #666;
	margin: 0 10px;
}

.ui-nav p a:hover {
	color: #2559a8;
	text-decoration: none;
}

.ui-nav p:hover {
	border-color: #2559a8;
}

.ui-nav p.out {
	border: none;
	font-size: 14px;
	position: relative;
	margin-right: -10px;
	color: #333;
	display: none;
}

.ui-nav p.out a {
	color: #2559a8;
}

.ui-nav p+.ui-nav-ul {
	margin-right: 10px;
	*left: 0;
}

.ui-nav-li ul {
	position: absolute;
	top: 50px;
	padding: 5px 0;
	background: #2559a8;
	z-index: 20;
	display: none;
}

.ui-nav-li ul.prev {
	left: 0;
	*width: 135px;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
}

.ui-nav-li ul.next {
	right: 0;
	*width: 120px;
	box-shadow: -1px 3px 3px rgba(0, 0, 0, .3);
}

.ui-nav-li ul li {
	position: relative;
}

.ui-nav-li ul li a {
	white-space: nowrap;
	display: block;
	padding: 0 10px;
	min-width: 90px;
	line-height: 30px;
	height: 30px;
	color: #fff;
	position: relative;
}

.ui-nav-li ul li a i.number {
	position: absolute;
	color: #fff;
	right: 10px;
	top: 0;
	font-size: 14px;
}

.ui-nav-li ul li a:hover {
	background: #fff;
	color: #2559a8;
	text-decoration: none;
}

.ui-nav-li ul li a:hover i.number {
	color: #2559a8;
}

.ui-nav-li:hover .ui-nav-item {
	color: #fff;
	background: #2559a8;
	text-decoration: none;
}

.ui-nav-li:hover ul {
	display: block;
}

@media only screen and (min-width:0px)and (max-width:700px) {
	.ui-mini-menu {
		display: block;
	}
	.ui-nav p {
		right: 45px;
	}
	.ui-nav p+.ui-nav-ul {
		margin: 0;
	}
	.ui-nav-ul {
		position: absolute;
		right: 10px;
		top: 40px;
		background: #2559a8;
		transform: scale(0);
		opacity: 0;
		padding: 5px 0;
		box-shadow: -1px 3px 3px rgba(0, 0, 0, .3);
		width: 150px;
		-webkit-transition: all ease-out .3s;
		transition: all ease-out .3s;
		-webkit-transform-origin: right top;
		transform-origin: right top;
	}
	.ui-nav-ul li {
		float: none;
	}
	.ui-nav-item {
		float: none;
		color: #fff;
		height: 30px;
		line-height: 30px;
		font-size: 12px;
	}
	.ui-nav-li ul {
		position: relative;
		top: 0;
		display: block;
		box-shadow: none !important;
		padding: 0;
	}
	.ui-nav-li ul li a {
		padding: 0 10px 0 15px;
		font-size: 12px;
	}
	.ui-nav-li ul li a:before {
		content: '\e628';
		font-family: "iconfont" !important;
		margin-right: 3px;
	}
	.ui-mini-menu.cur+.ui-nav .ui-nav-ul {
		transform: scale(1);
		opacity: 1;
		top: 45px;
	}
	.ui-nav p.out {
		display: block;
	}
}


/* ui-banner */

.bgbanner {
	background: #44a4e1;
}

.ui-banner {
	position: relative;
}

.ui-banner .c {
	position: absolute;
	left: 10px;
	z-index: 2;
}

.ui-banner .m1 {
	top: 80px;
	font-size: 50px;
	color: #fff;
	font-family: "微软雅黑";
}

.ui-banner .m2 {
	width: 47%;
	top: 175px;
	font-size: 30px;
	color: #fff;
	font-family: "微软雅黑";
}

.ui-banner .m3 {
	top: 245px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.ui-banner .m1.ani {
	-webkit-animation: ck1 .6s ease-out forwards;
	animation: ck1 .6s ease-out forwards;
}

.ui-banner .m2.ani {
	-webkit-animation: ck2 .6s ease-out forwards;
	animation: ck2 .6s ease-out forwards;
}

.ui-banner .m3.ani {
	-webkit-animation: ck3 .6s ease-out forwards;
	animation: ck3 .6s ease-out forwards;
}

.ui-banner .m3:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

@media only screen and (min-width:0px)and (max-width:1366px) {
	.ui-banner .c {
		left: 3%;
	}
	.ui-banner .m {
		width: 100%;
	}
	.ui-banner .m1 {
		width: 47%;
		top: 18%;
	}
	.ui-banner .m2 {
		width: 57%;
		top: 45%;
	}
	.ui-banner .m3 {
		width: 12%;
		top: 65%;
	}
}

@media only screen and (max-width: 1200px) {
	.ui-banner .m1 {
		font-size: 50px;
	}
	.ui-banner .m2 {
		font-size: 30px;
	}
}

@media only screen and (max-width: 1100px) {
	.ui-banner .m1 {
		font-size: 48px;
	}
	.ui-banner .m2 {
		font-size: 28px;
	}
}

@media only screen and (max-width: 1000px) {
	.ui-banner .m1 {
		font-size: 46px;
	}
	.ui-banner .m2 {
		font-size: 26px;
	}
}

@media only screen and (max-width: 900px) {
	.ui-banner .m1 {
		font-size: 40px;
	}
	.ui-banner .m2 {
		font-size: 24px;
	}
}

@media only screen and (max-width: 800px) {
	.ui-banner .m1 {
		font-size: 36px;
	}
	.ui-banner .m2 {
		font-size: 22px;
	}
}

@media only screen and (max-width: 700px) {
	.ui-banner .m1 {
		font-size: 32px;
	}
	.ui-banner .m2 {
		font-size: 20px;
	}
}

@media only screen and (max-width: 600px) {
	.ui-banner .m1 {
		font-size: 30px;
	}
	.ui-banner .m2 {
		font-size: 14px;
	}
}

@media only screen and (max-width: 500px) {
	.ui-banner .m1 {
		font-size: 28px;
	}
	.ui-banner .m2 {
		font-size: 14px;
	}
}

@media only screen and (max-width: 400px) {
	.ui-banner .m1 {
		font-size: 20px;
	}
	.ui-banner .m2 {
		font-size: 12px;
	}
}

@-webkit-keyframes ck1 {
	0% {
		opacity: 0;
		-webkit-transform: translate(-50%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
}

@keyframes ck1 {
	0% {
		opacity: 0;
		transform: translate(-50%, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@-webkit-keyframes ck2 {
	0% {
		opacity: 0;
		-webkit-transform: translate(50%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
}

@keyframes ck2 {
	0% {
		opacity: 0;
		transform: translate(50%, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@-webkit-keyframes ck3 {
	0% {
		opacity: 0;
		-webkit-transform: translate(0, 100%);
	}
	100% {
		opacity: 0.8;
		-webkit-transform: translate(0, 0);
	}
}

@keyframes ck3 {
	0% {
		opacity: 0;
		transform: translate(0, 100%);
	}
	100% {
		opacity: 0.8;
		transform: translate(0, 0);
	}
}


/* ui-notice */

.ui-notice {
	line-height: 30px;
	position: relative;
	font-size: 14px;
	border-bottom: solid 1px #eee;
	padding: 0 10px 10px;
}

.ui-notice span.label {
	position: absolute;
	left: 10px;
	top: 0px;
	color: #2559a8;
	font-weight: bold;
}

.ui-notice span.label i {
	position: relative;
	margin-right: 5px;
}

.ui-notice .list {
	position: relative;
	margin: 0 20px 0 90px;
	height: 30px;
	overflow: hidden;
}

.ui-notice .list ul {
	position: relative;
	top: 0;
}

.ui-notice .list li {
	line-height: 30px;
	position: relative;
	white-space: nowrap;
	height: 30px;
}

.ui-notice .list li a {
	float: left;
	display: inline-block;
	max-width: 85%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #333;
}

.ui-notice .list li em {
	float: left;
	color: #999;
	margin-left: 10px;
	font-size: 12px;
}

.ui-notice .list li a:hover {
	color: #b5002a;
}

.ui-notice .icon {
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 10px;
}

.ui-notice .icon span {
	position: absolute;
	right: 0;
	cursor: pointer;
	font-size: 12px;
	color: #666;
	line-height: 15px;
}

.ui-notice .icon span.up {
	top: 4px;
}

.ui-notice .icon span.down {
	bottom: 4px;
}

.ui-notice .icon span:hover {
	color: #b5002a;
}

@media only screen and (min-width:0px)and (max-width:600px) {
	.ui-notice .list li a {
		max-width: 60%;
	}
}


/* ui-item */

.ui-item {
	padding: 20px 0;
}

.ui-item ul {
	height: 1%;
	overflow: hidden;
	position: relative;
	width: 1396px;
	left: -30px;
}

.ui-item ul li {
	float: left;
	width: 25%;
}

.ui-item ul li .icon {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	/*border:solid 1px #ddd;*/
	position: relative;
	overflow: hidden;
	margin: 0 auto 10px;
}

.ui-item ul li .icon i {
	display: block;
	width: 100%;
	text-align: center;
	line-height: 80px;
	font-size: 40px;
	color: #777;
}

.ui-item ul li .icon .a {}

.ui-item ul li .icon .b {}

.ui-item ul li .icon .c {
	font-size: 34px;
}

.ui-item ul li .icon .d {}

.ui-item ul li h3 {
	font-size: 18px;
	text-align: center;
	font-weight: normal;
	line-height: 40px;
}

.ui-item ul li p {
	font-size: 14px;
	padding: 0 40px;
	color: #666;
	text-align: center;
}

@media only screen and (min-width:0px)and (max-width:1366px) {
	.ui-item ul {
		width: 100%;
		left: 0;
		*width: 100.1%;
	}
}

@media only screen and (min-width:0px)and (max-width:768px) {
	.ui-item ul {
		padding-top: 30px;
	}
	.ui-item ul li {
		width: 50%;
		margin-bottom: 45px;
		height: 178px;
	}
	.ui-item ul li p {
		padding: 0 10px;
	}
}


/* ui-bottom */

.ui-bottom {
	background: #2b2b2b;
	color: #7a8186;
	padding: 20px 0;
}

.ui-friend-about {
	position: relative;
}

.ui-friend-about h3 {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 10px;
}

.ui-friend-about p {
	font-size: 14px;
	color: #777;
}

.ui-friend-list {
	border-top: solid 1px #353535;
	position: relative;
	padding: 15px 0 5px;
	margin-top: 20px;
}

.ui-friend-list h5 {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 10px;
}

.ui-friend-list ul {
	height: 1%;
	overflow: hidden;
}

.ui-friend-list ul li {
	float: left;
	margin-right: 20px;
}

.ui-friend-list ul li img {
	float: left;
}


/* ui-footer */

.ui-footer {
	background: #1e1e1e;
	color: #666;
	padding: 10px 0;
}

.ui-footer p {
	line-height: 30px;
}

.ui-footer p.left {
	position: relative;
	left: -10px;
}

.ui-footer p a {
	color: #666;
	margin: 0 10px;
}

.ui-footer p a:hover {
	color: #2559a8;
}

.ui-special-footer {
	background: #fff;
	padding: 20px 0;
	text-align: center;
	color: #333;
}

.ui-special-footer p a {
	color: #333;
	margin: 0 10px;
}

.ui-special-footer p.left,
.ui-special-footer p.right {
	float: none;
	text-align: center;
}

@media only screen and (min-width:0px)and (max-width:1000px) {
	.ui-footer p.left,
	.ui-footer p.right {
		float: none;
		text-align: center;
	}
	.ui-friend-about {
		text-align: center;
	}
}


/* ui-slider */

.ui-slider {
	float: left;
	width: 200px;
	border-right: solid 1px #e8e8e8;
	padding: 0px 20px 30px 0px;
	position: relative;
}

.ui-content {
	border-left: solid 1px #e8e8e8;
	margin-left: 220px;
	padding: 30px 0px 30px 20px;
	position: relative;
	min-height: 625px;
}

.ui-content.mini {
	border: none;
	margin: 0;
	padding-left: 0;
}


/* ui-slider-menu */

.ui-slider-menu {
	position: relative;
	left: 0;
	top: 0;
	width: 200px;
	overflow: hidden;
	border-radius: 3px;
}

.ui-slider-menu.fixed {
	position: fixed;
	left: 50%;
	top: 0;
	z-index: 100;
	margin-left: -683px;
}

.ui-slider-menu.fixed.change {
	-webkit-transition: all ease-out .3s;
	transition: all ease-out .3s;
}

@media only screen and (min-width:0px)and (max-width:1366px) {
	.ui-slider-menu.fixed {
		left: 10px;
		margin-left: 0;
	}
}

.ui-slider-menu h3 {
	line-height: 65px;
	height: 65px;
	padding-left: 20px;
	font-weight: normal;
	background: #2559a8;
	color: #fff;
	font-size: 18px;
	position: relative;
	z-index: 2;
}

.ui-slider-menu ul {
	background: #f5f5f5;
	position: relative;
	margin-top: -1px;
	z-index: 1;
}

.ui-slider-menu ul li {
	position: relative;
	cursor: pointer;
	border-top: solid 1px #e6e6e6;
}

.ui-slider-menu ul li a {
	color: #333;
	position: relative;
	height: 50px;
	display: block;
	line-height: 50px;
	padding-left: 20px;
	font-size: 16px;
	overflow: hidden;
}

.ui-slider-menu ul li span {
	position: relative;
	line-height: 50px;
	color: #666;
	margin-right: 10px;
	width: 40px;
}

.ui-slider-menu ul li i {
	position: absolute;
	right: 0px;
	top: 50%;
	color: #2559a8;
	margin-top: -25px;
	text-align: center;
	display: none;
	width: 36px;
}

.ui-slider-menu ul li ul {
	background: #eee;
	margin: 0;
	/*display:none;*/
}

.ui-slider-menu ul li ul li {
	border-left: solid 5px #ddd;
}

.ui-slider-menu ul li ul li a {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	padding-left: 37px;
	color: #666;
}

.ui-slider-menu ul li ul li a span {
	line-height: 40px;
	margin-right: 5px;
	font-weight: bold;
}

.ui-slider-menu ul li:hover a.sub,
.ui-slider-menu ul li.current a.sub {
	color: #2559a8;
	text-decoration: none;
}

.ui-slider-menu ul li:hover a.sub span,
.ui-slider-menu ul li.current a.sub span {
	color: #2559a8;
}

.ui-slider-menu ul li.current a.sub i {
	display: block;
}

.ui-slider-menu ul li.current ul {
	display: block;
}

.ui-slider-menu ul li ul li.current {
	border-left: solid 5px #2559a8;
}

.ui-slider-menu ul li ul li:hover a,
.ui-slider-menu ul li ul li.current a {
	color: #2559a8;
	text-decoration: none;
}

.ui-slider-menu ul li ul li:hover a span,
.ui-slider-menu ul li ul li.current a span {
	color: #2559a8;
}


/* mt-main-container */

.mt-main-container {
	/*border: solid 1px #ebebeb;*/
	border-radius: 3px;
	min-height: 695px;
}

.mt-main-tab+.mt-main-container {
	border-radius: 0 3px 3px 3px;
}

.mt-main-head {
	font-size: 22px;
	color: #444;
	height: 62px;
	font-family: Courier new, \5FAE\8F6F\96C5\9ED1;
	*font-family: \5FAE\8F6F\96C5\9ED1;
	line-height: 62px;
	border-top: solid 2px #2559a8;
	border-bottom: solid 1px #ebebeb;
	padding: 0px 25px;
	position: relative;
	top: -1px;
}

.mt-main-head .txt {
	position: absolute;
	right: 30px;
	bottom: 0;
	color: #888;
	font-size: 14px;
}

.mt-main-head a.u_m_max {
	font-size: 22px;
	font-weight: normal;
	cursor: pointer;
	font-family: Courier new;
}

.mt-main-head a:hover {
	color: #2559a8;
}

.mt-main-head a.btn {
	position: absolute;
	top: 50%;
	margin-top: -15px;
	right: 25px;
	font-size: 12px;
	height: 30px;
	display: block;
	line-height: 30px;
	padding: 0 10px;
	background: #2559a8;
	color: #fff;
	border-radius: 3px;
}

.mt-main-head a.btn i {
	line-height: 30px;
	margin-right: 5px;
	font-size: 14px;
	position: relative;
	top: -1px;
}

.mt-main-head a.btn:hover {
	text-decoration: none;
	background: #b50229;
}

.mt-main-head em.tip {
	border-radius: 3px;
	background: #2559a8;
	color: #fff;
	position: relative;
	top: -1px;
	*top: 1px;
	height: 20px;
	vertical-align: middle;
	margin-left: 5px;
	line-height: 20px;
	display: inline-block;
	padding: 0 5px;
	font-size: 12px;
	font-family: Monaco, Consolas, Courier new, monospace;
}

.mt-main-body {
	padding: 25px;
	position: relative;
}

.mt-main-body p {
	line-height: 30px;
	padding: 5px 0;
	font-size: 16px;
	color: #666;
	position: relative;
}

@media only screen and (min-width:0px)and (max-width:920px) {
	.mt-main-head {
		height: auto;
	}
	.mt-main-head .txt {
		position: relative;
		right: auto;
		bottom: auto;
		display: block;
		line-height: 20px;
		margin-top: -10px;
		padding-bottom: 10px;
	}
}

@media only screen and (min-width:0px)and (max-width:600px) {
	.mt-main-head .txt {
		padding-top: 10px;
	}
}

;
.ui-slider-arrow {
	display: none;
}

@media only screen and (min-width:0px)and (max-width:600px) {
	.ui-slider {
		float: none;
		padding: 0;
		border: none;
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: 0;
		z-index: 10000;
		-webkit-transition: all ease-out .3s;
		transition: all ease-out .3s;
	}
	.ui-slider-arrow {
		display: block;
		z-index: 999;
		width: 45px;
		height: 40px;
		position: fixed;
		text-indent: 10px;
		background: rgba(0, 0, 0, .7);
		font-weight: bold;
		line-height: 38px;
		text-align: center;
		font-size: 24px;
		border-radius: 0 5px 5px 0;
		left: -10px;
		top: 50%;
		margin-top: -20px;
		-webkit-transition: all ease-out .3s;
		transition: all ease-out .3s;
	}
	.ui-slider-arrow:after {
		content: '\e628';
		font-family: "iconfont" !important;
		color: #fff;
	}
	.ui-slider-alpha {
		background: rgba(0, 0, 0, .7);
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		width: 0;
		-webkit-transition: all ease-out .3s;
		transition: all ease-out .3s;
	}
	.ui-slider-menu {
		background: #fff;
		position: fixed;
		left: -200px;
		top: 0;
		bottom: 0;
		width: 200px;
		opacity: 0;
		border-radius: 0;
		-webkit-transition: all ease-out .3s;
		transition: all ease-out .3s;
		overflow: auto;
	}
	.ui-slider.in {
		width: 100%;
	}
	.ui-slider.in .ui-slider-menu {
		left: 0;
		opacity: 1;
	}
	.ui-slider.in .ui-slider-arrow {
		left: -50px;
	}
	.ui-slider.in .ui-slider-alpha {
		opacity: 1;
		width: 100%;
	}
	.mt-main-head {
		height: auto;
		line-height: 30px;
		padding-top: 5px;
		font-size: 18px;
	}
	.ui-content {
		border: none;
		margin-left: 0;
		padding-left: 0;
	}
	.mt-main-head a.btn {
		position: relative;
		top: 0;
		margin: 0px 0 10px;
		right: auto;
		width: 160px;
	}
	.mt-main-head em.tip {
		margin: 0;
		vertical-align: middle;
	}
	.mt-main-head a.u_m_max {
		font-size: 18px;
	}
}


/* mt-log-item */

.mt-log-item {
	position: relative;
	margin-bottom: 40px;
}

.mt-log-title {
	border-bottom: solid 1px #f5f5f5;
	padding-bottom: 10px;
	position: relative;
	font-size: 24px;
	padding: 0 5px 10px 5px;
	color: #333;
}

.mt-log-title i {
	position: absolute;
	right: 5px;
	bottom: 5px;
	font-size: 14px;
	color: #999;
}

.mt-log-body {
	padding: 10px 5px;
}

.mt-log-body p {
	font-size: 14px;
	line-height: 30px;
	color: #333;
}

.u_m_min {
	background: #fdecf0;
	color: #da4265;
	font-size: 12px;
	padding: 2px 5px;
	border-radius: 3px;
	font-family: Monaco, Consolas, Courier new, monospace;
}

.u_m_max {
	color: #6293dc;
	font-size: 14px;
	font-weight: bold;
	font-family: Monaco, Consolas, Courier new, monospace;
}

.u_m_max:hover {
	color: #2559a8;
}


/* ui-main-list */

.ui-main-list {
	font-size: 14px;
	color: #575757;
}

.ui-main-title {
	line-height: 24px;
	color: #b50229;
	padding: 10px 10px 10px 50px;
	position: relative;
	text-align: left;
}

.ui-main-title span.date {
	color: #ccc;
	margin-left: 20px;
}

.ui-main-box {
	padding: 0 10px 10px 25px;
	position: relative;
	border-bottom: solid 1px #ebebeb;
	zoom: 1;
}

.ui-main-ico {
	position: absolute;
	color: #666;
	font-size: 16px;
}

.ui-main-title .ui-main-ico {
	top: 10px;
	left: 10px;
	*top: 7px;
	color: #b50229;
}

.ui-main-box .ui-main-ico {
	top: 2px;
	left: 10px;
}

.ui-main-btn {
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	*top: 7px;
	font-size: 12px;
	border: solid 1px #2559a8;
	width: 70px;
	text-align: center;
	height: 22px;
	line-height: 22px;
	color: #2559a8;
	border-radius: 3px;
}

.ui-main-btn:hover {
	text-decoration: none;
	background: #2559a8;
	color: #fff;
}

.ui-main-text {
	text-align: justify;
	text-justify: inter-ideograph;
	margin-left: 25px;
	line-height: 28px;
}

.ui-main-list.hover .ui-main-title,
.ui-main-list.hover .ui-main-title:hover {
	border-bottom: solid 1px #2559a8;
	color: #2559a8;
}

@media only screen and (min-width:0px)and (max-width:600px) {
	.ui-sort-search {
		display: none;
	}
}


/* ui-sort-search */

.ui-sort-search {
	position: absolute;
	right: 30px;
	top: 12px;
	height: 26px;
	width: 261px;
	margin: 6px 6px 0px 0px;
}

.ui-sort-search input {
	float: left;
	padding: 2px 5px;
	border: solid 1px #e1e1e1;
	height: 20px;
	line-height: 20px;
	width: 200px;
}

.ui-sort-search em {
	position: absolute;
	zoom: 1;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: 12px;
	background: #e1e1e1;
	height: 26px;
	line-height: 26px;
	width: 50px;
	padding: 0px;
	text-align: center;
	color: #666;
	cursor: pointer;
}

.ui-sort-search:hover input {
	border: solid 1px #2559a8;
}

.ui-sort-search:hover input:focus {
	border: solid 1px #2559a8;
	box-shadow: 0px 0px 3px #2559a8;
}

.ui-sort-search:hover em {
	background: #2559a8;
	color: #fff;
}


/* ui-main-news */

.ui-main-news {
	line-height: 24px;
	padding: 7px 150px 7px 15px;
	min-height: 24px;
	*clear: both;
	font-size: 14px;
	border-bottom: dashed 1px #ddd;
	position: relative;
}

.ui-main-news em {
	position: absolute;
	left: 5px;
	top: 7px;
	color: #333;
	font-weight: bold;
}

.ui-main-news.even {
	background: #f6f6f6;
}

.ui-main-news a {
	color: #333;
}

.ui-main-news a:hover {
	color: #2559a8;
}

.ui-main-news i {
	position: absolute;
	font-size: 12px;
	color: #999;
	top: 7px;
	right: 5px;
}

.ui-main-news span {
	color: #fb6c0f;
	display: inline-block;
	font-size: 24px;
	vertical-align: middle;
	position: relative;
	left: 5px;
	top: -5px;
	-webkit-animation: new 1.6s ease-out infinite;
	animation: new 1.6s ease-out infinite;
}

@-webkit-keyframes new {
	0% {
		-webkit-transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(0, -20%);
	}
	50% {
		-webkit-transform: translate(0, 0);
	}
}

@keyframes new {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(0, -20%);
	}
	50% {
		transform: translate(0, 0);
	}
}

@media only screen and (min-width:0px)and (max-width:600px) {
	.ui-main-news {
		padding-right: 7px;
	}
	.ui-main-news i {
		position: relative;
		top: 0;
		right: auto;
		display: block;
	}
}


/* detail */

.detail {
	text-align: center;
}

.detail h1 {
	text-align: center;
	color: #333;
	font-family: 微软雅黑;
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 10px;
	line-height: 32px;
}

.detail h3 {
	text-align: left;
	font-family: 微软雅黑;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 10px;
	line-height: 32px;
}

.detail .date {
	text-align: center;
	color: #828282;
	margin-bottom: 10px;
}

.detail .tigs {
	line-height: 30px;
	padding: 0px 10px;
	background: #ededed;
	color: #828282;
	display: inline-block;
	margin: 0 auto 20px;
}

.detail .contents {
	margin: 10px auto;
}

.detail p {
	text-align: left;
	font-size: 14px;
	line-height: 30px;
	color: #555;
	text-align: justify;
	text-justify: inter-ideograph;
}

.detail .contents p {
	text-indent: 2em;
}

.detail .contents p.title {
	position: relative;
	color: #2559a8;
	font-size: 16px;
	text-indent: 1.8em;
}

.detail .contents p.title span.circle {
	position: absolute;
	left: -15px;
	top: 0px;
	*top: -5px;
}

.detail .page {
	color: #535353;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	border-top: dotted 1px #b2b2b2;
	border-bottom: dotted 1px #b2b2b2;
	margin: 30px 0px 10px;
	padding: 0px 10px;
}

.detail .page span {
	display: block;
	max-width: 50%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.detail .page a {
	color: #969696;
}

.detail .page a:hover {
	color: #2559a8;
}

.detail img {
	display: block;
	margin: 20px auto;
	max-width: 800px;
	width: 100%;
}

.detail img.icon {
	display: inline-block;
	margin: 0 5px;
	width: auto;
}

.detail p.pic {
	text-indent: 0;
	padding-left: 2em;
}

.detail p.pic img {
	display: inline-block;
}

.ui-job-item {
	border-top: solid 1px #eee;
	padding: 20px 0 0;
}


/* ui-step-item */

.ui-step-item {
	padding: 50px 0 80px;
}

.ui-step-container {
	height: 3px;
}

.ui-step-group {
	float: left;
	position: relative;
	height: 3px;
}

.ui-step-container.w2 .ui-step-group {
	width: 50%;
}

.ui-step-container.w3 .ui-step-group {
	width: 33.33%;
}

.ui-step-line {
	position: absolute;
	height: 100%;
	width: 50%;
	top: 0px;
	background: #ccc;
	z-index: 1;
}

.ui-step-line-prev {
	left: 0px;
}

.ui-step-line-next {
	right: 0px;
}

.ui-step-content {
	position: absolute;
	width: 32px;
	left: 50%;
	height: 32px;
	top: 50%;
	margin: -16px 0px 0px -16px;
	z-index: 2;
}

.ui-step-number {
	height: 32px;
	text-align: center;
	line-height: 32px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background: #ccc;
	border-radius: 50%;
}

.ui-step-rount {
	position: absolute;
	width: 200px;
	text-align: center;
	font-size: 14px;
	left: 50%;
	margin-left: -100px;
	bottom: -26px;
	color: #666;
}

.ui-step-group.first .ui-step-line-prev {
	display: none;
}

.ui-step-group.last .ui-step-line-next {
	display: none;
}

.ui-step-group.highLight .ui-step-line,
.ui-step-group.highLight .ui-step-number {
	background: #2559a8;
}

.ui-step-group.highLight .ui-step-rount {
	color: #2559a8;
}

.password-input-form {
	width: 342px;
	position: relative;
	margin: 0 auto;
}

.password-mail-info {}

.password-mail-item {
	position: relative;
	margin: 0 14%;
	*margin: 0 11% 0 10.5%;
}

.password-mail-tigs {
	background: #edf4f9;
	border: solid 1px #e9f2f7;
	margin-bottom: 20px;
	color: #2559a8;
	line-height: 28px;
	font-size: 16px;
	padding: 5px 10px;
}

.password-mail-operate {
	min-height: 34px;
	line-height: 34px;
	color: #666;
	font-size: 14px;
}

.ui-enter-mailbox {
	display: inline-block;
	margin-right: 10px;
	color: #fff;
	background: #2559a8;
	height: 34px;
	line-height: 34px;
	padding: 0px 20px;
}

.ui-enter-mailbox:hover {
	background: #b50229;
	color: #fff;
	text-decoration: none;
}

.async-tellphone-show {
	height: 40px;
	line-height: 40px;
	margin-bottom: 15px;
	font-size: 18px;
	color: #666;
}

.async-tellphone-show span {
	margin: 0px 20px;
	font-family: arial;
}

.async-tellphone-show em {
	cursor: pointer;
	border: solid 1px #ccc;
	border-radius: 3px;
	height: 38px;
	line-height: 38px;
	display: inline-block;
	width: 129px;
	text-align: center;
	font-size: 14px;
	color: #666;
	position: relative;
}

.async-tellphone-show em:hover {
	border: solid 1px #2559a8;
	background: #2f67bd;
	color: #fff;
}

.async-tellphone-show em.default,
.async-tellphone-show em.default:hover {
	background: #f7f7f7;
	cursor: default;
	color: #999;
	border: solid 1px #ccc;
}


/* async-form-item */

.async-form-item {}

.ui-account-form {
	width: 600px;
}

.async-form-list {
	margin-bottom: 15px;
	min-height: 40px;
	*margin-bottom: 10px;
	position: relative;
	line-height: 40px;
	font-size: 14px;
	padding-left: 130px;
	color: #333;
	/*overflow:hidden;*/
}

.async-form-list label {
	width: 120px;
	text-align: right;
	font-size: 14px;
	color: #666;
	position: absolute;
	top: 0;
	left: 0;
}

.async-form-button a {
	font-size: 16px;
}

.async-password-button span {
	display: block;
	float: left;
	margin-right: 20px;
	width: 150px;
	height: 32px;
	text-align: center;
	font-size: 14px;
	line-height: 32px;
	cursor: pointer;
	border-radius: 3px;
}

.async-password-button span.ui-submit-button {
	background: #6790d2;
	border: solid 1px #6790d2;
	color: #fff;
}

.async-password-button span.ui-submit-button:hover {
	background: #ff5b22;
	border: solid 1px #ff5b22;
}

.async-password-button span.disabled,
.async-password-button span.disabled:hover {
	background: #aaa;
	cursor: default;
	border: solid 1px #aaa;
}

.async-input-tigs {
	color: #ee5359;
	line-height: 20px;
	white-space: nowrap;
	display: none;
	padding: 5px 10px;
	box-shadow: 1px 1px 3px #ef9fa2;
	position: absolute;
	left: 330px;
	top: 0px;
	z-index: 10;
	background: #fff;
	border: solid 1px #ee5359;
	border-radius: 3px;
}

.async-input-tigs em {
	display: block;
	width: 6px;
	height: 9px;
	background: url(../images/ico_2.gif) no-repeat;
	position: absolute;
	left: -6px;
	top: 10px;
}

.async-password-panel {
	position: relative;
	float: left;
}

.async-password-panel span.label {
	position: absolute;
	left: 11px;
	line-height: 32px;
	font-size: 14px;
	top: 0px;
	color: #999;
}

@media only screen and (min-width:0px)and (max-width:1366px) {
	.async-form-enter .async-input-item p.tip {
		float: none;
		clear: both;
		left: 0;
		line-height: 24px;
		*height: 24px;
	}
}

@media only screen and (min-width:0px)and (max-width:780px) {
	.ui-account-form {
		padding-left: 0 !important;
		margin-left: -10px;
		width: 105%;
	}
}

@media only screen and (min-width:0px)and (max-width:600px) {
	.async-form-button .async-button-submit.w1 {
		width: 100%;
		margin: 0 !important;
	}
}


/* ui-guide-item */

.ui-guide-item {
	background: #eee;
	border: solid 1px #ddd;
	padding: 10px 15px;
	margin-bottom: 20px;
}

.ui-guide-item p {
	font-size: 12px;
	line-height: 24px;
	padding: 3px 0;
}

.ui-guide-item p.title {
	font-size: 16px;
}

.ui-guide-item p a {
	margin-right: 10px;
}

.ui-guide-item p a:hover {
	color: #b20025;
}


/* async-enter-content */

.async-enter-content {
	margin-right: 360px;
	padding: 10px;
	-webkit-transition: all ease-out .3s;
	transition: all ease-out .3s;
}

.async-enter-main {
	position: relative;
	width: 342px;
}

.async-enter-main .async-input-item {
	width: 200%;
}

.async-enter-slider p {
	font-size: 14px;
	margin: -10px 0 10px 0;
	position: relative;
	left: -26px;
}

.async-enter-slider p i {
	margin-right: 10px;
	font-weight: bold;
}

@media only screen and (min-width:0px)and (max-width:1060px) {
	.async-enter-content {
		margin-right: 310px;
	}
	.async-enter-slider {
		right: 20px;
		padding-left: 60px;
	}
}

@media only screen and (min-width:0px)and (max-width:1000px) {
	.async-enter-main .async-input-item {
		width: auto;
	}
	.async-enter-main .async-input-item p.tip {
		float: none;
		clear: both;
		left: 0;
		line-height: 24px;
		*height: 24px;
	}
}

@media only screen and (min-width:0px)and (max-width:760px) {
	.async-enter-content {
		margin-right: 0;
		padding: 0;
	}
	.async-enter-slider {
		display: none;
	}
}


/* ui-error-container */

.ui-error-container {
	width: 800px;
	height: 450px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -225px 0 0 -400px;
}

.ui-error-container span {
	position: absolute;
	font-size: 18px;
	color: #555;
	left: 10%;
	right: 5%;
	text-align: center;
	top: 52%;
	white-space: nowrap;
}

.ui-error-container span a {
	color: #b50229;
	text-decoration: underline;
}

.ui-error-container span a:hover {
	color: #2559a8;
}

@media only screen and (min-width:0px)and (max-width:767px) {
	.mt-main-container {
		min-height: 400px;
	}
	.ui-error-container {
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		margin: 0;
		height: auto;
	}
	.ui-error-container img {
		width: 100%;
	}
}


/* mt-main-tab */

.mt-main-tab {
	height: 63px;
	padding: 0 0 0 1px;
	border-radius: 3px 3px 0 3px;
}

.mt-main-tab a {
	display: block;
	height: 62px;
	line-height: 62px;
	color: #444;
	padding: 0px 25px;
	position: relative;
	font-size: 18px;
	float: left;
	border: solid 1px #ebebeb;
	border-bottom: none;
	margin-left: -1px;
}

.mt-main-tab a.current {
	border-top: solid 3px #2559a8;
	color: #2559a8;
	line-height: 58px;
	height: 61px;
	background: #fff;
}

.mt-main-tab a:hover {
	color: #2559a8;
	text-decoration: none;
}

@media only screen and (min-width:600px)and (max-width:768px) {
	.mt-main-tab a {
		padding: 0px 15px;
		font-size: 14px;
	}
}

@media only screen and (min-width:0px)and (max-width:600px) {
	.mt-main-tab a {
		padding: 0px 5px;
		font-size: 12px;
	}
}


/* mt-quick-item */

.mt-quick-item {
	width: 20px;
	padding: 20px 0 5px;
	position: fixed;
	z-index: 100;
	left: 50%;
	margin-left: 640px;
	top: 213px;
	background: url(../images/base/piel_black_1_1_alpha_5.png) repeat;
	border-radius: 10px;
	-webkit-transition: all ease-out .3s;
	transition: all ease-out .3s;
}

.mt-quick-item i.icon {
	display: block;
	cursor: default;
	height: 20px;
	line-height: 20px;
	background: url(../images/base/piel_black_1_1_alpha_1.png) repeat;
	color: #fff;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	border-radius: 10px;
	font-size: 12px;
}

.mt-quick-item a {
	display: block;
	font-weight: bold;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	font-family: Monaco, Consolas, Courier new, monospace;
}

.mt-quick-item a:hover,
.mt-quick-item a.current {
	text-decoration: none;
	color: #2559a8;
}

@media only screen and (min-width:0px)and (max-width:1366px) {
	.mt-quick-item {
		left: auto;
		margin-left: 0;
		right: 20px;
	}
}


/* mt-table-dir */

.mt-dir-inner {
	overflow-y: hidden;
	overflow-x: auto;
}

.mt-table-dir {
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
}

.mt-table-dir td {
	padding: 6px 5px;
	line-height: 20px;
	color: #333;
	font-size: 14px;
	vertical-align: top;
}

.mt-table-dir td .icon1 {
	margin: 0 5px;
	color: #6293dc;
	font-size: 12px;
	font-weight: normal;
}

.mt-table-dir td .icon2 {
	background: #6293dc;
	overflow: hidden;
	cursor: default;
	color: #fff;
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	*top: 1px;
	border-radius: 3px;
	display: inline-block;
	margin-right: 5px;
	text-align: center;
	font-family: Monaco, Consolas, Courier new, monospace;
}

.mt-table-dir td .icon3,
.mt-table-dir td .icon4 {
	font-weight: bold;
	zoom: 1;
	overflow: hidden;
	margin-right: 5px;
	display: inline-block;
	width: 16px;
	height: 20px;
	line-height: 16px;
	*line-height: 20px;
	position: relative;
	cursor: pointer;
	color: #888;
	vertical-align: middle;
}

.mt-table-dir td .icon4 {
	display: none;
}

.mt-table-dir tr.slider td .icon3 {
	display: none;
}

.mt-table-dir tr.slider td .icon4 {
	display: inline-block;
}

.mt-table-dir td .m.disabled {
	visibility: hidden;
}

.mt-table-dir td.prev {
	border-right: solid 1px #eee;
	white-space: nowrap;
}

.mt-table-dir td.next {
	padding: 6px 10px;
}

.mt-table-dir td.memItemLeft {
	padding: 6px 5px 6px 10px;
	white-space: nowrap;
	border-bottom: solid 1px #eee;
}

.mt-table-dir td.memItemRight {
	padding: 6px 10px 6px 10px;
	width: 100%;
	border-bottom: solid 1px #eee;
	color: #666;
}

.mt-table-dir tr.even {
	background: #f7f8fb;
}

.mt-table-dir td b.name {
	font-family: Monaco, Consolas, Courier new, monospace;
	font-size: 14px;
}

.mt-table-dir tr.sub td {
	color: #253555;
	background: #fff;
	border-bottom: solid 1px #eee;
	padding: 6px 10px;
}

.mt-table-dir tr.sub i.icon {
	position: relative;
	font-weight: bold;
	margin-right: 5px;
}

.mt-table-dir tr:hover td {
	background: #fdf8e4;
}

.mt-table-dir tr.sub:hover td {
	background: #fff;
}

.mt-decls-main.fun {
	padding: 5px 0;
	border-bottom: solid 1px #eee;
}

.mt-decls-main.fun .mt-table-dir tr td {
	border-bottom: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

.mt-decls-main.fun .mt-table-dir tr:hover td {
	background: none;
}


/* mt-file-box */

.mt-file-box.pad {
	padding-top: 30px;
}

.mt-file-item {
	position: relative;
}

.mt-main-body p.mt-file-title {
	height: 30px;
	line-height: 30px;
	background: #eceff7;
	padding: 0 10px;
	color: #333;
	font-family: Monaco, Consolas, Courier new, monospace;
}

.mt-main-body p.mt-file-title.fixed {
	position: fixed;
	top: 0;
	z-index: 99999;
}

.mt-file-name {
	padding: 10px;
}

.mt-file-name p {
	font-size: 14px;
	line-height: 26px;
	font-family: Monaco, Consolas, Courier new, monospace;
}

.mt-file-name p i.dian {
	margin-right: 5px;
	font-size: 30px;
	font-weight: bold;
}


/* mt-level-box */

.mt-level-box {
	position: absolute;
	right: 0;
	top: -40px;
	font-size: 14px;
	line-height: 30px;
	*top: 0;
}

.mt-level-box a {
	margin-left: 3px;
}

.mt-level-box a.current {
	color: #b20025;
}

@media only screen and (min-width:0px)and (max-width:600px) {
	.mt-level-box {
		position: relative;
		right: auto;
		top: 0;
		margin-top: -20px;
	}
}


/* mt-progress-item */

.mt-progress-item {
	position: relative;
	min-height: 40px;
	padding: 10px 0;
	margin: 0 10px;
	z-index: 1;
}

.mt-progress-line {
	position: absolute;
	width: 5px;
	background: #bbb;
	left: 17.5px;
	border-radius: 5px;
	z-index: 1;
}

.mt-progress-line.prev {
	top: 0px;
	height: 40px;
}

.mt-progress-line.next {
	top: 30px;
	bottom: -5px;
}

.mt-progress-main {}

.mt-progress-icon {
	position: absolute;
	left: 0;
	top: 20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #bbb;
	z-index: 2;
	overflow: hidden;
}

.mt-progress-icon i {
	display: block;
	line-height: 36px;
	height: 40px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	color: #fff;
	font-size: 24px;
}

.mt-progress-box {
	position: relative;
	margin-left: 50px;
	padding-top: 10px;
	min-height: 50px;
}

.mt-progress-box p.text {
	font-size: 18px;
	color: #666;
	line-height: 30px;
}

.mt-progress-box p.time {
	color: #999;
	font-size: 14px;
	line-height: 20px;
}

.mt-progress-item.success,
.mt-progress-item.fail {
	z-index: 2;
}

.mt-progress-item.current .mt-progress-line {
	background: #e55d0d;
}

.mt-progress-item.current .mt-progress-icon {
	background: #e55d0d;
	color: #fff;
}

.mt-progress-item.current .mt-progress-box p.text {
	color: #e55d0d;
}

.mt-progress-item.success .mt-progress-line {
	background: #0aaf19;
}

.mt-progress-item.success .mt-progress-icon {
	background: #0aaf19;
	color: #fff;
}

.mt-progress-item.success .mt-progress-box p.text {
	color: #0aaf19;
}

.mt-progress-item.fail .mt-progress-line {
	background: #b50229;
}

.mt-progress-item.fail .mt-progress-icon {
	background: #b50229;
	color: #fff;
}

.mt-progress-item.fail .mt-progress-box p.text {
	color: #b50229;
}


/* mt-apply-success */

.mt-apply-success {
	position: relative;
	text-align: center;
	padding: 150px 0 0 0;
}

.mt-apply-success h3 {
	font-size: 24px;
	color: #0aaf19;
	line-height: 50px;
	font-weight: normal;
	margin-bottom: 5px;
}

.mt-apply-success h3 i {
	display: inline-block;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	color: #0aaf19;
	font-size: 40px;
	margin-right: 10px;
}

.mt-apply-success p {
	line-height: 30px;
	color: #777;
}


/* mt-blob-file */

.mt-blob-file {
	border: solid 1px #eee;
	background: #f9f9f9;
}

.mt-blob-file td {
	line-height: 16px;
	font-size: 12px;
	vertical-align: top;
	font-weight: bold;
}

.mt-blob-num {
	width: 1%;
	min-width: 50px;
	cursor: default;
	white-space: nowrap;
	font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
	border-right: solid 2px #00b98d;
	color: #b7b7b7;
	text-align: right;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.mt-blob-num em {
	padding: 0 10px;
}

.mt-blob-num a {
	display: block;
	padding: 0 10px;
	background: #eee;
	color: #6293dc;
}

.mt-blob-num a:hover {
	background: #d8d8d8;
	text-decoration: none;
}

.mt-blob-code {
	width: 99%;
	text-align: left;
	padding: 0 10px;
	color: #333;
	font-family: Monaco, Courier new, Consolas, monospace;
	white-space: pre-wrap;
	word-wrap: break-word;
	*white-space: pre;
}

.mt-blob-code:before {
	content: '';
}

.mt-blob-code .pl-d {
	color: #800000;
}

.mt-blob-code .pl-k {
	color: #008000;
}

.mt-blob-code .pl-c {
	color: #3879d9;
	cursor: pointer;
}

.mt-blob-code .pl-c:hover {
	color: #2559a8;
}

.mt-blob-code .pl-f {
	color: #969896
}

.mt-blob-code:hover {
	background: #f8eec7;
}


/* fragment */

.fragment {
	border: solid 1px #eee;
	background: #f9f9f9;
}

.fragment div.line {
	line-height: 16px;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	min-height: 16px;
	padding-left: 55px;
	text-align: left;
	color: #333;
	font-family: Monaco, Courier new, Consolas, monospace;
	white-space: pre-wrap;
	word-wrap: break-word;
	text-indent: 0;
	*white-space: pre;
}

.fragment div.line span.lineno {
	position: absolute;
	display: block;
	cursor: default;
	left: 0;
	top: 0;
	bottom: 0;
	width: 40px;
	white-space: pre-wrap;
	font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
	text-align: right;
	background: #f9f9f9;
	padding-right: 10px;
	border-right: solid 2px #00b98d;
	color: #b7b7b7;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.fragment div.line span.lineno a {
	display: block;
	background: #eee;
	color: #6293dc;
	padding-right: 10px;
	width: 100%;
	position: relative;
}

.fragment div.line span.lineno a:hover {
	background: #d8d8d8;
	text-decoration: none;
}

.fragment div.line span.keyword {
	color: #008000;
}

.fragment div.line span.keywordtype {
	color: #800000;
}

.fragment div.line a.code {
	color: #3879d9;
	cursor: pointer;
}

.fragment div.line span.preprocessor {
	color: #800000;
}

.fragment div.line span.comment {
	color: #969896;
}

.fragment div.ttc {
	display: none;
}

.fragment div.line:hover {
	background: #f8eec7;
}


/* mt-decls-container */

.mt-decls-container {
	color: #333;
	font-family: Monaco, Consolas, Courier new, \5FAE\8F6F\96C5\9ED1;
}

.mt-decls-container p {
	font-size: 14px;
	line-height: 30px;
	color: #333;
}

.mt-decls-container pre {
	margin: 0;
	font-size: 14px;
	line-height: 30px;
	color: #333;
	font-family: Monaco, Consolas, Courier new, \5FAE\8F6F\96C5\9ED1;
}

.mt-decls-container p a {
	color: #6293dc;
}

.mt-decls-container p a:hover {
	color: #2559a8;
}


/* mt-decls-box */

.mt-decls-box {
	margin-top: 20px;
	position: relative;
}

.mt-decls-title {
	line-height: 40px;
	height: 40px;
	color: #354C7B;
	font-weight: normal;
	font-size: 16px;
	border-bottom: solid 1px #e9e9e9;
}

.mt-decls-title.none {
	border: none;
}

.mt-decls-subtitle {
	font-size: 12px;
	margin-left: 10px;
	color: #333;
}

.mt-decls-main {
	background: #f7f8fb;
	overflow: auto-x;
	overflow-y: hidden;
	position: relative;
}

.mt-decls-main .mt-table-dir {
	border: none;
}


/* mt-decls-item */

.mt-decls-item {
	border: solid 1px #e9e9e9;
	position: relative;
	border-radius: 3px;
	z-index: 2;
	margin-bottom: 20px;
	overflow: hidden;
	-webkit-transition: all ease-out .3s;
	transition: all ease-out .3s;
}

.mt-decls-head {
	background: #f7f8fb;
	padding: 10px 5px;
	border-bottom: solid 1px #e9e9e9;
	position: relative;
	-webkit-transition: all ease-out .3s;
	transition: all ease-out .3s;
}

.mt-decls-body {
	overflow-y: hidden;
	overflow-x: auto;
}

.mt-decls-head .mt-decls-inner {
	position: relative;
	margin-right: 110px;
	overflow-x: auto;
	overflow-y: hidden;
}

.mt-decls-tip {
	position: absolute;
	right: 10px;
	top: 8px;
}

.mt-decls-tip span {
	border-radius: 3px;
	background: #4374bf;
	color: #fff;
	line-height: 20px;
	display: inline-block;
	padding: 0 5px;
	font-size: 12px;
	font-family: Monaco, Consolas, Courier new, monospace;
	margin-left: 5px;
}

.mt-decls-table {
	color: #253555;
}

.mt-decls-table td {
	line-height: 20px;
	padding: 0 5px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.mt-decls-table td.black {
	color: #333;
	font-weight: normal;
}

.mt-decls-table tr.m {
	font-size: 14px;
}

.mt-decls-table tr.m td {
	line-height: 30px;
}

.mt-decls-list {
	padding: 0 2em;
}

.mt-decls-item:hover,
.mt-decls-item.current {
	border-color: #4374bf;
	box-shadow: 0 0 5px #4374bf;
}

.mt-decls-item:hover .mt-decls-head,
.mt-decls-item.current .mt-decls-head {
	background: #e9effa;
	border-color: #d4e1f8;
}

.mt-decls-container .mt-decls-pre {
	background: #f2f3f6;
	line-height: 16px;
	padding: 10px;
	border-radius: 3px;
	border: solid 1px #e9e9e9;
	margin: 5px 0;
	color: #666;
	white-space: pre;
	overflow: auto-x;
	overflow-y: hidden;
}


/* mt-decls-bottom */

.mt-decls-bottom {
	background: #fdf8e4;
	padding: 5px 10px;
	border: dashed 1px #e3b940;
	border-radius: 3px;
}

.mt-decls-bottom ul {}

.mt-decls-bottom ul li {
	line-height: 24px;
}

.mt-decls-bottom ul li i.dian {
	font-size: 22px;
	color: #666;
}


/* mt-decls-slider */

.mt-decls-slider {
	position: relative;
	background: #fff;
}

.mt-decls-slider span {
	position: relative;
	cursor: pointer;
	background: #f7f8fb;
	font-size: 12px;
	display: block;
	width: 100px;
	color: #253555;
	height: 20px;
	line-height: 20px;
	border-radius: 0 0 5px 5px;
	border: solid 1px #eee;
	border-top: none;
	margin: 0 auto;
	text-align: center;
}

.mt-decls-slider span i.icon {
	margin-right: 5px;
	vertical-align: middle;
	position: relative;
	font-weight: bold;
	top: -1px;
}

.mt-decls-slider span .c2,
.mt-decls-slider span.h .c1 {
	display: none;
}

.mt-decls-slider span .c1,
.mt-decls-slider span.h .c2 {
	display: inline;
}

.mt-decls-slider span:hover {
	background: #e9effa;
}


/* mt-enum-table */

.mt-enum-table {
	color: #253555;
	border-top: solid 1px #e9e9e9;
	border-left: solid 1px #e9e9e9;
	border-radius: 3px;
}

.mt-enum-table th {
	background: #f7f8fb;
	font-weight: normal;
}

.mt-enum-table td,
.mt-enum-table th {
	line-height: 30px;
	padding: 0 10px;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	border-right: solid 1px #e9e9e9;
	border-bottom: solid 1px #e9e9e9;
}

@media only screen and (min-width:0px)and (max-width:600px) {
	.async-valid-text.w1,
	.async-valid-text.w3,
	.ui-account-form .async-valid-text.w1,
	#ui-apply-form .async-valid-text.w1,
	.async-valid-text.w4 {
		width: 100%;
		box-sizing: border-box;
		height: 40px;
		line-height: 40px;
	}
	textarea.async-valid-text.w4 {
		height: 120px;
		padding: 0 10px;
	}
	.async-login-code {
		margin: 10px 0 0;
		float: none;
	}
	.async-enter-main {
		width: 100%;
	}
	.async-input-box {
		float: none;
	}
	.async-login-content .async-valid-text.w1 {
		width: 250px !important;
	}
	.async-login-content .async-valid-text.w3 {
		width: 250px !important;
	}
	.async-button-submit.w1 {
		width: 100px;
	}
	.async-login-container {
		width: 270px;
		padding: 10px;
	}
	.async-login-content .async-login-forget {
		padding-top: 10px;
	}
	.async-form-enter .async-input-item p.tip {
		font-size: 12px;
	}
	.async-form-list {
		padding-left: 0;
	}
	.async-form-list label {
		display: inline-block;
		position: relative;
		text-align: left;
		width: auto;
	}
	.mt-apply-success {
		padding-top: 30px;
	}
	.password-input-form {
		width: 100%;
	}
}


/* mt-picture-item */

.mt-picture-item {
	position: relative;
	width: 550px;
}

.mt-picture-content {
	position: relative;
	z-index: 1;
	height: 200px;
	background: #eee;
}

.mt-picture-box {}

.mt-picture-spot {
	position: absolute;
	z-index: 2;
	background: url(../images/base/piel_black_1_1_alpha_5.png) repeat;
	padding: 3px 0;
	right: 5px;
	bottom: 5px;
	height: 16px;
	overflow: hidden;
}

.mt-picture-spot span {
	border-left: solid 1px #999;
	cursor: pointer;
	float: left;
	margin-left: -1px;
	display: block;
	width: 20px;
	height: 16px;
	line-height: 16px;
	color: #eee;
	text-align: center;
	font-family: Verdana;
}

.mt-picture-spot span.current {
	color: #f60;
}

.mt-download-item {
	position: relative;
	height: 1%;
	overflow: hidden;
	padding: 0 0 20px 20px;
}

.mt-download-item img {
	float: left;
	margin-right: 50px;
}

.mt-download-main {
	padding: 40px 0 0;
	position: relative;
}

.mt-download-main h3 {
	font-size: 26px;
	font-weight: normal;
	line-height: 50px;
	text-indent: -2px;
}

.mt-download-main p {
	line-height: 30px;
	font-size: 16px;
}

.mt-download-main a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 40px;
	font-size: 16px;
	color: #fff;
	background: #b50229;
	border-radius: 3px;
	position: relative;
	margin-top: 10px;
}

.mt-download-main a:hover {
	text-decoration: none;
	background: #910020;
}

.mt-download-bottom {
	border-top: solid 1px #ddd;
	position: relative;
	padding-bottom: 20px;
}

.mt-download-title {
	position: absolute;
	background: #fff;
	height: 40px;
	line-height: 40px;
	padding: 0 10px 0 30px;
	left: 140px;
	top: -20px;
	font-size: 16px;
	line-height: 40px;
	color: #b50229;
}

.mt-download-title i {
	position: absolute;
	left: 10px;
	top: 0;
}

.mt-timeline-item {
	position: relative;
	overflow: hidden;
}

.mt-timeline-list {
	position: relative;
	padding: 0 0 0 158px;
}

.mt-timeline-list .slide {
	position: absolute;
	left: 0;
	top: 10px;
	width: 145px;
}

.mt-timeline-list .version {
	background: #3e76cf;
	position: absolute;
	color: #fff;
	display: block;
	padding: 0 10px;
	top: 3px;
	right: 0;
	height: 24px;
	line-height: 24px;
	border-radius: 3px;
}

.mt-timeline-list .version:before {
	content: '';
	right: -10px;
	top: 50%;
	margin-top: -5px;
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-left-color: #3e76cf;
}

.mt-timeline-list .version i {
	position: absolute;
	text-align: center;
	bottom: -26px;
	font-size: 12px;
	color: #999;
	width: 100px;
	left: 50%;
	margin-left: -50px;
}

.mt-timeline-list .icon {
	position: absolute;
	width: 11px;
	height: 11px;
	border: solid 3px #fff;
	top: 17px;
	left: 150px;
	background: #3e76cf;
	border-radius: 50%;
	z-index: 2;
}

.mt-timeline-list .icon i {
	position: absolute;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	border: solid 2px #fff;
	background: #3e76cf;
	border-radius: 50%;
}

.mt-timeline-box {
	position: relative;
	border-left: solid 1px #ddd;
	border-top: solid 1px #f8f8f8;
	padding: 10px 0 10px 20px;
	margin-top: -1px;
}

.mt-timeline-box p {
	line-height: 24px;
	font-size: 14px;
	min-height: 24px;
	color: #888;
	position: relative;
	padding: 3px 0 3px 70px;
}

.mt-timeline-box p i.label {
	position: absolute;
	left: 0;
	top: 3px;
}

.mt-timeline-box p a.download {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding: 0 15px;
	margin: 0 5px 5px 0;
	font-size: 12px;
	color: #fff;
	background: #73b753;
	border-radius: 3px;
}

.mt-timeline-box p a.download i {
	font-size: 12px;
	position: relative;
	margin-right: 5px;
}

.mt-timeline-box p a.download:hover {
	text-decoration: none;
	background: #3eb140;
}

@media only screen and (min-width:0px)and (max-width:920px) {
	.mt-download-item img {
		float: none;
		margin: 0 auto;
		display: block;
	}
	.mt-download-main a {
		position: absolute;
		right: 0;
		top: 90px;
	}
	.mt-download-title {
		left: 83px;
	}
	.mt-timeline-list .slide {
		width: 85px;
	}
	.mt-timeline-list {
		padding-left: 100px;
	}
	.mt-timeline-list .icon {
		left: 92px;
	}
	.mt-timeline-box {
		padding-left: 15px;
	}
}

.mt-step-item {
	padding: 0px 0 20px;
	position: relative;
}

.mt-step-box {
	position: relative;
	padding-left: 70px;
	height: 50px;
}

.mt-step-box i.icon {
	display: block;
	height: 50px;
	background: #f8f8f8;
	cursor: default;
	width: 55px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	border: solid 1px #ddd;
	border-radius: 3px;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	overflow: hidden;
	color: #888;
}

.mt-step-box p {
	text-align: left;
	font-size: 14px;
	padding: 0;
	line-height: 20px;
	white-space: nowrap;
	font-weight: bold;
	font-family: Courier new, '宋体';
}

.mt-step-box p.index {
	position: relative;
	color: #2559a8;
	font-size: 18px;
	line-height: 26px;
	font-weight: normal;
}

.mt-step-arrow {
	display: block;
	line-height: 50px;
	font-size: 30px;
	color: #ccc;
	width: 57px;
	text-align: center;
	position: relative;
}

.mt-step-download {
	display: block;
	clear: both;
	width: 130px;
	margin-top: 20px;
	height: 40px;
	font-size: 14px;
	color: #fff;
	background: #b50229;
	border-radius: 3px;
	position: relative;
	text-align: center;
	line-height: 40px;
}

.mt-step-download:hover {
	text-decoration: none;
	background: #910020;
}


/*********************************************/

.ui-slider+.ui-content {
	border-top: none;
}

.ui-content {
	padding: 0px 0px 30px 0px;
}

.mt-download-main p {
	line-height: 20px;
}

.mt-download-item img {
	height: 260px;
}

.mt-download-main {
	padding: 10px 0 0;
}

.mt-download-item {
	padding: 10px 0 10px 20px;
	border-bottom: solid 1px #c8c7cc;
}


/*********************************************/