<template>
    <!-- <div id="app" class="wrapper" style="display: flex; justify-content: center; flex-direction: column;"> -->

    <!-- <keep-alive> -->
    <router-view></router-view>
    <!-- </keep-alive> -->
    <!-- </div> -->
</template>

<script>
//屏蔽F5
// window.onkeydown = function(e){
// e = window.event || e;
// var keycode = e.keyCode || e.which;
// if(e.ctrlKey || e.altKey || e.shiftKey
// || keycode >= 112 && keycode <= 123){
// if(window.event){// ie
// try{e.keyCode = 0;}catch(e){}
// e.returnValue = false;
// }else{// ff
// e.preventDefault();
// }
// }
// }
// //屏蔽右键
// document.oncontextmenu = function(e){
// return false;
// }


export default {
    mounted: function() {
        // app.log("123");
        // debugger
    },
    watch: {
        // '$route' (to, from) {
        //   // debugger
        //   const toDepth = to.path.split('/').length
        //   const fromDepth = from.path.split('/').length
        //   this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
        //    let num = document.querySelectorAll('.i-table').length;
        //   console.warn('route22:::::::::::::::::::', num, document.querySelectorAll('.i-table'));
        // },
        width(val) {
            // debugger
        },
    },

    sockets: {},
    sockets2: {},
    created() {
        this.$Message.config(this.config.iview.message)

        // app.User.getToken() || this.$router.push({ path: "/login" });
    },
}
// import '@/js/db.js'
</script>


